<!--
   Create By Kim YunHong on 2020-03-19 / 오전 10:56
   Email : fbsghd123@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/home/archive/archiveList.js(v=${timestamp})}' src="../../../js/home/archive/archiveList.js"></script>
</th:block>
<div data-layout-fragment="content">
	<form id="searchForm" autocomplete="off">
		<div class="searchbox">
			<table border="1">
				<colgroup>
					<col class="cper1050">
					<col class="cper3000">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tbody>
				<tr>
					<th>구분</th>
					<td>
						<select name="boardCategory" class="wp150">
							<option value="">선택</option>
							<option th:each="item : ${SC07}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.boardCategory}">
								계약시작일
							</option>
						</select>
					</td>
					<th>제목</th>
					<td>
						<input type="text" class="wp450" name="title" maxlength="100" th:value="${parameter.title}">
					</td>
				</tr>
				</tbody>
			</table>
			<div class="search_btn">
				<button type="button" id="searchBtn" class="btn_type2">검색</button>
				<button type="button" id="resetBtn" class="btn_type1 ml5">초기화</button>
			</div>
		</div>

		<div class="widget">
			<div class="tit_wrap">
				<p class="total">총 <span id="totalCount">00</span>건</p>
				<div class="module_btn" th:if="${_userInfo.authRole != 'SC020004'}">
					<button type="button" id="addArchiveBtn" class="btn_type1 add"><span></span>등록</button>
				</div>
			</div>
			<div id="archiveGrid"></div>
		</div>

	</form>
</div>
</html>