<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/report/customer/customerList.js(v=${timestamp})}' src="../../../js/report/customer/customerList.js"></script>
</th:block>

<div data-layout-fragment="content">
	
	<form id="searchForm" autocomplete="off">
		<input type="hidden" id="tabType" name="tabType" value="1"/>
		<div class="searchbox">
			<table>
				<colgroup>
					<col class="cper1050">
					<col class="cper2250">
					<col class="cper1050">
					<col class="cper2250">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tbody>
				<tr>
					<th>년도</th>
					<td>
						<select class="wp130" name="baseYear">
							<option th:each="year : ${#numbers.sequence(2020,#dates.year(#dates.createNow()) + 1)}" th:text="${year}" th:value="${year}"></option>
						</select>
					</td>
				<th>거래처구분</th>
				<td>
					<select name="customerType" class="wp150">
						<option value="">전체</option>
						<option th:each="item : ${CM01}" th:value="${item.code}" th:text="${item.codeName}">
							거래처구분
						</option>
					</select>
				</td>
				 <th>거래처명</th>
				<td>
					<input type="text" name="customerName" class="wp200"/>
				</td>
				</tr>
				</tbody>
			</table>
			<div class="search_btn">
				<button type="button" id="searchBtn" class="btn_type2">검색</button>
				<button type="button" id="resetBtn" class="btn_type1 ml5">초기화</button>
			</div>
		</div>

		<div class="widget">
			<ul class="tab">
				<li class="on" id="tab1"><a href="#">거래처 구분별</a></li>
				<li id="tab2"><a href="#">거래처별</a></li>
				<li id="tab3"><a href="#">설치장소별</a></li>
			</ul>
			<ul class="tab_conts">
				<li id="typeTab"><!-- 거래처 구분별 탭 -->
					<div class="tit_wrap">
						<p class="total">총 <span id="typeTabTotalCount">00</span>건</p>
						<div class="module_btn">
							<button type="button" name="typeTabExcelDownloadBtn" class="btn_type1 excel"><span></span>엑셀다운로드</button>
						</div>
					</div>
					<div id="typeTabGrid"></div>
				</li >
				<li id="customerTab"><!-- 거래처 별 탭 -->
					<div class="tit_wrap">
						<p class="total">총 <span id="customerTabTotalCount">00</span>건</p>
						<div class="module_btn">
							<button type="button" name="customerTabExcelDownloadBtn" class="btn_type1 excel"><span></span>엑셀다운로드</button>
						</div>
					</div>
					<div id="customerTabGrid"></div>
				</li >
				<li id="locationTab"><!-- 설치장소별 탭 -->
					<div class="tit_wrap">
						<p class="total">총 <span id="locationTabTotalCount">00</span>건</p>
						<div class="module_btn">
							<button type="button" name="locationTabExcelDownloadBtn" class="btn_type1 excel"><span></span>엑셀다운로드</button>
						</div>
					</div>
					<div id="locationTabGrid"></div>
				</li >
			</ul>
		</div>
	</form>
</div>
</html>