<!--
   Create By Lee DoWon on 2020-04-06 / 오전 10:01
   Email : vin4195@uniwiz.co.kr
-->

<div xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div class="back_g">
		<!--/*@thymesVar id="device" type="com.pharmcle.rms.domain.device.Device"*/-->
		<div class="section" th:each="device, index : ${deviceList}" th:classappend="${index.index == 0 ? 'mt0' : 'mt20'}">
			<div class="sec_body">
				<table class="m_table">
					<colgroup>
						<col class="cper2500">
						<col class="cperauto">
					</colgroup>
					<tbody>
					<tr class="startline">
						<th>장비번호</th>
						<td><p th:text="${device.deviceId}"></p></td>
					</tr>
					<tr>
						<th>장비명</th>
						<td><p th:text="${device.deviceNameText}">아이잽프로 UV LED</p></td>
					</tr>
					<tr>
						<th>설치일</th>
						<td><p th:text="${device.installDtKoreanText}">2019년 12월 11일</p></td>
					</tr>
					<tr>
						<th>설치장소</th>
						<td><p th:text="${device.locationName}">한내교 ~ 아트교</p></td>
					</tr>
					<tr>
						<th>관리번호</th>
						<td><p th:text="${device.manageNo}">123401</p></td>
					</tr>
					<tr>
						<th>가로등번호</th>
						<td><p th:text="${device.lampNo}">가람 123</p></td>
					</tr>
					<tr>
						<th colspan="2" class="noline">설치사진</th>
					</tr>
					<tr>
						<td colspan="2" class="colspan">
							<div class="imgbox">
								<div class="imgwrap" th:if="${device.beforeUploadFileKey != null && #lists.size(device.beforeUploadFileKey) > 0}">
									<img
										th:src="@{/uploadFile/api/download/{key}(key = ${device.beforeUploadFileKey[0]})}">
								</div>
								<div class="imgwrap" th:if="${device.afterUploadFileKey != null && #lists.size(device.afterUploadFileKey) > 0}">
									<img
										th:src="@{/uploadFile/api/download/{key}(key = ${device.afterUploadFileKey[0]})}">
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>판매사</th>
						<td><p th:text="${device.asCustomerName}">(주)팜클</p></td>
					</tr>
					<tr>
						<th>보수담당자</th>
						<td>
							<p><span th:text="${device.asUserName}">최성신</span> ([[ ${device.asUserPhone} ]] / [[ ${device.asUserTelephone} ]])</p>

						</td>
					</tr>
					<tr>
						<th colspan="2" class="colspan">점검내역</th>
					</tr>
					<tr th:each="maintain : ${device.maintainList}">
						<td colspan="2" class="colspan">
							<p class="bold"
							   th:text="${maintain.regDtText + ' ' + maintain.maintainNoText + '차 ' + maintain.maintainTypeTextConcat}">
								2020.01.14 2차 정기점검</p>
							<p th:text="${maintain.content}">
								오전 04시 점등하여 점검 한 결과 정상 작동함
							</p>
						</td>
					</tr>
					<tr th:if="${#lists.isEmpty(device.maintainList)}">
						<td colspan="2" class="blline t_center"><p class="no-data"><span>등록된 유지보수내역이 없습니다.</span></p>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>