<!--
   Create By Lee DoWon on 2020-04-06 / 오전 10:01
   Email : vin4195@uniwiz.co.kr
-->
<div xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<script>
		$(function(){

			/*<![CDATA[*/
			var token = '[[ ${token} ]]';
			var locationSeq = '[[ ${location.locationSeq} ]]';
			/*]]>*/

			var markers = DaumAddress.createLocationAlphabetMap({
				id: 'allViewMap',
				locationSeq : locationSeq,
				$list : $('.item_li').find('li'),
				token : token
			}, function(type, index){
				var $list = $('.item_li').find('li');
				var $itemText =$list.eq(index).find('h3');
				if(type == 'over'){
					$itemText.addClass('on');

				} else{
					$itemText.removeClass('on');
				}
				$list.unbind('click');
				$list.on('click', function () {
					Native.movePage({
						'pageName': 'getDevice',
						'type': 'detailBase',
						'deviceSeq': '' + $(this).data('device-seq')
					});
				});
			});

		})
	</script>
	<div class="m_detail_info">
		<h3 class="mt0" th:text="${location.locationName}">우산동 주민센터</h3>
		<p class="d_term" th:text="${location.contractPeriodText + '(' + location.contractStatusText + ')'}">2018.01.01~2030.01.01(유지)</p>
		<p class="d_data mt0">
			<span th:text="${'장비 ' + location.deviceCnt + '대'}">장비 3대</span>
			<span th:text="${'보수담당자 ' + location.asUserName}">보수담당자 김지혁</span>
		</p>
		<span th:class="${'ic_bug_state ' + location.volumeState}">포집율 <span th:text="${location.volumeStateText + ' ' + location.avgVolume + '%'}">좋음 80%</span></span>
	</div>
	<div class="mt10">
		<div id="allViewMap" class="article" style="position:relative;height:280px;overflow:hidden;">
		</div>
		<ul class="item_li mb20">
			<li th:each="device : ${deviceList}" th:attr="data-device-seq=${device.deviceSeq}">
				<div class="article">
					<div class="arti_body">
						<h3 th:text="${device.alphabet + '. ' + device.deviceId + ' (' + device.deviceNameText + ')'}"></h3>
						<p class="setdate">
							<span class="state" th:classappend="${'st' + #strings.substring(device.status, 7, 8)}" th:text="${device.statusText}">설치</span>
							[[${device.installDtText}]]
						</p>
						<p class="set_info">
							<span th:text="${'관리번호 :' + #strings.defaultString(device.manageNo, '')}">관리번호 : 가람 01</span>
							<span th:text="${'가로등번호 :' + #strings.defaultString(device.lampNo, '')}">가로등번호 : 123-11</span>
						</p>
						<p class="set_info"><span th:text="${'보수담당자 : ' + device.asUserName}">보수담당자 :홍길동</span></p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

