<!--
   Create By Lee DoWon on 2020-04-06 / 오전 10:01
   Email : vin4195@uniwiz.co.kr
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		/*<![CDATA[*/
		var isMobile = '[[${isMobile}]]';
		/*]]>*/
	</script>
	<script type="text/javascript"
			th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script src="/js/common/common.js"></script>
	<script src="/js/common/native.js"></script>
	<script src="/js/common/valid.js"></script>
	<script src="/js/common/daumAddress.js"></script>
	<script src="/lib/swiper/swiper.min.js"></script>


	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/nanumsquareround.min.css" />
	<link rel="stylesheet" href="/css/admin.css" />
	<link rel="stylesheet" href="/css/form_layout.css" />
	<link rel="stylesheet" href="/css/mobile.css" />
	<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

	<script>
		$(function () {
			/*<![CDATA[*/
			var token = '[[ ${token} ]]';
			/*]]>*/

			// 슬라이더 초기화
			var swiper = new Swiper('.swiper-container', {
				pagination: {
					el: '.swiper-pagination',
				},
				autoplay: {
					delay: 5000,
					disableOnInteraction: false,
				},
				on: {
					init: function(){

					}
				}
			});
			$('.ad_banner').on('click', function () {
				Native.openBrowser($(this).find('.swiper-slide-active').find('a').prop('href'));
				return false;
			});

			// 민원신청 등록 버튼
			$('#addComplainBtn').on('click', function () {
				var parameter = {
					'pageName': 'setComplain'
				};
				Native.movePage(parameter);
			});

			// 공지사항 이동
			$('#notice').on('click', function () {
				var boardSeq = $(this).find('input[name="boardSeq"]').val();
				if (boardSeq > 0) {
					location.href = '/mobile/notice/noticeDetail?token=' + token + '&boardSeq=' + boardSeq
				}
			});

			// 고객센터 전화
			$('.call_num').on('click', function () {
				Native.sendCall('1644-9911');
			});

			// 영업담당자 콜
			$('.bt_call').on('click', function () {
				var phone = $(this).find('input[name="salesUserPhone"]').val();
				if (Valid.isEmpty(phone)) {
					return false;
				}
				Native.sendCall(phone);
			});

			// 배너 외부 브라우저 오픈
			$('#bannerList').on('click', 'li', function () {
				var url = $(this).find('input[name="moveLink"]').val();
				Native.openBrowser(url);
			});

			$("#bannerList").bind("click",function(e){
				var url = $(this).find('input[name="moveLink"]').val();
				Native.openBrowser(url);
			});

			// 모니터링 리스트로 이동
			$('#moveMonitorBtn').on('click', function () {
				location.href = '/mobile/monitor/monitorList?token=' + token;
			});

			// 설치장비 리스트로 이동
			$('.move-install-device-list').on('click', function () {
				var parameter = {
					'pageName': 'getInstallDeviceList',
					'type': 'installDevice'
				};
				Native.movePage(parameter);
			});

			// 설치장소 리스트 - 유지보수 보고서 클릭 이벤트
			$('#locationList').on('click', 'a', function () {
				var parameter = {
					locationSeq : $(this).closest('li').find('input[name="locationSeq"]').val()
				};
				Common.openPopup('/mobile/dashboard/customerMaintainPopup?token=' + token, {parameter : parameter}, function (result) {
					var $popup = Common.getPopupTemplate("유지보수 보고서", result, {width : 860});
					$('#popupList').append($popup);

					if($popup.find('table').length <= 0 ){
						alert("등록된 장비가 없습니다.");
						$popup.remove();
						return false;
					}

					$popup.find('.popup-close-btn').on('click', function () {
						$popup.remove();
					});

					Common.resizeHeightPopup($popup);
				}, {})
				return false;
			});
			// 설치장소 리스트 - 클릭 이벤트
			$('#locationList').on('click', 'li', function () {
				var parameter = {
					locationSeq : $(this).find('input[name="locationSeq"]').val()
				};
				Common.openPopup('/mobile/dashboard/customerLocationDevicePopup?token=' + token, {parameter : parameter}, function (result) {
					var $popup = Common.getPopupTemplate("설치장소 리스트", result, {width : 860});
					$('#popupList').append($popup);

					$popup.find('.popup-close-btn').on('click', function () {
						$popup.remove();
					});

					Common.resizeHeightPopup($popup);
				}, {})
				return false;
			});
		});
	</script>

</head>
<body>
<div class="m_wrap">
	<header class="white">
		<div class="top">
			<div class="logo"></div>
			<div class="h_btn">
				<button type="button" class="btn_search" id="mobileSearchAllBtn"></button>
				<button type="button" class="btn_menu" id="mobileSideMenuBtn"></button>
			</div>
		</div>
	</header>
	<div class="m_conts back_g">
		<div class="scroll-y">
			<div class="main_banner">
				<div class="hello">
					<p class="team" th:text="${_userInfo.customerName}">팜클</p>
					<p><span th:text="${_userInfo.name}">홍길동</span>님</p>
					<p>즐거운 하루 보내세요!</p>
				</div>

				<div class="link">
					<div class="grid_sect">
						<div class="grid_body">
							<dl class="grid_tb">
								<dt>설치장소</dt>
								<dd><span th:text="${#numbers.formatInteger(totalCnt.locationCnt, 0, 'COMMA') +'건'}">000건</span></dd>
							</dl>
							<dl class="grid_tb">
								<dt>설치장비수</dt>
								<dd><span th:text="${#numbers.formatInteger(totalCnt.installCnt, 0, 'COMMA') +'대'}">000대</span></dd>
							</dl>
							<dl class="grid_tb">
								<dt>민원신청/민원처리</dt>
								<dd><span th:text="${#numbers.formatInteger(totalCnt.complainTotalCnt, 0, 'COMMA') + '건 / ' + #numbers.formatInteger(totalCnt.complainHandleCnt, 0, 'COMMA')} + '건'">1건 / 3건</span></dd>
							</dl>
						</div>
						<div class="grid_btn">
							<!--<div class="btn_cell">-->
								<!--<button type="button" id="addComplainBtn" class="btn_complain"><span></span>민원신청 등록-->
								<!--</button>-->
							<!--</div>-->
							<div class="btn_cell">
								<button type="button" id="moveMonitorBtn" class="btn_monitor"><span></span>모니터링</button>
							</div>
						</div>
					</div>
				</div>
				<div class="grid_sect">
					<div class="ad_banner">
						<div class="swiper-container">
							<ul class="swiper-wrapper">
								<!-- 슬라이더 입니다. -->
								<li class="swiper-slide"><a class="swiper-link" href="https://m.zaps.co.kr/shop/detail.php?pno=6E2713A6EFEE97BACB63E52C54F0ADA0&rURL=https%3A%2F%2Fwww.zaps.co.kr%2Fshop%2Fbig_section.php%3Fcno1%3D1026&ctype=1&cno1=1026"><img src="/img/mobile/ad_banner1.png"></a></li>
								<li class="swiper-slide"><a class="swiper-link" href="https://m.zaps.co.kr/shop/detail.php?pno=18D8042386B79E2C279FD162DF0205C8&rURL=https%3A%2F%2Fm.zaps.co.kr%2Fshop%2Fbig_section.php%3Fpage%3D1%26cno1%3D1019%26sort%3D&ctype=1&cno1=1019"><img src="/img/mobile/ad_banner2.png"></a></li>
								<li class="swiper-slide"><a class="swiper-link" href="https://m.zaps.co.kr/shop/detail.php?pno=CCB1D45FB76F7C5A0BF619F979C6CF36&rURL=https%3A%2F%2Fm.zaps.co.kr%2Fshop%2Fbig_section.php%3Fpage%3D4%26cno1%3D1019%26sort%3D&ctype=1&cno1=1019"><img src="/img/mobile/ad_banner3.png"></a></li>

							</ul>
							<div class="locate swiper-pagination"></div>
						</div>
					</div>

				</div>
			</div>


			<div class="grid_sect">
				<div class="grid_body">
					<a class="txt13" id="notice">
						[공지사항] <span
						th:text="${#lists.isEmpty(noticeList) ? '공지사항이 없습니다.' : noticeList[0].titleShortText}"></span>
						<input type="hidden" name="boardSeq"
							   th:value="${ #lists.isEmpty(noticeList) ? 0 : noticeList[0].boardSeq}"/>
					</a>
				</div>
			</div>

			<!--/*@thymesVar id="location" type="com.pharmcle.rms.domain.location.Location"*/-->
			<div class="grid_sect">
				<div class="grid_tit">
					<h3 class="arrow move-install-device-list">설치 장소를 확인해보세요<i></i></h3>
					<p class="bt_call" th:if="${not #lists.isEmpty(locationList)}">
						<input type="hidden" name="salesUserPhone" th:value="${locationList[0].salesUserPhone}">
						<span>영업담당자 : [[ ${locationList[0].salesUserName} ]] <i></i></span>
					</p>
				</div>
				<div class="grid_body">
					<ul class="grid_list customer" id="locationList">
						<li th:each="location, index : ${locationList}" th:if="${index.index < 10}">
							<input type="hidden" name="locationSeq" th:value="${location.locationSeq}">
							<div class="link_device">
								<p class="tit_list"
								   th:text="${location.locationName + ' (' + location.deviceCnt + '대)'}">우산동 주민센터
									(3대)</p>
								<p th:class="${'ic_bug_state ' + location.volumeState}">
									포집율 <span th:text="${location.volumeStateText + ' ' + location.avgVolume + '%'}">좋음 80%</span>
								</p>
							</div>
							<div class="fixlink">
								<a href="#" class="report"></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="cs_center">
				<p class="call_num">고객센터 : 1644-9911</p>
				<p class="copy">Copyright © pharmcle. All rights reserved.</p>
			</div>
			</div>
		</div>
	</div>
</div>
<div id="popupList"></div>
</body>
</html>