<!--
   Create By Lee DoWon on 2020-04-06 / 오전 10:01
   Email : vin4195@uniwiz.co.kr
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		/*<![CDATA[*/
		var isMobile = '[[${isMobile}]]';
		/*]]>*/
	</script>
	<script src="/lib/tui-grid/tui-grid.js"></script>
	<script src="/lib/tui-datepicker/tui-date-picker.js"></script>
	<script src="/lib/chart-js/Chart.min.js"></script>
	<script type="text/javascript"
			th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script src="/js/common/common.js"></script>
	<script src="/js/common/native.js"></script>
	<script src="/js/common/date-util.js"></script>
	<script src="/js/common/component.js"></script>
	<script src="/js/common/daumAddress.js"></script>
	<script src="/lib/print-this/printThis.js"></script>
	<script src="/lib/tui-chart/tui-chart-all.min.js"></script>

	<link rel="stylesheet" href="/css/reset.css"/>
	<link rel="stylesheet" href="/css/mobile.css"/>
	<link rel="stylesheet" href="/css/nanumsquareround.min.css"/>
	<link rel="stylesheet" href="/css/form_layout.css"/>
	<link rel="stylesheet" href="/lib/tui-chart/tui-chart.css">
	<script>
		$(function () {
			/*<![CDATA[*/
			var token = '[[ ${token} ]]';
			/*]]>*/

			// TODO 버튼 등록 버튼
			$('#todoListBtn').on('click', function () {
				location.href = '/mobile/todo/todoList?token=' + token;
			});
			// 일별업무내역 이동
			$('.moveTodayList').on('click', function () {
				location.href = '/mobile/dashboard/todayList?token=' + token;
			});

			// 신규장비 등록 버튼
			$('#addDeviceBtn').on('click', function () {
				var parameter = {
					'pageName': 'setInstallDevice'
				};
				Native.movePage(parameter);
			});

			// 유지보수 등록 버튼
			$('#addMaintainBtn').on('click', function () {
				var parameter = {
					'pageName': 'getInstallDeviceList',
					'type': 'maintainRegister'
				};
				Native.movePage(parameter);
			});

			// 민원신청 등록 버튼
			$('#addComplainBtn').on('click', function () {
				var parameter = {
					'pageName': 'setComplain'
				};
				Native.movePage(parameter);
			});

			// 설치장비요청 리스트로 이동
			$('.move-install-request-list').on('click', function () {
				var parameter = {
					'pageName': 'getMobileInstallRequestList'
				};
				Native.movePage(parameter);
			});

			// 설치장비 리스트로 이동
			$('.move-install-device-list').on('click', function () {
				var parameter = {
					'pageName': 'getInstallDeviceList',
					'type': 'installDevice'
				};
				Native.movePage(parameter);
			});

			// 설치장비요청 상세로 이동
			$('#installRequestList').on('click', 'li', function () {
				var parameter = {
					'pageName': 'getMobileInstallRequestDetail',
					'installRequestSeq': '' + $(this).find('input[name="installRequestSeq"]').val()
				};
				Native.movePage(parameter);
			});

			// 모니터링 리스트로 이동
			$('.move-monitor-list').on('click', function () {
				location.href = '/mobile/monitor/monitorList?token=' + token;
			});

			// 민원 리스트로 이동
			$('.move-complain-list').on('click', function () {
				var parameter = {
					'pageName': 'getComplainList'
				};
				Native.movePage(parameter);
			});

			// 민원 상세로 이동
			$('#complainList').on('click', 'li', function () {
				var parameter = {
					'pageName': 'getComplain',
					'complainSeq': '' + $(this).find('input[name="complainSeq"]').val()
				};
				Native.movePage(parameter);
			});

			// 공지사항 이동
			$('#notice').on('click', function () {
				var boardSeq = $(this).find('input[name="boardSeq"]').val();
				if (boardSeq > 0) {
					location.href = '/mobile/notice/noticeDetail?token=' + token + '&boardSeq=' + boardSeq
				}
			});
		});
	</script>
</head>
<body>
<div id="page-info-loading" style="display: none;">
	<div class="loading"></div>
	<div class="dimmed"></div>
</div>
<div class="m_wrap">
	<header class="white">
		<div class="top">
			<div class="logo"></div>
			<div class="h_btn">
				<button type="button" class="btn_search" id="mobileSearchAllBtn"></button>
				<button type="button" class="btn_todo" id="todoListBtn"></button>
				<button type="button" class="btn_menu" id="mobileSideMenuBtn"></button>
			</div>
		</div>
	</header>
	<div class="m_conts back_g">
		<div class="scroll-y">
			<div class="main_banner">
				<div class="hello">
					<p class="team" th:text="${_userInfo.customerName}">팜클</p>
					<p><span th:text="${_userInfo.name}">홍길동</span>님</p>
					<p>즐거운 하루 보내세요!</p>
				</div>

				<div class="link">
					<button type="button" class="btn_new" id="addDeviceBtn">신규장비 등록<span></span></button>
					<button type="button" class="btn_manage" id="addMaintainBtn">유지보수 등록<span></span></button>
				</div>
			</div>
			<div class="grid_sect target">
				<div class="grid_btn">
					<div class="btn_cell">
						<button type="button" class="btn_work moveTodayList" ><span></span>일별업무내역</button>
					</div>
				</div>
			</div>

			<div class="grid_sect">
				<div class="grid_tit">
					<h3 class="arrow move-install-device-list">나의 거래처와 설치장비를 <br>확인해 보세요<i></i></h3>
				</div>
				<div class="grid_body">
					<dl class="grid_tb">
						<dt>거래처</dt>
						<dd><span th:text="${#numbers.formatInteger(totalCnt.customerCnt, 0, 'COMMA') +'건'}">000건</span></dd>
					</dl>
					<dl class="grid_tb">
						<dt>설치장소</dt>
						<dd><span th:text="${#numbers.formatInteger(totalCnt.locationCnt, 0, 'COMMA') +'건'}">000건</span></dd>
					</dl>
					<dl class="grid_tb">
						<dt>설치장비수</dt>
						<dd><span th:text="${#numbers.formatInteger(totalCnt.installCnt, 0, 'COMMA') +'대'}">000대</span></dd>
					</dl>
				</div>
			</div>

			<!--설치요청 정보가 있을경우에만 노출 -->
			<!--/*@thymesVar id="request" type="com.pharmcle.rms.domain.installRequest.InstallRequest"*/-->
			<div class="grid_sect"
				 th:if="${not #lists.isEmpty(installRequestList) && #lists.size(installRequestList) > 0}">
				<div class="grid_tit">
					<h3 class="arrow move-install-request-list">장비 설치 요청을<br>확인해보세요<i></i></h3>
				</div>
				<div class="grid_body">
					<ul class="grid_list" id="installRequestList">
						<li th:each="request, index : ${installRequestList}" th:if="${index.index < 5}">
							<input type="hidden" name="installRequestSeq" th:value="${request.installRequestSeq}">
							<p>
								<span class="bedge ty1" th:text="${request.installRequestStatusText}">설치요청</span>

								<span class="bedge ty2"
									  th:text="${'D-'+ (request.decimalDay >= 0 ? request.decimalDay : 0 ) }">(D-30)</span>
							</p>
							<p class="tit_list" th:text="${request.locationName}">설치장소</p>
							<p class="dash">
								<span th:text="${request.deviceNameText}">아이잽프로 UV</span>
								<span th:text="${request.deviceQty + '대'}">9대</span>
							</p>
							<p class="dash">
								<span>설치예정일 <span th:text="${request.installDueFinishDtText}">2020.06.01</span></span>
								<!--음수인경우 음수는 (-x)으로 표현 -->
							</p>
						</li>
					</ul>
				</div>
			</div>

			<!--/*@thymesVar id="latestMonitorDate" type="java.lang.String"*/-->
			<!--/*@thymesVar id="monitorStatCount" type="com.pharmcle.rms.domain.monitor.Monitor"*/-->
			<div class="grid_sect">
				<div class="grid_tit">
					<h3 class="arrow move-monitor-list">장비 모니터링<i></i></h3>
					<p class="lastdata move-monitor-list" th:text="${latestMonitorDate}"></p>
				</div>

				<div class="grid_body">
					<ul class="dash_monitor">
						<li class="normal">
							<h4><span></span>정상</h4>
							<p th:text="${#numbers.formatInteger(monitorStatCount.stateGood, 0, 'COMMA') + '건'}">100건</p>
						</li>
						<li class="issue">
							<h4><span></span>알람</h4>
							<p th:text="${#numbers.formatInteger(monitorStatCount.stateBad, 0, 'COMMA') + '건'}">100건</p>
						</li>
						<li class="turn_off">
							<h4><span></span>꺼짐</h4>
							<p th:text="${#numbers.formatInteger(monitorStatCount.stateStop, 0, 'COMMA') + '건'}">100건</p>
						</li>
					</ul>
				</div>
			</div>

			<!--/*@thymesVar id="complainStatusCount" type="com.pharmcle.rms.domain.complain.Complain"*/-->
			<!--/*@thymesVar id="complain" type="com.pharmcle.rms.domain.complain.Complain"*/-->
			<div class="grid_sect">
				<div class="grid_tit">
					<h3 class="arrow move-complain-list">민원을 즉시 처리해 보세요<i></i></h3>
				</div>
				<ul class="dash_count">
					<li>
						<div><span th:text="${#numbers.formatInteger(complainStatusCount.mr030001, 0, 'COMMA')}">1</span></div>
						<p>민원신청</p>
					</li>
					<li>
						<div><span th:text="${#numbers.formatInteger(complainStatusCount.mr030002, 0, 'COMMA')}">2</span></div>
						<p>민원접수</p>
					</li>
					<li>
						<div><span th:text="${#numbers.formatInteger(complainStatusCount.mr030003, 0, 'COMMA')}">3</span></div>
						<p>처리완료</p>
					</li>
				</ul>
				<div class="grid_body">
					<ul class="grid_list" id="complainList">
						<li th:each="complain, index : ${complainList}" th:if="${index.index < 5}">
							<input type="hidden" name="complainSeq" th:value="${complain.complainSeq}"/>
							<p class="tit_list">
								<span class="bedge ty3" th:text="${complain.statusText}">설치요청</span>
								<span th:text="${complain.locationName}">설치장소</span>
							</p>
							<p class="txt_complain">
								<span th:text="${complain.complainTypeText}">전원불량</span>
								<span th:text="${complain.contentShortText}">포충기 전원이 안들어와요</span>
							</p>

							<span class="m_date" th:text="${#strings.isEmpty(complain.uptDtText) ? complain.regDtText : complain.uptDtText}">2020.06.01</span>

						</li>
					</ul>
				</div>
				<div class="grid_btn">
					<div class="btn_cell">
						<button type="button" id="addComplainBtn" class="btn_add"><span></span>민원신청 등록</button>
					</div>
				</div>
			</div>
			<div class="grid_sect">
				<div class="grid_body">
					<a class="txt13" id="notice">
						[공지사항] <span
						th:text="${#lists.isEmpty(noticeList) ? '공지사항이 없습니다.' : noticeList[0].titleShortText}"></span>
						<input type="hidden" name="boardSeq"
							   th:value="${ #lists.isEmpty(noticeList) ? 0 : noticeList[0].boardSeq}"/>
					</a>
				</div>
			</div>
			<div class="cs_center">
				<p class="call_num">고객센터 : 1644-9911</p>
				<p class="copy">Copyright © pharmcle. All rights reserved.</p>
			</div>
		</div>
	</div>
</div>


</body>
</html>