<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<div data-layout-fragment="content">
	<!--/*@thymesVar id="user" type="com.pharmcle.rms.domain.user.User"*/-->
	<form method="post" id="form" autocomplete="off">
		<input type="hidden" name="userSeq" th:value="${user.userSeq}">

		<table class="tbtype">
			<colgroup>
				<col class="cper1250">
				<col class="cper3950">
				<col class="cper1250">
				<col class="cper3950">
			</colgroup>
			<tbody>
			<tr>
				<th class="required">사용권한<span></span></th>
				<td>
					<span th:text="${user.authRoleText}" th:if="${user.userSeq > 0 && user.authRole != null}"></span>
					<select class="wp114" name="authRole" th:if="${user.userSeq <= 0 || user.authRole == null}">
						<option value="">선택</option>
						<option th:each="item : ${SC02}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == user.authRole}">
							사용권한
						</option>
					</select>
				</td>

				<th class="required">소속<span></span></th>
				<td>
					<span th:text="${user.customerName}" th:if="${user.userSeq > 0}" ></span>
					<select name="customerSeq" class="wp150" th:if="${user.userSeq <= 0}">
						<option value="">전체</option>
						<!--/*@thymesVar id="item" type="com.pharmcle.rms.domain.customer.Customer"*/-->
						<option th:each="item, index : ${customerList} " th:text="${item.customerShortName}" th:value="${item.customerSeq}">대리점</option>
					</select>
				</td>
			</tr>
			<tr>
				<th class="required">성명<span></span></th>
				<td>
					<span th:text="${user.name}" th:if="${user.userSeq > 0}"> </span>
					<input type="text" class="wp114" name="name" th:value="${user.name}" th:if="${user.userSeq <= 0}"/>
				</td>
				<th>직급</th>
				<td>
					<select name="rank" class="wp150">
						<option value="">선택</option>
						<option th:each="item : ${SD11}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == user.rank}">
							직급
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<th class="required">아이디<span></span></th>
				<td colspan="3">
					<span th:text="${user.userId}" th:if="${user.userSeq > 0}"></span>
					<input type="text" class="wp114" id="userId" name="userId" th:value="${user.userId}" th:if="${user.userSeq <= 0}"/><button type="button" id="userResetPwBtn" class="btn_type4 ml5" th:if="${user.userSeq > 0}"><span></span>비밀번호 초기화</button>
					<span id="userIdChk"></span>
					<p class="txt_notic" th:if="!${user.userSeq > 0}">아이디는 3~10자의 영문 소문자, 숫자만 사용 가능합니다.</p>
				</td>
			</tr>
			<tr>
				<th>전화번호</th>
				<td>
					<div class="phonenum">
						<input type="text" name="telephone1" maxlength="3" th:value="${user.telephoneSplitText != null ? user.telephoneSplitText[0] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="telephone2" maxlength="4" th:value="${user.telephoneSplitText != null ? user.telephoneSplitText[1] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="telephone3" maxlength="4" th:value="${user.telephoneSplitText != null ? user.telephoneSplitText[2] : ''}">
					</div>
				</td>
				<th>휴대폰번호</th>
				<td>
					<div class="phonenum">
						<input type="text" name="phone1" maxlength="3" th:value="${user.phoneSplitText != null ? user.phoneSplitText[0] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="phone2" maxlength="4" th:value="${user.phoneSplitText != null ? user.phoneSplitText[1] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="phone3" maxlength="4" th:value="${user.phoneSplitText != null ? user.phoneSplitText[2] : ''}">
					</div>
				</td>
			</tr>
			<tr>
				<th>이메일</th>
				<td colspan="3">
					<div class="email">
						<input type="text" name="emailId" maxlength="25" th:value="${user.emailId}">
						<span class="hyphen">@</span>
						<input type="text" name="emailDomain" maxlength="25" th:value="${user.emailDomain}">
						<select name="selectEmailDomainPopup">
							<option value="">직접입력</option>
							<option th:each="item : ${SC04}" th:value="${item.codeName}" th:text="${item.codeName}" th:selected="${item.codeName} == ${user.emailDomain}">
								이메일
							</option>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<th>비고</th>
				<td colspan="3"><input  type="text" name="etc" th:value="${user.etc}" class="cper100p"></td>
			</tr>
			<tr>
				<th class="required">활동<span></span></th>
				<td colspan="3">
					<div id="useYn">
						<input  type="radio" name="useYn" id="useYn01" value="Y"	th:checked="${user.useYn == 'Y' || user.userSeq <= 0} ">
						<label for="useYn01"><span class="txt_lb">활동</span></label>
						<input  type="radio" name="useYn" id="useYn02" value="N"	th:checked="${user.useYn == 'N'}">
						<label for="useYn02"><span class="txt_lb">휴면</span></label>
					</div>
				</td>
			</tr>
			<tr>
				<th class="required">승인<span></span></th>
				<td colspan="3">
					<span th:if="${user.confirmYn == 'Y'}">승인</span>
					<div id="confirmYn" th:if="${user.confirmYn == 'N'}">
						<input  type="radio" name="confirmYn" id="confirmYn01" value="Y"	th:checked="${user.confirmYn == 'Y' || user.userSeq <= 0} ">
						<label for="confirmYn01"><span class="txt_lb">승인</span></label>
						<input  type="radio" name="confirmYn" id="confirmYn02" value="N"	th:checked="${user.confirmYn == 'N'}">
						<label for="confirmYn02"><span class="txt_lb">미승인</span></label>
					</div>
				</td>
			</tr>
			</tbody>
		</table>

	</form>
	<div class="pop_button">

		<button type="button" id="userSaveBtn" class="btn_type2">저장</button>
		<button type="button" id="userCancelBtn" class="btn_type1">취소</button>
	</div>
</div>
</html>