<!--
   Create By Kim Yun Hong on 2020-03-20 / 오후 4:34
   Email : fbsghd123@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<div data-layout-fragment="content">
	<!--/*@thymesVar id="user" type="com.pharmcle.rms.domain.user.User"*/-->
	<form method="post" id="form" autocomplete="off">

		<p class="txt_notic2 mt0"> 가입시 등록한 성명, 연락처, 메일주소를 입력하세요.</p>

		<table class="tbtype mt10">

			<colgroup>
				<col class="cper2000">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th>성명</th>
				<td>
					<input type="text" maxlength="50" name="name" />
				</td>
			</tr>
			<tr>
				<th>연락처</th>
				<td><input type="text" name="phone"/>  <p class="txt_notic2 mt0"> - 를 제외한 11자리를 입력해 주세요.</p> </td>
			</tr>
			<tr>
				<th>이메일</th>
				<td>
					<div class="email">
						<input type="text" name="emailId" maxlength="25">
						<span class="hyphen">@</span>
						<input type="text" name="emailDomain" maxlength="25">
						<select name="selectEmailDomainPopup">
							<option value="">직접입력</option>
							<option th:each="item : ${SC04}" th:value="${item.codeName}" th:text="${item.codeName}">
								이메일
							</option>
						</select>
					</div>
				</td>
			</tr>
			</tbody>
		</table>

	</form>
	<div class="pop_button">

		<button type="button" id="findIdSaveBtn" class="btn_type2">확인</button>
	</div>
</div>
</html>