<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/user/userList.js(v=${timestamp})}' src="/js/user/userList.js"></script>
</th:block>
<div data-layout-fragment="content">
	<div class="searchbox">
		<form method="post" id="searchForm" autocomplete="off">
			<table>
				<colgroup>
					<col class="cper1050">
					<col class="cperauto">
					<col class="cper1050">
					<col class="cperauto">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tbody>
					<tr>
						<th>사용권한</th>
						<td>
							<select name="authRole" class="wp114">
								<option value="">전체</option>
								<option th:each="item : ${SC02}" th:value="${item.code}" th:text="${item.codeName}">
									사용권한
								</option>
							</select>
						</td>
						<th>소속</th>
						<td>
							<select name="customerSeq" class="wp150">
								<option value="">전체</option>
								<!--/*@thymesVar id="item" type="com.pharmcle.rms.domain.customer.Customer"*/-->
								<option th:each="item, index : ${customerList} " th:text="${item.customerShortName}" th:value="${item.customerSeq}">대리점</option>
							</select>
						</td>
						<th>성명</th>
						<td>
							<input type="text" name="name" class="wp114" maxlength="10"/>
						</td>

					</tr>
					<tr>
						<th>아이디</th>
						<td>
							<input type="text" name="userId" class="wp114" maxlength="25"/>
						</td>
						<th>APP 사용</th>
						<td>
							<select name="useAppYn" class="wp60">
								<option value="">전체</option>
								<option value="Y">O</option>
								<option value="N">X</option>
							</select>
						</td>
						<th>상태</th>
						<td>
							<select name="useYn" class="wp60">
								<option value="">전체</option>
								<option value="Y">활동</option>
								<option value="N">휴면</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="search_btn">
				<button type="button" id="searchBtn" class="btn_type2">검색</button>
				<a href="#" id="resetBtn" class="btn_type1 ml5">초기화</a>
			</div>
		</form>
	</div>
	<div class="widget">
		<div class="tit_wrap">
			<p class="total">총 <span id="totalCount">00</span>건</p>
			<div class="module_btn">
				<button type="button" id="addUserBtn" class="btn_type1 add"><span></span>등록</button>
				<button type="button" id="excelDownloadBtn" class="btn_type1 excel"><span></span>엑셀다운로드</button>
			</div>
		</div>
		<div id="userGrid"></div>

		<div id="popupList">

		</div>
	</div>
</div>
</html>