<!--
   Create By Kim YunHong on 2020-03-03 / 오전 10:46
   Email : fbsghd123@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<div data-layout-fragment="content">

	<form method="post" id="form">
		<!--/*@thymesVar id="deviceMaster" type="com.pharmcle.rms.domain.deviceMaster.DeviceMaster"*/-->
		<input type="hidden" name="deviceMstSeq" th:value="${deviceMaster.deviceMstSeq}">
		<input type="hidden" id="deviceClassify" th:value="${deviceMaster.deviceClassify}">
		<table class="tbtype">
			<colgroup>
				<col class="cper1250">
				<col class="cper3750">
				<col class="cper1250">
				<col class="cperauto">
			</colgroup>
			<tbody>
				<tr>
					<th>장비명</th>
					<td colspan="3"><p th:text="${deviceMaster.deviceNameText}">장비명</td>
				</tr>
				<tr>
					<th>장비구분</th>
					<td><span th:text="${deviceMaster.deviceClassifyText}">장비구분</span></td>
					<th>모델명</th>
					<td><span th:text="${deviceMaster.modelName}">모델명</span></td>
				</tr>
				<tr>
					<th>제조사</th>
					<td>(<span th:text="${deviceMaster.manufactureComClassifyText}">제조사구분</span>) <span th:text="${deviceMaster.manufactureComText}">제조사</span></td>
					<th>전원(정격)</th>
					<td><span th:text="${deviceMaster.power}">전원(정격)</span></td>
				</tr>
				<tr>
					<th>규격</th>
					<td><span th:text="${deviceMaster.standard}">규격</span></td>
					<th>외관</th>
					<td><span th:text="${deviceMaster.external}">외관</span></td>
				</tr>
				<tr class="SD020001">
					<th>모니터(상)</th>
					<td><span th:text="${deviceMaster.monitorTop}">모니터(상)</span></td>
					<th>모니터(하)</th>
					<td><span th:text="${deviceMaster.monitorBottom}">모니터(하)</span></td>
				</tr>
				<tr class="SD020002">
					<th>태양광 패널</th>
					<td><span th:text="${deviceMaster.solarPanel}">태양광 패널</span></td>
					<th>배터리</th>
					<td><span th:text="${deviceMaster.battery}">배터리</span></td>
				</tr>
				<tr class="SD020001">
					<th>파장</th>
					<td><span th:text="${deviceMaster.wavelength}">파장</span></td>
					<th>램프수명</th>
					<td><span th:text="${deviceMaster.lampLife}">램프수명</span></td>
				</tr>
				<tr class="SD020002">
					<th>펌프</th>
					<td><span th:text="${deviceMaster.pump}">펌프</span></td>
					<th>약재 량</th>
					<td><span th:text="${deviceMaster.medicinalResidue}">약재 량</span></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
</html>