<!--
   Create By Kim YunHong on 2020-03-03 / 오후 1:19
   Email : fbsghd123@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/device/device/deviceWrite.js(v=${timestamp})}' src="../../../js/device/device/deviceWrite.js"></script>
	<script>
		/*<![CDATA[*/
		var deviceSeq = "[[ ${device.deviceSeq} ]]";
		/*]]>*/
	</script>
</th:block>
<div data-layout-fragment="content">
	<form id="form">
		<input type="hidden" id="deviceMstSeq" name="deviceMstSeq" th:value="${device.deviceMstSeq}"/>
		<input type="hidden" id="deviceSeq" name="deviceSeq" th:value="${device.deviceSeq}"/>
		<input type="hidden" name="queryString" th:value="${#strings.defaultString(#request.getQueryString(), '')}">

		<!--/*@thymesVar id="device" type="com.pharmcle.rms.domain.device.Device"*/-->
		<div class="wid_head" id="device" th:if="${device.deviceSeq > 0}">
			<dl>
				<dt>장비번호</dt>
				<dd th:text="${device.deviceId}"></dd>
			</dl>
			<dl>
				<dt>장비상태</dt>
				<dd th:text="${device.statusText}"></dd>
			</dl>
		</div>

		<table class="tbtype" th:classappend="${device.deviceSeq > 0  ? 'mt15' : ''}"> <!--수정할때 mt15 클래스 추가 해줘야함 -->
			<colgroup>
				<col class="cper1050">
				<col class="cper3950">
				<col class="cper1050">
				<col class="cperauto">
			</colgroup>
			<tr>
				<th class="required">장비명<span></span></th>
				<td colspan="3">
					<span id="deviceNameText" th:text="${device.deviceNameText}"></span>
					<button type="button" id="deviceSelectBtn" class="btn_type3 ml5" th:if="${device.deviceSeq <= 0} ">
						장비선택
					</button>
				</td>
			</tr>
			<tr>
				<th>장비구분</th>
				<td><span id="deviceClassifyText" th:text="${device.deviceClassifyText}"></span></td>
				<th>모델명</th>
				<td><span id="modelName" th:text="${device.modelName}"></span></td>
			</tr>
			<tr>
				<th>제조사</th>
				<td><span id="manufactureComText" th:text="${device.manufactureComText}"></span></td>
				<th>제조일</th>
				<td>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus" th:if="!${device.deviceSeq > 0}">
						<input id="manufactureDt" name="manufactureDt" type="text" aria-label="Date" th:value="${device.manufactureDtText}"/>
						<span class="tui-ico-date"></span>
						<div id="manufactureDtWrapper"></div>
					</div>
					<p th:text="${device.manufactureDtText}" th:if="${device.deviceSeq > 0}"></p>
				</td>
			</tr>
			<tr th:if="!${device.deviceSeq > 0}">
				<th class="required">장비수량<span></span></th>
				<td colspan="3">
					<input type="text" name="deviceQty" id="deviceQty" class="wp60 t_right" maxlength="4">
					<span>대</span>
				</td>
			</tr>
			<tr>
				<th>보관장소</th>
				<td colspan="3">
					<select name="storage" class="wp130">
						<option value="">선택</option>
						<option th:each="item : ${DM03}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == device.storage}">
							보관장소
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>통신방식</th>
				<td colspan="3">
				<span th:each="item, index : ${DM01} ">
					<input type="radio" name="communicationMode" id="communicationMode01"
					       th:id="'communicationMode' + ${index.index}" th:value="${item.code}" th:checked="${device.communicationMode == item.code || (index.index == 0 && device.communicationMode == null)}">
					<label for="communicationMode01" th:for="'communicationMode' + ${index.index}">
						<span class="txt_lb" th:text="${item.codeName}"></span>
					</label>
				</span>
				</td>
			</tr>
			<tr th:if="${device.deviceSeq > 0}">
				<th>Modem ID</th>
				<td colspan="3">
					<div class="group_search wp200">
						<input type="text" name="modemId" class="wp200" th:value="${device.modemId}" readonly>
						<button type="button" id="openModemListPopupBtn" class="btn_search"></button>
					</div>
				</td>
			</tr>
			<tr th:if="${device.deviceSeq > 0}">
				<th>통합 Board Serial 번호</th>
				<td colspan="3">
					<input type="text" name="boardSerial" th:value="${device.boardSerial}" class="wp200"/>
				</td>
			</tr>
			<tr th:if="${device.deviceSeq > 0}">
				<th>Modem FW Version</th>
				<td colspan="3">
					<input type="text" name="modemFwVersion" th:value="${device.modemFwVersion}" class="wp200" maxlength="10"/>
				</td>
			</tr>
			<tr th:if="${device.deviceSeq > 0}">
				<th>통합 Board HW Version</th>
				<td colspan="3">
					<input type="text" name="boardHwVersion" th:value="${device.boardHwVersion}" class="wp200" maxlength="10"/>
				</td>
			</tr>
			<tr th:if="${device.deviceSeq > 0}">
				<th>통합 Board FW Version</th>
				<td colspan="3">
					<input type="text" name="boardFwVersion" th:value="${device.boardFwVersion}" class="wp200" maxlength="10"/>
				</td>
			</tr>
		</table>

		<div class="button">
			<button type="button" id="deviceSaveBtn" class="btn_type2">저장</button>
			<button type="button" id="deviceListBtn" class="btn_type1">취소</button>
		</div>

		<div id="popupList">

		</div>

	</form>
</div>
</html>