<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/device/device/deviceDetail.js(v=${timestamp})}' src="../../../js/device/device/deviceDetail.js"></script>
</th:block>
<div data-layout-fragment="content">
	<form method="post" id="deviceDetailForm">
		<input type="hidden" name="deviceSeq" id="deviceSeq" th:value="${device.deviceSeq}"/>
		<input type="hidden" name="deviceId" id="deviceId" th:value="${device.deviceId}"/>
		<input type="hidden" name="deviceStatus" id="deviceStatus" th:value="${device.status}"/>
		<input type="hidden" name="deviceMstSeq" id="deviceMstSeq" th:value="${device.deviceMstSeq}"/>
		<input type="hidden" name="queryString" th:value="${#strings.defaultString(#request.getQueryString(), '')}">

		<div class="wid_head mh80">
			<dl>
				<dt>장비번호</dt>
				<dd>
					<span th:text="${device.deviceId}"></span>
				</dd>
			</dl>
			<dl>
				<dt>장비상태</dt>
				<dd>
					<span th:text="${device.statusText}"></span>
				</dd>
			</dl>
			<div class="code_img" id="barcode"></div>
		</div>
		<table class="tbtype mt15">
			<colgroup>
				<col class="cper1050">
				<col class="cper3950">
				<col class="cper1050">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th>장비명</th>
				<td colspan="3">
					<span th:text="${device.deviceNameText}">장비명</span>
					<button type="button" id="detailBtn" class="btn_type3 ml7">상세정보</button>
				</td>
			</tr>
			<tr>
				<th>장비구분</th>
				<td>
					<p th:text="${device.deviceClassifyText}"></p>
				</td>
				<th>모델명</th>
				<td>
					<p th:text="${device.modelName}"></p>
				</td>
			</tr>
			<tr>
				<th>제조일</th>
				<td>
					<p th:text="${device.manufactureDt}">제조일</p>
				</td>
				<th>제조사</th>
				<td>
					<p th:text="${device.manufactureComText}">제조사</p>
				</td>
			</tr>
			<tr>
				<th>보관장소</th>
				<td colspan="3">
					<p th:text="${device.storageText}">보관장소</p>
				</td>
			</tr>
			<tr>
				<th>통신방식</th>
				<td colspan="3">
					<p th:text="${device.communicationModeText}">통신방식</p>
				</td>
			</tr>
			<tr>
				<th>Modem ID</th>
				<td colspan="3">
					<p th:text="${device.modemId}">Modem ID</p>
				</td>
			</tr>
			<tr>
				<th>통합 Board Serial 번호</th>
				<td colspan="3">
					<p th:text="${device.boardSerial}">통합 Board Serial 번호</p>
				</td>
			</tr>
			<tr>
				<th>Modem FW Version</th>
				<td colspan="3">
					<p th:text="${device.modemFwVersion}">modemFwVersion</p>
				</td>
			</tr>
			<tr>
				<th>통합 Board HW Version</th>
				<td colspan="3">
					<p th:text="${device.boardHwVersion}">통합 Board HW Version</p>
				</td>
			</tr>
			<tr>
				<th>통합 Board FW Version</th>
				<td colspan="3">
					<p th:text="${device.boardFwVersion}">통합 Board FW Version</p>
				</td>
			</tr>
			</tbody>
		</table>
	</form>

	<div class="button">
		<button type="button" id="deleteBtn" class="btn_type3" th:if="${device.status == 'DM020001'}">삭제</button>
		<button type="button" id="editBtn" class="btn_type2">수정</button>
		<button type="button" id="listBtn" class="btn_type1">목록</button>
	</div>

	<div id="popupList">

	</div>

</div>
</html>