<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/device/device/deviceList.js(v=${timestamp})}' src="../../../js/device/device/deviceList.js"></script>
</th:block>
<div data-layout-fragment="content">
	<form method="post" id="searchForm" autocomplete="off">
		<div class="searchbox">
			<table>
				<colgroup>
					<col class="cper1050">
					<col class="cper2250">
					<col class="cper1050">
					<col class="cper2250">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tbody>
				<tr>
					<th>기간(등록일)</th>
					<td colspan="5">
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="searchStartDate" name="searchStartDate" type="text" aria-label="Date" th:value="${parameter.searchStartDate}">
							<span class="tui-ico-date"></span>
							<div id="searchStartDateWrapper"></div>
						</div>
						<span class="hyphen">~</span>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="searchEndDate" name="searchEndDate" type="text" aria-label="Date" th:value="${parameter.searchEndDate}">
							<span class="tui-ico-date"></span>
							<div id="searchEndDateWrapper"></div>
						</div>
					</td>
				</tr>
				<tr>
					<th>장비구분</th>
					<td>
						<select name="deviceClassify" class="wp150">
							<option value="">전체</option>
							<option th:each="item : ${SD02}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${parameter.deviceClassify == item.code}">
								장비구분
							</option>
						</select>
					</td>
					<th>장비번호</th>
					<td>
						<input type="text" name="deviceId" class="wp200" th:value="${parameter.deviceId}"/>
					</td>
					<th>장비명</th>
					<td>
						<input type="text" name="deviceName" class="wp200" th:value="${parameter.deviceName}"/>
					</td>
				</tr>
				<tr>
					<th>제조사</th>
					<td>
						<select name="manufactureCom" class="wp150">
							<option value="">전체</option>
							<option th:each="item : ${SD05}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${parameter.manufactureCom == item.code}">
								장비
							</option>
						</select>
					</td>
					<th>장비상태</th>
					<td colspan="3">
						<div id="status">
							<input type="checkbox" id="total_chk" th:checked="${not #lists.isEmpty(parameter.statusList) and #lists.size(parameter.statusList) == #lists.size(DM02)}">
							<label th:for="total_chk"><span class="txt_lb" th:text="전체"></span></label>
							<span th:each="item, index : ${DM02} ">
								<input type="checkbox" name="statusList" th:id="${item.code}" th:value="${item.code}"
								       th:checked="${not #lists.isEmpty(parameter.statusList) and (#lists.contains(parameter.statusList, item.code))}">
								<label th:for="${item.code}"><span class="txt_lb" th:text="${item.codeName}"></span></label>
							</span>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
			<div class="search_btn">
				<button type="button" id="searchBtn" class="btn_type2">검색</button>
				<a href="#" id="resetBtn" class="btn_type1 ml5">초기화</a>
			</div>
		</div>
		<div class="widget">
			<ul class="infobd" id="statusUl">
				<li class="ALL">
					<div class="info_sate hand">
						<span class="ic_state ty01"></span>
						<p class="subtit">전체</p>
						<p class="counting"><span name="sumQty" id="TOTAL_QTY"></span>대</p>
					</div>
				</li>
				<li class="DM020001">
					<div class="info_sate hand">
						<span class="ic_state ty02"></span>
						<p class="subtit">미설치</p>
						<p class="counting"><span name="sumQty" id="DM020001_QTY"></span>대</p>
					</div>
				</li>
				<li class="DM020007">
					<div class="info_sate hand">
						<span class="ic_state ty13"></span>
						<p class="subtit">설치중</p>
						<p class="counting"><span name="sumQty" id="DM020007_QTY"></span>대</p>
					</div>
				</li>
				<li class="DM020002">
					<div class="info_sate hand">
						<span class="ic_state ty03"></span>
						<p class="subtit">설치</p>
						<p class="counting"><span name="sumQty" id="DM020002_QTY"></span>대</p>
					</div>
				</li>
				<li class="DM020003">
					<div class="info_sate hand">
						<span class="ic_state ty05"></span>
						<p class="subtit">탈거</p>
						<p class="counting"><span name="sumQty" id="DM020003_QTY"></span>대</p>
					</div>
				</li>
				<li class="DM020004">
					<div class="info_sate hand">
						<span class="ic_state ty04"></span>
						<p class="subtit">재설치</p>
						<p class="counting"><span name="sumQty" id="DM020004_QTY"></span>대</p>
					</div>
				</li>
				<li class="DM020005">
					<div class="info_sate hand">
						<span class="ic_state ty06"></span>
						<p class="subtit">폐기</p>
						<p class="counting"><span name="sumQty" id="DM020005_QTY"></span>대</p>
					</div>
				</li>
				<li class="DM020006">
					<div class="info_sate hand">
						<span class="ic_state ty07"></span>
						<p class="subtit">분실</p>
						<p class="counting"><span name="sumQty" id="DM020006_QTY"></span>대</p>
					</div>
				</li>
			</ul>

			<div class="tit_wrap mt30">
				<p class="total">총 <span id="totalCount">00</span>건</p>
				<div class="module_btn">
					<input type="checkbox" name="viewAllDeviceFlag" id="viewAllDeviceFlag"> <label
					for="viewAllDeviceFlag"><span class="txt_lb">삭제 포함</span>
				</label>
					<button type="button" id="addDeviceBtn" class="btn_type1 add"><span></span>등록
					</button>
					<button type="button" id="excelDownloadBtn" class="btn_type1 excel"><span></span>엑셀다운로드</button>
				</div>
			</div>

			<div id="deviceGrid">

			</div>

		</div>
	</form>

	<div id="popupList"></div>
</div>
</html>