<!--
   Create By Kim YunHong on 2020-03-03 / 오전 10:46
   Email : fbsghd123@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<div data-layout-fragment="content">

	<form id="searchForm" autocomplete="off">
		<!--/*@thymesVar id="deviceMaster" type="com.pharmcle.rms.domain.deviceMaster.DeviceMaster"*/-->
		<!--<input type="hidden" name="deviceMstSeq" th:value="${deviceMaster.deviceMstSeq}">-->
		<div class="searchbox">
			<table>
				<colgroup>
					<col class="cper1250">
					<col class="cper3750">
					<col class="cper1250">
					<col class="cper3750">
				</colgroup>
				<tbody>
					<tr>
						<th>장비구분</th>
						<td>
							<select name="deviceClassify" class="wp130">
								<option value="">전체</option>
								<option th:each="item : ${SD02}" th:value="${item.code}" th:text="${item.codeName}">
									장비구분
								</option>
							</select>
						</td>
						<th>장비명</th>
						<td><input type="text" name="deviceName" id="deviceName"/></td>
					</tr>
				</tbody>
			</table>
			<div class="search_btn"><button type="button" id="searchDeviceMasterBtn" class="btn_type2">검색</button></div>
		</div>
	</form>
	<div class="widget">
		<p class="total">총 <span id="deviceTotalCount"></span>건</p>
		<div id="deviceMasterGrid"></div>
	</div>
</div>
</html>