<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	/*<![CDATA[*/
	var deviceSeq  = "[[ ${protocol.deviceSeq} ]]"; // deviceSeq
	var operateStartDt = "[[ ${device.operateStartDtText} ]]"; // 가동기간 START
	var operateEndDt = "[[ ${device.operateEndDtText} ]]"; // 가동기간 END
	/*]]>*/

</th:block>

<div data-layout-fragment="content">
	<form id="form" autocomplete="off">
		<input type="hidden" value="SD020001" name="deviceClassify" />
		<input type="hidden" name="deviceSeq" th:value="${protocol.deviceSeq}"/>
		<input type="hidden" name="boardSerialList" th:value="${protocol.boardSerial}"/>
		<div class="tit_wrap">
			<h3>가동일</h3>
		</div>
		<table class="tbtype">
			<colgroup>
				<col class="cperauto">
				<col class="cper3000">
				<col class="cper3000">
			</colgroup>
			<thead>
				<tr>
					<th>항목</th>
					<th>시작</th>
					<th>종료</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="required blline">가동기간<span></span></td>
					<td class="blline t_center">
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input type="text" id="operateStartDt" name="operateStartDt" aria-label="Date-Time" th:value="${device.operateStartDtText}">
							<span class="tui-ico-date"></span>
						</div>
						<div id="operateStartDtWrapper"></div>
					</td>
					<td class="blline t_center">
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input type="text" id="operateEndDt" name="operateEndDt" aria-label="Date-Time" th:value="${device.operateEndDtText}">
							<span class="tui-ico-date"></span>
						</div>
						<div id="operateEndDtWrapper"></div>
					</td>
				</tr>
				<tr><td class="required blline">가동시간<span></span></td>
					<td class="blline t_center">
						<select id="operateStartTime" name="operateStartTime">
							<option th:each="hour : ${startHourList}" th:value="${hour}"
									th:text="${#strings.substring(hour,0,2) + ':' + #strings.substring(hour,2,4)}"
									th:selected="${hour == device.operateStartTime}">
							</option>

						</select>
					</td>
					<td class="blline t_center">
						<select id="operateEndTime" name="operateEndTime">
							<option th:each="hour : ${endHourList}" th:value="${hour}"
									th:text="${#strings.substring(hour,0,2) + ':' + #strings.substring(hour,2,4)}"
									th:selected="${hour == device.operateEndTime}">
							</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="tit_wrap mt30">
			<h3>기준정보</h3>
		</div>
		<table class="tbtype">
			<colgroup>
				<col class="cperauto">
				<col class="cper3000">
				<col class="cper3000">
			</colgroup>
			<thead>
			<tr>
				<th>통신상태</th>
				<th>하한 Value</th>
				<th>상한 Value</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="blline"><p>온도</p></td>
				<td class="blline t_center">
					<input type="text" class="cper3500" name="temperatureLow" th:value="${protocol.temperatureLow}"/> <span>℃</span>
				</td>
				<td class="blline t_center">
					<input type="text" class="cper3500" name="temperatureHigh" th:value="${protocol.temperatureHigh}"/> <span>℃</span>
				</td>
			</tr>
			<tr>
				<td class="blline"><p>습도</p></td>
				<td class="blline t_center">
					<input type="text" class="cper3500" name="humidityLow" th:value="${protocol.humidityLow}"/> <span>%</span>
				</td>
				<td class="blline t_center">
					<input type="text" class="cper3500" name="humidityHigh" th:value="${protocol.humidityHigh}"/> <span>%</span>
				</td>
			</tr>

			<tr>
				<td class="blline"><p>전체 전압</p></td>
				<td class="blline t_center">
					<input type="text" class="cper3500" name="voltageLow" th:value="${protocol.voltageLow}"/> <span>V</span>
				</td>
				<td class="blline t_center">
					<input type="text" class="cper3500" name="voltageHigh" th:value="${protocol.voltageHigh}"/> <span>V</span>
				</td>
			</tr>

			<tr>
				<td class="blline"><p>전체 전류</p></td>
				<td class="blline t_center">
					<input type="text" class="cper3500" name="electricLow" th:value="${protocol.electricLow}"/> <span>A</span>
				</td>
				<td class="blline t_center">
					<input type="text" class="cper3500" name="electricHigh" th:value="${protocol.electricHigh}"/> <span>A</span>
				</td>
			</tr>

			<tr>
				<td class="blline"><p>상부 FAN 전류</p></td>
				<td class="blline t_center">
					<input type="text" class="cper3500" name="property1Low" th:value="${protocol.property1Low}"/> <span>A</span>
				</td>
				<td class="blline t_center">
					<input type="text" class="cper3500" name="property1High" th:value="${protocol.property1High}"/> <span>A</span>
				</td>
			</tr>

			<tr>
				<td class="blline"><p>LAMP 전류</p></td>
				<td class="blline t_center">
					<input type="text" class="cper3500" name="property2Low" th:value="${protocol.property2Low}"/> <span>A</span>
				</td>
				<td class="blline t_center">
					<input type="text" class="cper3500" name="property2High" th:value="${protocol.property2High}"/> <span>A</span>
				</td>
			</tr>

			<tr>
				<td class="blline"><p>하부 Motor 전류</p></td>
				<td class="blline t_center">
					<input type="text" class="cper3500" name="property3Low" th:value="${protocol.property3Low}"/> <span>A</span>
				</td>
				<td class="blline t_center">
					<input type="text" class="cper3500" name="property3High" th:value="${protocol.property3High}"/> <span>A</span>
				</td>
			</tr>
			</tbody>
		</table>
	</form>
	<div class="pop_button">
		<button type="button" id="saveBtn" class="btn_type2">저장</button>
		<button type="button" id="cancelBtn" class="btn_type1">취소</button>
	</div>

</div>
</html>