<!--
   Create By jwh on 2020-04-07 / 오후 4:00
   Email : jwh.19@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/monitor/monitor/monitorList.js(v=${timestamp})}' src="../../../js/monitor/monitor/monitorList.js"></script>
</th:block>

<div data-layout-fragment="content">
	<form id="searchForm" autocomplete="off">
		<div class="searchbox">
			<table>
					<colgroup>
                        <col class="cper1050">
                        <col class="cper2000">
                        <col class="cper1050">
                        <col class="cper2250">
                        <col class="cper1050">
                        <col class="cperauto">
					</colgroup>
					<tr>
						<th>기간</th>
						<td colspan="5">
							<select name="dateType" class="wp130">
								<option value="receiveDate">가동기간</option>
							</select>
							<div class="tui-datepicker-input tui-datetime-input tui-has-focus ml5">
							<input id="searchStartDate" name="searchStartDate" type="text" aria-label="Date" th:value="${parameter.searchStartDate}">
							<span class="tui-ico-date"></span>
							<div id="searchStartDateWrapper"></div>
							</div>
							<span class="hyphen">~</span>
							<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="searchEndDate" name="searchEndDate" type="text" aria-label="Date" th:value="${parameter.searchEndDate}">
							<span class="tui-ico-date"></span>
							<div id="searchEndDateWrapper"></div>
							</div>

							<button type="button" id="dateBtn1" class="btn_type3 ml7">당일</button>
							<button type="button" id="dateBtn2" class="btn_type3 ml7">7일전</button>
							<button type="button" id="dateBtn3" class="btn_type3 ml7">1개월전</button>
							<button type="button" id="dateBtn4" class="btn_type3 ml7">3개월전</button>
						</td>
					</tr>
					<tr>
						<th>지역</th>
						<td>
							<select name="locationArea" class="wp130">
								<option value="">전체</option>
								<option th:each="item : ${SC03}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.locationArea}">
									서울
								</option>
							</select>
						</td>
						<th>설치장소</th>
						<td><input type="text" name="locationName" class="cper100p" th:value="${parameter.locationName}"></td>
						<th>거래처</th>
						<td>
							<select name="customerType" class="wp120">
								<option value="">전체</option>
								<option th:each="item : ${CM01}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.customerType}">
									대리점
								</option>
							</select>
							<input name="customerName" type="text" class="ml7 wp200" th:value="${parameter.customerName}">
						</td>
					</tr>
					<tr>

						<th>장비번호</th>
						<td><input type="text" name="deviceId" class="wp130" th:value="${parameter.deviceId}"></td>
						<th>전원</th>
						<td>
							<div id="power">
								<input type="checkbox" name="total_chk" id="total_chk1" th:checked="${not #lists.isEmpty(parameter.powerList) and #lists.size(parameter.powerList) == 2}"> <label for="total_chk1"><span class="txt_lb">전체</span></label>
								<span>
									<input type="checkbox" name="powerList" id="MT010001" value="ON" th:checked="${not #lists.isEmpty(parameter.powerList) and (#lists.contains(parameter.powerList, 'ON'))}"> <label for="MT010001"><span class="txt_lb">ON</span></label>
								</span>
								<span>
									<input type="checkbox" name="powerList" id="MT010002" value="OFF" th:checked="${not #lists.isEmpty(parameter.powerList) and (#lists.contains(parameter.powerList, 'OFF'))}"> <label for="MT010002"><span class="txt_lb">OFF</span></label>
								</span>
							</div>
						</td>
						<th>상태</th>
						<td>
							<div id="status">
								<input type="checkbox" name="total_chk" id="total_chk2" th:checked="${not #lists.isEmpty(parameter.statusList) and #lists.size(parameter.statusList) == #lists.size(MT02)}"> <label th:for="total_chk2"><span class="txt_lb" th:text="전체"></span></label>
								<span th:each="item, index : ${MT02}">
									<input type="checkbox" name="statusList" th:id="${item.code}" th:value="${item.code}" th:checked="${not #lists.isEmpty(parameter.statusList) and (#lists.contains(parameter.statusList, item.code))}"> <label th:for="${item.code}"><span class="txt_lb" th:text="${item.codeName}"></span></label>
								</span>
							</div>
						</td>
					</tr>
					<tr>


						<th>통신</th>
						<td>
							<div id="connection">
								<input type="checkbox" name="total_chk" id="total_chk3" th:checked="${not #lists.isEmpty(parameter.connectionList) and #lists.size(parameter.connectionList) == 2}"> <label for="total_chk3"><span class="txt_lb">전체</span></label>
								<span>
									<input type="checkbox" name="connectionList" id="MT030001" value="1" th:checked="${not #lists.isEmpty(parameter.connectionList) and (#lists.contains(parameter.connectionList, '1'))}"> <label for="MT030001"><span class="txt_lb">ON</span></label>
								</span>
								<span>
									<input type="checkbox" name="connectionList" id="MT030002" value="0" th:checked="${not #lists.isEmpty(parameter.connectionList) and (#lists.contains(parameter.connectionList, '0'))}"> <label for="MT030002"><span class="txt_lb">OFF</span></label>
								</span>
							</div>
						</td>
						<th>장비명</th>
						<td>
							<input type="text" name="deviceName" class="cper100p" th:value="${parameter.deviceName}"/>
						</td>
						<th>통신방식</th>
						<td>
							<select name="communicationMode" class="wp130">
								<option value="">전체</option>
								<option th:each="item : ${DM01}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.communicationMode}">
									LTE
								</option>
							</select>
						</td>
					</tr>
				</table>
				<div class="search_btn">
					<button type="button" id="searchBtn" class="btn_type2">검색</button>
					<a href="#" id="resetBtn" class="btn_type1 ml5">초기화</a>
				</div>
			</div>

			<div class="widget">
				<ul class="infobd">
					<li>
						<div class="info_sate hand" data-type="01" data-value="MT020001">
							<span class="ic_state b01"></span>
							<p class="subtit">전원 ON/정상</p>
							<p class="counting"><span name="sumQty" id="GOOD_QTY"></span>대</p>
						</div>
					</li>
					<li>
						<div class="info_sate hand"  data-type="02"  data-value="MT020002">
							<span class="ic_state b02"></span>
							<p class="subtit">전원 ON/알람</p>
							<p class="counting"><span name="sumQty" id="BAD_QTY"></span>대</p> 
						</div>
					</li>
					<li>
						<div class="info_sate hand" data-type="03" data-value="MT020003">
							<span class="ic_state b03"></span>
							<p class="subtit">전원 OFF</p>
							<p class="counting"><span name="sumQty" id="STOP_QTY"></span>대</p>
						</div>
					</li>
					<li>
                        <div class="info_sate hand" data-type="04" data-value="MT030001">
                            <span class="ic_state b04"></span> 
                            <p class="subtit">통신 ON</p>
                            <p class="counting"><span name="sumQty" id="RELAYON_QTY"></span>대</p>
                        </div>
                    </li>
					<li>
						<div class="info_sate hand" data-type="05" data-value="MT030002">
							<span class="ic_state b05"></span> 
							<p class="subtit">통신 OFF</p>
							<p class="counting"><span name="sumQty" id="RELAYOFF_QTY"></span>대</p>
						</div>
					</li>
					<li>
						<div class="info_sate hand" data-type="06" data-value="useNomalFlag">
							<span class="ic_state b06"></span>  
							<p class="subtit">일반장비</p>
							<p class="counting"><span name="sumQty" id="NOMAL_QTY"></span>대</p>
							<input type="hidden" name="nomalFlag" id="nomalFlag" value="" >
						</div>
					</li>
					<li>
                        <div class="info_sate">
                            <span class="ic_state b07" data-type="07"></span>
                            <p class="subtit">장비합계</p>
                            <p class="counting"><span name="sumQty" id="TOTAL_QTY"></span>대</p>
                        </div>
                    </li>
				</ul>
				
                <div class="widget">
                    <div class="tit_wrap ">
                        <p class="total">총 <span name="totalCount" id="TOTAL2_QTY">00</span>건</p>
                        <div class="module_btn">
                            <input type="checkbox" id="useNomalFlag" name="useNomalFlag" value="N"><label for="useNomalFlag"><span class="txt_lb">일반장비 제외</span></label>
                            <button type="button" id="systemPowerOnBtn" class="btn_type1 power" th:if="${_userInfo.authRole != 'SC020004'}"><span></span>전원 ON</button>
                            <button type="button" id="systemPowerOffBtn" class="btn_type1 off" th:if="${_userInfo.authRole != 'SC020004'}"><span></span>전원 OFF</button>
                            <button type="button" id="infomationModifyBtn" class="btn_type1 add" th:if="${_userInfo.authRole != 'SC020004'}"><span></span>기준정보 설정</button>
                            <button type="button" id="excelDownloadBtn" class="btn_type1 excel"><span></span>엑셀다운로드</button>
                        </div>
                    </div>
                    <div id="monitorGrid"></div>
                </div>
            </div>
		</form>
	<div id="popupList" >

	</div>
	</div>
</html>