<!--
   Create By Kim YunHong on 2020-04-22 / 오후 1:48
   Email : fbsghd123@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script src="/lib/chart-js/Chart.min.js"></script>
	<script type="text/javascript"
			th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script th:src='@{/js/monitor/monitor/monitorDetail.js(v=${timestamp})}' src="../../../js/monitor/monitor/monitorDetail.js"></script>
	<script>
		/*<![CDATA[*/
		var receiveDate = "[[${monitor.receiveDate}]]"; // 최종 로그값 (데이터가 없으면 로그가 없음)
		var deviceSeq = "[[ ${device.deviceSeq} ]]"; // 장비시퀀스
		var authRole = '[[ ${_userInfo.authRole} ]]';
		var operateStartDt = '[[${device.operateStartDt}]]';
		var operateEndDt = '[[${device.operateEndDt}]]';
		/*]]>*/
	</script>
</th:block>

<div data-layout-fragment="content">

	<input type="hidden" id="deviceClassify" th:value="${device.deviceClassify}"/>
	<input type="hidden" id="deviceMstSeq" th:value="${device.deviceMstSeq}"/>
	<input type="hidden" name="deviceSeq" id="deviceSeq" th:value="${device.deviceSeq}"/>
	<input type="hidden" name="deviceId" id="deviceId" th:value="${device.deviceId}"/>
	<input type="hidden" name="locationSeq" id="locationSeq" th:value="${device.locationSeq}"/>
	<input type="hidden" name="operateStartTime" th:value="${device.operateStartTime}"/>
	<input type="hidden" name="operateEndTime" th:value="${device.operateEndTime}"/>
	<input type="hidden" id="devEUI" name="devEUI" th:value="${monitor.devEUI}"/>
	<input type="hidden" name="queryString" th:value="${#strings.defaultString(#request.getQueryString(), '')}">



	<div class="wid_head mh80">
		<dl>
			<dt>장비번호</dt>
			<dd><span th:text="${device.deviceId}">1910103000001</span>
			</dd>

		</dl>
		<dl>
			<dt>장비명</dt>
			<dd>
				<span th:text="${device.deviceNameText}"></span>
				<button type="button" class="btn_type1 ml7" id="openDeviceStandardPopup">장비정보</button>
			</dd>
		</dl>
		<dl>
			<dt>장비상태</dt>
			<dd>
				<span th:text="${monitor.stateText}">오류</span>

			</dd>
		</dl>
		<div class="btn_side monitor">
			<a href="#" id="moveInstallDeviceDetail" class="btn_type1 set"><span></span>장비설치 상세</a>
			<a href="#" id="moveMaintainDetail" class="btn_type1 manage"><span></span>유지보수 상세</a>
			<a href="#" id="openMaintainReportPopupBtn" class="btn_type1 report"><span></span>유지보수 리포트</a>
		</div>
	</div>
	<div class="mt20">
		<table class="tbtype">
			<colgroup>
				<col class="cper1050">
				<col class="cper3950">
				<col class="cper1050">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th>설치일</th>
				<td><p th:text="${device.installDtTimeText}"></p></td>
				<th>설치담당자</th>
				<td><p th:text="${device.installUserName}"></p></td>
			</tr>
			<tr>
				<th>지역</th>
				<td><p th:text="${device.locationAreaText}">경기</p></td>
				<th>거래처구분</th>
				<td><p th:text="${device.customerTypeText}">보건소</p></td>
			</tr>
			<tr>
				<th>거래처</th>
				<td><p th:text="${device.customerName}">화성시</p></td>
				<th>거래처담당자</th>
				<td><p th:text="${device.chargeName} + ' (' + ${device.chargePhone} + ')'" th:if="${device.chargeName}"></p></td>
			</tr>
			<tr>
				<th>설치장소</th>
				<td><span th:text="${device.locationName}">화성공원</span></td>
				<th>장비위치</th>
				<td>
					<p th:text="${device.address + ' ' + #strings.defaultString(device.addressDetail, '')}">경기도 화성시 행정가1길 14</p>
				</td>
			</tr>
			<tr>
				<th>관리번호</th>
				<td><p th:text="${device.manageNo}">가람01</p></td>
				<th>가로등번호</th>
				<td><p th:text="${device.lampNo}">1234-12</p></td>
			</tr>
			<tr>
				<th>영업담당자</th>
				<td><p th:text="${device.salesCustomerName} + ' ' + ${device.salesUserName}">영업담당자</p></td>
				<th>보수담당자</th>
				<td><p th:text="${device.asCustomerName} + ' ' + ${device.asUserName}">보수담당자</p></td>
			</tr>

			</tbody>
		</table>
		<div class="wrap_grid wp600_60 mt15">
			<div class="colA">
				<div class="article">
					<div class="arti_body">
						<div class="timeinfo" style="margin-top:0;">
							<p><i class="ic_time">가동시간</i>
								<span class="time_term" th:text="${device.operateStartDtKoreanText} + ' ~ ' + ${device.operateEndDtKoreanText}"></span>
							</p>
							<div class="light_time">
								<div class="lignt_on"><i></i>점등 <span th:text="${#strings.substring(device.operateStartTime, 0,2) + '시 ' + #strings.substring(device.operateStartTime, 2,4) + '분'}"></span></div>
								<div class="lignt_off"><i></i>소등 <span th:text="${#strings.substring(device.operateEndTime, 0,2) + '시 ' + #strings.substring(device.operateEndTime, 2,4) + '분'}"></span></div>
							</div>
						</div>

						<div class="hour">
							<canvas class="pie" id="chart" style="width:100%;height:100%; "></canvas>
						</div>

					</div>

				</div>
			</div>
			<div class="colB">
				<div class="article detailmap" id="detailMap">
				</div>
			</div>
		</div>
	</div>

	<div th:if="${monitor.receiveDate != null}">
		<div class="widget">
			<div class="tit_wrap">
				<h3 th:if="${_userInfo.authRole != 'SC020004'}">전원상태 <input type="checkbox" id="power_deco" th:checked="${monitor.power == 'ON'}"><label for="power_deco" class="power_deco" ><span></span></label></h3>

				<h3 th:if="${_userInfo.authRole == 'SC020004'}">전원상태 : <h3 th:text="${monitor.power}"></h3></h3>
				<div class="module_btn">

					<h3 th:if="${_userInfo.authRole != 'SC020004' && monitor.protocol == 'DM010002'}">상부 전원 <input type="checkbox" id="top_power_deco" th:checked="${monitor.power == 'ON'}"><label for="top_power_deco" class="power_deco" ><span></span></label></h3>

					<h3 th:if="${_userInfo.authRole == 'SC020004' && monitor.protocol == 'DM010002'}">상부 전원 : <h3 th:text="${monitor.power}"></h3></h3>

					<h3 th:if="${_userInfo.authRole != 'SC020004' && monitor.protocol == 'DM010002'}">LAMP 전원 <input type="checkbox" id="lamp_power_deco" th:checked="${monitor.power == 'ON'}"><label for="lamp_power_deco" class="power_deco" ><span></span></label></h3>

					<h3 th:if="${_userInfo.authRole == 'SC020004' && monitor.protocol == 'DM010002'}">LAMP 전원 : <h3 th:text="${monitor.power}"></h3></h3>

					<h3 th:if="${_userInfo.authRole != 'SC020004' && monitor.protocol == 'DM010002'}">하부 전원 <input type="checkbox" id="bottom_power_deco" th:checked="${monitor.power == 'ON'}"><label for="bottom_power_deco" class="power_deco" ><span></span></label></h3>

					<h3 th:if="${_userInfo.authRole == 'SC020004' && monitor.protocol == 'DM010002'}">하부 전원 : <h3 th:text="${monitor.power}"></h3></h3>

					<button type="button" id="infomationModifyBtn" class="btn_type1 add" th:if="${_userInfo.authRole != 'SC020004'}"><span></span>기준정보 변경</button>
				</div>
			</div>
			<div class="whitebd">
				<ul class="col4">
					<li th:switch="${monitor.state}">
						<div th:case="MT020001" class="normal">
						    <h3>상태</h3>
                            <p class="now" th:text="${monitor.stateText}">정상</p>
                        </div>
						<div th:case="MT020002" class="warn">
							<h3>상태</h3>
							<p class="now" th:text="${monitor.stateText}">알람</p>
						</div>
						<div th:case="MT020003" class="off">
                            <h3>상태</h3>
                            <p class="now" th:text="${monitor.stateText}">꺼짐</p>
                        </div>
					</li>
					<li>
						<div th:class="${monitor.temperatureStat}">
							<h3>온도</h3>
							<p class="now" th:text="${#strings.defaultString(monitor.temperature, '0')}+'℃'">70℃</p>
							<p class="base" th:text="${monitor.temperatureLow +'℃ ~ ' + monitor.temperatureHigh+'℃'}">(-20℃ ~ 60℃)</p>
						</div>
					</li>
					<li>
						<div th:class="${monitor.humidityStat}">
							<h3>습도</h3>
							<p class="now" th:text="${monitor.humidity + '%' }">90%</p>
							<p class="base" th:text="${monitor.humidityLow + '% ~ ' +monitor.humidityHigh + '%' }">(10% ~ 90%)</p>
						</div>
					</li>
					<li th:if="${_userInfo.authRole != 'SC020004'}">
						<div th:class="${monitor.voltageStat}">
							<h3>전체전압</h3>
							<p class="now" th:text="${monitor.voltage + 'V'}">220V</p>
							<p class="base" th:text="${monitor.voltageLow + 'V ~ ' + monitor.voltageHigh + 'V'}">(110V ~ 277V)</p>
						</div>
					</li>
					<li th:if="${_userInfo.authRole != 'SC020004'}">
						<div th:class="${monitor.electricStat}">
							<h3>전체전류</h3>
							<p class="now" th:text="${monitor.currents + 'A'}">1.05A</p>
							<p class="base" th:text="${monitor.electricLow + 'A ~ ' + monitor.electricHigh + 'A'}">(0.50A ~ 1.50A)</p>
						</div>
					</li>
					<li th:if="${_userInfo.authRole != 'SC020004'}">
                        <div th:class="${monitor.highMoterStat}">
                            <h3>상부모터</h3>
                            <p class="now" th:text="${monitor.highMoter + 'A'}">1.05A</p>
                            <p class="base" th:text="${monitor.highMoterLow + 'A ~ ' + monitor.highMoterHigh + 'A'}">(0.50A ~ 1.50A)</p>
                        </div>
                    </li>
                    <li th:if="${_userInfo.authRole != 'SC020004'}">
                        <div th:class="${monitor.lowMoterStat}">
                            <h3>하부모터</h3>
                            <p class="now" th:text="${monitor.lowMoter + 'A'}">1.05A</p>
                            <p class="base" th:text="${monitor.lowMoterLow + 'A ~ ' + monitor.lowMoterHigh + 'A'}">(0.50A ~ 1.50A)</p>
                        </div>
                    </li>
                    <li th:if="${_userInfo.authRole != 'SC020004'}">
                        <div th:class="${monitor.ledStat}">
                            <h3>LED</h3>
                            <p class="now" th:text="${monitor.led + 'A'}">1.05A</p>
                            <p class="base" th:text="${monitor.ledLow + 'A ~ ' + monitor.ledHigh + 'A'}">(0.50A ~ 1.50A)</p>
                        </div>
                    </li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="tit_wrap mt30">
		<h3>장비 작동일자</h3>
	</div>
	<table class="tbtype">
		<colgroup>
			<col class="cper1050">
			<col class="cper3950">
			<col class="cper1050">
			<col class="cper3950">
		</colgroup>
		<tbody>
		<tr>
			<th>마지막 데이터 수신</th>
			<td><p th:text="${monitor.receiveDateText}"></p></td>
			<th>총 운영일자</th>
			<td><p th:text="${#numbers.formatInteger(monitor.totalUseDate, 0, 'COMMA') + '일'}">120시간</p></td>
		</tr>
		<tr>
			<th>상부모터</th>
			<td><p th:text="${#numbers.formatInteger(monitor.moterTopDate, 0, 'COMMA') + '일'}">120시간</p></td>
			<th>하부모터</th>
			<td><p th:text="${#numbers.formatInteger(monitor.moterBottomDate, 0, 'COMMA') + '일'}">8시간</p></td>
		</tr>
		<tr>
			<th>램프</th>
			<td><p th:text="${#numbers.formatInteger(monitor.lampDate, 0, 'COMMA') + '일'}">120시간</p></td>
			<th>모뎀</th>
			<td><p th:text="${#numbers.formatInteger(monitor.modemDate, 0, 'COMMA') + '일'}">8시간</p></td>
		</tr>
		</tbody>
	</table>

	<div th:if="${monitor.receiveDate != null}">
		<form id="reportForm" autocomplete="off">
		<div class="widget">
			<div class="tit_wrap visible">
				<h3>REPORT </h3>
				<div class="module_btn">
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="searchStartDate" name="searchStartDate" type="text" aria-label="Date">
						<span class="tui-ico-date"></span>
						<div id="searchStartDateWrapper"></div>
					</div><span class="hyphen">~</span>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="searchEndDate" name="searchEndDate" type="text" aria-label="Date">
						<span class="tui-ico-date"></span>
						<div id="searchEndDateWrapper"></div>
					</div>

					<input type="hidden" id="deviceSeqReport" name="deviceSeq" th:value="${device.deviceSeq}" />
					<button type="button" id="reportSearchBtn" name="reportSearchBtn"  class="btn_type1">조회</button>
					<button type="button" id="reportTodayBtn" name="reportTypeBtn"  class="btn_type1">당일</button>
					<button type="button" id="reportWeekBtn" name="reportTypeBtn" class="btn_type1">1주일</button>
					<button type="button" id="reportMonthBtn" name="reportTypeBtn" class="btn_type1">1개월</button>
				</div>
			</div>

			<div class="wrap_grid mt15">
				<div class="colA">
					<div class="article">
						<div class="arti_body">
							<div id="chart1"></div>
						</div>
					</div>
				</div>
				<div class="colB">
					<div class="article">
						<div class="arti_body">
							<div id="chart2"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	    </form>
    </div>
    
    <table id="alarmList" class="tbtype list mt30">
        <colgroup>
            <col class="cper1500">
            <col class="cper1500">
            <col class="cper1800">
            <col class="cper1050">
            <col class="cperauto">
        </colgroup>
        <thead>
        <tr>
            <th>일자</th>
            <th>구분</th>
            <th>시간</th>
            <th>총 오류시간(분)</th>
            <th>비고</th>
        </tr>
        </thead>
        <tbody>
        
        </tbody>
        <tfoot style="display:none">
        <tr>
			<td class="t_center"><p>#{viewDate}</p></td>
			<td class="t_center"><p>#{viewPart}</p></td>
			<td class="t_center"><p>#{viewTime}</p></td>
			<td class="t_right"><p>#{useTime}</p></td>
            <td class="t_right"><p></p></td>
        </tr>
        </tfoot>
    </table>
    
    <div class="button">
        <button type="button" id="listBtn" class="btn_type1">목록</button>
    </div>
    
	<div id="popupList">

	</div>
</div>
</html>