<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<div data-layout-fragment="content">

	<form method="post" id="form">
		<!--/*@thymesVar id="appSeq" type=""*/-->
		<!--/*@thymesVar id="app" type="com.pharmcle.rms.domain.app.App"*/-->
		<input type="hidden" id="appSeq" name="appSeq" th:value="${app.appSeq}">
		<table class="tbtype" style="border-collapse: collapse;">
			<colgroup>
				<col class="cper2000">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th class="required">OS<span></span></th>
				<td>
					<span th:text="${app.osText}" th:if="${app.appSeq > 0}"> </span>
					<div id="os" th:if="${app.appSeq <= 0}">
						<span th:each="item, index : ${SD09} ">
						<input  type="radio" name="os" id="os01" th:id="'os' + ${index.index}" th:value="${item.code}"
								th:disabled="${app.appSeq > 0}" th:checked="${app.os == item.code || (app.os == null && index.index == 0)}">
							<label for="os01" th:for="'os' + ${index.index}" ><span class="txt_lb" th:text="${item.codeName}"></span></label>
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<th class="required">버전명<span></span></th>
				<td>
					<span th:text="${app.versionName}" th:if="${app.appSeq > 0}"></span>
					<input type="text" name="versionName" th:value="${app.versionName}" class="cper100p" th:if="${app.appSeq <= 0}">
				</td>
			</tr>
			<tr>
				<th class="required">버전<span></span></th>
				<td>
					<span th:text="${app.versionText}" th:if="${app.appSeq > 0}"></span>
					<input type="text" name="version" th:value="${app.versionText}" class="wp80" th:if="${app.appSeq <= 0}">
				</td>
			</tr>
			<tr>
				<th class="required">앱파일<span></span></th>
				<td>
					<div class="filebox">
						<input type="text" class="uploadfile" name="originalFileName" value="파일선택" th:value="${app.originalFileName}" disabled="disabled" th:if="${app.appSeq <= 0}">
						<label for="appFile" th:if="${app.appSeq <= 0}">파일검색</label>
						<input type="file" name="appFile" id="appFile" th:if="${app.appSeq <= 0}">
						<input type="hidden" name="appFileKey" th:value="${app.appFileKey}" th:if="${app.appSeq <= 0}">
						<span th:if="${app.appSeq > 0}" th:text="${app.originalFileName}"></span>
					</div>
				</td>
			</tr>
			<tr>
				<th class="required">배포<span></span></th>
				<td>
					<div id="distribute" >
						<span>
						<input type="radio" name="useYn" id="useYn1" value="Y" th:checked="${app.useYn == 'Y' || (app.useYn == null)}">
						<label for="useYn1"><span class="txt_lb">Y</span></label>
						<input type="radio" name="useYn" id="useYn2" value="N" th:checked="${app.useYn == 'N'}">
						<label for="useYn2"><span class="txt_lb">N</span></label>
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<th>비고</th>
				<td><input type="text" name="etc" th:value="${app.etc}" class="cper100p"></td>
			</tr>
			</tbody>
		</table>
	</form>
	<div class="pop_button">
		<button type="button" id="appSaveBtn" th:text="${app.appSeq == 0 ? '등록' : '수정'}" class="btn_type2">저장</button>
		<button type="button" id="appCancelBtn" class="btn_type1">취소</button>
	</div>
</div>
</html>