<!--
   Create By Kim YunHong on 2020-02-27 / 오후 1:02
   Email : fbsghd123@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/standard/app/appList.js(v=${timestamp})}' src="/js/standard/app/appList.js"></script>
</th:block>
<div data-layout-fragment="content">
	<div class="searchbox">
	<form method="post" id="searchForm" autocomplete="off">
		<table>
			<colgroup>
				<col class="cper1050">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th>OS</th>
				<td>
					<select name="os">
						<option value="">전체</option>
						<option th:each="item : ${SD09}" th:value="${item.code}" th:text="${item.codeName}">
							OS
						</option>
					</select>
				</td>
			</tr>
			</tbody>
		</table>
		<div class="search_btn">
			<button type="button" id="searchBtn" class="btn_type2">검색</button>
			<a href="#" id="resetBtn" class="btn_type1 ml5">초기화</a>
		</div>
	</form>
	</div>
	<div class="widget">
		<div class="tit_wrap">
			<p class="total">총 <span id="totalCount">00</span>건</p>
			<div class="module_btn">
				<button type="button" id="addAppBtn" class="btn_type1 add"><span></span>등록</button>
			</div>
		</div>
		<div id="appGrid"></div>

		<div id="popupList">

		</div>
	</div>
</div>
</html>