<!--
   Create By Lee DoWon on 2020-02-17 / 오후 4:56
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/home/notice/noticeWrite.js(v=${timestamp})}' src="../../../js/home/notice/noticeWrite.js"></script>
</th:block>

<!--/*@thymesVar id="board" type="com.pharmcle.rms.domain.board.Board"*/-->
<div data-layout-fragment="content">
	<form id="form" autocomplete="off">
		<input type="hidden" name="boardSeq" th:value="${board.boardSeq}"/>
		<input type="hidden" name="queryString" th:value="${#strings.defaultString(#request.getQueryString(), '')}">
		<table class="tbtype">
			<colgroup>
				<col class="cper1050">
				<col class="cperauto">
				<col class="cper1050">
				<col class="cper2500">
			</colgroup>
			<tbody>
			<tr>
				<th class="required">제목<span></span></th>
				<td th:colspan="3"><input type="text" class='cper100p' name="title" th:value="${board.title}"/></td>
			</tr>
			<tr th:if="${board.boardSeq > 0}">
				<th>등록자</th>
				<td><span th:text="${board.regName}"></span></td>
				<th>등록일</th>
				<td><span th:text="${board.regDtText}"></span></td>
			</tr>
			<tr>
				<th>공지대상</th>
				<td colspan="3">
					<div id="target">
					<span th:each="item, index : ${CM01} ">
						<input type="checkbox" name="targetList" th:id="${item.code}" th:value="${item.code}"
						       th:checked="${board.splitTarget[item.code] != null || board.boardSeq <= 0}">
						<label th:for="${item.code}"><span class="txt_lb" th:text="${item.codeName}"></span></label>
					</span>
					</div>
				</td>
			</tr>
			<th>첨부파일</th>
			<td colspan="3">
				<div class="filelist">
					<label for="file" class="btn_file">파일추가</label>
					<input type="file" id="file">
					<ul class="filename" id="fileList">

						<!--/*@thymesVar id="uploadFileList" type="java.util.ArrayList<>"*/-->
						<!--/*@thymesVar id="item" type="com.pharmcle.rms.domain.uploadFile.UploadFile"*/-->
						<li th:each="item : ${uploadFileList}">
							<a th:href="@{/uploadFile/api/download/{key}(key = ${item.uploadFileKey})}"
							   th:text="${item.originalFileName}" class="icon img" target="_blank"></a>
							<button type="button" class="btn_del"></button>
							<input type="hidden" name="uploadFileKey" th:value="${item.uploadFileKey}">
						</li>
					</ul>
				</div>
			</td>
			<tr>
				<th class="required">내용<span></span></th>
				<td th:colspan="3">
					<textarea name="content" class="bd_edit cper100p" th:text="${board.content}"></textarea>
				</td>
			</tr>
			</tbody>
		</table>

		<div class="widget">
			<div class="button">
				<button type="button" id="noticeSaveBtn" class="btn_type2">저장</button>
				<button type="button" id="noticeListBtn" class="btn_type1">취소</button>
			</div>
		</div>

	</form>

</div>
</html>