<!--
   Create By Lee DoWon on 2020-02-17 / 오후 4:56
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/home/notice/noticeDetail.js(v=${timestamp})}' src="../../../js/home/notice/noticeDetail.js"></script>
</th:block>
<div data-layout-fragment="content">
	<form method="post" id="noticeDetailForm">
	<input type="hidden" id="boardSeq" name="boardSeq" th:value="${board.boardSeq}" />
	<input type="hidden" name="queryString" th:value="${#strings.defaultString(#request.getQueryString(), '')}">
	<table class="tbtype">
		<colgroup>
			<col class="cper1050">
			<col class="cperauto">
			<col class="cper1050">
			<col class="cper2500">
		</colgroup>
		<tbody>
		<tr>
			<th>제목</th>
			<td><span th:text="${board.title}"></span></td>
			<th>조회수</th>
			<td><span th:text="${board.count}"></span></td>
		</tr>

		<tr>
			<th>등록자</th>
			<td><span th:text="${board.regName}"></span></td>
			<th>등록일</th>
			<td><span th:text="${board.regDtText}"></span></td>
		</tr>
		<tr th:if="${_userInfo.authRole != 'SC020004'}">
			<th>공지대상</th>
			<td colspan="3">
				<div id="target">
					<span th:each="item, index : ${CM01} ">
						<input type="checkbox" name="targetList" th:disabled="true" th:id="${item.code}" th:value="${item.code}" th:checked="${board.splitTarget[item.code] != null || board.boardSeq <= 0}"> <label th:for="${item.code}">
						<span class="txt_lb" th:text="${item.codeName}"></span></label>
					</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>첨부파일</th>
			<td colspan="3">
				<div class="filelist">
					<ul class="filename view">
						<li th:each="item : ${uploadFileList}">
							<a th:href="@{/uploadFile/api/download/{key}(key = ${item.uploadFileKey})}" class="icon file"
							   target="_blank" th:attr="download=${item.originalFileName}" th:text="${item.originalFileName}">test</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<th>내용</th>
			<td th:colspan="3">
				<p class="bd_edit" th:text="${board.content}"></p>
			</td>
		</tr>

		</tbody>
	</table>
	</form>
	<div class="button">
		<button type="button" id="noticeModifyBtn" class="btn_type2" th:if="${_userInfo.authRole != 'SC020004'}">수정</button>
		<button type="button" id="noticeDeleteBtn" class="btn_type3" th:if="${_userInfo.authRole != 'SC020004'}">삭제</button>
		<button type="button" id="noticeListBtn" class="btn_type1">목록</button>
	</div>
</div>
</html>