<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/common/common.js"></script>
	<script src="/js/common/native.js"></script>


	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/nanumsquareround.min.css" />
	<link rel="stylesheet" href="/css/admin.css" />
	<link rel="stylesheet" href="/css/form_layout.css" />
	<script>

	</script>
</head>
<body>
<div class="m_web_pop">
	<div class="app_down">
		<div class="appdown">
			<h3>APP Download</h3>
			<p>ZAPS RMS 관제시스템</p>
			<img src="/img/common/download.png">
		</div>
		<div class="btn_down">

			<a th:href="@{/uploadFile/api/download/{key}(key = ${android.appFileKey})}" class="android" target="_blank" th:attr="download=${android.appFileName}">Android 다운로드</a>
			<a th:href="@{itms-services://?action=download-manifest&url={url}(url = ${plistUrl})}" class="ios">IOS 다운로드</a>
		</div>
	</div>
</div>
</body>
</html>