<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->

<div lang="ko" xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 data-layout-decorate="~{include/popupLayout}">

	<div data-layout-fragment="content">
		<div class="searchbox">
			<form id="searchAsUserForm" autocomplete="off">
				<table>
					<colgroup>
						<col class="cper1500">
						<col class="cper3500">
						<col class="cper1500">
						<col class="cper3500">
					</colgroup>
					<tbody>
						<tr>
							<th>성명</th>
							<td>
								<input type="text" name="name" class="cper100p">
							</td>
							<th>소속</th>
							<td>
								<input type="text" name="customerName"  class="cper100p">
							</td>
						</tr>
					</tbody>
				</table>
			</form>
			<div class="search_btn"><button type="button" id="searchAsUserBtn" class="btn_type2">검색</button></div>
		</div>
		<div class="widget">
			<p class="total">총 <span id="asUserTotalCount">00</span>건</p>
			<div id="asUserGrid"></div>
		</div>
	</div>
</div>