<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->

<div lang="ko" xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 data-layout-decorate="~{include/popupLayout}">

	<div data-layout-fragment="content">
		<div class="searchbox">
			<table>
				<colgroup>
					<col class="cper1500">
					<col class="cper3500">
					<col class="cper1500">
					<col class="cper3500">
				</colgroup>
				<tbody>
					<tr>
						<th>거래처 구분</th>
						<td>
							<select name="customerType" class="wp175">
								<option value="">전체</option>
								<option th:each="item : ${CM01}" th:value="${item.code}" th:text="${item.codeName}">
									대리점
								</option>
							</select>
						</td>
						<th>거래처</th>
						<td>
							<input type="text" name="customerName"  class="cper100p">
						</td>
					</tr>
				</tbody>
			</table>
			<div class="search_btn"><button type="button" id="searchCustomerBtn" class="btn_type2">검색</button></div>
		</div>
		<div class="widget">
			<p class="total">총 <span id="customerTotalCount">00</span>건</p>
			<div id="customerGrid"></div>
		</div>
	</div>
</div>