<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->

<div lang="ko" xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 data-layout-decorate="~{include/popupLayout}">

	<div data-layout-fragment="content">
		<form class="searchLocationForm">
			<div class="searchbox">
				<table>
					<colgroup>
						<col class="cper1500">
						<col class="cper3500">
						<col class="cper1500">
						<col class="cper3500">
					</colgroup>
					<tbody>
					<tr>
						<th>장비번호</th>
						<td>
							<input type="text" name="deviceId" class="wp200">
						</td>
						<th>장비구분</th>
						<td>
							<select name="deviceClassify" class="wp130">
								<option value="">전체</option>
								<option th:each="item : ${SD02}" th:value="${item.code}" th:text="${item.codeName}">
									장비구분
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>장비명</th>
						<td>
							<input type="text" name="deviceName" class="wp200">
						</td>
						<th>제조사</th>
						<td>
							<select name="manufactureCom" class="wp130">
								<option value="">전체</option>
								<option th:each="item : ${SD05}" th:value="${item.code}" th:text="${item.codeName}">
								</option>
							</select>
						</td>
					</tr>
					</tbody>
				</table>
				<div class="search_btn">
					<button type="button" id="searchDeviceBtn" class="btn_type2">검색</button>
				</div>
			</div>
		</form>
		<div class="widget">
			<p class="total">총 <span id="deviceTotalCount"></span>건</p>
			<div id="deviceGrid"></div>
		</div>
	</div>
</div>