<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<div data-layout-fragment="content">
	<form id="uploadFrom" autocomplete="off">
		<table class="tbtype">
			<colgroup>
				<col class="cper2500">
				<col class="cper7500">
			</colgroup>
			<tbody>
			<tr>
				<th>자료</th>
				<td>
					<div class="filelist">
						<ul class="filename view">
							<li th:each="item : ${uploadFileList}">
								<a th:href="@{/uploadFile/api/download/{key}(key = ${item.uploadFileKey})}" class="icon file"
								   target="_blank" th:attr="download=${item.originalFileName}" th:text="${item.originalFileName}">test</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</form>
</div>
</html>