<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->

<div lang="ko" xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 data-layout-decorate="~{include/popupLayout}">

	<div data-layout-fragment="content">
		<script>
			$(function () {

				/*<![CDATA[*/
				var index = '[[ ${defaultIndex} ]]';
				/*]]>*/
				var slider;

				setTimeout(function(){
					var $imgSlider = $('#imgSlider');
					slider = $imgSlider.bxSlider({
						infiniteLoop : false,
						speed : 200,
						adaptiveHeight : true,
						startSlide : index,
						pager : ($imgSlider.find('li').length > 1),
						controls : ($imgSlider.find('li').length > 1),
						onSliderLoad: function(currentIndex){
							console.log($imgSlider.closest('.popup'));
							setTitle($imgSlider.eq(0).find('img').prop('title'))
							$('#thumbnailList li').on('click', function () {
								var $this = $(this);
								slider.goToSlide($this.index());
								setTitle($('#imgSlider').eq($this.index() - 1).find('img').prop('title'));
							});
							Common.resizeHeightPopup($imgSlider.closest('.popup'));
							if($imgSlider.find('li').length <= 1){
								$('#thumbnailList').eq(0).clicked();
							}
						}, onSlideNext : function($li){
							setTitle($li.find('img').prop('title'))
						}, onSlidePrev : function($li){
							setTitle($li.find('img').prop('title'))
						}
					});
				}, 10);

				function setTitle(title){
					console.log(title);
					$('.photo-popup-content').find('.popup-sub-title').text(title);
				}
			});
		</script>
		<div>
			<ul id="imgSlider">
				<li th:each="item : ${uploadFileList}">
					<img th:src="@{/uploadFile/api/download/{key}(key = ${item.uploadFileKey})}" th:if="${not #lists.isEmpty(item.uploadFileKey) && #lists.size(item.uploadFileKey) > 0}"
						 src="/img/layout/ex01.png" th:attr="title=${item.regName} + ' ' + ${item.regDtLongText}">
				</li>
			</ul>

			<ul id="thumbnailList">
				<li th:each="item, index : ${uploadFileList}" style="display: inline-block;">
					<img class="upload-image" th:id="'thumb' + ${index.index}" th:if="${not #lists.isEmpty(item.uploadFileKey) && #lists.size(item.uploadFileKey) > 0}"
						 th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item.uploadFileKey})}" src="/img/layout/ex01.png"
						style="width:90px; height:90px;">
				</li>
			</ul>
		</div>
	</div>
</div>