<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->

<div lang="ko" xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 data-layout-decorate="~{include/popupLayout}">

	<div data-layout-fragment="content">
		<form id="searchLocationForm">
			<div class="searchbox">
				<table>
					<colgroup>
						<col class="cper1500">
						<col class="cper3500">
						<col class="cper1500">
						<col class="cper3500">
					</colgroup>
					<tbody>
					<tr>
						<th>지역</th>
						<td>
							<select name="locationArea" class="wp200">
								<option value="">전체</option>
								<option th:each="item : ${SC03}" th:value="${item.code}" th:text="${item.codeName}">
									서울
								</option>
							</select>
						</td>
						<th>설치장소</th>
						<td>
							<input type="text" name="locationName" class="wp200">
						</td>
					</tr>
					<tr>
						<th>거래처구분</th>
						<td>
							<select name="customerType" class="wp200">
								<option value="">선택</option>
								<option th:each="item : ${CM01}" th:value="${item.code}" th:text="${item.codeName}">
								</option>
							</select>
						</td>
						<th>거래처</th>
						<td>
							<input type="text" name="customerName" class="wp200">
						</td>
					</tr>
					</tbody>
				</table>
				<div class="search_btn">
					<button type="button" id="searchLocationBtn" class="btn_type2">검색</button>
				</div>
			</div>
		</form>
		<div class="widget">
			<p class="total">총 <span id="locationTotalCount"></span>건</p>
			<div id="locationGrid"></div>
		</div>
	</div>
</div>