<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script src="/js/common/common.js"></script>
	<script src="/js/common/native.js"></script>
	<script src="/js/common/daumAddress.js"></script>


	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/nanumsquareround.min.css" />
	<link rel="stylesheet" href="/css/admin.css" />
	<link rel="stylesheet" href="/css/mobile.css" />
	<link rel="stylesheet" href="/css/form_layout.css" />
	<script>
		$(function(){

			/*<![CDATA[*/
			var token = '[[ ${token} ]]';
			/*]]>*/

			var markers = DaumAddress.createLocationAlphabetMap({
				id: 'allViewMap',
				locationSeq : $('input[name="locationSeq"]').val(),
				$list : $('.item_li').find('li'),
				token : token
			}, function(type, index){
				var $list = $('.item_li').find('li');
				var $itemText =$list.eq(index).find('h3');
				if(type == 'over'){
					$itemText.addClass('on');

				} else{
					$itemText.removeClass('on');
				}
				$list.unbind('click');
				$list.on('click', function () {
					Native.movePage({
						'pageName': 'getDevice',
						'type': 'detailBase',
						'deviceSeq': '' + $(this).data('device-seq')
					});
				});
			});

		})
	</script>
</head>
<body>
<div class="m_web_pop">
	<div class="pop_body pd0">
		<input type="hidden" name="locationSeq" th:value="${location.locationSeq}">
		<!--/*@thymesVar id="location" type="com.pharmcle.rms.domain.location.Location"*/-->
		<table class="m_table">
			<colgroup>
				<col class="cper2500">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th>지역</th>
				<td>
					<p th:text="${location.locationAreaText}"></p></td>
			</tr>
			<tr>
				<th>거래처</th>
				<td><p th:text="${location.customerTypeText} + ' | ' + ${location.customerName}"></p></td>
			</tr>
			<tr>
				<th>설치장소</th>
				<td ><p th:text="${location.locationName}">행정공원</p></td>
			</tr>
			</tbody>
		</table>
		<div>
			<div id="allViewMap" class="article" style="position:relative;height:280px;overflow:hidden;">

			</div>
			<ul class="item_li">
				<li th:each="item : ${deviceList}" th:attr="data-device-seq=${item.deviceSeq}">
					<div class="article">
						<div class="arti_body">
							<h3>[[${item.alphabet}]]. [[${item.deviceId}]] ([[${item.deviceNameText}]])</h3>
							<p class="setdate"><span class="state" th:classappend="${'st' + #strings.substring(item.status, 7, 8)}">[[${item.statusText}]]</span> [[${item.installDtText}]] </p>
							<p class="set_info"><span>관리번호:[[${item.manageNo}]]</span><span>가로등번호:[[${item.lampNo}]]</span></p>
							<p class="set_info"><span>보수담당자:[[${item.asUserName}]]</span></p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>