<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->

<div lang="ko" xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 data-layout-decorate="~{include/popupLayout}">

	<div data-layout-fragment="content">
		<div class="searchbox">
			<form id="searchForm">
				<table>
					<tbody>
						<tr>
							<td class="blline">
								<div class="m_web_search">
									<input type="text" name="customerName"  class="cper100p" placeholder="회사명을 검색해주세요">
									<button type="button" id="searchCustomerBtn" class="btn_type2">검색</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<div class="widget" style="height: 300px;overflow-y: auto; display:none;" id="customerListTable">
			<p class="total">총 <span id="customerTotalCount">00</span>건</p>
			<table class="tbtype list">
				<colgroup>
					<col class="cperauto">
					<col class="wp120">
					<col class="wp80">
				</colgroup>
				<thead>
					<tr>
						<th>회사명</th>
						<th>사업자번호</th>
						<th>담당부서</th>
					</tr>
				</thead>
				<tbody id="customerTbody">
				</tbody>
			</table>
<!--			<div id="customerGrid"></div>-->
		</div>
	</div>
</div>