<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
    <script th:src='@{/js/index.js(v=${timestamp})}' src="../js/index.js"></script>
</th:block>

<div data-layout-fragment="content">
    <p>content</p>
    <img th:src="@{/img/test.png}" src="../img/test.png" width="50%"/>
    <p>test image</p>
    <p>time stamp : <span th:text="${timestamp}"></span></p>


</div>
</html>