<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script type="text/javascript"
			th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

	<script>
		$(function () {
			var $list = $('tbody tr');
			var geocoder = new kakao.maps.services.Geocoder();
			var timer = 100;
			return false;
			$.each($list, function (locationIndex, location) {
				timer += 10;
				setTimeout(function () {
					var searchKeyword = $(location).find('.excelAddress').text();
					if($(location).find('.excelAddress').text() != '' || $(location).find('.excelAddress').text() != null){
					geocoder.addressSearch(searchKeyword, function (result, status) {
						// 정상적으로 검색이 완료됐으면
						if (status === kakao.maps.services.Status.OK) {
							if (result.length > 0) {
								if (result[0].road_address != null) {
									var adr = result[0].road_address;
									console.log(adr, $(location));
									$(location).find('.deviceAddress').text('(' + adr.zone_no + ')' + adr.address_name);
									$(location).find('.latitude').text(adr.y);
									$(location).find('.longitude').text(adr.x);
									if(adr.x == ''){
										adr = result[0].address;
										$(location).find('.latitude').text(adr.y);
										$(location).find('.longitude').text(adr.x);
									}
								} else {
									var adr = result[0].address;
									$(location).find('.deviceAddress').text(adr.address_name);
									$(location).find('.latitude').text(adr.y);
									$(location).find('.longitude').text(adr.x);
								}
							}
						}
					});
					}
				}, timer);
			});
		});
	</script>
</th:block>

<div data-layout-fragment="content">

	<table class="tbtype">
		<colgroup>
			<col class="cperauto">
			<col class="cperauto">
			<col class="cperauto">
			<col class="cperauto">
			<col class="cperauto">
		</colgroup>
		<thead>
		<tr>
			<th>no</th>
			<th>excelAddress</th>
			<th>longitude</th>
			<th>latitude</th>
			<th>deviceAddress</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="device : ${deviceList}">
			<td th:text="${device.no}" class="no"></td>
			<td th:text="${device.excelAddress}" class="excelAddress"></td>
			<td th:text="${device.longitude}" class="longitude"></td>
			<td th:text="${device.latitude}" class="latitude"></td>
			<td th:text="${device.deviceAddress}" class="deviceAddress"></td>
		</tr>
		</tbody>
	</table>
</div>
</html>