<!--
   Create By Kim Yunhong on 2020-04-03 / 오전 10:16
   Email : fbsghd123@uniwiz.co.kr
-->


<div lang="ko" xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 data-layout-decorate="~{include/popupLayout}">

	<div data-layout-fragment="content">
		<table class="tbtype list">
			<colgroup>
				<col class="cper7000">
				<col class="cperauto">
			</colgroup>
			<thead>
			<tr>
				<th>구분</th>
				<th>수량</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="item, index : ${addpartList}">
				<td><p th:text="${item.partTypeText}"></p></td>
				<td class="add-part-item t_center">
					<input type="hidden" name="partType" th:value="${item.partType}">
					<input type="hidden" name="partTypeText" th:value="${item.partTypeText}">
					<button type="button" class="minusBtn"><</button>
					<input type="number" name="partQty" class="wp40 qty t_center" value="0" th:value="${item.partQty}" readonly/>
					<button type="button" class="plusBtn">></button>
				</td>
			</tr>
			</tbody>
		</table>
		<div></div>

		<div class="pop_button">
			<button type="button" id="saveBtn" class="btn_type2">선택</button>
		</div>
	</div>
</div>