<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<div data-layout-fragment="content">
	<!--/*@thymesVar id="device" type="com.pharmcle.rms.domain.device.Device"*/-->
	<form id="deviceStatusFrom" autocomplete="off">
		<input type="hidden" name="deviceSeq" th:value="${device.deviceSeq}">
		<input type="hidden" name="existStatus" th:value="${device.status}">

		<!--
			DM020001 : 미설치
			DM020002 : 설치
			DM020003 : 탈거
			DM020004 : 재설치
			DM020005 : 폐기
			DM020006 : 분실
		-->

		<table class="tbtype" style="border-collapse: collapse;">
			<colgroup>
				<col class="cper2500">
				<col class="cper7500">
			</colgroup>
			<tbody>
				<tr class="DM020003 DM020004 DM020005 DM020006">
					<th class="required">장비상태<span></span></th>
					<td>
						<!-- 재설치일때는 탈거가 나오고 재설치가 안나오고,  탈거일때는 탈거가 안나오고 재설치가 나와야함.-->
						<span th:each="item, index : ${DM02}" th:class="${item.code}"
							th:if="${(item.code != 'DM020001' && item.code != 'DM020002'&& item.code != 'DM020007')
							&& !(device.status == 'DM020003'&& item.code == 'DM020003')
							&& !(device.status != 'DM020003'&& item.code == 'DM020004')}">
						<input  type="radio" name="status" id="status" th:id="'status' + ${index.index}" th:value="${item.code}"
							th:checked="${(item.code == 'DM020003' && device.status != 'DM020003') || (item.code == 'DM020004' && device.status == 'DM020003')}">
						<label for="status" th:for="'status' + ${index.index}" ><span class="txt_lb" th:text="${item.codeName}"></span></label>
						</span>
					</td>
				</tr>
				<tr class="DM020005">
					<th class="required">분류<span></span></th>
					<td>
						<select name="discardType">
							<option value="">선택</option>
							<option th:each="item : ${IM07}" th:value="${item.code}" th:text="${item.codeName}">
							</option>
						</select>
					</td>
				</tr>
				<tr class="DM020003 DM020005 storage">
					<th class="required storage-th">보관장소<span></span></th>
					<td>
						<select name="storage">
							<option value="">선택</option>
							<option th:each="item : ${DM03}" th:value="${item.code}" th:text="${item.codeName}">
							</option>
						</select>
					</td>
				</tr>
				<tr class="DM020003 DM020005 DM020006">
					<th class="required">사진<span></span></th>
					<td class="valign_t">
						<div class="filelist">
							<label for="photoFile" class="btn_file">사진첨부</label>
							<input type="file" id="photoFile">
							<ul class="fileimg" id="photoFileList">
							</ul>
						</div>
					</td>
				</tr>
				<tr class="DM020005">
					<th>증빙자료</th>
					<td>
						<div class="filelist">
							<label for="proofFile" class="btn_file">파일추가</label>
							<input type="file" id="proofFile">
							<ul class="filename" id="proofFileList">
							</ul>
						</div>
					</td>
				</tr>
				<tr class="DM020004">
					<th class="required">가동기간<span></span></th>
					<td>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="operateStartDt" name="operateStartDt" type="text" aria-label="Date"
								   th:value="${device.operateStartDt}">
							<span class="tui-ico-date"></span>
							<div id="operateStartDtWrapper"></div>
						</div>
						<span class="hyphen">-</span>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="operateEndDt" name="operateEndDt" type="text" aria-label="Date"
								   th:value="${device.operateEndDt}">
							<span class="tui-ico-date"></span>
							<div id="operateEndDtWrapper"></div>
						</div>
					</td>
				</tr>
				<tr class="DM020004">
					<th class="required">점등·소등 시간<span></span></th>
					<td>
						<select id="operateStartTime" name="operateStartTime">
							<option value="">선택</option>
							<option th:each="hour : ${startHourList}" th:value="${hour}"
									th:text="${#strings.substring(hour,0,2) + ':' + #strings.substring(hour,2,4)}"
									th:selected="${hour == device.operateStartTime}"></option>
						</select>
						<span class="hyphen">-</span>
						<select id="operateEndTime" name="operateEndTime">`
							<option value="">선택</option>
							<option th:each="hour : ${endHourList}" th:value="${hour}"
									th:text="${#strings.substring(hour,0,2) + ':' + #strings.substring(hour,2,4)}"
									th:selected="${hour == device.operateEndTime}"></option>
						</select>
					</td>
				</tr>

				<tr class="DM020004">
					<th class="required">설치전 사진<span></span></th>
					<td class="valign_t">
						<div class="filelist">
							<label for="beforeFile" class="btn_file">사진첨부</label>
							<input type="file" id="beforeFile">
							<ul class="fileimg" id="beforeFileList">
							</ul>
						</div>
					</td>
				</tr>
				<tr class="DM020004">
					<th class="required">설치후 사진<span></span></th>
					<td class="valign_t">
						<div class="filelist">
							<label for="afterFile" class="btn_file">사진첨부</label>
							<input type="file" id="afterFile">
							<ul class="fileimg" id="afterFileList">
							</ul>
						</div>
					</td>
				</tr>
				<tr class="DM020003 DM020004 DM020005 DM020006">
					<th>비고</th>
					<td>
						<textarea name="etc" class="cper100p" ></textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<div class="pop_button">
		<button type="button" id="saveBtn" class="btn_type2">저장</button>
		<button type="button" id="cancelBtn" class="btn_type1">취소</button>
	</div>

</div>
</html>