<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<div data-layout-fragment="content">
	<!--/*@thymesVar id="location" type="com.pharmcle.rms.domain.location.Location"*/-->
	<table class="tbtype">
		<colgroup>
			<col class="cper1500">
			<col class="cper3500">
			<col class="cper1500">
			<col class="cperauto">
		</colgroup>
		<tbody>
			<tr>
				<th>지역</th>
				<td>
				<p th:text="${location.locationAreaText}"></p></td>
				<th>거래처</th>
				<td><p th:text="${location.customerTypeText} + ' | ' + ${location.customerName}"></p></td>
			</tr>
			<tr>
				<th>설치장소</th>
				<td colspan="3"><p th:text="${location.locationName}">행정공원</p></td>
			</tr>
		</tbody>
	</table>
	<div class="mt10">
		<div id="allViewMap" class="article" style="position:relative;height:280px;overflow:hidden;">

		</div>
		<ul class="item_li">
			<li th:each="item : ${deviceList}" th:attr="data-device-Seq=${item.deviceSeq}">
				<div class="article">
					<div class="arti_body">
						<h3>[[${item.alphabet}]]. [[${item.deviceId}]] ([[${item.deviceNameText}]])</h3>
						<p class="setdate"><span class="state" th:classappend="${'st' + #strings.substring(item.status, 7, 8)}">[[${item.statusText}]]</span> [[${item.installDtText}]] </p>
						<p class="set_info"><span>관리번호:[[${item.manageNo}]]</span><span>가로등번호:[[${item.lampNo}]]</span></p>
						<p class="set_info"><span>보수담당자:[[${item.asUserName}]]</span></p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
</html>