<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<div data-layout-fragment="content">
	<form method="post" id="form">
		<!--/*@thymesVar id="deviceMaster" type="com.pharmcle.rms.domain.deviceMaster.DeviceMaster"*/-->
		<input type="hidden" name="deviceMstSeq" th:value="${deviceMaster.deviceMstSeq}">
		<input type="hidden" id="deviceClassify" th:value="${deviceMaster.deviceClassify}">
		<table class="tbtype">
			<colgroup>
				<col class="cper2200">
				<col class="cper2800">
				<col class="cper2200">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th>장비명</th>
				<td colspan="3"><span th:text="${deviceMaster.deviceNameText}">장비명</span></td>
			</tr>
			<tr>
				<th>장비구분</th>
				<td colspan="3"><span th:text="${deviceMaster.deviceClassifyText}">장비구분</span></td>
			</tr>
			<tr>
				<th>모델명</th>
				<td colspan="3"><span th:text="${deviceMaster.modelName}">모델명</span></td>
			</tr>
			<tr>
				<th>제조일</th>
				<td><span th:text="${device.manufactureDtText}">제조일</span></td>
				<th>제조사</th>
				<td>(<span th:text="${deviceMaster.manufactureComClassifyText}">제조사구분</span>) <span th:text="${deviceMaster.manufactureComText}">제조사</span></td>
			</tr>
			<tr>
				<th>전원(정격)</th>
				<td colspan="3"><span th:text="${deviceMaster.power}">전원(정격)</span></td>
			</tr>
			<tr>
				<th>규격</th>
				<td><span th:text="${deviceMaster.standard}">규격</span></td>
				<th>외관</th>
				<td><span th:text="${deviceMaster.external}">외관</span></td>
			</tr>
			<tr class="SD020001">
				<th>모니터(상)</th>
				<td><span th:text="${deviceMaster.monitorTop}">모니터(상)</span></td>
				<th>모니터(하)</th>
				<td><span th:text="${deviceMaster.monitorBottom}">모니터(하)</span></td>
			</tr>
			<tr class="SD020002">
				<th>태양광 패널</th>
				<td><span th:text="${deviceMaster.solarPanel}">태양광 패널</span></td>
				<th>배터리</th>
				<td><span th:text="${deviceMaster.battery}">배터리</span></td>
			</tr>
			<tr class="SD020001">
				<th>파장</th>
				<td><span th:text="${deviceMaster.wavelength}">파장</span></td>
				<th>램프수명</th>
				<td><span th:text="${deviceMaster.lampLife}">램프수명</span></td>
			</tr>
			<tr class="SD020002">
				<th>펌프</th>
				<td><span th:text="${deviceMaster.pump}">펌프</span></td>
				<th>약재 량</th>
				<td><span th:text="${deviceMaster.medicinalResidue}">약재 량</span></td>
			</tr>
			<tr>
				<th>통신방식</th>
				<td><span th:text="${device.communicationModeText}">통신방식</span></td>
				<th>Modem ID</th>
				<td><span th:text="${device.modemId}">Modem ID</span></td>
			</tr>
			<tr>
				<th>통합 Board Serial 번호</th>
				<td><span th:text="${device.boardSerial}">통합 Board Serial 번호</span></td>
				<th>Modem FW Version</th>
				<td><span th:text="${device.modemFwVersion}">Modem FW Version</span></td>
			</tr>
			<tr>
				<th>통합 Board HW Version</th>
				<td><span th:text="${device.boardHwVersion}">통합 Board HW Version</span></td>
				<th>통합 Board FW Version</th>
				<td><span th:text="${device.boardFwVersion}">통합 Board FW Version</span></td>
			</tr>
			</tbody>
		</table>
	</form>
</div>
</html>