<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<div data-layout-fragment="content">
	<!--/*@thymesVar id="device" type="com.pharmcle.rms.domain.device.Device"*/-->
	<form id="modifyFrom" autocomplete="off">
		<input type="hidden" name="deviceSeq" th:value="${device.deviceSeq}">
		<table class="tbtype" style="border-collapse: collapse;">
			<colgroup>
				<col class="cper2500">
				<col class="cper7500">
			</colgroup>
			<tbdoy>
				<tr>
					<th>장비번호</th>
					<td><p th:text="${device.deviceId} + ' (' + ${device.deviceNameText} + ')' "></p></td>
				</tr>
				<tr>
					<th>관리번호</th>
					<td>
						<input type="text" name="manageNo" class="wp200" th:value="${device.manageNo}" maxlength="20">
					</td>
				</tr>
				<tr>
					<th>가로등번호</th>
					<td>
						<input type="text" name="lampNo" class="wp200" th:value="${device.lampNo}" maxlength="20">
					</td>
				</tr>
				<tr>
					<th class="required">가동기간<span></span></th>
					<td>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="operateStartDt" name="operateStartDt" type="text" aria-label="Date"
								   th:value="${device.operateStartDt}">
							<span class="tui-ico-date"></span>
							<div id="operateStartDtWrapper"></div>
						</div>
						<span class="hyphen">-</span>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="operateEndDt" name="operateEndDt" type="text" aria-label="Date"
								   th:value="${device.operateEndDt}">
							<span class="tui-ico-date"></span>
							<div id="operateEndDtWrapper"></div>
						</div>
					</td>
				</tr>
				<tr>
					<th class="required">점등·소등 시간<span></span></th>
					<td>
						<select id="operateStartTime" name="operateStartTime">
							<option th:each="hour : ${startHourList}" th:value="${hour}"
									th:text="${#strings.substring(hour,0,2) + ':' + #strings.substring(hour,2,4)}"
									th:selected="${hour == device.operateStartTime}"></option>
						</select>
						<span class="hyphen">-</span>
						<select id="operateEndTime" name="operateEndTime">`
							<option th:each="hour : ${endHourList}" th:value="${hour}"
									th:text="${#strings.substring(hour,0,2) + ':' + #strings.substring(hour,2,4)}"
									th:selected="${hour == device.operateEndTime}"></option>
						</select>
					</td>
				</tr>
			</tbdoy>
		</table>
	</form>
	<div class="pop_button">
		<button type="button" id="saveBtn" class="btn_type2">저장</button>
		<button type="button" id="cancelBtn" class="btn_type1">취소</button>
	</div>

</div>
</html>