<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script src="/lib/chart-js/Chart.min.js"></script>
	<script type="text/javascript"
			th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script th:src='@{/js/install/installDevice/installDeviceDetail.js(v=${timestamp})}'
			src="../../../js/install/installDevice/installDeviceDetail.js"></script>
</th:block>
<!--/*@thymesVar id="device" type="com.pharmcle.rms.domain.device.Device"*/-->
<div data-layout-fragment="content">
	<input type="hidden" id="deviceMstSeq" th:value="${device.deviceMstSeq}"/> <!-- 장비정보 팝업 띄울때 사용 -->
	<input type="hidden" name="deviceSeq" id="deviceSeq" th:value="${device.deviceSeq}"/> <!--기본적인 시퀀스 키 -->
	<input type="hidden" name="deviceId" id="deviceId" th:value="${device.deviceId}"/> <!-- 바코드 그릴때 사용-->
	<input type="hidden" name="locationSeq" id="locationSeq" th:value="${device.locationSeq}"/> <!-- 맵 그릴때 사용 -->
	<input type="hidden" name="operateStartTime" th:value="${device.operateStartTime}"/> <!-- 시계 그릴때 사용-->
	<input type="hidden" name="operateEndTime" th:value="${device.operateEndTime}"/> <!-- 시계 그릴때 사용-->
	<input type="hidden" name="queryString" th:value="${#strings.defaultString(#request.getQueryString(), '')}"> <!-- 리스트 파라미터 유지용 -->


	<div class="wid_head mh80">
		<dl>
			<dt>장비번호</dt>
			<dd><span th:text="${device.deviceId}">1910103000001</span>
			</dd>

		</dl>
		<dl>
			<dt>장비명</dt>
			<dd>
				<span th:text="${device.deviceNameText}"></span>
				<a href="#" class="btn_type1 ml7" id="openDeviceStandardPopup">장비정보</a>
			</dd>
		</dl>
		<dl>
			<dt>장비상태</dt>
			<dd>
				<span th:text="${device.statusText}"></span>
				<a href="#" class="btn_type1 ml7" id="openChangeStatusPopupBtn"
				   th:if="${!(device.status == 'DM020005') && !(device.status == 'DM020006') && (_userInfo.userId == device.asUserId)}">변경</a>
			</dd>
		</dl>
		<div class="btn_side">
			<a href="#" id="moveMonitorDetail" class="btn_type1 monitor"><span></span>모니터링 상세</a>
			<a href="#" id="moveMaintainDetail" class="btn_type1 manage"><span></span>유지보수 상세</a>
			<a href="#" id="openMaintainReportPopupBtn" class="btn_type1 report"><span></span>유지보수 리포트</a>
		</div>
		<div class="code_img" id="barcode"></div>
	</div>
	<div class="mt20">
		<table class="tbtype">
			<colgroup>
				<col class="cper1050">
				<col class="cper3950">
				<col class="cper1050">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th>설치일</th>
				<td><p th:text="${device.installDtTimeText}"></p></td>
				<th>설치담당자</th>
				<td><p th:text="${device.installUserName}"></p></td>
			</tr>
			<tr>
				<th>지역</th>
				<td><p th:text="${device.locationAreaText}">경기</p></td>
				<th>거래처구분</th>
				<td><p th:text="${device.customerTypeText}">보건소</p></td>
			</tr>
			<tr>
				<th>거래처</th>
				<td><p th:text="${device.customerName}">화성시</p></td>
				<th>거래처담당자</th>
				<td><p th:text="${device.chargeName} + ' (' + ${device.chargePhone} + ')'"
					   th:if="${device.chargeName}"></p></td>
			</tr>
			<tr>
				<th>설치장소</th>
				<td><span th:text="${device.locationName}">화성공원</span><a id="openDeviceViewAllPopup"
																		 class="btn_type3 ml7">전체보기</a></td>
				<th>장비위치</th>
				<td>
					<p th:text="${device.deviceAddress}">경기도 화성시 행정가1길 14</p>
				</td>
			</tr>
			<tr>
				<th>관리번호</th>
				<td><p th:text="${device.manageNo}">가람01</p></td>
				<th>가로등번호</th>
				<td><p th:text="${device.lampNo}">1234-12</p></td>
			</tr>
			<tr>
				<th>추가부품</th>
				<td colspan = 3>
					<span class="addpart-item" th:text="${device.addpartListText}">
					</span>
				</td>
			</tr>
			<tr>
				<th>영업담당자</th>
				<td><p th:text="${device.salesCustomerName} + ' ' + ${device.salesUserName}">영업담당자</p></td>
				<th>보수담당자</th>
				<td><p th:text="${device.asCustomerName} + ' ' + ${device.asUserName}">보수담당자</p></td>
			</tr>
			<tr>
				<th>설치 전 사진</th>
				<td>
					<div class="filelist" >
						<ul class="fileimg" id="INSTALL_DEVICE_BEFORE">
							<li th:each="item : ${beforeFileList}">
								<img class="upload-image" th:if="${not #lists.isEmpty(item.uploadFileKey) && #lists.size(item.uploadFileKey) > 0}"
									 th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item.uploadFileKey})}"
									 src="/img/layout/ex01.png">
							</li>
						</ul>
					</div>
				<th>설치 후 사진</th>
				<td>
					<div class="filelist">
						<ul class="fileimg" id="INSTALL_DEVICE_AFTER">
							<li th:each="item : ${afterFileList}">
								<img class="upload-image" th:if="${not #lists.isEmpty(item.uploadFileKey) && #lists.size(item.uploadFileKey) > 0}"
									 th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item.uploadFileKey})}"
									 src="/img/layout/ex01.png">
							</li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<th>설치비고</th>
				<td colspan="3">
					<p th:text="${device.installEtc}">설치비고</p>
				</td>
			</tr>

			</tbody>
		</table>
		<div class="wrap_grid wp600_60 mt15">
			<div class="colA">
				<div class="article">
					<div class="arti_body">
						<div class="timeinfo mt0">
							<p><i class="ic_time">가동시간</i>
								<span class="time_term"
									  th:text="${device.operateStartDtKoreanText} + ' ~ ' + ${device.operateEndDtKoreanText}"></span>
							</p>
							<div class="light_time">
								<div class="lignt_on"><i></i>점등 <span
									th:text="${#strings.substring(device.operateStartTime, 0,2) + '시 ' + #strings.substring(device.operateStartTime, 2,4) + '분'}"></span>
								</div>
								<div class="lignt_off"><i></i>소등 <span
									th:text="${#strings.substring(device.operateEndTime, 0,2) + '시 ' + #strings.substring(device.operateEndTime, 2,4) + '분'}"></span>
								</div>
							</div>
						</div>

						<div class="hour">
							<canvas class="pie" id="chart" style="width:100%;height:100%; "></canvas>
						</div>

					</div>

				</div>
			</div>
			<div class="colB">
				<div class="article detailmap" id="detailMap">
				</div>
			</div>
		</div>
	</div>

	<!--/*@thymesVar id="deviceStatus" type="com.pharmcle.rms.domain.deviceStatus.DeviceStatus"*/-->
	<div th:each="deviceStatus : ${deviceStatusList}">

		<div class="widget">
			<div class="tit_wrap">
				<h3 th:text="${deviceStatus.statusText} + '정보'">탈거정보</h3>
			</div>
		</div>
		<div class="mt10">
			<table class="tbtype status-table">
				<colgroup>
					<col class="cper1050">
					<col class="cper3950">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tbody>
				<tr>
					<th th:text="${deviceStatus.statusText} + '일'">탈거일</th>
					<td th:text="${deviceStatus.regDtLongText}">2019.11.12 14:00</td>
					<th>등록자</th>
					<td th:text="${deviceStatus.regName}"></td>
				</tr>
				<tr th:if="${deviceStatus.status == 'DM020005'}">
					<th>분류</th>
					<td colspan="3" th:text="${deviceStatus.discardTypeText}"></td>
				</tr>
				<tr th:if="${deviceStatus.status == 'DM020003' || (deviceStatus.status == 'DM020005' && deviceStatus.discardType == 'IM070002')}">
					<th>보관장소</th>
					<td colspan="3" th:text="${deviceStatus.storageText}"></td>
				</tr>
				<tr th:if="${deviceStatus.status == 'DM020005'}">
					<th>증빙자료</th>
					<td colspan="3">
						<div class="filelist device-status">
							<ul th:classappend="${not #lists.isEmpty(deviceStatus.proofUploadFileList) ? 'filename' : ''}" style="border-top:0px;">
								<li th:each="item : ${deviceStatus.proofUploadFileList}">
									<a th:href="@{/uploadFile/api/download/{key}(key = ${item.uploadFileKey})}"
									   th:text="${item.originalFileName}" class="icon file" target="_blank" th:attr="download=${item.originalFileName}"></a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<th>비고</th>
					<td colspan="3" th:text="${deviceStatus.etc}"></td>
				</tr>
				<tr th:if="${deviceStatus.status == 'DM020003' || deviceStatus.status == 'DM020005' || deviceStatus.status == 'DM020006'}">
					<th>사진</th>
					<td colspan="3">
						<div class="filelist device-status">
							<input type="hidden" name="deviceStatusSeq" th:value="${deviceStatus.deviceStatusSeq}">
							<ul class="fileimg" id="DEVICE_STATUS_PHOTO">
								<li th:each="item : ${deviceStatus.photoUploadFileKey}">
									<img class="upload-image"
										 th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item})}"
										 src="/img/layout/ex01.png">
								</li>
							</ul>
						</div>
					</td>
				</tr>
				<tr th:if="${deviceStatus.status == 'DM020004'}">
					<th>설치전 사진</th>
					<td>
						<div class="filelist device-status">
							<input type="hidden" name="deviceStatusSeq" th:value="${deviceStatus.deviceStatusSeq}">
							<ul class="fileimg" id="DEVICE_STATUS_BEFORE">
								<li th:each="item : ${deviceStatus.beforeUploadFileKey}">
									<img class="upload-image"
										 th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item})}"
										 src="/img/layout/ex01.png">
								</li>
							</ul>
						</div>
					</td>
					<th>설치후 사진</th>
					<td>
						<div class="filelist device-status">
							<input type="hidden" name="deviceStatusSeq" th:value="${deviceStatus.deviceStatusSeq}">
							<ul class="fileimg" id="DEVICE_STATUS_AFTER">
								<li th:each="item : ${deviceStatus.afterUploadFileKey}">
									<img class="upload-image"
										 th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item})}"
										 src="/img/layout/ex01.png">
								</li>
							</ul>
						</div>
					</td>
				</tr>
				<tr></tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="button">
		<button type="button" id="deleteBtn" class="btn_type1" th:if="${(device.status == 'DM020002' || device.status == 'DM020004') && (_userInfo.authRole != 'SC020004')}">삭제</button>
		<button type="button" id="openModifyBtn" class="btn_type2" th:if="${(device.status == 'DM020002' || device.status == 'DM020004') && (_userInfo.authRole != 'SC020004')}">수정</button>
		<button type="button" id="moveListBtn" class="btn_type1">목록</button>
	</div>

	<div id="popupList"></div>
</div>
</div>
</html>