<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/install/installDevice/installDeviceList.js(v=${timestamp})}' src="../../../js/install/installDevice/installDeviceList.js"></script>
</th:block>
<div data-layout-fragment="content">
	<form id="searchForm" autocomplete="off">
		<div class="searchbox">
			<table>
				<colgroup>
					<col class="cper1050">
					<col class="cper2000">
					<col class="cper1050">
					<col class="cper2800">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tr>
					<th>기간</th>
					<td colspan="5">
						<select name="dateType" class="wp130">
							<option value="">선택</option>
							<option th:each="item : ${IM01}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.dateType}">
								설치일
							</option>
						</select><div class="tui-datepicker-input tui-datetime-input tui-has-focus ml5">
						<input id="searchStartDate" name="searchStartDate" type="text" aria-label="Date" th:value="${parameter.searchStartDate}">
						<span class="tui-ico-date"></span>
						<div id="searchStartDateWrapper"></div>
					</div><span class="hyphen">~
						</span><div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="searchEndDate" name="searchEndDate" type="text" aria-label="Date" th:value="${parameter.searchEndDate}">
						<span class="tui-ico-date"></span>
						<div id="searchEndDateWrapper"></div>
					</div><button type="button" id="dateBtn1" class="btn_type3 ml7">당일
					</button><button type="button" id="dateBtn2" class="btn_type3 ml7">7일전
					</button><button type="button" id="dateBtn3" class="btn_type3 ml7">1개월전
					</button><button type="button" id="dateBtn4" class="btn_type3 ml7">3개월전</button>
					</td>
				</tr>
				<tr>
					<th>지역</th>
					<td>
						<select name="locationAreaList" class="wp130">
							<option value="">전체</option>
							<option th:each="item : ${SC03}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.locationArea}">
								서울
							</option>
						</select>
					</td>
					<th>장비번호</th>
					<td><input type="text" name="deviceId" class="wp120" th:value="${parameter.deviceId}"></td>
					<th>장비명</th>
					<td>
						<input type="text" name="deviceName" class="wp200" th:value="${parameter.deviceName}"/>
					</td>

				</tr>
				<tr>

					<th>설치장소</th>
					<td><input type="text" name="locationName" class="cper100p" th:value="${parameter.locationName}"></td>
					<th>관리번호</th>
					<td><input type="text" name="manageNo" class="wp120" th:value="${parameter.manageNo}"></td>
					<th>가로등번호</th>
					<td><input name="lampNo" type="text" class="wp200" th:value="${parameter.lampNo}"></td>
				</tr>
				<tr>

					<th>통신방식</th>
					<td>
						<select name="communicationMode" class="wp130">
							<option value="">전체</option>
							<option th:each="item : ${DM01}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.communicationMode}">
								LTE
							</option>
						</select>
					</td>
					<th>거래처</th>
					<td ><select name="customerType" class="wp120">
						<option value="">전체</option>
						<option th:each="item : ${CM01}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.customerType}">
							대리점
						</option>
					</select><input name="customerName" type="text" class="ml7 wp200" th:value="${parameter.customerName}"></td>
					<th>담당자</th>
					<td>
						<select name="userType">
							<option value="">전체</option>
							<option th:each="item : ${IM02}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.userType}">
								거래처 담당
							</option>
						</select><input type="text" name="userName" class="wp98 ml7" th:value="${parameter.userName}">
					</td>
				</tr>
				<tr>
					<th>장비상태</th>
					<td colspan="5">
						<div id="status">
							<input type="checkbox" id="total_chk" th:checked="${not #lists.isEmpty(parameter.statusList) and #lists.size(parameter.statusList) == #lists.size(DM02)-2}"> <label th:for="total_chk"><span class="txt_lb" th:text="전체"></span></label>
							<span th:each="item, index : ${DM02} " th:if="${item.code !='DM020001' && item.code !='DM020007'}">
								<input type="checkbox" name="statusList" th:id="${item.code}" th:value="${item.code}" th:checked="${not #lists.isEmpty(parameter.statusList) and (#lists.contains(parameter.statusList, item.code))}"> <label th:for="${item.code}"><span class="txt_lb" th:text="${item.codeName}"></span></label>
							</span>
						</div>
					</td>
				</tr>
			</table>
			<div class="search_btn">
				<button type="button" id="searchBtn" class="btn_type2">검색</button>
				<a href="#" id="resetBtn" class="btn_type1 ml5">초기화</a>
			</div>
		</div>
		<div class="widget">
			<div class="tit_wrap">
				<p class="total">총 <span id="totalCount">00</span>건</p>
				<div class="module_btn">
					<button type="button" id="addInstallDeviceBtn" class="btn_type1 add" th:if="${_userInfo.authRole != 'SC020004'}"><span></span>등록</button>
					<button type="button" id="excelDownloadBtn" class="btn_type1 excel"><span></span>엑셀 다운로드</button>
				</div>
			</div>
			<div id="installDeviceGrid"></div>
		</div>
	</form>
</div>
</html>