<!--
   Create By Lee DoWon on 2020-04-10 / 오후 4:15
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript" th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script th:src='@{/js/myPage/myCustomer/modifyMyCustomer.js(v=${timestamp})}' src="../../../js/mypage/myCustomer/modifyMyCustomer.js"></script>
</th:block>
<div data-layout-fragment="content">
	<!--/*@thymesVar id="customer" type="com.pharmcle.rms.domain.customer.Customer"*/-->
	<form id="myCustomerForm" autocomplete="off">
		<table class="tbtype">
			<colgroup>
				<col class="cper1500">
				<col class="cper3500">
				<col class="cper1500">
				<col class="cper3500">
			</colgroup>
			<tbody>
			<tr>
				<th>회사명</th>
				<td>
					<span th:text="${customer.customerName}"></span>
				</td>
				<th>사업자번호</th>
				<td>
					<div class="businesscode">
						<input type="text" name="number1" maxlength="3" class="wp40" th:value="${customer.businessNumberSplitText != null ? customer.businessNumberSplitText[0] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="number2" maxlength="2" class="wp40" th:value="${customer.businessNumberSplitText != null ? customer.businessNumberSplitText[1] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="number3" maxlength="5" class="wp60"th:value="${customer.businessNumberSplitText != null ? customer.businessNumberSplitText[2] : ''}">
					</div>
				</td>
			</tr>
			<tr>
				<th class="required">담당부서<span></span></th>
				<td>
					<input type="text" class="wp150" name="representName" th:value="${customer.representName}"/>
				</td>
				<th>계약기간</th>
				<td>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="contractStartDt" name="contractStartDt" type="text" aria-label="Date" th:value="${customer.contractStartDtText}">
						<span class="tui-ico-date"></span>
						<div id="contractStartDtWrapper"></div>
					</div><span class="hyphen">~
					</span><div class="tui-datepicker-input tui-datetime-input tui-has-focus">
					<input id="contractEndDt" name="contractEndDt" type="text" aria-label="Date" th:value="${customer.contractEndDtText}">
					<span class="tui-ico-date"></span>
					<div id="contractEndDtWrapper"></div>
				</div>
				</td>
			</tr>
			<tr>
				<th>대표 전화번호</th>
				<td>
					<div class="phonenum">
						<input type="text" name="phone1" maxlength="3" th:value="${customer.phoneSplitText != null ? customer.phoneSplitText[0] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="phone2" maxlength="4" th:value="${customer.phoneSplitText != null ? customer.phoneSplitText[1] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="phone3" maxlength="4" th:value="${customer.phoneSplitText != null ? customer.phoneSplitText[2] : ''}">
					</div>
				</td>
				<th>이메일</th>
				<td>
					<div class="email">
						<input type="text" name="emailId" maxlength="25" th:value="${customer.emailId}" class="wp150"><span class="hyphen">
						@</span>
						<input type="text" name="emailDomain" maxlength="25" th:value="${customer.emailDomain}" class="wp150">
						<select name="selectEmailDomain" maxlength="25" th:value="${customer.emailDomain}" class="ml5 wp150">
							<option value="">직접입력</option>
							<option th:each="item : ${SC04}" th:value="${item.codeName}" th:text="${item.codeName}" th:selected="${item.codeName} == ${customer.emailDomain}">
								이메일
							</option>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<th>주소</th>
				<td colspan="3">
					<button type="button" id="openSearchAddressPopup" class="btn_type3">우편번호 찾기
					</button><input type="text" id="address" name="address" maxlength="100" class="ml5 wp450" readonly th:value="${customer.address}">
					<input type="text" id="addressDetail" name="addressDetail" class="dp_block mt5 wp546" maxlength="100" th:value="${customer.addressDetail}">
				</td>
			</tr>
			</tbody>
		</table>
		<div class="button">
			<button type="button" class="btn_type2" id="saveBtn">저장</button>
			<button type="button" class="btn_type1" id="cancelBtn">취소</button>
		</div>
	</form>
	<div id="popupList"></div>
</div>
</html>