<!--
   Create By Lee DoWon on 2020-04-10 / 오후 4:15
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/myPage/myCustomer/myCustomer.js(v=${timestamp})}' src="../../../js/mypage/myCustomer/myCustomer.js"></script>
</th:block>
<div data-layout-fragment="content">
	<!--/*@thymesVar id="customer" type="com.pharmcle.rms.domain.customer.Customer"*/-->
	<form id="myInfoForm">
		<table class="tbtype">
			<colgroup>
				<col class="cper1500">
				<col class="cper3500">
				<col class="cper1500">
				<col class="cper3500">
			</colgroup>
			<tbody>
			<tr>
				<th>회사명</th>
				<td>
					<p th:text="${customer.customerName}"></p>
				</td>
				<th>사업자번호</th>
				<td>
					<p th:text="${customer.businessNumber}"></p>
				</td>
			</tr>
			<tr>
				<th>담당부서</th>
				<td>
					<p th:text="${customer.representName}"></p>
				</td>
				<th>계약기간</th>
				<td>
					<p th:text="${customer.contractPeriodText}"></p>
				</td>
			</tr>
			<tr>
				<th>대표 전화번호</th>
				<td>
					<p th:text="${customer.customerPhone}"></p>
				</td>
				<th>이메일</th>
				<td>
					<p th:text="${customer.emailText}"></p>
				</td>
			</tr>
			<tr>
				<th>주소</th>
				<td colspan="3">
					<p th:text="${customer.addressText}"></p>
				</td>
			</tr>
			</tbody>
		</table>
		<div class="button">
			<button type="button" class="btn_type2" id="modifyBtn">변경</button>
		</div>
	</form>
</div>
</html>