<!--
   Create By Lee DoWon on 2020-04-10 / 오후 4:15
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/myPage/myInfo/modifyMyInfo.js(v=${timestamp})}' src="../../../js/mypage/myInfo/modifyMyInfo.js"></script>
</th:block>
<div data-layout-fragment="content">
	<!--/*@thymesVar id="_userInfo" type="com.pharmcle.rms.domain.user.User"*/-->
	<form id="myInfoForm" autocomplete="off">
		<table class="tbtype">
			<colgroup>
				<col class="cper1500">
				<col class="cper3500">
				<col class="cper1500">
				<col class="cper3500">
			</colgroup>
			<tbody>
			<tr>
				<th>소속회사명</th>
				<td colspan="3">
					<span th:text="${_userInfo.customerName}"></span>
				</td>
			</tr>
			<tr>
				<th>아이디</th>
				<td>
					<span th:text="${_userInfo.userId}"></span>
				</td>
				<th class="required">이름<span></span></th>
				<td>
					<input type="text" name="name" class="wp150" maxlength="10" th:value="${_userInfo.name}">
				</td>
			</tr>
			<tr>
				<th class="required">휴대폰번호<span></span></th>
				<td>
					<div class="phonenum">
						<select name="phone1" class="wp80">
							<option value="">선택</option>
							<option th:each="item : ${SC06}" th:value="${item.codeName}" th:text="${item.codeName}" th:selected="${_userInfo.phoneSplitText != null ? item.codeName == _userInfo.phoneSplitText[0] : item.codeName ==''}">
								전화번호
							</option>
						</select>
						<span class="hyphen">-</span>
						<input type="text" name="phone2" maxlength="4" th:value="${_userInfo.phoneSplitText != null ? _userInfo.phoneSplitText[1] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="phone3" maxlength="4" th:value="${_userInfo.phoneSplitText != null ? _userInfo.phoneSplitText[2] : ''}">
					</div>
				</td>
				<th>전화번호</th>
				<td>
					<div class="phonenum">
						<input type="text" name="telephone1" maxlength="3" th:value="${_userInfo.telephoneSplitText != null ? _userInfo.telephoneSplitText[0] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="telephone2" maxlength="4" th:value="${_userInfo.telephoneSplitText != null ? _userInfo.telephoneSplitText[1] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="telephone3" maxlength="4" th:value="${_userInfo.telephoneSplitText != null ? _userInfo.telephoneSplitText[2] : ''}">
					</div>
				</td>
			</tr>
			<tr>
				<th>이메일</th>
				<td>
					<div class="email">
						<input type="text" name="emailId" maxlength="25" th:value="${_userInfo.emailId}">
						<span class="hyphen">@</span>
						<input type="text" name="emailDomain" maxlength="25" th:value="${_userInfo.emailDomain}">
						<select name="selectEmailDomain">
							<option value="">직접입력</option>
							<option th:each="item : ${SC04}" th:value="${item.codeName}" th:text="${item.codeName}" th:selected="${item.codeName} == ${_userInfo.emailDomain}">
								이메일
							</option>
						</select>
					</div>
				</td>
				<th>직급</th>
				<td>
					<select name="rank" class="wp150">
						<option value="">선택</option>
						<option th:each="item : ${SD11}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == _userInfo.rank}">
							직급
						</option>
					</select>
				</td>
			</tr>
			</tbody>
		</table>
		<div class="button">
			<button type="button" class="btn_type2" id="saveBtn">저장</button>
			<button type="button" class="btn_type1" id="cancelBtn">취소</button>
		</div>
	</form>
</div>
</html>