<!--
   Create By Lee DoWon on 2020-04-10 / 오후 4:15
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/myPage/myInfo/myInfo.js(v=${timestamp})}' src="../../../js/mypage/myInfo/myInfo.js"></script>
</th:block>
<div data-layout-fragment="content">
	<!--/*@thymesVar id="_userInfo" type="com.pharmcle.rms.domain.user.User"*/-->
	<form id="myInfoForm">
		<table class="tbtype">
			<colgroup>
				<col class="cper1500">
				<col class="cper3500">
				<col class="cper1500">
				<col class="cper3500">
			</colgroup>
			<tbody>
			<tr>
				<th>소속회사명</th>
				<td colspan="3">
					<p th:text="${_userInfo.customerName}"></p>
				</td>
			</tr>
			<tr>
				<th>아이디</th>
				<td>
					<p th:text="${_userInfo.userId}"></p>
				</td>
				<th>이름</th>
				<td>
					<p th:text="${_userInfo.name}"></p>
				</td>
			</tr>
			<tr>
				<th>휴대폰번호</th>
				<td>
					<p th:text="${_userInfo.phone}"></p>
				</td>
				<th>전화번호</th>
				<td>
					<p th:text="${_userInfo.telephone}"></p>
				</td>
			</tr>
			<tr>
				<th>이메일</th>
				<td>
					<p th:text="${_userInfo.emailText}"></p>
				</td>
				<th>직급</th>
				<td>
					<p th:text="${_userInfo.rankText}"></p>
				</td>
			</tr>
			</tbody>
		</table>
		<div class="button">
			<button type="button" class="btn_type2" id="modifyBtn">변경</button>
		</div>
	</form>
</div>
</html>