<!--
   Create By Lee DoWon on 2020-02-17 / 오후 4:15
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script type="text/javascript"
			th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script th:src='@{/js/home/customerDashboard.js(v=${timestamp})}' src="../../../js/home/customerDashboard.js"></script>

</th:block>
<div data-layout-fragment="content">
	<div class="dash_tit">
		<div class="user_info">
			<p th:text="'[' + ${_userInfo.customerName} + ']'"></p>
			<p th:text="'안녕하세요. ' + ${_userInfo.name}+'님'"></p>
			<a href="/myPage/myInfo/myInfo" class="btn_type2">개인정보 수정</a>
		</div>
		<div class="menual">
			<a class="ic_complain_enter" href="#"><i></i>민원처리</a>
			<a class="ic_menual" href="/temp/RMS%20관제시스템%20매뉴얼_거래처.pdf" target="_blank"><i></i>사용 매뉴얼</a>
			<a class="ic_faq" href="/home/faq/faqList"><i></i>FAQ</a>
		</div>
	</div>
	<ul class="display col3">

		<li>
			<div class="info_sate">
				<p class="sub_tit">설치장소</p>
				<p class="counting"><span th:text="${totalCnt.locationCnt} + '장소'"></span></p>
				<span class="ic_state ic_set"></span>
			</div>
		</li>
		<li>
			<div class="info_sate">
				<p  class="sub_tit">설치장비수</p>
				<p class="counting"><span th:text="${totalCnt.installCnt} + '대'"></span></p>
				<span class="ic_state ic_count"></span>
			</div>
		</li>
		<li>
			<div class="info_sate">
				<p class="sub_tit">민원처리 / 신청</p>
				<p class="counting"><span th:text="${complainHandleCnt} + '건 / ' + ${complainTotalCnt} + '건'"></span></p>
				<span class="ic_state ic_complain"></span>
			</div>
		</li>
	</ul>
	<!--/*@thymesVar id="customer" type="com.pharmcle.rms.domain.customer.Customer"*/-->
	<div class="widget">
		<div class="tit_wrap">
			<h3>장비 설치장소</h3>
			<div class="module_btn">
				<span class="txt">
				영업담당자 : <span th:text="${customer.salesUserName}"></span>
				 <span th:if="${not #strings.isEmpty(customer.salesUserPhone)}" th:text="'(' + ${customer.salesUserPhone} + ')'">(010-0000-0000)</span>
					</span>
			</div>
		</div>
		<div class="scr_box">
			<div class="scr_head">
				<table class="tbtype list">
					<colgroup>
						<col class="cper1050">
						<col class="cperauto">
						<col class="cper2250">
						<col class="cper1050">
						<col class="cper1050">
						<col class="cper1050">
						<col class="cper1050">
					</colgroup>
					<thead>
					<th>상태</th>
					<th>설치장소</th>
					<th>계약기간</th>
					<th>장비수</th>
					<th>보수담당자</th>
					<th>포집율</th>
					<th>유지보수내역</th>
					</thead>
				</table>
			</div>
			<div class="scr_body h228">
				<div id="locationTable">
					<table class="tbtype list">
						<colgroup>
							<col class="cper1050">
							<col class="cperauto">
							<col class="cper2250">
							<col class="cper1050">
							<col class="cper1050">
							<col class="cper1050">
							<col class="cper1050">
						</colgroup>

						<tbody>
						<tr th:if="${#lists.isEmpty(locationList)}">
							<td class="t_center" colspan="7"> 등록된 설치장소가 없습니다.</td>
						</tr>
						<!--/*@thymesVar id="location" type="com.pharmcle.rms.domain.location.Location"*/-->
						<tr th:each="location : ${locationList}">
							<td class="t_center"><span th:text="${location.contractStatusText}"></span></td>
							<td><a th:href="@{/customer/location/locationList(locationName= ${location.locationName})}" th:text="${location.locationName}"></a></td>
							<td class="t_center"><span th:text="${location.contractPeriodText}"></span></td>
							<td class="t_right"><span th:text="${#numbers.formatInteger(location.deviceCnt, 0, 'COMMA')}"></span></td>
							<td class="t_center"><span th:text="${location.asUserName}"></span></td>
							<td class="t_center"><span th:if="${location.cntVolume > 0}" th:class="${'ic_filter ' + location.volumeState}" th:text="${location.volumeStateText + ' ' + location.avgVolume + '%'}"></span>
							</td>
							<td class="t_center">
								<button class="btn_report" type="button"></button>
								<input type="hidden" name="locationSeq" th:value="${location.locationSeq}">
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="widget">
		<div class="tit_wrap">
			<h3>모니터링</h3>
			<div class="module_btn">
<!--				<span class="txt">마지막 데이터 수신 : <span></span></span>-->
			</div>
		</div>

		<ul class="infobd">
			<li>
				<div class="info_sate">
					<span class="ic_state b01"></span>
					<p class="subtit">전원ON/정상</p>
					<p class="counting"><span id="GOOD_QTY"></span></p>
				</div>
			</li>
			<li>
				<div class="info_sate">
					<span class="ic_state b02"></span>
					<span class="subtit">전원ON/알람</span>
					<p class="counting"><span id="BAD_QTY"></span></p>
				</div>
			</li>
			<li>
				<div class="info_sate">
					<span class="ic_state b03"></span>
					<span class="subtit">전원OFF</span>
					<p class="counting"><span id="STOP_QTY"></span></p>
				</div>
			</li>
			<li>
				<div class="info_sate">
					<span class="ic_state b04"></span>
					<span class="subtit">통신ON</span>
					<p class="counting"><span id="RELAYON_QTY"></span></p>
				</div>
			</li>
			<li>
				<div class="info_sate">
					<span class="ic_state b05"></span>
					<span class="subtit">통신OFF</span>
					<p class="counting"><span id="RELAYOFF_QTY"></span></p>
				</div>
			</li>
			<li>
				<div class="info_sate">
					<span class="ic_state b06"></span>
					<span class="subtit">일반</span>
					<p class="counting"><span id="NOMAL_QTY"></span></p>
				</div>
			</li>
		</ul>
		<div class="wrap_grid w2_8d mt15">
			<div class="colA">
				<div id="list-loading">
					<div class="loading"></div>
					<div class="dimmed"></div>
				</div>
				<div class="article" style="overflow-y: scroll; height:480px;" id="scrollDiv">
					<div class="g_search">
							<span class="cate">
								<select id="locationSelect" class="wp200" name="locationSeq">
									<option value="0">전체</option>
									<option th:each="loc : ${locationList}" th:value="${loc.locationSeq}"
											th:text="${loc.locationName}"
											th:attr="data-lat=${loc.locationLatitude}, data-lng=${loc.locationLongitude}"></option>
								</select>
							</span>
						<select id="deviceSelect" class="wp200" name="deviceMstSeq">
							<option value="0">전체</option>
							<option th:each="devMst : ${deviceMasterList}" th:value="${devMst.deviceMstSeq}"
									th:text="${devMst.deviceNameText}"></option>
						</select>
					</div>
					<p class="total ml10">총 <span id="deviceListCnt">0</span>건</p>
					<ul class="monitor_list" id="deviceList"><!-- id="deviceList"-->
					</ul>
				</div>
			</div>
			<div class="colB">
				<div class="article" style=" position:relative;height:480px;overflow:hidden;">
					<div id="allViewMap" style="height:480px;overflow:hidden;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap_grid col3 mt30">
		<div class="colCm">
			<div class="colA">
				<div class="article">
					<div class="arti_body">
						<div class="head">
							<h3>공지사항</h3>
							<a href="/home/notice/noticeList" class="btn_more"></a>
						</div>
						<ul>
							<!--/*@thymesVar id="notice" type="com.pharmcle.rms.domain.board.Board"*/-->
							<li th:each="notice : ${noticeList}">
								<a th:href="@{/home/notice/noticeDetail(boardSeq=${notice.boardSeq})}" th:text="${notice.title}"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="colB">
				<div class="article">
					<div class="arti_body">
						<div class="head">
							<h3>지식인</h3>
							<a href="/home/archive/archiveList"  class="btn_more"></a>

						</div>
						<ul>
							<li th:each="notice : ${archiveList}">
								<a th:href="@{/home/archive/archiveDetail(boardSeq=${notice.boardSeq})}" th:text="${notice.title}"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<div class="colC">
			<div class="cscenter">
				<img src="/img/common/cscenter.png">
			</div>
			<div class="article">
				<a href="https://www.zaps.co.kr/shop/detail.php?pno=6E2713A6EFEE97BACB63E52C54F0ADA0&rURL=https%3A%2F%2Fwww.zaps.co.kr%2Fshop%2Fbig_section.php%3Fcno1%3D1026&ctype=1&cno1=1026" target="_blank"><img src="/img/common/ad01.png"></a>
			</div>
		</div>
	</div>
	<p class="copyright">Copyright © pharmcle. All rights reserved.</p>

	<div id="popupList"></div>
	<div id="popupList2"></div>
</div>
</html>