<!--
   Create By Lee DoWon on 2020-02-17 / 오후 4:15
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script type="text/javascript"
			th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script th:src='@{/js/home/dashboard.js(v=${timestamp})}' src="../../../js/home/dashboard.js"></script>
</th:block>
<div data-layout-fragment="content">
	<div class="main_layout">
		<div class="dash_tit">
			<div class="user_info">
				<p th:text="${_userInfo.customerName}"></p>
				<p>안녕하세요. <span th:text="${_userInfo.name}"></span>님</p>
				<a href="/myPage/myInfo/myInfo" class="btn_type2">개인정보 수정</a>
				<a href="/todo/todo/todoList" class="ic_todo"><i></i>TO-DO <span th:text="${todoCount}">0</span></a>
			</div>
			<div class="menual">
				<a href="/temp/RMS%20관제시스템%20매뉴얼.pdf" class="ic_menual" target="_blank"><i></i>사용 매뉴얼</a>
				<a href="/home/faq/faqList" class="ic_faq"><i></i>FAQ</a>
			</div>
		</div>
		<ul class="display">
			<li>
				<a href="/customer/customer/customerList">
					<div class="info_sate">
						<p class="sub_tit">거래처 수</p>
						<p class="counting">
							<span
								th:text="${#numbers.formatInteger(totalCnt.customerCnt, 0, 'COMMA') + '건'}">150,000</span>
						</p>
						<span class="ic_state ic_shop"></span>
					</div>
				</a>
			</li>
			<li>
				<a href="/customer/location/locationList">
					<div class="info_sate">
						<p class="sub_tit">설치장소</p>
						<p class="counting">
							<span th:text="${#numbers.formatInteger(totalCnt.locationCnt, 0, 'COMMA') + '장소'}"></span>
						</p>
						<span class="ic_state ic_set"></span>
					</div>
				</a>
			</li>
			<li>
				<a href="/install/installDevice/installDeviceList">
					<div class="info_sate">
						<p class="sub_tit">설치장비수</p>
						<p class="counting">
							<span
								th:text="${#numbers.formatInteger(totalCnt.installCnt, 0, 'COMMA') + '대'}">15,000</span>
						</p>
						<span class="ic_state ic_count"></span>
					</div>
				</a>
			</li>
			<li>
				<a href="/manage/complain/complainList">
					<div class="info_sate">
						<p class="sub_tit">민원처리 / 신청</p>
						<p class="counting">
							<span
								th:text="${#numbers.formatInteger(totalCnt.complainHandleCnt, 0, 'COMMA') + '건'}">3건</span>
							/ <span
							th:text="${#numbers.formatInteger(totalCnt.complainTotalCnt, 0, 'COMMA') + '건'}"></span>
						</p>
						<span class="ic_state ic_complain"></span>
					</div>
				</a>
			</li>
		</ul>
		<div class="wrap_grid mt30">
			<div class="colA">
				<div class="tit_wrap">
					<h3>월별 장비현황</h3>
				</div>
				<div class="article">
					<div class="arti_body">
						<div id="monthChart"></div>
					</div>
				</div>
			</div>
			<div class="colB">
				<div class="tit_wrap">
					<h3>거래처별 현황</h3>
				</div>
				<div class="article">
					<div class="arti_body">

						<div id="customerChart">

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="widget">
			<div class="tit_wrap">
				<h3>지역별 관리 현황</h3>
				<div class="module_btn"><span class="txt currentYear">(2020년)</span></div>
			</div>
			<div class="scr_box">
				<div class="scr_head">
					<table class="tbtype list">
						<colgroup>
							<col class="cper">
							<col class="cper">
							<col class="cper">
							<col class="cper">
							<col class="cper">
							<col class="cper">
							<col class="cper">
							<col class="cper">
							<col class="cper">
						</colgroup>
						<thead>
						<tr>
							<th rowspan="2">구분</th>
							<th rowspan="2">거래처 수</th>
							<th rowspan="2">설치장소 수</th>
							<th colspan="4">설치장비 수</th>
							<th rowspan="2">유지보수</th>
							<th rowspan="2">민원처리/신청</th>
						</tr>
						<tr>
							<th class="blline">설치</th>
							<th>탈거</th>
							<th>폐기</th>
							<th class="norline">분실</th>
						</tr>
						</thead>

					</table>
				</div>
				<div class="scr_body h228">
					<table class="tbtype list">
						<colgroup>
							<col class="cper">
							<col class="cper">
							<col class="cper">
							<col class="cper">
							<col class="cper">
							<col class="cper">
							<col class="cper">
							<col class="cper">
							<col class="cper">
						</colgroup>

						<tbody>
						<tr th:each="item : ${areaCntList}">
							<th class="t_center">
								<p th:text="${item.areaText}">서울</p></th>
							<td class="t_right"><p th:text="${#numbers.formatInteger(item.customerCnt, 0, 'COMMA')}">
								15</p></td>
							<td class="t_right"><p th:text="${#numbers.formatInteger(item.locationCnt, 0, 'COMMA')}">
								200</p></td>
							<td class="t_right"><p
								th:text="${#numbers.formatInteger(item.dm020002 + item.dm020004, 0, 'COMMA')}">15</p>
							</td>
							<td class="t_right"><p th:text="${#numbers.formatInteger(item.dm020003, 0, 'COMMA')}">0</p>
							</td>
							<td class="t_right"><p th:text="${#numbers.formatInteger(item.dm020005, 0, 'COMMA')}">0</p>
							</td>
							<td class="t_right"><p th:text="${#numbers.formatInteger(item.dm020006, 0, 'COMMA')}">0</p>
							</td>
							<td class="t_right"><p th:text="${#numbers.formatInteger(item.maintainCnt, 0, 'COMMA')}">
								15</p></td>
							<td class="t_right"><p
								th:text="${#numbers.formatInteger(item.complainHandleCnt, 0, 'COMMA')  + '/' + #numbers.formatInteger(item.complainTotalCnt, 0, 'COMMA')}">
								15</p></td>
						</tr>

						<tr>
							<th class="t_center"><p>소계</p></th>
							<td class="t_right"><p
								th:text="${#numbers.formatInteger(#aggregates.sum(areaCntList.![customerCnt]), 0, 'COMMA')}">
								15</p></td>
							<td class="t_right"><p
								th:text="${#numbers.formatInteger(#aggregates.sum(areaCntList.![locationCnt]), 0, 'COMMA')}">
								200</p></td>
							<td class="t_right"><p
								th:text="${#numbers.formatInteger((#aggregates.sum(areaCntList.![dm020002]) + #aggregates.sum(areaCntList.![dm020004])), 0, 'COMMA')}">
								15</p></td>
							<td class="t_right"><p
								th:text="${#numbers.formatInteger(#aggregates.sum(areaCntList.![dm020003]), 0, 'COMMA')}">
								0</p></td>
							<td class="t_right"><p
								th:text="${#numbers.formatInteger(#aggregates.sum(areaCntList.![dm020005]), 0, 'COMMA')}">
								0</p></td>
							<td class="t_right"><p
								th:text="${#numbers.formatInteger(#aggregates.sum(areaCntList.![dm020006]), 0, 'COMMA')}">
								0</p></td>
							<td class="t_right"><p
								th:text="${#numbers.formatInteger(#aggregates.sum(areaCntList.![maintainCnt]), 0, 'COMMA')}">
								15</p></td>
							<td class="t_right"><p
								th:text="${#numbers.formatInteger(#aggregates.sum(areaCntList.![complainHandleCnt]), 0, 'COMMA') + '/' + #numbers.formatInteger(#aggregates.sum(areaCntList.![complainTotalCnt]), 0, 'COMMA')}">
								15</p></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="widget">
			<div class="tit_wrap">
				<h3>담당자별 관리현황</h3>
				<span th:if="${_userInfo.customerType != 'CM010001'}">
					<input type="radio" id="manage_all" name="customerType" checked value="">
					<label for="manage_all" class="ml10"><span class="txt_lb">전체</span></label>
					<input type="radio" id="manage_shop" name="customerType" value="CM010001">
					<label for="manage_shop" class="ml10"><span class="txt_lb">대리점보기</span></label>
				</span>
				<div class="module_btn"><span class="txt currentYear">(2020년)</span></div>
			</div>
			<div class="scr_box">
				<div class="scr_head">
					<table class="tbtype list">
						<colgroup>
							<col class="cper1500">
							<col class="cper1500">
							<col class="cper1500">
							<col class="cper1500">
							<col class="cper1500">
							<col class="cper1500">
							<col class="cper1500">
							<col class="cper1500">
						</colgroup>
						<thead>
						<th>담당</th>
						<th>소속</th>
						<th>성명</th>
						<th>거래처</th>
						<th>현장수</th>
						<th>설치장비수</th>
						<th>유지보수</th>
						<th>민원처리/신청</th>
						</thead>
					</table>
				</div>
				<div class="scr_body h228">
					<table class="tbtype list">
						<colgroup>
							<col class="cper1500">
							<col class="cper1500">
							<col class="cper1500">
							<col class="cper1500">
							<col class="cper1500">
							<col class="cper1500">
							<col class="cper1500">
							<col class="cper1500">
						</colgroup>

						<tbody id="userList">
						<tr th:each="user : ${userList}" th:class="${user.customerType}">
							<td class="t_center"><span th:text="${user.authRoleText}"></span></td>
							<td class="t_center"><span th:text="${user.customerName}"></span></td>
							<td class="t_center"><span th:text="${user.name}"></span></td>
							<td class="t_right"><span
								th:text="${#numbers.formatInteger(user.customerCnt, 0, 'COMMA')}"></span></td>
							<td class="t_right"><span
								th:text="${#numbers.formatInteger(user.locationCnt, 0, 'COMMA')}"></span></td>
							<td class="t_right"><span
								th:text="${#numbers.formatInteger(user.installCnt, 0, 'COMMA')}"></span></td>
							<td class="t_right"><span
								th:text="${#numbers.formatInteger(user.maintainCnt, 0, 'COMMA')}"></span></td>
							<td class="t_right"><span
								th:text="${#numbers.formatInteger(user.complainHandleCnt, 0, 'COMMA') + '/' + #numbers.formatInteger(user.complainTotalCnt, 0, 'COMMA')}"></span>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="widget">
			<div class="tit_wrap">
				<h3>모니터링</h3>
				<div class="module_btn">
					<!-- <span class="txt">마지막 데이터 수신 : <span></span></span> -->
				</div>
			</div>
			<ul class="infobd">
				<li>
					<div class="info_sate">
						<span class="ic_state b01"></span>
						<p class="subtit">전원ON/정상</p>
						<p class="counting"><span id="GOOD_QTY"></span></p>
					</div>
				</li>
				<li>
					<div class="info_sate">
						<span class="ic_state b02"></span>
						<span class="subtit">전원ON/알람</span>
						<p class="counting"><span id="BAD_QTY"></span></p>
					</div>
				</li>
				<li>
					<div class="info_sate">
						<span class="ic_state b03"></span>
						<span class="subtit">전원OFF</span>
						<p class="counting"><span id="STOP_QTY"></span></p>
					</div>
				</li>
				<li>
					<div class="info_sate">
						<span class="ic_state b04"></span>
						<span class="subtit">통신ON</span>
						<p class="counting"><span id="RELAYON_QTY"></span></p>
					</div>
				</li>
				<li>
					<div class="info_sate">
						<span class="ic_state b05"></span>
						<span class="subtit">통신OFF</span>
						<p class="counting"><span id="RELAYOFF_QTY"></span></p>
					</div>
				</li>
				<li>
					<div class="info_sate">
						<span class="ic_state b06"></span>
						<span class="subtit">일반</span>
						<p class="counting"><span id="NOMAL_QTY"></span></p>
					</div>
				</li>
			</ul>
			<div class="wrap_grid w2_8d mt15">
				<div class="colA">
					<div class="article" style="overflow-y: scroll; height:480px;" id="scrollDiv">
						<div id="list-loading">
							<div class="loading"></div>
							<div class="dimmed"></div>
						</div>
						<div class="g_search">
								<select id="locationSelect" class="wp220" name="locationSeq">
									<option value="0">전체</option>
									<option th:each="loc : ${locationList}" th:value="${loc.locationSeq}"
											th:text="${loc.locationName}"
											th:attr="data-lat=${loc.locationLatitude}, data-lng=${loc.locationLongitude}"></option>
								</select>

							<select id="deviceSelect" class="wp220" name="deviceMstSeq">
								<option value="0">전체</option>
								<option th:each="devMst : ${deviceMasterList}" th:value="${devMst.deviceMstSeq}"
										th:text="${devMst.deviceNameText}"></option>
							</select>
						</div>
						<p class="total ml10">총 <span id="deviceListCnt">0</span>건</p>
						<ul class="monitor_list" id="deviceList"><!-- id="deviceList"-->
						</ul>
					</div>
				</div>
				<div class="colB">
					<div class="article" style=" position:relative;height:480px;overflow:hidden;">
						<div id="allViewMap" style="height:480px;overflow:hidden;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap_grid col3 mt30">
			<div class="colCm">
				<div class="colA">
					<div class="article">
						<div class="arti_body">
							<div class="head">
								<h3>공지사항</h3>
								<a href="/home/notice/noticeList" class="btn_more"></a>
							</div>
							<ul>
								<!--/*@thymesVar id="notice" type="com.pharmcle.rms.domain.board.Board"*/-->
								<li th:each="notice : ${noticeList}">
									<a th:href="@{/home/notice/noticeDetail(boardSeq=${notice.boardSeq})}"
									   th:text="${notice.title}"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="colB">
					<div class="article">
						<div class="arti_body">
							<div class="head">
								<h3>지식인</h3>
								<a href="/home/archive/archiveList" class="btn_more"></a>

							</div>
							<ul>
								<li th:each="notice : ${archiveList}">
									<a th:href="@{/home/archive/archiveDetail(boardSeq=${notice.boardSeq})}"
									   th:text="${notice.title}"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="colC">
				<div class="cscenter">
					<img src="/img/common/cscenter.png">
				</div>
				<div class="article">
					<a href="https://www.zaps.co.kr/shop/detail.php?pno=6E2713A6EFEE97BACB63E52C54F0ADA0&rURL=https%3A%2F%2Fwww.zaps.co.kr%2Fshop%2Fbig_section.php%3Fcno1%3D1026&ctype=1&cno1=1026"
					   target="_blank">
						<img src="/img/common/ad01.png">
					</a>
				</div>
			</div>
		</div>
		<p class="copyright">Copyright © pharmcle. All rights reserved.</p>
	</div>
</div>
</html>