<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->

<div lang="ko" xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 data-layout-decorate="~{include/popupLayout}">

	<div data-layout-fragment="content">
		<form id="searchLocationForm">
			<div class="searchbox">
				<!--/*@thymesVar id="location" type="com.pharmcle.rms.domain.location.Location"*/-->
				<table>
					<colgroup>
						<col class="cper2500">
						<col class="cper2500">
						<col class="cper1500">
						<col class="cper1500">
						<col class="cper1500">
					</colgroup>
					<thead>
						<th>설치장소</th>
						<th>계약기간</th>
						<th>장비수</th>
						<th>보수담당자</th>
						<th>포집율</th>
					</thead>
					<tbody>
					<tr>
						<td><span th:text="${location.locationName}"></span></td>
						<td class="t_center"><span th:text="${location.contractStatusText}"></span></td>
						<td class="t_right"><span th:text="${location.deviceCnt}"></span></td>
						<td class="t_center"><span th:text="${location.asUserName}"></span></td>
						<td class="t_center"><span>10</span></td>
					</tr>
					</tbody>
				</table>
				<div class="search_btn">
					<button type="button" id="searchLocationBtn" class="btn_type2">검색</button>
				</div>
			</div>
		</form>
		<div class="widget">
			<p class="total">총 <span id="locationTotalCount"></span>건</p>
			<div id="locationGrid"></div>
		</div>
	</div>
</div>