<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:37
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<div data-layout-fragment="content">

	<form method="post" id="sendMailPage">
		<div class="page">
			<div class="tit_wrap">
				<div class="module_btn" >
					<button type="button" class="btn_type1 mail" id="send"><span></span>발송</button>
				</div>
			</div>
		</div>

		<table class="tbtype">
			<colgroup>
				<col class="cper1250">
				<col class="cper3750">
				<col class="cper1250">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th class="required">받는사람<span></span></th>
				<td colspan="3">
					<input type="text" class="cper100p" id="mailTo" name="mailTo"/>
				</td>
			</tr>
			<tr>
				<th>제목</th>
				<td colspan="3"><input type="text" class="cper100p" id="mailTitle" name="mailTitle"/></td>
			</tr>
			</tbody>
		</table>

		<div class="page" th:each="device, index : ${deviceList}">
			<div class="tit_wrap" th:if="${index.index == 0}">
				<input type="hidden" id="locationSeq" name="locationSeq" th:value="${device.locationSeq}" />
				<input type="hidden" id="deviceSeq" name="deviceSeq" th:value="${device.deviceSeq}" />
				<input type="hidden" id="gbn" name="gbn" value="dashBoard" />

				<!--메일 내용 영역-->
				<div class="mail_txt">
					<span>안녕하세요</span></br>
					<span th:text="${device.customerName}"></span> <span th:text="${device.chargeName}"></span> <span> 담당자님,</span> </br>
					<span th:text="${device.locationName}"></span> <span> 유지보수 보고서 내용을 전달드립니다.</span>
				</div>
				<!--메일 내용 영역-->

			</div>

			<!--/*@thymesVar id="device" type="com.pharmcle.rms.domain.device.Device"*/-->
			<table class="tbtype">
				<colgroup>
					<col class="cper1250">
					<col class="cper3750">
					<col class="cper1250">
					<col class="cperauto">
				</colgroup>
				<tbody>
				<tr>
					<th class="brline">장비번호</th>
					<td class="brline"><span th:text="${device.deviceId}"></span></td>
					<th class="brline">장비명</th>
					<td><span th:text="${device.deviceNameText}"></span></td>
				</tr>
				<tr>
					<th class="brline">설치일</th>
					<td class="brline"><span th:text="${device.installDtKoreanText}"></span></td>
					<th class="brline">관리번호</th>
					<td><span th:text="${device.manageNo}"></span></td>
				</tr>
				<tr>
					<th class="brline">설치장소</th>
					<td class="brline"><span th:text="${device.locationName}"></span></td>
					<th class="brline">가로등번호</th>
					<td><span th:text="${device.lampNo}"></span></td>
				</tr>
				<tr>
					<th class="brline">판매사</th>
					<td class="brline"><span th:text="${device.asCustomerName}"></span></td>
					<th class="brline">보수담당자</th>
					<td><span th:text="${device.asUserName}"></span>
						( 전화번호 : <span th:text="${device.asUserPhone}"></span> ,휴대폰 :<span
							th:text="${device.asUserTelephone}"></span> )
					</td>
				</tr>
				<tr>
					<th class="brline">설치사진</th>
					<td colspan="3">
						<div class="imgbox">
							<div class="imgwrap"
							     th:if="${device.beforeUploadFileKey != null && #lists.size(device.beforeUploadFileKey) > 0}">
								<img th:src="@{/uploadFile/api/download/{key}(key = ${device.beforeUploadFileKey[0]})}">
							</div>
							<div class="imgwrap"
							     th:if="${device.afterUploadFileKey != null && #lists.size(device.afterUploadFileKey) > 0}">
								<img th:src="@{/uploadFile/api/download/{key}(key = ${device.afterUploadFileKey[0]})}">
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<th colspan="4" class="t_center brline">관리내역</th>
				</tr>
				<tr>
					<th class="t_center blline">설치일</th>
					<th colspan="2" class="blline t_center">점검내용</th>
					<th class="blline brline t_center">비고</th>
				</tr>
				<tr th:each="maintain : ${device.maintainList}">
					<td class="t_center blline"><span th:text="${maintain.regDtText}"></span></td>
					<td colspan="2" class=" blline">
						<p th:text="${maintain.maintainNoString} + ' ' + ${maintain.maintainTypeTextConcat}"></p>
						<span th:text="${maintain.content}"></span>
					</td>
					<td class="blline"><span></span></td>
				</tr>
				<tr th:if="${#lists.isEmpty(device.maintainList)}">
					<td colspan="4" class="blline t_center"><p class="no-data"><span>등록된 유지보수내역이 없습니다.</span></p></td>
				</tr>
				</tbody>
			</table>
		</div>
	</form>
</div>
</html>