<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/install/installRequest/installRequestList.js(v=${timestamp})}' src="../../../js/install/installRequest/installRequestList.js"></script>
</th:block>
<div data-layout-fragment="content">
	<form id="searchForm" autocomplete="off">
		<div class="searchbox">
			<table>
				<colgroup>
					<col class="cper1050">
					<col class="cper2000">
					<col class="cper1050">
					<col class="cper2800">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tr>
					<th>기간</th>
					<td colspan="5">
						<select name="dateType" class="wp130">
							<option value="">선택</option>
							<option th:each="item : ${IM04}" th:value="${item.code}" th:text="${item.codeName}"
							        th:selected="${parameter.dateType  == item.code}">
								설치일
							</option>
						</select>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus ml5">
							<input id="searchStartDate" name="searchStartDate" type="text" aria-label="Date" th:value="${parameter.searchStartDate}"/>
							<span class="tui-ico-date"></span>
							<div id="searchStartDateWrapper"></div>
						</div>
						<span class="hyphen">~</span>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="searchEndDate" name="searchEndDate" type="text" aria-label="Date" th:value="${parameter.searchEndDate}">
							<span class="tui-ico-date"></span>
							<div id="searchEndDateWrapper"></div>
						</div>
						<button type="button" id="dateBtn1" class="btn_type3 ml7">당일</button>
						<button type="button" id="dateBtn2" class="btn_type3 ml7">7일전</button>
						<button type="button" id="dateBtn3" class="btn_type3 ml7">1개월전</button>
						<button type="button" id="dateBtn4" class="btn_type3 ml7">3개월전</button>
					</td>
				</tr>
				<tr>
					<th>설치구분</th>
					<td>
						<div id="installRequestType">
							<input type="checkbox" id="total_chk1" th:checked="${not #lists.isEmpty(parameter.installRequestTypeList) and #lists.size(parameter.installRequestTypeList) == #lists.size(IM06)}">
							<label th:for="total_chk1"><span class="txt_lb" th:text="전체"></span></label>
							<span th:each="item, index : ${IM06} ">
								<input type="checkbox" name="installRequestTypeList" th:id="${item.code}" th:value="${item.code}"
								       th:checked="${not #lists.isEmpty(parameter.installRequestTypeList) and (#lists.contains(parameter.installRequestTypeList, item.code))}">
								<label th:for="${item.code}"><span class="txt_lb" th:text="${item.codeName}"></span></label>
							</span>
						</div>
					</td>
					<th>장비명</th>
					<td>
						<input type="text" name="deviceName" class="cper100p" th:value="${parameter.deviceName}"/>
					</td>
					<th>지역</th>
					<td>
						<select name="locationAreaList" class="wp130">
							<option value="">전체</option>
							<option th:each="item : ${SC03}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.locationArea}">
								서울
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>설치장소</th>
					<td>
						<input type="text" name="locationName" class="cper100p" th:value="${parameter.locationName}">
					</td>
					<th>거래처</th>
					<td>
						<select name="customerType" class="wp120">
							<option value="">전체</option>
							<option th:each="item : ${CM01}" th:value="${item.code}" th:text="${item.codeName}"
							        th:selected="${parameter.customerType == item.code}">
								대리점
							</option>
						</select>
						<input name="customerName" type="text" class="ml7 wp200" th:value="${parameter.customerName}">
					</td>
					<th>담당자</th>
					<td>
						<select name="userType">
							<option value="">전체</option>
							<option th:each="item : ${IM02}" th:value="${item.code}" th:text="${item.codeName}"
							        th:selected="${parameter.userType == item.code}">
								거래처 담당
							</option>
						</select>
						<input type="text" name="userName" class="wp98 ml7" th:value="${parameter.userName}">
					</td>
				</tr>
				<tr>
					<th>상태</th>
					<td colspan="5">
						<div id="status">
							<input type="checkbox" id="total_chk2" th:checked="${not #lists.isEmpty(parameter.statusList) and #lists.size(parameter.statusList) == #lists.size(IM05)}">
							<label th:for="total_chk2"><span class="txt_lb" th:text="전체"></span></label>
							<span th:each="item, index : ${IM05}">
								<input type="checkbox" name="statusList" th:id="${item.code}" th:value="${item.code}" th:checked="${not #lists.isEmpty(parameter.statusList) and (#lists.contains(parameter.statusList, item.code))}">
								<label th:for="${item.code}"><span class="txt_lb" th:text="${item.codeName}"></span></label>
							</span>
						</div>
					</td>
				</tr>
			</table>

			<div class="search_btn">
				<button type="button" id="searchBtn" class="btn_type2">검색</button>
				<a href="#" id="resetBtn" class="btn_type1 ml5">초기화</a>
			</div>

		</div>
		<div class="widget">
			<div class="tit_wrap">
				<p class="total">총 <span id="totalCount">00</span>건</p>
				<div class="module_btn">
					<button type="button" id="addInstallRequestBtn" class="btn_type1 add"><span></span>설치요청 등록</button>
					<button type="button" id="excelDownloadBtn" class="btn_type1 excel"><span></span>엑셀 다운로드</button>
				</div>
			</div>
			<div id="installRequestGrid"></div>
		</div>
	</form>

</div>
</html>