<!--
   Create By Kim YunHong on 2020-04-08 / 오후 3:15
   Email : fbsghd123@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">
</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script th:src='@{/js/install/installRequest/installRequestDetail.js(v=${timestamp})}' src="../../../js/install/installRequest/installRequestDetail.js"></script>
	<script type="text/javascript" th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script>
		/*<![CDATA[*/
		var installRequestCount = "[[ ${request.installRequestCount} ]]";
		var deviceQty = "[[ ${request.deviceQty} ]]";
		/*]]>*/
	</script>
</th:block>
<div data-layout-fragment="content">
    <form id="installRequestForm" autocomplete="off">
	<input type="hidden" id="installRequestSeq" name="installRequestSeq" th:value="${request.installRequestSeq}"/>
	<input type="hidden" id="locationSeq" th:value="${request.locationSeq}"/>
	<input type="hidden" id="deviceSeq" th:value="${request.deviceSeq}"/>
    <input type="hidden" name="queryString" th:value="${#strings.defaultString(#request.getQueryString(), '')}">

	<div>
		<table class="tbtype">
			<colgroup>
				<col class="cper1050">
				<col class="cper3950">
				<col class="cper1050">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th>설치구분</th>
				<td><p th:text="${request.installRequestTypeText}"></p></td>
				<th>상태</th>
				<td>
					<p th:text="${request.installRequestStatusText}"></p>
					<input type="hidden" name="installRequestStatus" th:value="${request.installRequestStatus}" />
				</td>
			</tr>
			<tr>
				<th>설치장소</th>
				<td colspan="3">
					<p th:text="${request.locationName}"></p>
				</td>
			</tr>
			<tr>
				<th>거래처</th>
				<td><p th:text="${request.customerTypeText} + ${request.customerName}">거래처유형/거래처명</p></td>
				<th>영업담당</th>
				<td><p th:text="${request.salesUserName}"></p></td>
			</tr>
			<tr>
				<th>주소</th>
				<td colspan="3">
					<span th:text="${request.locationAddress}">경기 평택시 안중읍 현화리</span>
				</td>
			</tr>
			<tr>
				<th>설치예정일</th>
				<td colspan="3">
					<p th:text="${request.installDueDateText + '(D-' + (request.decimalDay > 0 ? request.decimalDay : 0) + '일)'}"></p>
				</td>
			</tr>
			<tr>
				<th>설치대수<span></span></th>
				<td colspan="3">
					<span th:text="${request.installRequestCount} + '대 / ' + '총' +  ${request.deviceQty} + '대'"></span>
				</td>
			</tr>
			<tr>
				<th>장비명</th>
				<td colspan="3">
					<p th:text="${request.deviceNameText}"></p>
				</td>
			</tr>
			<tr>
				<th>설치담당</th>
				<td colspan="3">
					<p th:text="${request.installCustomerName}  + ' | ' +${request.installUserName}"></p>
				</td>
			</tr>
			<tr>
				<th>비고</th>
				<td colspan="3">
					<p th:text="${request.etc}"></p>
				</td>
			</tr>
            <tr>
                <th>요청자</th>
                <td>
                    <p th:text="${request.requestCustomerName + ' | ' + request.requestUserName}"></p>
                </td>
				<th>요청일</th>
				<td>
					<p th:text="${request.requestDtText}"></p>
				</td>
            </tr>
			</tbody>
		</table>
		<div class="tit_wrap mt30" th:if="${request.installRequestStatus != 'IM050001'}">
			<h3>설치요청접수</h3>
		</div>
		<table class="tbtype list mt15" th:if="${request.installRequestStatus != 'IM050001'}">
			<colgroup>
				<col class="cper1050">
				<col class="cper3950">
				<col class="cper1050">
				<col class="cperauto">
			</colgroup>
			<tbody>
				<tr>
					<th>접수자</th>
					<td><p th:text="${request.receiptCustomerName + ' | ' + request.receiptUserName}"></p></td>
					<th>접수일</th>
					<td><p th:text="${request.receiptDtText}"></p></td>
				</tr>
			</tbody>
		</table>

		<div class="tit_wrap mt30" th:if="${(request.installRequestStatus == 'IM050005') || (request.installRequestStatus != 'IM050001' && _userInfo.userId == request.installUserId) || (request.installRequestStatus == 'IM050004' && _userInfo.userId == request.requestUserId)}">
			<h3>설치장비</h3>
			<div class="module_btn">
				<button type="button" id="addInstallDeviceBtn" class="btn_type1 add"
						           th:if="${(request.installRequestStatus =='IM050002' && _userInfo.userId == request.installUserId) || (request.installRequestStatus =='IM050003' && _userInfo.userId == request.installUserId)}"><span></span>추가</button>
			</div>
		</div>

		<table class="tbtype list mt15" th:if="${(request.installRequestStatus == 'IM050005') || (request.installRequestStatus != 'IM050001' && _userInfo.userId == request.installUserId) || (request.installRequestStatus == 'IM050004' && _userInfo.userId == request.requestUserId) } ">
			<colgroup>
				<col class="wp40"> <!-- NO -->
				<col class="wp80"> <!-- 설치일 -->
				<col class="wp140"> <!-- 장비번호 -->
				<col class="cper1000"> <!-- 장비명 -->
				<col class="wp50"> <!-- 위치 -->
				<col class="cper0500"> <!-- 관리번호 -->
				<col class="cper0500"> <!-- 가로등번호 -->
				<col class="cper1300"> <!-- 가동기간 -->
				<col class="cper0500"> <!-- 가동시간 -->
				<col class="cper0500"> <!-- 설치추가부품 -->
				<col class="wp100"> <!-- 설치전 사진 -->
				<col class="wp100"> <!-- 설치후 사진 -->
				<col class="cper0500"> <!-- 비고 -->
				<col class="cper0300"> <!-- 등록자 -->
				<col class="cper0400"> <!-- 수정 -->
				<col class="cper0400"> <!-- 삭제 -->
			</colgroup>
			<thead>
				<tr>
					<th>NO.</th>
					<th>설치일</th>
					<th>장비번호</th>
					<th>장비명</th>
					<th>위치</th>
					<th>관리번호</th>
					<th>가로등번호</th>
					<th>가동기간</th>
					<th>가동시간</th>
					<th>설치추가부품</th>
					<th>설치 전 사진</th>
					<th>설치 후 사진</th>
					<th>비고</th>
					<th>등록자</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="item, index : ${deviceList}">
				<td class="t_center"><p th:text="${index.index + 1}">  </p></td>
				<td class="t_center"><p th:text="${item.installDtText}"></p></td>
				<td class="t_center"><p th:text="${item.deviceId}"></p></td>
				<td><p th:text="${item.deviceNameText}"></p></td>
				<td class="t_center">
					<input type="hidden" name="locationSeqPopup" th:value="${item.locationSeq}" />
					<button type="button" name="locationBtn" class="ic_locate"><i></i></button>
				</td>
				<td><p th:text="${item.manageNo}"></p></td>
				<td><p th:text="${item.lampNo}"></p></td>
				<td><p th:text="${item.operateStartDtKoreanText +  ' ~ ' + item.operateEndDtKoreanText}"></p></td>
				<td class="t_center"><p th:text="${item.operateTimeText}"></p></td>
				<td class="t_center">
					<span th:text="${item.addpartListText}">
					</span>
				</td>
				<td>
					<p class="t_center">
						<input type="hidden" name="deviceSeqBefore" th:value="${item.deviceSeq}" />
						<img class="upload-image1 complain-handle-img" th:if="${not #lists.isEmpty(item.beforeUploadFileKey) && #lists.size(item.beforeUploadFileKey) > 0}"
							 th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item.beforeUploadFileKey[0]})}" src="/img/layout/ex01.png">
					</p>
				</td>
				<td>
					<p class="t_center">
						<input type="hidden" name="deviceSeqAfter" th:value="${item.deviceSeq}" />
						<img class="upload-image2 complain-handle-img" th:if="${not #lists.isEmpty(item.afterUploadFileKey) && #lists.size(item.afterUploadFileKey) > 0}"
							 th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item.afterUploadFileKey[0]})}" src="/img/layout/ex01.png">
					</p>
				</td>
				<td><p th:text="${item.installEtc}"></p></td>
				<td class="t_center"><p th:text="${item.regName}"></p></td>
				<td>
					<p class="t_center">
						<input type="hidden" name="deviceSeqModify" th:value="${item.deviceSeq}"/>
						<input type="hidden" name="installRequestSeqModify" th:value="${item.installRequestSeq}"/>
						<button type="button" name="rowModifyBtn" class="btn_type3" style="min-width: 3%" th:if="${request.installRequestStatus == 'IM050003' &&  _userInfo.userId == request.installUserId}">수정</button>
					</p>
				</td>
				<td>
					<p class="t_center">
						<input type="hidden" name="deviceSeqDelete" th:value="${item.deviceSeq}"/>
						<input type="hidden" name="installRequestSeqDelete" th:value="${item.installRequestSeq}"/>
						<button type="button" name="rowDeleteBtn" class="btn_type3" style="min-width: 3% " th:if="${request.installRequestStatus == 'IM050003' &&  _userInfo.userId == request.installUserId}">삭제</button>
					</p>
				</td>
			</tr>
			<tr th:if="${#lists.isEmpty(deviceList)}">
				<td colspan="16" class="no-data">등록된 장비가 없습니다.</td>
			</tr>
			</tbody>
		</table>

		<table class="tbtype list mt30" th:if="${request.installRequestStatus == 'IM050005'}">
            <colgroup>
                <col class="cper1050">
                <col class="cper3950">
                <col class="cper1050">
                <col class="cperauto">
            </colgroup>
            <tbody>
            <tr>
                <th>확인자</th>
                <td><p th:text="${request.finishCustomerName + ' | ' + request.finishUserName}"></p></td>
                <th>확인일</th>
                <td><p th:text="${request.finishDtText}"></p></td>
            </tr>
            </tbody>
        </table>
	</div>
    </form>
	<div class="button">
		<button type="button" id="deleteBtn" class="btn_type1" th:if="${request.installRequestStatus == 'IM050001' && _userInfo.userId == request.requestUserId}">삭제</button>
		<button type="button" id="modifyBtn" class="btn_type2" th:if="${request.installRequestStatus == 'IM050001' && _userInfo.userId == request.requestUserId}">수정</button>
		<button type="button" id="receiptBtn" class="btn_type2" th:if="${request.installRequestStatus == 'IM050001' &&  _userInfo.userId == request.installUserId}">설치 요청 접수</button>
		<button type="button" id="installComplete" class="btn_type2" th:if="${request.deviceQty == request.installRequestCount && request.installRequestStatus == 'IM050003' && _userInfo.userId == request.installUserId}">설치 완료</button>
		<button type="button" id="installConfirm" class="btn_type2" th:if="${request.installRequestStatus == 'IM050004' && _userInfo.userId == request.requestUserId}">확인 완료</button>
		<button type="button" id="moveListBtn" class="btn_type1">목록</button>
	</div>
	<div id="popupList"></div>
</div>
</html>