<!--
   Create By Kim YunHong on 2020-04-08 / 오후 3:15
   Email : fbsghd123@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script>
		/*<![CDATA[*/
		var installDueDateText = "[[ ${request.installDueDateText} ]]"; // 설치예정일
		var installRequestSeq = "[[ ${request.installRequestSeq} ]]"; // 설치요청 시퀀스
		/*]]>*/
	</script>
	<script th:src='@{/js/install/installRequest/installRequestWrite.js(v=${timestamp})}' src="../../../js/install/installRequest/installRequestWrite.js"></script>
</th:block>
<div data-layout-fragment="content">
	<form id="installRequestForm" autocomplete="off">
	<input type="hidden" id="installRequestSeq" name="installRequestSeq" th:value="${request.installRequestSeq}"/>
	<input type="hidden" id="locationSeq" th:value="${request.locationSeq}"/>
	<input type="hidden" id="deviceSeq" th:value="${request.deviceSeq}"/>
	<input type="hidden" name="queryString" th:value="${#strings.defaultString(#request.getQueryString(), '')}">

	<div class="mt20">
		<table class="tbtype">
			<colgroup>
				<col class="cper1050">
				<col class="cper3950">
				<col class="cper1050">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th class="required">설치구분</th>
				<td>
					<input  type="radio" name="installRequestType" id="installRequestType01" value="IM060001" th:checked="${request.installRequestType == 'IM060001' || request.installRequestType == null}">
					<label for="installRequestType01"><span class="txt_lb">신규설치</span></label>
					<input  type="radio" name="installRequestType" id="installRequestType02" value="IM060002" th:checked="${request.installRequestType == 'IM060002'}">
					<label for="installRequestType02"><span class="txt_lb">이전설치</span></label>
				</td>
				<th>상태</th>
				<td>
					<p th:text="${request.installRequestSeq > 0  ? request.installRequestStatusText : '설치요청'}"></p>
				</td>
			</tr>
            <tr>
                <th class="required">설치장소<span></span></th>
                <td colspan="3">
                    <div class="group_search wp450" th:if="${request.installRequestSeq == 0}">
                        <input type="text" name="locationName" readonly th:value="${request.locationName}">
                        <input type="hidden" name="locationSeq" th:value="${request.locationSeq}">
                        <button type="button" id="openLocationListPopupBtn" class="btn_search"></button>
                    </div>
					<p th:text="${request.locationName}" th:if="${request.installRequestSeq > 0}"></p>
                </td>
            </tr>
			<tr>
				<th>거래처</th>
				<td><p id="customerName" th:text=" ${request.installRequestSeq > 0 ? request.customerTypeText + request.customerName : ''}">거래처유형/거래처명</p></td>
				<th>영업담당</th>
				<td><p id="salesUserName" th:text="${request.installRequestSeq > 0 ? request.salesUserName : ''}"></p></td>
			</tr>
			<tr>
				<th>주소</th>
				<td colspan="3"><p id="locationAddress" th:text="${request.installRequestSeq > 0 ? request.locationAreaText + '' +request.locationAddress : ''}">경기 평택시 안중읍 현화리</p></td>
			</tr>
            <tr>
                <th class="required">설치예정일</th>
                <td colspan="3">
                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                        <input id="installDueDate" name="installDueDate" type="text" aria-label="Date" th:value="${request.installDueDateText}"/>
                        <span class="tui-ico-date"></span>
                        <div id="installDueDateWrapper"></div>
                    </div>
                </td>
            </tr>
			<tr>
				<th class="required">설치대수<span></span></th>
				<td colspan="3">
					<span th:if="${request.installRequestSeq > 0}">총 </span>
					<input type="text" name="deviceQty" id="deviceQty" class="wp60 t_right" th:value="${request.deviceQty}">
					<span>대</span>
				</td>
			</tr>
			<tr>
				<th class="required">장비명<span></span></th>
				<td colspan="3">
                    <div class="group_search wp450">
                        <input type="hidden" name="deviceMstSeq" th:value="${request.deviceMstSeq}" />
						<input type="hidden" name="deviceName" th:value="${request.deviceName}" readonly/>
                        <input type="text" name="deviceNameText" th:value="${request.deviceNameText}" readonly/>
                        <button type="button" id="openDeviceMstListPopupBtn" class="btn_search"></button>
                    </div>
				</td>
			</tr>
			<tr>
				<th class="required">설치담당</th>
				<td colspan="3">
                    <div class="group_search wp450">
						<input type="text" name="installUserName" th:value="${request.installUserName}" readonly/>
						<input type="hidden" name="installUserId" th:value="${request.installUserId}" />
						<input type="hidden" name="installCustomerSeq"  th:value="${request.installCustomerSeq}"/>
                        <button type="button" id="openInstallUserListPopupBtn" class="btn_search"></button>
                    </div>
				</td>
			</tr>
			<tr>
				<th>비고</th>
				<td colspan="3">
					<textarea class="cper100p" name="etc" maxlength="1000" th:text="${request.etc}"></textarea>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	</form>

	<div class="button">
		<button type="button" id="addInstallRequestBtn" class="btn_type2" th:if="${request.installRequestStatus != 'IM050001'}">등록</button>
		<button type="button" id="modifyBtn" class="btn_type2" th:if="${request.installRequestStatus == 'IM050001'}">수정</button>
		<button type="button" id="moveListBtn" class="btn_type1">취소</button>
	</div>
	<div id="popupList"></div>
</div>
</html>