<!--
   Create By Kim YunHong on 2020-04-10 / 오전 11:10
   Email : fbsghd123@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script>
		/*<![CDATA[*/
		var installDt = "[[ ${request.installDt} ]]";
		var installRequestSeq = "[[ ${request.installRequestSeq} ]]";
		var deviceSeq = "[[ ${device.deviceSeq} ]]";
		var operateStartDt = "[[ ${device.operateStartDt} ]]";
		var operateEndDt = "[[ ${device.operateEndDt} ]]";

		/*]]>*/
	</script>
	<script type="text/javascript" th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script th:src='@{/js/install/installRequest/installRequestDeviceWrite.js(v=${timestamp})}' src="../../../js/install/installRequest/installRequestDeviceWrite.js"></script>
</th:block>
<!--/*@thymesVar id="request" type="com.pharmcle.rms.domain.installRequest.InstallRequest"*/-->
<!--/*@thymesVar id="device" type="com.pharmcle.rms.domain.device.Device"*/-->
<div data-layout-fragment="content">
	<form id="installDeviceForm" autocomplete="off">
		<input type="hidden" name="installRequestSeq" th:value="${request.installRequestSeq}"/>
		<input type="hidden" name="latitude" th:value="${device.latitude}">
		<input type="hidden" name="longitude" th:value="${device.longitude}">
		<input type="hidden" name="deviceAddress" th:value="${device.deviceAddress}">
		<input type="hidden" name="deviceSeq" readonly th:value="${device.deviceSeq}">
		<input type="hidden" name="queryString" th:value="${#strings.defaultString(#request.getQueryString(), '')}">

		<table class="tbtype">
			<colgroup>
				<col class="cper1050">
				<col class="cper3950">
				<col class="cper1050">
				<col class="cper3950">
			</colgroup>
			<tbody>
				<tr>
					<th class="required">설치일<span></span></th>
					<td colspan="3">
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus dp_inline">
							<input type="text" id="installDt" name="installDt" aria-label="Date-Time" th:value="${device.installDtText != null ? device.installDtText : request.installDtText}">
							<span class="tui-ico-date"></span>
						</div>
						<span id="installDtWrapper"></span>
						<select id="installHour" name="installHour" class="ml7">
							<option th:each="hour : ${#numbers.sequence(0,24)}" th:value="${hour < 10 ? '0' + hour : hour}" th:text="${hour < 10 ? '0' + hour : hour}" th:selected="${(hour < 10 ? '0' + hour : '' + hour) == request.installHour}"></option>
						</select>
						<span class="hyphen">:</span>
						<select id="installMinute" name="installMinute">
							<option th:each="minute : ${#numbers.sequence(0,60)}" th:value="${minute < 10 ? '0' + minute : minute}" th:text="${minute < 10 ? '0' + minute : minute}" th:selected="${(minute < 10 ? '0' + minute : '' + minute) == request.installMinute}"> </option>
						</select>
					</td>
				</tr>
				<tr>
					<th class="required">설치장소<span></span></th>
					<td colspan="3">
						<input type="text" name="locationName" class="wp200" readonly th:value="${request.locationName}">
						<input type="hidden" name="locationSeq" readonly th:value="${request.locationSeq}">
						<input type="hidden" name="locationLatitude" readonly th:value="${request.locationLatitude}">
						<input type="hidden" name="locationLongitude" readonly th:value="${request.locationLongitude}">
						<input type="hidden" id="mapUseAddress" name="mapUseAddress" th:value="${request.locationAddress}">
					</td>
				</tr>
				<tr>
					<th class="required">장비번호<span></span></th>
					<td colspan="3">
						<div class="group_search wp200" th:if="${device.deviceSeq == 0}">
							<input type="text" name="deviceId" readonly th:value="${device.deviceId}">
							<button type="button" id="openDeviceListPopupBtn" class="btn_search"></button>
						</div>

						<p th:text="${device.deviceId}" th:if="${device.deviceSeq > 0}"></p>

					</td>
				</tr>
				<tr>
					<th class="required">장비위치<span></span></th>
					<td colspan="3">
						<button type="button" id="openAddressMarkerMapPopupBtn" class="btn_type3">위치선택</button>
						<button type="button" id="openLatlngMarkerMapPopupBtn" class="btn_type3 ml7">직접입력</button>
						<div class="lat" style="display: none;">
							<p class="bold" id="selectedAddress"></p>
							<p>
								<span>위도 : <span id="selectedLat"></span></span> <span>경도 : <span id="selectedLng"></span></span>
							</p>

						</div>
						<div class="map_view" id="map_view" style="display:none; height:240px;"> <!--위치 선택후 결과 view-->
						</div>
					</td>
				</tr>
				<tr>
					<th>관리번호</th>
					<td>
						<input type="text" name="manageNo" class="wp200" maxlength="20" th:value="${device.manageNo}">
					</td>
					<th>가로등번호</th>
					<td>
						<input type="text" name="lampNo" class="wp166" maxlength="20" th:value="${device.lampNo}">
					</td>
				</tr>
				<tr>
					<th class="required">가동기간<span></span></th>
					<td>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="operateStartDt" name="operateStartDt" type="text" aria-label="Date" th:value="${device.operateStartDtText}">
							<span class="tui-ico-date"></span>
							<div id="operateStartDtWrapper"></div>
						</div>
						<span class="hyphen">-</span>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="operateEndDt" name="operateEndDt" type="text" aria-label="Date" th:value="${device.operateEndDtText}">
						<span class="tui-ico-date"></span>
						<div id="operateEndDtWrapper"></div>
					</div>
					</td>
					<th class="required">점등·소등 시간<span></span></th>
					<td>
						<select id="operateStartTime" name="operateStartTime">
							<option th:each="hour : ${startHourList}" th:value="${hour}" th:text="${#strings.substring(hour,0,2) + ':' + #strings.substring(hour,2,4)}" th:selected="${request.installRequestSeq > 0 ? ('' + hour) == device.operateStartTime : '1700'}"></option>

						</select>
						<span class="hyphen">-</span>
						<select id="operateEndTime" name="operateEndTime">`
							<option th:each="hour : ${endHourList}" th:value="${hour}" th:text="${#strings.substring(hour,0,2) + ':' + #strings.substring(hour,2,4)}" th:selected="${request.installRequestSeq > 0 ? ('' + hour) == device.operateEndTime : '0100'}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<th>설치추가부품</th>
					<td colspan="3">
						<button type="button" class="btn_type3 addPartBtn">추가</button>
						<!-- 추가버튼을 누르면 추가부품 팝업이 열리고 팝업에서 부품 선택하면 버튼 아래에 부품항목이 추가된다 -->
						<div class="addpart-list" id="addpartList">
							<span class="addpart-item" th:each="item, index : ${device.addpartList}">
								<span th:text="${item.partTypeText} + ' ' + ${item.partQty} + '개'"></span>
								<input type="hidden" name="partType" th:value="${item.partType}" />
								<input type="hidden" name="partQty" th:value="${item.partQty}" />
								<button type="button" class="del_part_btn"></button>
							</span>
						</div>


					</td>
				</tr>
				<tr>
					<th>설치 전 사진<span></span></th>
					<td class="valign_t">
						<div class="filelist">
							<div class="beforeFileList">
								<label for="beforeFile" class="btn_file">사진첨부</label>
								<input type="file" id="beforeFile">
								<ul class="fileimg" id="beforeFileList">
									<li th:each="item : ${beforeFileList}">
										<button type="button" class="btn_img_del"></button>
										<input type="hidden" name="deviceSeq1" th:value="${device.deviceSeq}" />
										<img class="upload-image1" th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item.uploadFileKey})}" src="/img/layout/ex01.png">
										<input type="hidden" name="beforeUploadFileKey" th:value="${item.uploadFileKey}">
									</li>
								</ul>
							</div>
						</div>
					</td>
					<th>설치 후 사진<span></span></th>
					<td class="valign_t">
						<div class="filelist">
							<div class="afterFileList">
								<label for="afterFile" class="btn_file">사진첨부</label>
								<input type="file" id="afterFile">
								<ul class="fileimg" id="afterFileList">
									<li th:each="item : ${afterFileList}">
										<button type="button" class="btn_img_del"></button>
										<input type="hidden" name="deviceSeq2" th:value="${device.deviceSeq}" />
										<img class="upload-image2" th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item.uploadFileKey})}" src="/img/layout/ex01.png">
										<input type="hidden" name="afterUploadFileKey" th:value="${item.uploadFileKey}">
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<th>비고</th>
					<td colspan="3"><textarea class="cper100p" name="installEtc" maxlength="1000" th:text="${device.installEtc}"></textarea></td>
				</tr>

			</tbody>
		</table>
	</form>
	<div class="button">
		<button type="button" id="saveInstallDeviceBtn" class="btn_type2">저장</button>
		<button type="button" id="cancelBtn" class="btn_type1">취소</button>
	</div>

	<div id="popupList"></div>
</div>
</html>