<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:00
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<!--/*@thymesVar id="location" type="com.pharmcle.rms.domain.location.Location"*/-->
<!--/*@thymesVar id="_userInfo" type="com.pharmcle.rms.domain.user.User"*/-->
<div data-layout-fragment="content">
	<form id="locationForm">
		<input type="hidden" name="locationSeq" th:value="${location.locationSeq}" value="0">
		<table class="tbtype">
			<colgroup>
				<col class="cper2500">
				<col class="cper7500">
			</colgroup>
			<tbody>
			<tr>
				<th>거래처명<span></span></th>
				<td>
					<span th:text="${location.customerName}" th:if="${location.locationSeq > 0}"></span>
					<div class="group_search wp200" th:if="${location.locationSeq <= 0}">
						<input type="text" name="customerName"  disabled>
						<button type="button" id="openCustomerListPopupBtn" class="btn_search"></button>
						<input type="hidden" name="customerSeq">
					</div>
				</td>
			</tr>
			<tr>
				<th class="required">계약기간<span></span></th>
				<td>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="contractStartDt" name="contractStartDt" type="text" aria-label="Date" th:value="${location.contractStartDtText}">
						<span class="tui-ico-date"></span>
						<div id="contractStartDtWrapper"></div>
					</div><span class="hyphen">~
					</span><div class="tui-datepicker-input tui-datetime-input tui-has-focus">
					<input id="contractEndDt" name="contractEndDt" type="text" aria-label="Date" th:value="${location.contractEndDtText}">
					<span class="tui-ico-date"></span>
					<div id="contractEndDtWrapper"></div>
				</div>
				</td>
			</tr>
			<tr>
				<th>영업담당자</th>
				<td>
					<span th:text="${location.salesUserName}" id="salesUserName">
					</span>
				</td>
			</tr>
			<tr>
				<th class="required">설치장소<span></span></th>
				<td>
					<input type="text" class="wp200" name="locationName" maxlength="25" th:value="${location.locationName}" th:if="${location.locationSeq <= 0}">
					<span th:text="${location.locationName}" th:if="${location.locationSeq > 0}"></span>
				</td>
			</tr>
			<tr>
				<th class="required">주소<span></span></th>
				<td>
					<button type="button" id="openSearchAddressPopup" class="btn_type3">우편번호 찾기</button>
					<input type="text" id="address" name="address" maxlength="100" class="dp_block mt5 cper100p" readonly th:value="${location.address}">
					<input type="text" id="addressDetail" name="addressDetail" class="dp_block mt5 cper100p" maxlength="100" th:value="${location.addressDetail}">
					<input type="hidden" id="locationLatitude" name="locationLatitude" class="dp_block mt5 wp200" maxlength="100" th:value="${location.locationLatitude}">
					<input type="hidden" id="locationLongitude" name="locationLongitude" class="dp_block mt5 wp200" maxlength="100" th:value="${location.locationLongitude}">
					<input type="hidden" id="sido" name="locationAreaText" class="dp_block mt5 wp200" maxlength="100" th:value="${location.locationAreaText}">
					<input type="hidden" id="sigungu" name="locationAreaDetailText" class="dp_block mt5 wp200" maxlength="100" th:value="${location.locationAreaDetailText}">
				</td>
			</tr>
			<tr>
				<th class="required">보수담당자<span></span></th>
				<td>
					<div class="group_search wp150">
						<input type="text" name="asUserName" disabled th:value="${location.asUserName}">
						<!-- 임시용 -->
						<button type="button" id="openAsUserListPopupBtn" class="btn_search"></button>
						<input type="hidden" name="asUserId" th:value="${location.asUserId}">
						<input type="hidden" name="asCustomerSeq" th:value="${location.asCustomerSeq}">
					</div>
				</td>
			</tr>
			</tbody>
		</table>
		<div class="pop_button">
			<button type="button" id="saveBtn" class="btn_type2">저장</button>
			<button type="button" id="cancelBtn" class="btn_type1">취소</button>
		</div>
	</form>
</div>
</html>