<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:00
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script th:src='@{/js/customer/location/locationList.js(v=${timestamp})}' src="../../../js/customer/location/locationList.js"></script>
	<script type="text/javascript" th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
</th:block>
<div data-layout-fragment="content">
	<!--/*@thymesVar id="parameter" type="com.pharmcle.rms.domain.location.LocationParameter"*/-->
	<form id="searchForm" autocomplete="off">
		<div class="searchbox">
			<table>
				<colgroup>
					<col class="cper1050">
					<col class="cper2250">
					<col class="cper1050">
					<col class="cper2250">
					<col class="cper1050">
					<col class="cper2250">
				</colgroup>
				<tr>
					<th>기간</th>
					<td colspan="5">
						<select name="dateType" class="wp130">
							<option value="">선택</option>
							<option th:each="item : ${CM05}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.dateType}">
								계약시작일
							</option>
						</select>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus ml5">
							<input id="searchStartDate" name="searchStartDate" type="text" aria-label="Date" th:value="${parameter.searchStartDate}">
							<span class="tui-ico-date"></span>
							<div id="searchStartDateWrapper"></div>
						</div>
						<span class="hyphen">~</span>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="searchEndDate" name="searchEndDate" type="text" aria-label="Date" th:value="${parameter.searchEndDate}">
							<span class="tui-ico-date"></span>
							<div id="searchEndDateWrapper"></div>
						</div>
					</td>
				</tr>
				<tr>
					<th>지역</th>
					<td>
						<select name="locationArea"  class="cper2800">
							<option value="">전체</option>
							<option th:each="item : ${SC03}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.locationArea}">
								서울
							</option>
						</select>
					</td>
					<th>거래처</th>
					<td>
						<select name="customerType"  class="cper2800">
							<option value="">전체</option>
							<option th:each="item : ${CM01}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.customerType}">
								서울
							</option>
						</select>
						<input type="text" name="customerName" class="cper7000" th:value="${parameter.customerName}">
					</td>
					<th>계약상태</th>
					<td>
						<input type="checkbox" id="total_chk" value="" th:checked="${not #lists.isEmpty(parameter.contractStatusList) and #lists.size(parameter.contractStatusList) == #lists.size(CM04)}"> <label th:for="total_chk"><span class="txt_lb" th:text="전체"></span></label>
						<span th:each="item, index : ${CM04} ">
						<input type="checkbox" name="contractStatusList" th:id="${item.code}" th:value="${item.code}" th:checked="${not #lists.isEmpty(parameter.contractStatusList) and (#lists.contains(parameter.contractStatusList, item.code))}"> <label th:for="${item.code}"><span class="txt_lb" th:text="${item.codeName}"></span></label>
						</span>
					</td>
				</tr>
				<tr>
					<th>
						설치장소
					</th>
					<td>
						<input type="text" name="locationName" th:value="${parameter.locationName}"/>
					</td>
					<th>영업담당자</th>
					<td>
						<input type="text" name="salesUserName" th:value="${parameter.salesUserName}"/>
					</td>
					<th>보수담당자</th>
					<td>
						<input type="text" name="asUserName" th:value="${parameter.asUserName}"/>
					</td>
				</tr>
			</table>
			<div class="search_btn">
				<button type="button" id="searchBtn" class="btn_type2">검색</button>
				<a href="#"  id="resetBtn" class="btn_type1 ml5">초기화</a>
			</div>
		</div>

		<div class="widget">
			<div class="tit_wrap">
				<h3>설치장소<span class="total">총 <span id="locationTotalCount">00</span>건</span></h3>
				<div class="module_btn">
					<button type="button" id="addLocationBtn" class="btn_type1 add"><span></span>등록</button>
					<button type="button" id="excelDownloadBtn" class="btn_type1 excel"><span></span>엑셀 다운로드</button>
				</div>
			</div>
			<div id="locationGrid"></div>
		</div>
		<div class="widget">
			<ul class="tab">
				<li class="on"><a href="#">설치장비현황</a></li>
			</ul>
			<ul class="tab_conts">
				<li>
					<div class="tit_wrap">
						<p class="total">총 <span id="deviceTotalCount"></span>건</p>
					</div>
					<div id="deviceGrid"></div>
				</li>
			</ul> <!-- tab_conts end -->
			<!--<div class="pager"> &lt;!&ndash; 혹시 언제 쓸수도 있으니 우선 만들어놓은 페이징 필요할때 쓰시오&ndash;&gt;
				<a href="#" class="btn_first"></a>
				<a href="#" class="btn_prev"></a>
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#" class="on">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#">7</a>
				<a href="#">8</a>
				<a href="#">9</a>
				<a href="#">10</a>
				<a href="#" class="btn_next"></a>
				<a href="#" class="btn_last"></a>
			</div>-->
		</div>
	</form>
	<div id="popupList">

	</div>
</div>
</html>