<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<div data-layout-fragment="content">


	<!--SD020001 포충기-->
	<!--SD020002 기피제 분사함-->

	<form method="post" id="form">
		<!--/*@thymesVar id="deviceMaster" type="com.pharmcle.rms.domain.deviceMaster.DeviceMaster"*/-->
		<input type="hidden" id="deviceMstSeq" name="deviceMstSeq" th:value="${deviceMaster.deviceMstSeq}">
		<input type="hidden" id="deviceClassifyCode"  th:value="${deviceMaster.deviceClassify}">
		<table class="tbtype">
			<colgroup>
				<col class="cper2200">
				<col class="cper2800">
				<col class="cper2200">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th class="required">사용여부<span></span></th>
				<td>
					<span>
						<input  type="radio" name="useYn" id="useYn01" value="Y" th:checked="${deviceMaster.useYn == 'Y' || deviceMaster.useYn == null}">
						<label for="useYn01"><span class="txt_lb">사용</span></label>
						<input  type="radio" name="useYn" id="useYn02" value="N" th:checked="${deviceMaster.useYn == 'N'}">
						<label for="useYn02"><span class="txt_lb">미사용</span></label>
					</span>
				</td>
				<th th:class="${deviceMaster.deviceMstSeq <= 0 ? 'required' : ''}">장비구분<span></span></th>
				<td>
					<div id="deviceClassify" th:if="${deviceMaster.deviceMstSeq <= 0 }">
						<span th:each="item, index : ${SD02} ">
						<input  type="radio" name="deviceClassify" id="deviceClassify01" th:id="'deviceClassify' + ${index.index}" th:value="${item.code}"
								th:disabled="${deviceMaster.deviceMstSeq > 0}" th:checked="${deviceMaster.deviceClassify == item.code || (index.index == 0 && deviceMaster.useYn == null)}">
							<label for="deviceClassify01" th:for="'deviceClassify' + ${index.index}" ><span class="txt_lb" th:text="${item.codeName}"></span></label>
						</span>
					</div>
					<span th:text="${deviceMaster.deviceClassifyText}" th:if="${deviceMaster.deviceMstSeq > 0 }"></span>
				</td>
			</tr>
			<tr>
				<th th:class="${deviceMaster.deviceMstSeq <= 0 ? 'required' : ''}">장비명<span></span></th>
				<td>
					<select name="deviceName" class="wp150" th:if="${deviceMaster.deviceMstSeq <= 0} ">
						<option value="">선택</option>
						<option th:each="item : ${SD03}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == deviceMaster.deviceName}">
							장비
						</option>
					</select>
					<span th:text="${deviceMaster.deviceNameText}" th:if="${deviceMaster.deviceMstSeq > 0 }"></span>
				</td>
				<th th:class="${deviceMaster.deviceMstSeq <= 0 ? 'required' : ''}">모델명<span></span></th>
				<td><input name="modelName" type="text" class="cper100p" th:value="${deviceMaster.modelName}" th:if="${deviceMaster.deviceMstSeq <= 0 }">
					<span th:text="${deviceMaster.modelName}" th:if="${deviceMaster.deviceMstSeq > 0 }"></span>
				</td>
			</tr>
			<tr>
				<th th:class="${deviceMaster.deviceMstSeq <= 0 ? 'required' : ''}">제조사 구분<span></span></th>
				<td>
					<select name="manufactureComClassify" class="wp114" th:if="${deviceMaster.deviceMstSeq <= 0 }">
						<option value="">선택</option>
						<!--/*@thymesVar id="SD04" type="java.util.List"*/-->
						<!--/*@thymesVar id="item" type="com.pharmcle.rms.domain.code.Code"*/-->
						<option th:each="item : ${SD04}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == deviceMaster.manufactureComClassify}">
							장비
						</option>
					</select>
					<span th:text="${deviceMaster.manufactureComClassifyText}" th:if="${deviceMaster.deviceMstSeq > 0 }"></span>
				</td>
				<th th:class="${deviceMaster.deviceMstSeq <= 0 ? 'required' : ''}">제조사<span></span></th>
				<td>
					<select name="manufactureCom" class="wp150" th:if="${deviceMaster.deviceMstSeq <= 0 }">
						<option value="">선택</option>
						<!--/*@thymesVar id="SD05" type="java.util.List"*/-->
						<!--/*@thymesVar id="item" type="com.pharmcle.rms.domain.code.Code"*/-->
						<option th:each="item : ${SD05}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == deviceMaster.manufactureCom}">
							장비
						</option>
					</select>
					<span th:text="${deviceMaster.manufactureComText}" th:if="${deviceMaster.deviceMstSeq > 0 }"></span>
				</td>
			</tr>
			<tr>
				<th>장비타입</th>
				<td><input  type="text" name="deviceType" th:value="${deviceMaster.deviceType}" class="cper100p" maxlength="100"></td>
				<th>전원(정격)</th>
				<td><input name="power" type="text" th:value="${deviceMaster.power}" class="cper100p" maxlength="100"></td>
			</tr>
			<tr>
				<th>규격</th>
				<td><input type="text" name="standard" th:value="${deviceMaster.standard}" class="cper100p" maxlength="100"></td>
				<th>외관</th>
				<td><input  type="text" name="external" th:value="${deviceMaster.external}" class="cper100p" maxlength="100"></td>
			</tr>
			<tr class="SD020002">
				<th>태양광 패널</th>
				<td><input type="text" name="solarPanel" th:value="${deviceMaster.solarPanel}" class="cper100p" maxlength="100"></td>
				<th>배터리</th>
				<td><input type="text" name="battery" th:value="${deviceMaster.battery}" class="cper100p" maxlength="100"></td>
			</tr>
			<tr class="SD020001">
				<th>모니터(상)</th>
				<td><input type="text" name="monitorTop" th:value="${deviceMaster.monitorTop}" class="cper100p" maxlength="100"></td>
				<th>모니터(하)</th>
				<td><input type="text" name="monitorBottom" th:value="${deviceMaster.monitorBottom}" class="cper100p" maxlength="100"></td>
			</tr>
			<tr class="SD020002">
				<th>펌프</th>
				<td><input type="text" name="pump" th:value="${deviceMaster.pump}" class="cper100p" maxlength="100"></td>
				<th>약재 량</th>
				<td><input  type="text" name="medicinalResidue" th:value="${deviceMaster.medicinalResidue}" class="cper100p" maxlength="100" ></td>
			</tr>
			<tr class="SD020001">
				<th>파장</th>
				<td><input type="text" name="wavelength" th:value="${deviceMaster.wavelength}" class="cper100p" maxlength="100"></td>
				<th>램프수명</th>
				<td><input  type="text" name="lampLife" th:value="${deviceMaster.lampLife}" class="cper100p" maxlength="100"></td>
			</tr>
			</tbody>
		</table>
	</form>
	<div class="pop_button">
		<button type="button" id="deviceMasterSaveBtn" class="btn_type2">저장</button>
		<button type="button" id="deviceMasterCancelBtn" class="btn_type1">취소</button>
	</div>
</div>
</html>