<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/standard/deviceMaster/deviceMasterList.js(v=${timestamp})}' src="/js/standard/deviceMaster/deviceMasterList.js"></script>
</th:block>
<div data-layout-fragment="content">
	<form method="post" id="searchForm" autocomplete="off">
		<div class="searchbox">
			<table border="1">
				<colgroup>
					<col class="cper1050">
					<col class="cper3500">
					<col class="cper1050">
					<col class="cper1800">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tbody>
					<tr>
						<th>기간</th>
						<td>
							<select name="dateType" class="wp120">
								<option value="">선택</option>
								<option th:each="item : ${SD06}" th:value="${item.code}" th:text="${item.codeName}">
									등록일
								</option>
							</select><div class="tui-datepicker-input tui-datetime-input tui-has-focus ml5">
								<input id="searchStartDate" name="searchStartDate" type="text" aria-label="Date">
								<span class="tui-ico-date"></span>
								<div id="searchStartDateWrapper"></div>
							</div><span class="hyphen">~
							</span><div class="tui-datepicker-input tui-datetime-input tui-has-focus">
								<input id="searchEndDate" name="searchEndDate" type="text" aria-label="Date">
								<span class="tui-ico-date"></span>
								<div id="searchEndDateWrapper"></div>
							</div>
						</td>
						<th>장비구분</th>
						<td>
							<select name="deviceClassify" class="wp130">
								<option value="">전체</option>
								<option th:each="item : ${SD02}" th:value="${item.code}" th:text="${item.codeName}">
									장비구분
								</option>
							</select>
						</td>
						<th>장비명</th>
						<td>
							<select name="deviceName" class="wp150">
								<option value="">전체</option>
								<option th:each="item : ${SD03}" th:value="${item.code}" th:text="${item.codeName}">
									장비명
								</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="search_btn">
				<button type="button" id="searchBtn" class="btn_type2">검색</button>
				<a href="#" id="resetBtn" class="btn_type1 ml5">초기화</a>
			</div>
		</div>
		<div class="widget">
			<div class="tit_wrap">
				<p class="total">총 <span id="totalCount">00</span>건</p>
				<div class="module_btn">
				<input type="checkbox" name="viewAllDeviceMasterFlag" id="viewAllDeviceMasterFlag"> <label for="viewAllDeviceMasterFlag">미사용 포함</label>
				<button type="button" id="addDeviceMasterBtn" class="btn_type1 add"><span></span>등록</button>
				<button type="button" id="excelDownloadBtn" class="btn_type1 excel"><span></span>엑셀다운로드</button>
				</div>
			</div>
			<div id="deviceMasterGrid"></div>

			<div id="popupList">

			</div>
		</div>
		</form>
	</div>
</html>
