.popup-dim {
	opacity: 1;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: left;
	background: rgba(0,0,0, .4);
	z-index: 100;
}

.popup-content {
	position: fixed;
	margin: auto;
	background: #fff;
	z-index:101;
	width:auto;
	height:auto;
}
.popup-header{position:relative;padding:0 15px;height:40px;}
.popup-header .popup-title{color:#666;font-size:15px;font-weight:600;line-height:40px;}
.popup-header .popup-close-btn{position:absolute;right:5px;top:0;width:35px;height:40px;background:url(../img/common/btn_pop_close.png) no-repeat center center;}
.popup-body{height:calc(100% - 40px);}
.popup-body .scroll-y{width:100%;padding:10px 20px 20px;max-height:700px;overflow-y:auto;min-height: 450px;}
.popup-body.nospace .scroll-y{padding:0;}
.pop_button{margin-top:15px;text-align:center;}
.pop_button button,.pop_button a{margin:0 2px;}

.photo-popup-content{position:fixed;margin:auto;z-index:101;width:auto;height:auto;background:#222;}
.photo-popup-content .popup-header .popup-title{color:#fff;}
.photo-popup-content .popup-header .popup-sub-title{margin-left:32px; color:#fff;font-size:13px;font-weight:600;line-height:39px;}
.photo-popup-content .popup-header .popup-close-btn{position:absolute;right:5px;top:0;width:35px;height:40px;background:url(../img/common/btn_pop_close_wh.png) no-repeat center center;}
.photo-popup-content .popup-body .scroll-y{padding:0;overflow-y:hidden;}
.popup-body .searchbox .search_btn{padding:20px 0 0;border-bottom:none;}
.popup-body .widget{margin-top:15px!important;}

html,body{width:100%;height:100%;}
body{overflow-y:hidden;}
.minsize{position:relative;height:100%;min-width:1600px;width:100%;}
header{position:relative;display:table;width:100%;height:55px;background:#123863;}
header .logo{display:table-cell;width:195px;text-align:center;vertical-align:middle;}
header .logo a{display:block;}
header .gnb{display:table-cell;overflow:hidden;padding:0 15px;vertical-align:middle;}
header .gnb ul{float:left;overflow:hidden;}
header .gnb ul li{float:left;margin-right:30px;}
header .gnb ul li a{padding-top:4px;display:block;/*color:#333;*/font-size:14px;font-weight:700;line-height:28px;color:#fff;}
header .gnb ul li.on a,header .gnb ul li:hover a{border-bottom:2px solid #fff;}
header .gnb .sect_right{float:right;}
header .gnb .sect_right .todo{display:inline-block;color:#fff;font-size:13px;line-height:34px;padding:0 10px 0 35px;vertical-align:top;background:url(../img/common/ic_todo_s.png) no-repeat left center;}
header .gnb .sect_right .todo span{color:#fff;font-size:13px;line-height:34px;padding-left:10px;}
header .gnb .sect_right .userName{display:inline-block;color:#fff;font-size:13px;line-height:34px;padding:0 10px;vertical-align:top;}
header .gnb .sect_right .userName span{position:relative;padding-left:35px;display:inline-block;line-height:34px;font-size:13px;}
header .gnb .sect_right .userName span:before{content:'';position:absolute;left:0;top:0;width:28px;height:34px;background:url(../img/common/ic_manager.png) no-repeat center center;}
header .gnb .sect_right .btn_logout{display:inline-block;width:18px;height:34px;background:url(../img/common/logout.png) no-repeat center center;vertical-align:top;}
button:hover{cursor:pointer}
/*.contents{display:table;width:100%;height:calc(100% - 55px);table-layout:fixed;}
.contents aside{display:table-cell;width:195px;border-right:1px solid #dedede;background:#f8f8f8;overflow-y:auto;}
.wrap{display:table-cell;vertical-align:top;min-width:1156px;}
*/
.contents{position:relative;display:block;width:100%;height:calc(100% - 55px);overflow:hidden;}
.contents aside{position:absolute;left:0;top:0;bottom:0;float:left;width:195px;border-right:1px solid #dedede;background:#f8f8f8;overflow-y:auto;}
.contents aside .sidebase{position:relative;height:100%;}
.contents aside ul li{display:block;/*background:#eee;*/padding:12px 14px;height:46px;}
.contents aside ul li a{display:block;font-size:14px;color:#333;font-weight:700;line-height:22px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.contents aside ul li.on,.contents aside ul li:hover{/*background:#dfdfdf;*/background:#eee;transition:background-color 200ms linear;}
.contents aside ul li.on a,.contents aside ul li:hover a{color:#00397a;}
.contents aside .sidebase .banner{position:absolute;left:14px;bottom:10px;}
.contents aside .sidebase .banner a{display:block;}
.contents.hide aside{display:none;width:0;transition:all 200ms ease-in;}
.contents.hide .wrap{left:0;}
.wrap{position:absolute;left:195px;right:0;bottom:0;top:0;float:left;min-width:1156px;}

/*넓이*/
.cperauto{width:auto;}
.cper0300{width:3%;}
.cper0400{width:4%;}
.cper0500{width:5%;}
.cper0700{width:7%;}
.cper0900{width:9%;}
.cper1000{width:10%;}
.cper1050{width:10.5%;}
.cper1250{width:12.5%;}
.cper1300{width:13%;}
.cper1350{width:13.5%;}
.cper1500{width:15%;}
.cper1800{width:18%;}
.cper2000{width:20%;}
.cper2200{width:22%;}
.cper2250{width:22.5%;}
.cper2550{width:25.5%;}
.cper2500{width:25%;}
.cper2800{width:28%;}
.cper3000{width:30%;}
.cper3500{width:35%;}
.cper3750{width:37.5%;}
.cper3950{width:39.5%;}
.cper5000{width:50%;}
.cper7000{width:70%;}
.cper7500{width:75%;}
.cper100p{width:100%;}

.wp40{width:40px;}
.wp50{width:50px;}
.wp60{width:60px;}
.wp80{width:80px!important;}
.wp85{width:85px!important;}
.wp98{width:98px;}
.wp100{width:100px;}
.wp114{width:114px;}
.wp120{width:120px;}
.wp130{width:130px;}
.wp140{width:140px;}
.wp150{width:150px;}
.wp166{width:166px;}
.wp175{width:175px;}
.wp180{width:180px;}
.wp200{width:200px;}
.wp220{width:220px;}
.wp260{width:260px;}
.wp450{width:450px;}
.wp546{width:546px;}

.calc5051{width:calc(50% - 51px);}

/*컴퍼넌트*/
input[type=text],input[type=number],input[type=email],input[type=password]{border:1px solid #d0d0d0;height:28px;line-height:26px;padding:0 7px;color:#444;}
input[type=text]:disabled,input[type=number]:disabled,input[type=email]:disabled,input[type=password]:disabled{background-color:#f6f7f8;}
input[type=text]:read-only,input[type=number]:read-only,input[type=email]:read-only,input[type=password]:read-only,input[type=text][readonly],input[type=number][readonly],input[type=email][readonly],input[type=password][readonly]{background-color:#f6f7f8;}
input[readonly=""]{background-color:#f6f7f8;}

input[type="checkbox"]{appearance:none;-webkit-appearance: none;display:none;}
input[type="checkbox"] + label{height:28px;}
input[type="checkbox"] + label .txt_lb{display:inline-block;font-size:12px;color:#444;vertical-align:middle;padding-right:4px;}
input[type="checkbox"] + label:before{content:'';display:inline-block;width:16px;height:16px;overflow:hidden;margin-right:6px;background:url(../img/common/checkbox.png) no-repeat center top;vertical-align:middle;}
input[type="checkbox"]:checked + label:before{background:url(../img/common/checkbox.png) no-repeat center bottom;}
input[type="checkbox"]:disabled + label:before{content:'';display:inline-block;width:16px;height:16px;overflow:hidden;margin-right:6px;background:url(../img/common/checkbox_dis.png) no-repeat center top;vertical-align:middle;}
input[type="checkbox"]:disabled:checked + label:before{background:url(../img/common/checkbox_dis.png) no-repeat center bottom;}

input[type="checkbox"] + .power_deco{position:relative;display:inline-block;width: 60px;height: 28px;border-radius: 14px;background-color: #ddd;transition-duration: 0.2s;vertical-align:top;margin-left:7px;}
input[type="checkbox"] + .power_deco:before{content:'OFF';margin-right:0;position:absolute;right:0;top:0;width:30px;height:28px;line-height:28px;font-size:13px;color:#fff;background:none;}
input[type="checkbox"] + .power_deco span{ position: absolute;left: 3px;top: 3px;z-index: 1;width: 22px;height: 22px;border-radius: 50%;background-color: #fff;transition-duration: 0.2s;}
input[type="checkbox"]:checked + .power_deco{background-color:#00397a;}
input[type="checkbox"]:checked + .power_deco:before{content:'ON';margin-right:0;position:absolute;left:10px;right:inherit;top:0;width:25px;height:28px;line-height:28px;font-size:13px;color:#fff;background:none;}
input[type="checkbox"]:checked + .power_deco span{right:3px;left:inherit;}


.tui-grid-row-header-checkbox input[type="checkbox"] {display:inline-block; -webkit-appearance: checkbox; appearance:auto; !important;}
.tui-grid-cell-row-header input[type="checkbox"] {display:inline-block; -webkit-appearance: checkbox; appearance:auto; !important;}

input[type="radio"]{appearance:none;-webkit-appearance: none;display:none;}
input[type="radio"] + label{height:28px;}
input[type="radio"] + label .txt_lb{display:inline-block;font-size:12px;color:#444;vertical-align:middle;padding-right:4px;}
input[type="radio"] + label:before{content:'';display:inline-block;width:16px;height:16px;overflow:hidden;margin-right:6px;background:url(../img/common/radio.png) no-repeat center top;vertical-align:middle;}
input[type="radio"]:checked + label:before{background:url(../img/common/radio.png) no-repeat center bottom;}
input[type="radio"]:disabled + label:before{content:'';display:inline-block;width:16px;height:16px;overflow:hidden;margin-right:6px;background:url(../img/common/radio.png) no-repeat center top;vertical-align:middle;}
input[type="radio"]:disabled:checked + label:before{background:url(../img/common/radio_dis.png) no-repeat center bottom;}

input[type="radio"] + label.btn_radio{display:inline-block;border:1px solid #d0d0d0;border-radius:2px;padding:0 7px;margin-right:5px;}
input[type="radio"] + label.btn_radio:before{content:none;}
input[type="radio"] + label.btn_radio .txt_lb{line-height:26px;padding-right:0;}
input[type="radio"] + label:before{content:'';display:inline-block;width:16px;height:16px;overflow:hidden;margin-right:6px;background:url(../img/common/radio.png) no-repeat center top;vertical-align:middle;}
input[type="radio"]:checked + label.btn_radio{border:1px solid #00397a;background:#00397a;}
input[type="radio"]:checked + label.btn_radio .txt_lb{color:#fff;}

select{appearance:none;-webkit-appearance: none;border:1px solid #d0d0d0;height:28px;line-height:26px;color:#333;font-size:12px;padding:0 28px 0 7px;background:#fff url(../img/common/select.png) no-repeat right center;}
select::-ms-expand{display:none;}
select:disabled{background-color:#f6f7f8;}

textarea{padding:5px 10px;border:1px solid #d0d0d0;box-sizing:border-box;min-height:75px;}
textarea:disabled,textarea[readonly],textarea:read-only,textarea[readonly='']{background-color:#f6f7f8;}

.hyphen{display:inline-block;width:20px;height:28px;line-height:28px!important;vertical-align:top;text-align:center;color:#666;}

.dp_block{display:block;}
.dp_inline{display:inline-block;}
.dp_tb{display:table;width:100%;table-layout:fixed;}
.dp_tbc{display:table-cell;}

.bold{font-weight:700;}

.t_center{text-align:center!important;}
.t_left{text-align:left!important;}
.t_right{text-align:right!important;}

.f_right{float:right;}
.f_left{float:left;}
.f_hidden{overflow:hidden;}

.valign_t{vertical-align:top!important;}
.valign_m{vertical-align:middle!important;}
.valign_b{vertical-align:bottom;}

/*간격*/
.mt0{margin-top:0!important;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px!important;}

.ml5{margin-left:5px;}
.ml7{margin-left:7px;}
.ml10{margin-left:10px;}

.mr5{margin-right:5px;}
.mb10{margin-bottom:10px;}

.page_info{position:relative;height:100%;border-bottom:1px solid #dedede;height:46px;padding-left:44px;}
.page_info .btn_aside{position:absolute;left:0;top:0;width:44px;height:45px;border-right:1px solid #dedede;display:block;background:url(../img/common/btn_aside.png) no-repeat center center;}
.page_info h3{display:inline-block;padding-left:15px;line-height:45px;color:#666;font-size:15px;font-weight:700;}
.page_info .time{position:absolute;top:0;right:20px;line-height:45px;font-weight:600;}

.body_conts{position:relative;height:calc(100% - 46px);padding:20px 20px 0;overflow-y:auto;}
.body_conts:after {
	content:'';display:block;padding-bottom:20px;}

.searchbox{}
.searchbox table{width:100%;}
.searchbox table th{padding:5px 10px;background:#f8f8f8;text-align:left;font-size:12px;color:#444;border-bottom:1px solid #d0d0d0;vertical-align:middle;font-weight:700;}
.searchbox table td{padding:5px 10px;border-bottom:1px solid #d0d0d0;vertical-align:middle;height:39px;}
.searchbox table td input,.searchbox table td label,.searchbox table td span,.searchbox table td select{color:#444;}
.searchbox table tr:first-child th,.searchbox table tr:first-child td{border-top:1px solid #d0d0d0;}
.searchbox table tr th:first-child{border-left:1px solid #d0d0d0;}
.searchbox table tr td:last-child{border-right:1px solid #d0d0d0;}
.searchbox table tr td .btn_type3:hover{background:#999;color:#fff;}
.searchbox .search_btn{/*margin-top:10px;*/text-align:center;border-bottom:1px solid #d0d0d0;padding:20px 0 30px;}
.searchbox .search_btn .btn_type2{background:#666;}
.searchbox .search_btn .btn_type2:hover{background-color:#123863;cursor:pointer;}


/*버튼*/
.button{margin-top:12px;text-align:right;}
.button > button,.button > a{margin-left:5px;min-width:80px;height:35px;line-height:35px;}
.btn_type1{display:inline-block;border:1px solid #ccc;padding:0 10px;min-width:70px;height:28px;line-height:28px;font-size:12px;color:#444;text-align:center;background:#fff;}
.btn_type1:hover{background-color:#fffadc;cursor:pointer;}
.btn_type1 span{display:inline-block;margin-right:6px;width:16px;height:16px;background-position:center center;background-repeat:no-repeat;vertical-align:middle;}
.btn_type1.add span{background-image:url(../img/common/ic_add.png);}
.btn_type1.minus span{background-image:url(../img/common/ic_minus.png);}
.btn_type1.excel span{background-image:url(../img/common/ic_exceldown.png);}
.btn_type1.save span{background-image:url(../img/common/ic_save.png);}
.btn_type1.edit span{background-image:url(../img/common/ic_edit.png);}
.btn_type1.report span{background-image:url(../img/common/ic_report.png);}
.btn_type1.print span{background-image:url(../img/common/ic_print.png);}
.btn_type1.power span{background-image:url(../img/common/ic_power_on.png);}
.btn_type1.off span{background-image:url(../img/common/ic_power_off.png);}
.btn_type1.monitor span{background-image:url(../img/common/ic_monitor.png);}
.btn_type1.manage span{background-image:url(../img/common/ic_fix.png);}
.btn_type1.set span{background-image:url(../img/common/ic_set_device.png);}
.btn_type1.mail span{background-image:url(../img/common/ic_mail.png);}
.btn_type2{display:inline-block;padding:0 10px;min-width:70px;background:#00397a;height:28px;line-height:28px;color:#fff;font-size:12px;vertical-align:top;text-align:center;}
.btn_type2:hover{background-color:#002a59;cursor:pointer;}
.btn_type3{display:inline-block;padding:0 10px;min-width:70px;background:#f3f3f3;height:28px;line-height:28px;color:#444;font-size:12px;vertical-align:top;border:1px solid #d0d0d0;box-sizing:border-box;text-align:center;}
.btn_type3:hover{background-color:#999;color:#fff;}
.btn_type4{display:inline-block;padding:0 10px;min-width:70px;border:1px solid #00397a;height:28px;line-height:28px;color:#00397a;font-size:12px;vertical-align:top;box-sizing:border-box;text-align:center;background-color:#fff;}
.btn_type5{display:inline-block;padding:0 10px;min-width:70px;background:#057ae9;height:28px;line-height:28px;color:#fff;font-size:12px;vertical-align:top;text-align:center;}
.btn_type6{display:inline-block;padding:0 10px;min-width:70px;background:#666;height:28px;line-height:28px;color:#fff;font-size:12px;vertical-align:top;text-align:center;}
.btn_type1.on{display:inline-block;padding:0 10px;min-width:70px;border:1px solid #00397a;height:28px;line-height:28px;color:#00397a;font-size:12px;vertical-align:top;box-sizing:border-box;text-align:center;background-color:#fff;}
.btn_report{display:inline-block;width:30px;height:30px;background:url(../img/common/ic_maintenance.png) no-repeat center center;}
.btn_report:hover{cursor: pointer;}

.widget{margin-top:30px;}

.tit_wrap{overflow:hidden;margin-bottom:6px;}
.tit_wrap.visible{overflow:visible;}
.tit_wrap.visible:after{content:'';clear:both;}
.tit_wrap .module_btn{float:right;}
.tit_wrap h3{display:inline-block;font-size:15px;color:#333;font-weight:700;line-height:28px;}
.tit_wrap .txt{font-size:13px;font-weight:700;line-height:22px;color:#787878;}
.tit_wrap h3 .total{margin-left:7px;position:relative;padding-left:7px;vertical-align:top;}
.tit_wrap h3 .total:before{content:'';position:absolute;left:0;top:50%;margin-top:-6px;width:1px;height:12px;background:#999;}
.module_btn button,.module_btn a{margin-left:6px;vertical-align:top;}
.module_btn label{line-height:28px;display:inline-block;vertical-align:middle;}
.total{display:inline-block;line-height:28px;font-size:12px;color:#555;}
.wrap_grid{display:table;width:100%;}
.wrap_grid .colA{display:table-cell;padding-right:12px;width:50%;vertical-align:top;}
.wrap_grid .colB{display:table-cell;padding-left:12px;width:50%;vertical-align:top;}
.wrap_grid.w3_7 .colA{width:30%;}
.wrap_grid.w3_7 .colB{width:70%;}
.wrap_grid.w40_60 .colA{width:40%;}
.wrap_grid.w40_60 .colB{width:60%;}
.wrap_grid.wp600_60 .colA{width:450px;}
.wrap_grid.wp600_60 .colB{width:calc(100% - 450px);}
.wrap_grid.w2_8d .colA{width:500px;padding-right:0;position:relative;}
.wrap_grid.w2_8d .colA .article{border-right:none;background:#f6f7f8;}
.wrap_grid.w2_8d .colB{width:calc(100% - 500px);padding-left:0;}
.wrap_grid.w2_8d .colB .article .fix_sel{position:absolute;left:10px;top:5px;z-index:100;}
#list-loading{position:absolute;right:0;left:0;bottom:0;top:0;}
#list-loading .loading{position:absolute;}
#list-loading .dimmed{position:absolute;}

.wrap_grid.col3 .colCm{display:table-cell;width:calc(100% - 684px);overflow:hidden;}
.wrap_grid.col3 .colCm .colA,.wrap_grid.col3 .colCm .colB{float:left;display:inline-block;width:50%;}
.wrap_grid.col3 .colA .arti_body,.wrap_grid.col3 .colB .arti_body,.wrap_grid.col3 .colC .arti_body{min-height:196px;}
.wrap_grid .article .arti_body{padding:15px;}
.wrap_grid.col3 div .colA{padding-right:16px;}
.wrap_grid.col3 div .colB{padding:0 8px;}
.wrap_grid.col3 .colC{position:relative;display:table-cell;width:684px;padding-left:16px;vertical-align:top;}
.wrap_grid.col3 .colC:after{content:'';clear:both;}
.wrap_grid.col3 .colC .article{float:left;width:330px;border:none;}
.wrap_grid.col3 .colC .cscenter{float:right;width:314px;background:#00397a;}
.copyright{margin-top:50px;text-align:center;color:#787878;}
/*.cscenter{margin-top:30px;!*background:#eaf2fd;*!background:#f6f7f8;border:1px solid #e6ebef;padding:25px 40px;text-align:center;}*/
/*.cscenter .cs_tit{display:inline-block;color:#00397a;font-size:20px;font-weight:600;vertical-align:middle;text-align:left;}*/
/*.cscenter .cs_tit span{display:block;color:#555;font-size:13px;line-height:1.5;margin-bottom:10px;}*/
/*.cscenter .cs_num{position:relative;margin-left:100px;display:inline-block;height:32px;line-height:32px;font-size:16px;color:#222;padding-right:60px;background:url(../img/common/cs_phone.png) no-repeat calc(100% - 10px) center;vertical-align:middle;}*/
/*.cscenter .cs_num span{font-size:16px;font-weight:700;color:#555;}*/
/*.cscenter .cs_num:before{content:'';position:absolute;left:-50px;top:50%;width:1px;height:20px;background:#d0d0d0;margin-top:-10px;}*/

/*.cscenter .cs_mail{margin-left:40px;position:relative;display:inline-block;height:32px;line-height:32px;font-size:16px;color:#222;padding-right:60px;background:url(../img/common/cs_mail.png) no-repeat calc(100% - 10px) center;vertical-align:middle;}*/
/*.cscenter .cs_mail span{font-size:16px;font-weight:700;color:#555;}*/
/*!*.cscenter .cs_mail:before{content:'';position:absolute;left:-45px;top:50%;width:1px;height:30px;background:#d0d0d0;margin-top:-15px;}*!*/


.chartnodata{height:234px;background:url(../img/common/chart_nodata.png) no-repeat center center;background-size:234px 234px;}



.tbtype{width:100%;border-top:1px solid #c0c0c0;}
.tbtype thead th{background:#ddd;text-align:center;color:#444;font-weight:700;font-size:12px;border-bottom:1px solid #c0c0c0;border-left:1px solid #c0c0c0;}
/*.tbtype thead tr th:first-child{border-left:none;}*/
.tbtype th{background:#f0f0f0;text-align:left;padding:5px 10px;vertical-align:middle;border-bottom:1px solid #c0c0c0;height:38px;color:#444;font-size:12px;font-weight:700;line-height:1.3;}
.required span{display:inline-block;margin-left:3px;width:5px;height:11px;background:url(../img/common/required.png) no-repeat center top;vertical-align:top;}
.tbtype .brline{border-right:1px solid #c0c0c0;}
.tbtype .blline{border-left:1px solid #c0c0c0!important;}
.tbtype td{padding:5px 10px;vertical-align:middle;border-bottom:1px solid #c0c0c0;height:38px;}
.tbtype td p,.tbtype td span{color:#333;line-height:1.3;}
.tbtype td > *{vertical-align:middle;color:#333;}
.tbtype tr:first-child th,.tbtype tr:first-child td{}
.tbtype tr th:first-child{border-left:1px solid #c0c0c0;}
.tbtype tr td:last-child{border-right:1px solid #c0c0c0;}
.tbtype.list thead tr th:last-child{border-right:1px solid #c0c0c0;}
.tbtype.list thead tr th.norline{border-right:none;}
.tbtype.list tbody tr{background:#fff;}
.tbtype.list tbody tr:nth-child(even){background:#f8f8f8;}
.tbtype.list tbody td{border-left:1px solid #c0c0c0;}


.handling-table{margin-top:20px;}

.txt_alert{font-size:12px;color:#ee3838;}
.txt_alert2{font-size:12px;color:#00397a;}
.txt_notic{margin-top:7px;color:#787878!important;padding-left:20px;line-height:19px;background:url(../img/common/txt_notice2.png) no-repeat left center;}
.txt_notic2{display:inline-block;color:#666!important;font-size:13px;padding-left:20px;line-height:19px;background:url(../img/common/txt_notice.png) no-repeat left center;}
.txt13{font-size:13px;}
.sub_dash{position:relative;padding-left:8px;color:#444;margin-left:7px;}
.sub_dash:before{content:'';position:absolute;left:0;top:50%;margin-top:-6px;width:1px;height:12px;background:#afafaf;}
.sub_dash span{position:relative;padding:0 15px 0 5px;}
.sub_dash span:after{content:'';position:absolute;right:6px;top:50%;margin-top:-6px;width:1px;height:12px;background:#afafaf;}
.sub_dash span:last-child:after{content:none;}

.addpart-list{margin-top:5px;}
.addpart-list .addpart-item{display:inline-block;margin-left:5px;border:1px solid #d3d3d3;padding:5px 7px;vertical-align:top;border-radius:2px;color:#666;line-height:18px;}
.addpart-list .addpart-item:first-child{margin-left:0;}
.addpart-list .addpart-item span{color:#666;line-height:18px;}
.addpart-list .addpart-item .del_part_btn{margin-left:3px;display:inline-block;width:15px;height:17px;text-align:center;background:url(../img/common/btn_del2.png) no-repeat center center;vertical-align:top;}

.filebox{position:relative;padding-right:71px;}
.filebox .uploadfile{width:100%;}
.filebox label{position:absolute;right:0;top:0;display:inline-block;padding:0 10px;width:66px;color:#666;background:#f3f3f3;font-size:12px;border:1px solid #d0d0d0;height:28px;line-height:25px;}
.filebox input[type="file"]{position:absolute;-webkit-appearance: none;appearance:none;width:1px;height:1px;padding:0;overflow:hidden;margin:-1px;border:0;opacity:0;overflow:hidden;clip:rect(0,0,0,0);}

.file_line{border:1px solid #ddd;padding: 10px;}
.file_line .double{position:relative;padding-right:115px;}
.file_line .double .btn_type2{position:absolute;right:0;top:0;}

.phonenum{overflow:hidden;}
.phonenum input{float:left;width:53px;}
.phonenum select{float:left;width:65px;}
.phonenum .hyphen{float:left;}

.filelist{position:relative;}
.filelist .btn_file{display:inline-block;background:#f3f3f3;border:1px solid #d0d0d0;width:66px;padding:0 10px;height:28px;line-height:26px;color:#666;}
.filelist input[type="file"]{position:absolute;-webkit-appearance: none;appearance:none;width:1px;height:1px;padding:0;overflow:hidden;margin:-1px;border:0;opacity:0;overflow:hidden;clip:rect(0,0,0,0);}
.filelist .filename{border-top:1px solid #d0d0d0;margin-top:7px;}
.filelist .filename.view{border-top:none;margin-top:0;}
.filelist .filename li{margin-top:5px;}
.filelist .filename li .btn_del{display:inline-block;vertical-align:middle;width:13px;height:13px;background:url(../img/common/btn_del.png) no-repeat center center;margin-left:5px;}
.filelist .filename li .icon{display:inline-block;max-width:calc(100% - 18px);color:#666;line-height:22px;padding-left:22px;background-position:left center;background-repeat:no-repeat;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;}
.filelist .filename li:hover .icon{text-decoration:underline;}
.filelist .fileimg li{margin-top:3px;margin-bottom:4px;}
.fileimg{display:flex;-webkit-display:flex;justify-content: flex-start;flex-wrap:wrap;}
.fileimg li{position:relative;flex-basis:80px;height:80px;margin-right:10px;line-height:0;border:1px solid #eee;overflow:hidden;}
.fileimg li .btn_img_del{position:absolute;right:0;top:0;width:24px;height:24px;background:url(../img/common/btn_img_del.png) no-repeat center center;z-index:50;background-size:cover;}
/*.fileimg li img{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);height:120px;min-width:80px;}*/

.icon.pdf{background-image:url(../img/common/file_pdf.png);}
.icon.img{background-image:url(../img/common/file_img.png);}
.icon.ppt{background-image:url(../img/common/file_ppt.png);}
.icon.excel{background-image:url(../img/common/file_excel.png);}
.icon.txt{background-image:url(../img/common/file_txt.png);}
.icon.file{background-image:url(../img/common/file_file.png);}

.group_search{position:relative;height:28px;border:1px solid #d0d0d0;padding-right:27px;}
.group_search input{border:none;width:100%;height:26px;}
.group_search .btn_search{position:absolute;right:0;top:0;width:27px;height:26px;border-left:1px solid #d0d0d0;background:url(../img/common/ic_search.png) no-repeat center center;}
.g_search{padding:5px 10px;border-bottom:1px solid #d0d0d0;}
.g_search select,.g_search .select2-container{background-color:#fff;}
.g_search .cate > .select2-container{}
.g_search .select2-container--default .select2-selection--single{border:1px solid #d0d0d0;border-radius:0;}
.g_search input{width:100%;}
.g_search .btn_search{position:absolute;right:5px;top:5px;width:28px;height:28px;border:1px solid #d0d0d0;background:#fff url(../img/common/ic_search.png) no-repeat center center;}

.businesscode{overflow:hidden;}
.businesscode input{float:left;}
.businesscode .hyphen{float:left;}

.email{overflow:hidden;}
.email > * {float:left;}
.email input,.email select{width:calc(33.33% - 9px);}
.email select{margin-left:7px;}
.hand{cursor:pointer;}

.infobd{display:table;table-layout:fixed;border:1px solid #d0d0d0;width:100%;}
.infobd li{position:relative;display:table-cell;width:14.285%;text-align:center;padding:19px 0;}
.infobd li:before{content:'';position:absolute;left:0;top:50%;width:1px;height:40px;background:#dfdfdf;margin-top:-20px;}
.infobd li:first-child:before{content:none;width:0;height:0;}
.infobd li .info_sate{position:relative;display:inline-block;text-align:left;padding-left:52px;height:40px;}
.infobd li .info_sate .ic_state{position:absolute;left:0;top:0;width:40px;height:40px;border-radius:50%;border:1px solid #eee;background-position:center center;background-repeat:no-repeat;}
.infobd li .info_sate .subtit{font-size:12px;color:#444;}
.infobd li .info_sate .counting{margin-top:3px;color:#444;font-size:12px;line-height:24px;vertical-align:bottom;}
.infobd li .info_sate .counting span{font-weight:700;font-size:21px;color:#023d78;line-height:26px;vertical-align:bottom;}

.infobd li .info_sate .ic_state.ty01{background-image:url(../img/common/ic_state01.png);}
.infobd li .info_sate .ic_state.ty02{background-image:url(../img/common/ic_state02.png);}
.infobd li .info_sate .ic_state.ty03{background-image:url(../img/common/ic_state03.png);}
.infobd li .info_sate .ic_state.ty04{background-image:url(../img/common/ic_state04.png);}
.infobd li .info_sate .ic_state.ty05{background-image:url(../img/common/ic_state05.png);}
.infobd li .info_sate .ic_state.ty06{background-image:url(../img/common/ic_state06.png);}
.infobd li .info_sate .ic_state.ty07{background-image:url(../img/common/ic_state07.png);}
.infobd li .info_sate .ic_state.ty08{background-image:url(../img/common/ic_state08.png);}
.infobd li .info_sate .ic_state.ty09{background-image:url(../img/common/ic_state09.png);}
.infobd li .info_sate .ic_state.ty10{background-image:url(../img/common/ic_state010.png);}
.infobd li .info_sate .ic_state.ty11{background-image:url(../img/common/ic_state011.png);}
.infobd li .info_sate .ic_state.ty12{background-image:url(../img/common/ic_state012.png);}
.infobd li .info_sate .ic_state.ty13{background-image:url(../img/common/ic_state013.png);}

.infobd li .info_sate .ic_state.b01{background-image:url(../img/common/ic_state23.png);background-size:30px 30px;border:none;}
.infobd li .info_sate .ic_state.b02{background-image:url(../img/common/ic_state33.png);background-size:30px 30px;border:none;}
.infobd li .info_sate .ic_state.b03{background-image:url(../img/common/ic_state13.png);background-size:30px 30px;border:none;}
.infobd li .info_sate .ic_state.b04{background:url(../img/common/ic_wifi.png) no-repeat center center;background-size:30px 30px;border:none;}
.infobd li .info_sate .ic_state.b05{background:url(../img/common/ic_wifi2.png) no-repeat center center;background-size:30px 30px;border:none;}
.infobd li .info_sate .ic_state.b06{background:url(../img/common/ic_device.png) no-repeat center center;background-size:30px 30px;border:none;}
.infobd li .info_sate .ic_state.b07{background:url(../img/common/ic_sum.png) no-repeat center center;background-size:30px 30px;border:none;}

.infobd li .monitor {text-align:center;}
.infobd li .monitor .counting{margin-top:5px;color:#333;font-size:12px;line-height:24px;}
.infobd li .monitor .counting span{font-weight:700;font-size:21px;color:#023d78;line-height:26px;margin-right:5px;}
.infobd li .monitor .bedge{display:inline-block;line-height:22px;color:#444;}
.infobd li .monitor .bedge span{margin-right:5px;display:inline-block;vertical-align:middle;}


.infobd.boss li{padding:30px 0;}
.infobd.boss li .info_sate{padding-left:60px;}
.infobd.boss li .info_sate .ic_state{width:48px;height:48px;}
.infobd.boss li .info_sate .counting{margin-top:7px}
.infobd.boss li .info_sate .counting span i{font-weight:700;font-size:21px;color:#023d78;line-height:26px;vertical-align:bottom;margin-left:3px;}
.tab{position:relative;overflow:hidden;height:36px;}
.tab:after{content:'';position:absolute;left:0;bottom:0;width:100%;height:1px;background:#c0c0c0;z-index:0;}
.tab li{position:relative;float:left;margin-left:7px;z-index:10;height:36px;border:1px solid #c0c0c0;cursor:pointer;}
.tab li.on:after,.tab li:hover:after{content:'';position:absolute;left:0;bottom:-1px;width:100%;height:1px;background:#fff;}
.tab li a{display:block;padding:0 15px;font-size:14px;color:#555;font-weight:700;line-height:34px;background:#f6f7f8;}
.tab li.on a,.tab li:hover a{background:#fff;}
.tab li:first-child{margin-left:0;}
.tab_conts li{padding:15px 0 0;}

.pager{margin:12px auto 0; text-align:center;}
.pager a{display:inline-block;margin:0 2px;color:#666;font-size:13px;font-weight:700;line-height:22px;padding:0 3px;vertical-align:top;}
.pager a.on,.pager a:hover{color:#00a9ff;}
.pager .btn_first{width:20px;height:22px;padding:0;overflow:hidden;background-image:url(../img/common/btn_first.png);background-repeat:no-repeat;background-position:center top;}
.pager .btn_prev{width:20px;height:22px;padding:0;overflow:hidden;background-image:url(../img/common/btn_prev.png);background-repeat:no-repeat;background-position:center top;}
.pager .btn_next{width:20px;height:22px;padding:0;overflow:hidden;background-image:url(../img/common/btn_next.png);background-repeat:no-repeat;background-position:center top;}
.pager .btn_last{width:20px;height:22px;padding:0;overflow:hidden;background-image:url(../img/common/btn_last.png);background-repeat:no-repeat;background-position:center top;}
.pager .btn_first.on,.pager .btn_prev.on,.pager .btn_next.on,.pager .btn_last.on,.pager .btn_first:hover,.pager .btn_prev:hover,.pager .btn_next:hover,.pager .btn_last:hover{background-position:center bottom;}

.ic_locate{display:inline-block;line-height:19px;}
.ic_locate i{display:inline-block;width:14px;height:19px;background:url(../img/common/ic_locate.png) no-repeat left center;vertical-align:top;}

.photo{margin:0 auto;position:relative;width:75px;height:53px;overflow:hidden;}
.photo img{width:100%;line-height:0;}
.photo .p_more{position:absolute;right:0;bottom:0;width:30px;height:16px;line-height:16px;background:rgba(0,0,0,0.6);color:#fff;font-size:11px;text-align:center;overflow:hidden;vertical-align:top;}

.wid_head{position:relative;padding:12px 15px;border:1px solid #00397a;}
.wid_head.mh80{min-height:65px;}
.wid_head dl{display:inline-block;vertical-align:middle;margin-right:80px;}
.wid_head dl dt{position:relative;display:inline-block;padding-left:7px;color:#666;line-height:28px;padding-right:15px;font-size:13px;font-weight:700;}
.wid_head dl dt:before{content:'';position:absolute;left:0;top:50%;margin-top:-1px;width:2px;height:2px;background:#afafaf;}
.wid_head dl dd{display:inline-block;line-height:28px;color:#333;font-size:13px;}
.wid_head dl dd span{font-weight:800;}
.wid_head.mh80 dl dt{line-height:41px;}
.wid_head h4{font-size:15px;font-weight:700;color:#00397a;line-height:19px;}
.wid_head .dash{margin-top:7px;}
.wid_head .dash span{position:relative;font-size:13px;color:#787878;padding:0 8px;}
.wid_head .dash span:before{content:'';position:absolute;left:0;top:50%;margin-top:-7px;width:1px;height:14px;background:#afafaf;}
.wid_head .dash span:first-child{padding-left:0;}
.wid_head .dash span:first-child:before{content:none;}
.code_img{position:absolute;right:0;top:50%;transform:translateY(-50%);display:inline-block;vertical-align:middle;line-height:1.5;border-radius:2px;}
.wid_head  .btn_side{position:absolute;right:190px;top:50%;transform:translateY(-50%);display:inline-block;vertical-align:middle;}
.wid_head  .btn_side.fix{right:150px}
.wid_head  .btn_side.monitor{right:15px}
.wid_head  .btn_side a,.wid_head  .btn_side button{margin-left:5px;}
.discontent{margin-top:7px;}
.discontent h3{font-size:14px;}
.discontent p{font-size:14px;color:#666;}

.lat{margin-top:10px;width:600px;border:1px solid #d0d0d0;padding:10px 10px 5px;border-radius:2px;}
.lat .bold{font-weight:700;color:#333;font-size:13px;line-height:22px;}
.lat span{position:relative;padding:0 10px 0 7px;line-height:22px;}
.lat span:before{content:'';position:absolute;left:0;top:50%;margin-top:-1px;width:2px;height:2px;background:#c0c0c0;}
.lat span > span{padding:0;}
.lat span > span:before{content:none;}
.lat input[type="text"]{width:120px;margin-right:20px;}

.map_view{margin-top:7px;width:600px;}
.map_view img{width:100%;}

.item_li{overflow:hidden;}
.item_li li{margin-top:10px;float:left;width:calc(50% - 5px);margin-right:5px;}
.item_li li:nth-child(even){margin-left:5px;margin-right:0;}
.item_li li .arti_body{padding:15px 10px;}
.item_li li .arti_body h3{font-size:14px;color:#00397a;font-weight:700;}
.item_li li .arti_body h3.on{color:#f15848;}
.item_li li .arti_body .setdate{margin-top:3px;line-height:22px;color:#444;font-size:13px;}
.item_li li .arti_body .setdate .state{margin-right:5px;}
.item_li li .arti_body .set_info{margin-top:7px;color:#666;line-height:1.4;}
.item_li li .arti_body .set_info span{position:relative;padding:0 9px;font-size:12px;color:#666;}
/*.item_li li .arti_body .set_info span:first-child{padding-left:0;}
.item_li li .arti_body .set_info span:first-child:before{content:none;}*/
.item_li li .arti_body .set_info span:before{content:'';position:absolute;left:0;top:50%;margin-top:-1px;width:2px;height:2px;background:#787878;}
.item_li li .arti_body .asinfo{color:#666;line-height:1.4;}
.state{display:inline-block;font-size:12px;color:#fff!important;padding:0 12px;line-height:22px;border-radius:2px;height:22px;}
.state.st1{background:#3f76b5;}
.state.st2{background:#80beaf;}
.state.st3{background:#c8b8a0;}
.state.st4{background:#cf9da0;}
.state.st5{background:#9175b2;}
.state.st6{background:#00397a;}
.state.st7{background:#6f6f6f;}

.addr_wrap{position:relative;padding:5px 87px 5px 10px;background:#f6f7f8;border:1px solid #c0c0c0;}
.addr_wrap .btn_type2{position:absolute;right:10px;top:5px;}
.addr_wrap input[type="text"]{background-color:#fff;}
.mapload{border:1px solid #c0c0c0;width:100%;height:480px;border-top:none;}
.map_info{border:1px solid #c0c0c0;padding:12px 10px;margin-top:10px;}
.map_tit{font-size:14px;font-weight:700;}
.lat_num{margin-top:7px;}
.lat_num span{color:#555;margin-right:20px;}
.lat_write .dp_tbc{width:50%;}
.lat_write .dp_tbc span{display:inline-block;width:60px;line-height:28px;vertical-align:middle;}
.lat_write .dp_tbc input[type=text]{width:100% - 60px);}

.article{border:1px solid #c0c0c0;}
.article .tit_head{position:relative;background:#f0f0f0;padding:0 10px;}
.article .tit_head h3{display:inline-block;color:#444;font-weight:700;line-height:39px;}
.article .tit_head span{position:absolute;right:10px;font-size:13px;color:#666;line-height:39px;}
.article .arti_body{padding:10px;}
.timeinfo{display:block;vertical-align:top;/*border:1px solid #ddd;*/border-radius:7px;padding:10px;text-align:center;color:#666;margin:10px 0 0;}
.ic_time{display:inline-block;margin-bottom:7px;line-height:23px;height:23px;padding-left:20px;background:url(../img/common/ic_time.png) no-repeat left center;font-size:14px;margin-right:7px;color:#666;}
.time_term{display:inline-block;color:#333;font-size:14px;line-height:1.4;}
.light_time{text-align:center;padding:0 0;}
.light_time .lignt_on{font-size:15px;color:#666;display:inline-block;}
.light_time .lignt_on i{display:inline-block;width:11px;height:15px;vertical-align:middle;background:url(../img/common/light_on.png) no-repeat center center;margin-right:5px;}
.light_time .lignt_on span{display:inline-block;margin-left:7px;font-size:15px;color:#333;vertical-align:middle;}
.light_time .lignt_off{margin-left:10px;font-size:15px;color:#666;display:inline-block;}
.light_time .lignt_off i{display:inline-block;width:11px;height:15px;vertical-align:middle;background:url(../img/common/light_off.png) no-repeat center center;margin-right:5px;font-size:15px;}
.light_time .lignt_off span{display:inline-block;margin-left:7px;font-size:15px;color:#333;vertical-align:middle;}
.hour{position:relative;padding:33px 0;margin:15px auto 20px;display:block;width:236px;height:236px;background:url(../img/common/clock_bg.png) no-repeat center center;}
.pie{position:relative;margin:0 auto;width:170px;height:170px;border-radius:50%;overflow:hidden;}
/*.pie:before{background:#fff; width:85px;height:170px;content:'';position:absolute;left:50%;top:0;}*/
.detailmap{height:368px;overflow:hidden;}
.locate_map{display:inline-block;width:27px;height:42px;background-image:url(../img/common/map_ty3_all.png);background-repeat:no-repeat;}
.locate_map.a{background-position:-27px 0;}
.locate_map.b{background-position:-27px -42px;}
.locate_map.c{background-position:-27px -84px;}
.locate_map.d{background-position:-27px -126px;}
.locate_map.e{background-position:-27px -168px;}
.locate_map.f{background-position:-27px -210px;}
.locate_map.g{background-position:-27px -252px;}
.locate_map.h{background-position:-27px -294px;}
.locate_map.a:hover,.locate_map.a.on{background-position:0 0;}
.locate_map.b:hover,.locate_map.b.on{background-position:0px -42px;}
.locate_map.c:hover,.locate_map.c.on{background-position:0px -84px;}
.locate_map.d:hover,.locate_map.d.on{background-position:0px -126px;}
.locate_map.e:hover,.locate_map.e.on{background-position:0px -168px;}
.locate_map.f:hover,.locate_map.f.on{background-position:0px -210px;}
.locate_map.g:hover,.locate_map.g.on{background-position:0px -252px;}
.locate_map.h:hover,.locate_map.h.on{background-position:0px -294px;}

.login{position:relative;width:100%;height:100%;min-height:780px;background:#f9f9f9;}
/*.ci{display:inline-block;width:245px;height:40px;background:url(../img/common/ic_test.png) no-repeat center center;background-size:cover;}
.loginbox{position:absolute;top:35%;left:50%;transform:translate(-50%,-50%);margin:0 auto;padding:30px;width:510px;!*box-shadow:0 1px 3px rgba(0,0,0,0.1);background:#fff;*!}*/
/*.loginbox .logo_tit{text-align:center;padding-bottom:20px;}*/
/*.loginbox input[type="text"],.loginbox input[type="password"]{display:block;width:100%;height:50px;margin-top:15px;line-height:48px;font-size:15px;}*/
/*.loginbox .txt_lb{font-size:14px!important;line-height:37px!important;}*/
/*.loginbox .btn_type2{display:block;width:100%;height:55px;line-height:55px;font-size:15px;margin-top:20px;}*/
/*.loginbox .btn_type1{font-size:14px;height:37px;line-height:35px;}*/
/*.login_foot{position:absolute;bottom:20px;left:50%;transform:translateX(-50%);}*/
/*.login_foot p{text-align:center;font-size:13px;color:#666;line-height:1.5}*/
/*.login_foot p a{color:#666;font-size:13px;line-height:1.3;}*/
.loginbox{position:absolute;left:0;top:50%;width:100%;padding:90px 0;height:615px;transform:translate(0,-50%);background:rgba(0,42,89,0.88);}
.logo_tit{margin:0 auto;width:810px;padding-left:38px;}
.logo_tit .ci{display:inline-block;width:246px;height:40px;background:url(../img/common/ic_test2.png) no-repeat center center;background-size:cover;}
.divid{margin:32px auto 0;width:810px;padding:47px 37px;border-top:1px solid rgba(255,255,255,0.25);border-bottom:1px solid rgba(255,255,255,0.25);overflow:hidden;}
.divid .secta{float:left;width:350px;}
.divid .secta input{width:100%;height:47px;background-color:#fff;-webkit-appearance: none;font-size:17px;}
.divid .secta input + input{margin-top:20px;}
.divid .secta .btn_type2{margin-top:20px;border:1px solid #fff;width:100%;height:47px;color:#fff;background-color:transparent;font-size:15px;}
.divid .secta .btn_type1{position:relative;border:none;background-color:transparent;color:#fff;min-width:auto;padding:0 5px;height:16px;line-height:16px;font-size:13px;}
.divid .secta #regUserBtn:after{content:'';position:absolute;right:-3px;top:2px;width:1px;height:12px;background:#fff;}
.divid .secta input[type="checkbox"] + label .txt_lb{color:#fff;}
.divid .sectb{padding-left:48px;float:right;}
.divid .sectb p{color:#fff;font-size:24px;line-height:29px;text-align:left;}
.divid .sectb .bold{font-weight:600;line-height:37px;}
.divid .sectb div{margin-top:20px;overflow:hidden;}
.divid .sectb a{display:block;float:left;width:101px;height:101px;border:1px solid #fff; color:#fff;text-align:center;padding-top:75px;}
.divid .sectb a+a{margin-left:16px;}
.divid .sectb a span{display:block;font-size:14px;}
.divid .sectb .ic_mall{background:url(../img/common/ic_mall.png) no-repeat top center;}
.divid .sectb .ic_pro{background:url(../img/common/ic_pro.png) no-repeat top center;}
.divid .sectb .ic_company{background:url(../img/common/ic_company.png) no-repeat top center;}

.login_foot{margin-top:32px;}
.login_foot p{text-align:center;font-size:13px;color:#fff;line-height:1.5}



.loading{position:fixed;left:50%;top:50%;width:84px;height:84px;background:#fff url(../img/common/loading2.gif) no-repeat center center;transform:translate(-50%,-60%);z-index:120;background-size:55px 64px;border-radius:50%;box-shadow:0 0 2px rgba(0,0,0,0.3);}
.dimmed{position:fixed;left:0;top:0;bottom:0;right:0;background:rgba(0,0,0,0.4);z-index:110;width:100%;height:100%;}

.mapcode{padding:10px 10px 7px;font-weight:800;font-size:14px;color:#333;}
.mapname{padding:0 10px 10px;font-size:13px;color:#555;}

.bd_edit{min-height:480px;white-space: pre-wrap;}
.app_down{height:100%;}
.appdown{height:calc(100% - 150px);padding:13% 0 0;width:100%;}
.appdown h3{font-size:22px;color:#222;text-align:center;line-height:1.4;font-weight:800;}
.appdown p{margin-top:5px;font-size:16px;text-align:center;color:#787878;padding-bottom:8%;}
.appdown img{width:100%;}
.btn_down{background:#f0f0f0;padding:30px 35px;text-align:center;}
.btn_down .android{display:block;height:45px;background:#12447a;color:#fff;line-height:45px;font-size:15px;font-weight:600;}
.btn_down .ios{margin-top:10px;display:block;height:45px;background:#fff;color:#12447a;line-height:43px;border:1px solid #12447a;font-size:15px;font-weight:600;}

.ic_data{display:block;margin:0 auto;width:19px;height:19px;background:url(../img/common/file_file.png) no-repeat center center;}
.ic_power01{color:blue;}
.ic_power02{}
.ic_state01{margin:0 auto;width:19px;height:19px;background:url(../img/common/ic_state23.png) no-repeat center center;background-size:22px 22px;}
.ic_state02{margin:0 auto;width:19px;height:19px;background:url(../img/common/ic_state33.png) no-repeat center center;background-size:22px 22px;}
.ic_state03{margin:0 auto;width:19px;height:19px;background:url(../img/common/ic_state13.png) no-repeat center center;background-size:22px 22px;}
.ic_connection01{margin:0 auto;width:19px;height:19px;background:url(../img/common/ic_wifi.png) no-repeat center center;background-size:22px 22px}
.ic_connection02{margin:0 auto;width:19px;height:19px;background:url(../img/common/ic_wifi2.png) no-repeat center center;background-size:22px 22px}
.ic_connection03{margin:0 auto;width:19px;height:19px;background:url(../img/common/ic_device.png) no-repeat center center;background-size:22px 22px}
.minusBtn{display:inline-block;width:28px;height:28px;text-align:center;border:1px solid #d0d0d0;line-height:26px;color:#333;background:#fff;}
.plusBtn{display:inline-block;width:28px;height:28px;text-align:center;border:1px solid #d0d0d0;line-height:26px;color:#333;background:#fff;}
.minusBtn:active,.plusBtn:active{background:#f7fbff;}

.tog_list{margin-top:10px;}
.tog_list li{display:block;border-bottom:1px solid #c0c0c0;}
.tog_list li:first-child{border-top:1px solid #c0c0c0;}
.tog_list li .tog_head{}
.tog_list li .tog_head a{position:relative;display:block;padding:7px 10px;}
.tog_list li .tog_head a i{position:absolute;right:10px;top:50%;margin-top:-10px;display:inline-block;width:20px;height:20px;background:url(../img/common/faq_base.png) no-repeat center center;background-size:20px 20px;transform:rotate(0deg);}
.tog_list li .tog_head a h3{font-size:14px;}
.tog_list li .tog_head a span{color:#666;}
.tog_list li .tog_body{display:none;border-top:1px solid #d3d3d3;background:#f8f8f8;padding:10px;}
.tog_list li .tog_body p{color:#444;line-height:1.5;}
.tog_list li.on .tog_head a i{transform:rotate(-180deg);}
.tog_list li.on .tog_body{display:block;}

.whitebd{background:#f6f7f8;padding:5px 10px 20px;}
.whitebd ul{overflow:hidden;}
.whitebd ul li{float:left;width:calc(25% - 20px);margin:15px 10px 0;}
.whitebd ul.col5 li{width:calc(20% - 20px);}
.whitebd ul li div{background:#fff;padding:15px;border:1px solid #f0f0f0;min-height:105px;}
.whitebd ul li h3{font-size:13px;}
.whitebd ul li .now{margin-top:10px;font-size:26px;font-weight:700;text-align:center;}
.whitebd ul li .base{margin-top:10px;font-size:12px;text-align:center;color:#666;}
.whitebd ul li .height .now{color:#c81515;}
.whitebd ul li .low .now{color:#00397a;}
.whitebd ul li .normal{background: #00397a;}
.whitebd ul li .normal p,.whitebd ul li .normal h3{color:#fff;}
.whitebd ul li .warn{background: #c81515;}
.whitebd ul li .warn p,.whitebd ul li .warn h3{color:#fff;}
.whitebd ul li .off{background: #424242;}
.whitebd ul li .off p,.whitebd ul li .off h3{color:#fff;}

.reguser{margin:0 auto;height:100%;overflow-y:auto;}
.reguser .join{margin:0 auto;width:960px;padding:30px 0 20px;}
.join .tit_h3{margin-top:30px;font-size:16px;font-weight:700;/*border-top:1px solid #00397a;*/border-bottom:1px solid #00397a;line-height:32px;}
.join .term{border:1px solid #d3d3d3;height:250px;padding:12px;overflow-y:scroll;}
.join .term.h400{margin-top:20px;height:600px;}
.join .term h3{color:#333;font-weight:600;line-height:1.7;}
.join .term p{color:#666;line-height:1.7;}
.join .term .lt15{padding-left:15px;text-indent:-14px;}
.join .term .pl20{padding-left:17px;}
.join .widget{margin-top:15px;}
.join .ci{margin:0 auto;display:inline-block;width:245px;height:40px;background:url(../img/common/ic_test.png) no-repeat center center;background-size:cover;}
.join .widget .reg_form{display:table;width:100%;table-layout:fixed;}
.join .widget .reg_form dt{display:table-cell;width:22.5%;background:#f0f0f0;padding:5px 10px;border:1px solid #c0c0c0;border-right:none;color:#444;font-size:12px;font-weight:700;height:38px;vertical-align:middle;}
.join .widget .reg_form dd{display:table-cell;width:77.5%;padding:5px 10px;height:38px;border:1px solid #c0c0c0;border-left:none;vertical-align:middle;}
.join .widget .reg_form dd .findid{display:inline-block;}

.reg_form + .reg_form dt{border-top:none!important;}
.reg_form + .reg_form dd{border-top:none!important;}
.m_web_search{position:relative;padding-right:80px;}
.m_web_search .btn_type2{position:absolute;right:0;top:0;}
.searchbox table td.blline{border-left:1px solid #d0d0d0;}

.faq{}
.faq li{background:#fff;border-bottom:1px solid #d3d3d3;cursor:pointer;}
.faq li:first-child{border-top:1px solid #d3d3d3;}
.faq li a{padding:6px  50px 5px 22px;display:block;background:url(../img/common/faq_base.png) no-repeat calc(100% - 20px) center;background-size:20px 20px;}
.faq li a .quiz{line-height:33px;font-size:14px;color:#333;}
.faq li .answer{display:none;border-top:1px solid #d3d3d3;padding:22px;transition:all 4000ms ease-in}
.faq li .answer p{font-size:13px;color:#787878;line-height:19px;}
.faq li.on a,.faq li:active a{background:url(../img/common/faq_on.png) no-repeat calc(100% - 20px) center;background-size:20px 20px;}
.faq li.on .answer,.faq li:active .answer{display:block;}

.dash_tit{display:table;width:100%;overflow:hidden;padding:20px 0;/*background:#f6f6f6;*/}
.dash_tit .user_info{display:table-cell;vertical-align:middle;}
.dash_tit .user_info p{line-height:1.4;color:#222;font-size:14px;}
.dash_tit .user_info p + p,.dash_tit .user_info p + p span{font-size:20px;font-weight:600;}
.dash_tit .user_info .btn_type2{margin-top:15px;border-radius:2px;width:130px;height:38px;line-height:38px;font-size:15px;}
.dash_tit .user_info .ic_todo{margin:15px 0 0 10px;display:inline-block;padding:0 10px;width:130px;height:38px;vertical-align:middle;background:#00397a;text-align:center;color:#fff;font-size:15px;font-weight:600; line-height:38px;border-radius:2px;}
.dash_tit .user_info .ic_todo:hover{background-color:#002a59;}
.dash_tit .user_info .ic_todo i{display:inline-block;width:17px;margin-right:5px;height:38px;background:url(../img/common/ic_todo.png) no-repeat center center;line-height:38px;vertical-align:top;}
.dash_tit .user_info .ic_todo span{font-size:15px;color:#ffe080;line-height:38px;}
.dash_tit .menual{display:table-cell;text-align:right;vertical-align:middle;}
.dash_tit .menual > a:hover{background-color:#eaeaea;}

.dash_tit .menual .ic_complain_enter{margin-left:10px;display:inline-block;width:150px;padding:0;height:100px;vertical-align:middle;background:#fafafa;border:1px solid #d0d0d0;color:#333;text-align:center;font-size:15px;font-weight:600;}
.dash_tit .menual .ic_complain_enter i{margin:17px 0 10px;display:block;height:36px;background:url(../img/common/ic_complain_enter.png) no-repeat center center;line-height:45px;font-size:14px;}
.dash_tit .menual .ic_menual{margin-left:10px;display:inline-block;width:150px;padding:0;height:100px;vertical-align:middle;background:#fafafa;border:1px solid #d0d0d0;color:#333;text-align:center;font-size:15px;font-weight:600;}
.dash_tit .menual .ic_menual i{margin:17px 0 10px;display:block;height:36px;background:url(../img/common/ic_menual.png) no-repeat center center;line-height:45px;font-size:14px;}
.dash_tit .menual .ic_faq{margin-left:10px;display:inline-block;padding:0 10px;width:150px;height:100px;vertical-align:middle;background:#fafafa;border:1px solid #d0d0d0;color:#333;text-align:center;font-size:15px;font-weight:600;}
.dash_tit .menual .ic_faq i{margin:17px 0 10px;display:block;height:36px;background:url(../img/common/ic_faq.png) no-repeat center center;line-height:45px;font-size:14px;}

.device_state{display:table;background:#fff;width:100%;border-bottom:1px solid #d0d0d0;table-layout:fixed;}
.device_state li{position:relative;display:table-cell;vertical-align:middle;text-align:center;padding:12px 0;}
.device_state li:before{content:'';position:absolute;left:0;top:50%;width:1px;height:30px;margin-top:-15px;background:#dfdfdf;}
.device_state li:first-child:before{content:none;}
.device_state li p{font-size:14px;font-weight:700;}
.device_state li .ic_device{line-height:24px;font-weight:400;font-size:12px;color:#555;margin-bottom:7px;}
.device_state li .ic_device span{display:block;margin:0 auto;width:16px;height:16px;border-radius:50%;vertical-align:middle;}
.device_state li .ic_device.ok span{background:url(../img/common/ic_device_ok.png) no-repeat center center;background-size:16px 16px;}
.device_state li .ic_device.notic span{background: url(../img/common/ic_device_notic.png) no-repeat center center;background-size:16px 16px;}
.device_state li .ic_device.off span{background:url(../img/common/ic_device_power.png) no-repeat center center;background-size:16px 16px;}
.device_state li .ic_device.wifi span{background:url(../img/common/ic_wifi_ok.png) no-repeat center center;background-size:16px 16px;}
.device_state li .ic_device.wifino span{background:url(../img/common/ic_wifi_no.png) no-repeat center center;background-size:16px 16px;}
.device_state li .ic_device.device span{background:url(../img/common/ic_device2.png) no-repeat center center;background-size:16px 16px;}


.monitor_list{}
.monitor_list li{border-top:1px solid #d0d0d0;background:#fff;padding:15px 10px;}
.monitor_list li:hover{cursor: pointer;}
.no-data{text-align:center;}
.no-data span{color:#999;padding-left:17px;background:url(../img/common/nodata.png) no-repeat left center;}
.d_locate{position:relative;padding-right:30px;}
.d_locate.wifi{background:url(../img/common/ic_wifi.png) no-repeat right 1px;background-size:20px 20px;}
.d_locate.wifino{background:url(../img/common/ic_wifi2.png) no-repeat right 1px;background-size:20px 20px;}
.d_locate.device{background:url(../img/common/ic_device2.png) no-repeat right 1px;background-size:20px 20px;}
.d_locate .dv_state{display:inline-block;height:20px;line-height:20px;border-radius:2px;color:#fff;text-align:center;padding:0 7px;font-size:11px;vertical-align:top;}
.d_locate .dv_state.ok{background:#003776;}
.d_locate .dv_state.notic{background:#bd3434;}
.d_locate .dv_state.off{background:#7e7e7e;}
.d_locate .dv_power{display:inline-block;padding:0 7px;margin-left:5px;width:37px;height:20px;line-height:18px;border-radius:2px;font-size:11px;text-align:center;vertical-align:top;}
.d_locate .dv_power.off{border:1px solid #7e7e7e;color:#7e7e7e;}
.d_locate .dv_power.on{border:1px solid #5082bc;color:#5082bc;}
.d_locate .locate_name{margin-left:7px;font-weight:700;color:#222;font-size:15px;line-height:22px;}

.d_info{margin-top:5px;font-size:14px;line-height:1.3;color:#333;}
.d_info span{font-size:14px;line-height:1.3;color:#333;}
.d_data{margin-top:10px;color:#787878;}
.d_data span{position:relative;padding:0 7px;}
.d_data span:first-child{padding-left:0;}
.d_data span + span:before{content:'';position:absolute;left:0;top:50%;width:1px;height:10px;background:#dfdfdf;margin-top:-5px;}

.wrap_grid.col3 div .article .arti_body .head{position:relative;}
.wrap_grid.col3 > .colCm > div > .article .arti_body .head h3{display:inline-block;font-size:15px;color:#333;line-height:1.4;font-weight:700;}
.wrap_grid.col3 > .colCm > div > .article .arti_body .head .btn_more{position:absolute;right:0;top:0;display:inline-block;width:17px;height:17px;background:url(../img/common/btn_more.png) no-repeat center center;}
.wrap_grid.col3 > .colCm > div > .article .arti_body ul{margin-top:10px;}
.wrap_grid.col3 > .colCm > div > .article .arti_body ul li{display:block;}
.wrap_grid.col3 > .colCm > div > .article .arti_body ul li a{display:block;color:#555;line-height:25px;font-size:13px;}
.wrap_grid.col3 .colC .article .arti_body a{position:relative;display:block;width:100%;height:100%;overflow:hidden;}
.wrap_grid.col3 .colC .article .arti_body a img{height:192px;}


.display{margin-top:15px;display:table;width:100%;}
.display li{display:table-cell;padding:0 8px;width:25%;}
.display.col3 li{width:33.33%;}
.display.col7{margin-top:30px;}
.display.col7 li{width:14.285%;}
.display li:first-child{padding:0 16px 0 0;}
.display li:last-child{padding:0 0 0 16px;}
.display li .info_sate{position:relative;border:1px solid #d0d0d0;padding:35px 30px;}
.display li .sub_tit{font-size:15px;color:#333;}
.display li .counting{margin-top:12px;}
.display li .counting span{font-size:24px;color:#333;font-weight:700;}
.display li .info_sate .ic_state{position:absolute;right:30px;top:50%;width:72px;height:74px;margin-top:-37px;}
.display li .info_sate .ic_state.ic_shop{display:inline-block;background:url(../img/common/ic_shops.png) no-repeat center center;background-size:58px 60px;}
.display li .info_sate .ic_state.ic_set{display:inline-block;background:url(../img/common/ic_set_w.png) no-repeat center center;background-size:58px 60px;}
.display li .info_sate .ic_state.ic_count{display:inline-block;background:url(../img/common/ic_count.png) no-repeat center center;background-size:58px 60px;}
.display li .info_sate .ic_state.ic_complain{display:inline-block;background:url(../img/common/ic_complain.png) no-repeat center center;background-size:58px 60px;}
.display.col7 li .info_sate{padding:30px 15px;}
.display.col7 li .info_sate .ic_state{right:10px;width:58px;}
.display.col7 li .counting span{font-size:20px;}

.scr_box{border:1px solid #c0c0c0;border-top:none;}
.scr_box .scr_head{padding-right:17px;background:#ddd;}
.scr_box .scr_body{overflow-y:scroll;}
.scr_box .scr_body.h228{height:227px;}
.scr_box .scr_body .tbtype{border-top:none;}
/*.scr_box .scr_body .tbtype tbody tr:last-child td,.scr_box .scr_body .tbtype tbody tr:last-child th{border-bottom:none;}*/
.scr_box .scr_body .tbtype tr *:first-child,.scr_box .scr_head .tbtype tr *:first-child{border-left:none;}

/*.main_layout{margin:0 auto;max-width:1170px;}*/
.page:first-child table{position:relative;}
.page:first-child table:before{content:'';position:absolute;right:-1px;top:-2px;bottom:-1px;left:-1px;border:1px solid #333;}
.page + .page{margin-top:30px;border:1px solid #333;}

.ic_filter{display:inline-block;padding:0 7px 0 24px;line-height:28px!important;height:28px;vertical-align:middle;}
.ic_filter.nice{background:url(../img/mobile/bug_nice.png) no-repeat left center;background-size:18px 18px;}
.ic_filter.good{background:url(../img/mobile/bug_good.png) no-repeat left center;background-size:18px 18px;}
.ic_filter.bad{background:url(../img/mobile/bug_bad.png) no-repeat left center;background-size:18px 18px;}

.error{position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);text-align:center;padding:40px 80px;background:#f6f7f8;border-radius:10px;}
.error p{margin-top:20px;font-size:16px;color:#333;line-height:1.4;}
.error p + p{margin-top:0;color:#555;font-size:14px;}
.error p span{color:#555;font-size:14px;}
.error .color_b{margin: 5px 0 20px;color:#00397a;font-size:16px;font-weight:600;}
.error .btn_type2{margin-top:20px;min-width:200px;height:35px;line-height:35px;}

@media print {

	@page {
		size:21cm 29.7cm; /*A4*/
		margin:0;
		page-break-before: always;


	}

	html, body { border:0; margin:0; padding:20px 15px;}
	#printPage .tbtype td img{width:48%}
	.page + .page{margin-top:30px;border:none;}
	.page:first-child table:before{content:none;border:none;}
.page{margin: 0;
	padding: 1cm 0.5cm;
	border: inherit;

	width: inherit;

	min-height: inherit;

	box-shadow: inherit;

	background: inherit;
	-webkit-print-color-adjust:exact;

	page-break-after: always;}
}
.imgbox{overflow:hidden;}
.imgbox .imgwrap{position:relative;float:left;width:calc(50% - 10px);margin:0 5px;height:320px;overflow:hidden;border:1px solid #d3d3d3;}
.imgbox img{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:100%;}


.map_local{position:relative;padding:0 7px 0 39px;background:#fff;border-radius:17px;height:34px;box-shadow:0 2px 2px rgba(0,0,0,0.2);}
.map_local .cityname{display:inline-block;color:#333;line-height:34px;}
.map_local .d_num{position:absolute;left:0;top:0;display:inline-block;color:#fff;width:34px;height:34px;line-height:34px;font-size:13px;font-weight:600;text-align:center;border-radius:50%;background:#00397a;overflow:hidden;}

.mail_txt{padding:10px 0;}
.mail_txt p{line-height:1.6!important;}
.mail_txt table{margin-top:10px;}