.tui-datepicker-input.tui-has-focus {position:relative;padding:0 28px 0 0;border:1px solid #d0d0d0;width:114px;}
.tui-datepicker-input > input{border:none;height:26px;}
.tui-datepicker-selector-button.tui-is-checked .tui-ico-date, .tui-datepicker-input.tui-has-focus .tui-ico-date{margin:0;right:0;top:0;width:27px;height:26px;border-left:1px solid #d0d0d0;background:url(../img/common/ic_month.png) no-repeat center center!important;}

.tui-grid-container{border-top:1px solid #d0d0d0;border-left:1px solid #d0d0d0}
.tui-grid-cell-header{background-color:#ddd;}
.tui-grid-cell-header.tui-grid-cell{font-weight:700!important;}
.tui-grid-cell{color:#444!important;}
.tui-grid-header-area{border-width:0;}
.tui-grid-scrollbar-right-top{border-width:0px 1px 0 1px;}
.tui-grid-table{border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;}
.tui-grid-table tr td:last-child{border-right:none!important;}
.tui-datepicker{z-index:100;}
.tui-calendar .tui-calendar-header-inner{border-bottom:1px solid #aaa;}
.tui-calendar-btn{height:49px;}
.tui-calendar .tui-calendar-next-month.tui-calendar-date{visibility: visible;}
.tui-calendar .tui-calendar-body-header th{border-top:1px solid #d0d0d0;border-left:none;}
.tui-calendar th, .tui-calendar td{height:28px;color:#555;}

.tui-grid-layer-state p{right:inherit;left:50%;transform:translateX(-50%);display:inline-block;color:#999;padding-left:20px;line-height:19px;background:url(../img/common/txt_notice2.png) no-repeat left center;font-size:12px;}

.tui-datepicker{}

.bx-wrapper{margin-bottom:20px;height:530px;background:none;border:none;box-shadow:none;-webkit-box-shadow:none;}
.bx-wrapper .bx-viewport{height:100%!important;}
.bx-wrapper .bx-viewport ul li{height:530px;}
.bx-wrapper .bx-controls-direction a{width:35px;height:35px;margin-top:-18px;}
.bx-wrapper .bx-prev{overflow:hidden;background:url(../img/common/bx_prev.png) no-repeat center top;}
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus{background:url(../img/common/bx_prev.png) no-repeat center top;}
.bx-wrapper .bx-next{overflow:hidden;background:url(../img/common/bx_next.png) no-repeat center top;}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus{background:url(../img/common/bx_next.png) no-repeat center top;}
.bx-wrapper img{height:100%;width:auto!important;margin:0 auto;}
#thumbnailList{text-align:center;}
#thumbnailList li{position:relative;display:inline-block;vertical-align:top;margin:0 5px 15px;width:90px;height:90px;overflow:hidden;}
#thumbnailList li.focus:before,#thumbnailList li:hover:before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;border:2px solid #ffab31;z-index:10;box-sizing:border-box;}
.bx-wrapper .bx-caption{background:none;top:0;height:28px;}
.bx-wrapper .bx-caption span{font-size:12px;}
.tui-grid-btn-sorting{background:url(../img/common/ic_sorting.png) no-repeat left center;}
.tui-grid-btn-sorting-up{background-position:-11px center;}
.tui-grid-btn-sorting-down{background-position:-22px center;}


.tui-chart.tui-column-chart{margin:0 auto;}

.tui-grid-cell.tui-grid-cell-has-input.bold .tui-grid-cell-content{font-weight: 700; color: #e72917
}

.tui-chart.tui-pie-chart{margin:0 auto;}
.tui-chart.tui-line-chart{margin:0 auto;}
.tui-chart .tui-chart-series-custom-event-area{z-index:99!important;}
.tui-chart .tui-chart-tooltip-area{z-index:98!important;}
.tui-chart .tui-chart-chartExportMenu-area{z-index:100!important;}

.tui-grid-lside-area .tui-grid-header-area:after{content:'';position:absolute;right:0;top:0;width:1px;height:100%;background:#c0c0c0;z-index:10;}

.tui-grid-body-container .tui-grid-table-container:after{content:'';position:absolute;right:0;top:0;width:1px;height:100%;background:#c0c0c0;z-index:10;}