

@media screen and (max-width:812px){
	*{font-family:"NotoSans","AppleSDGothic";}

	.cper3250{width:32.5%;}
	.cper2500{width:25%;}
	input::placeholder,::-webkit-input-placeholder{color:#ccc;}
	input[type=text]{-webkit-appearance: none;outline:none;}
html,body{height:100%;}
	header{position:absolute;top:0;right:0;left:0;height:50px;background:#fff;}
	header .top{position:relative;padding:0 45px;height:50px;overflow:hidden;border-bottom:1px solid #d3d3d3;}
	header .top p{font-size:17px;color:#222;font-weight:600;line-height:50px;text-align:center;}
	header .btn_back{position:absolute;left:0;top:0;line-height:50px;color:#222;font-size:17px;font-weight:600;padding-left:40px;background:url(../img/mobile/ic_back.png) no-repeat left center;background-size:40px 40px;}
	header .h_btn{position:absolute;right:5px;top:0;overflow:hidden;}
	header .btn_menu{float:left;width:40px;height:50px;background:url(../img/mobile/ic_menu.png) no-repeat center center;background-size:40px 40px;}
	header .btn_search{float:left;width:40px;height:50px;background:url(../img/mobile/ic_search.png) no-repeat center center;background-size:40px 40px;}
	header .btn_todo{float:left;width:40px;height:50px;background:url(../img/mobile/ic_todo.png) no-repeat center center;background-size:40px 40px;}
header .btn_close{float:left;width:40px;height:50px;background:url(../img/mobile/ic_close.png) no-repeat center center;background-size:40px 40px;}
	header.white{background:#00397a;}
header.white .top{padding:0 5px 0 22px;border-bottom:none;}
	header.white .logo{display:inline-block;width:110px;height:50px;background:url(../img/mobile/logo.png) no-repeat center center;background-size:110px 18px;}
	header.white .btn_menu{background:url(../img/mobile/ic_menu_wh.png) no-repeat center center;background-size:40px 40px;}
	header.white .btn_search{background:url(../img/mobile/ic_search_wh.png) no-repeat center center;background-size:40px 40px;}

	.main_banner{}
	.hello{background:#00397a;padding:30px 22px 105px;}
	.hello p{padding-left:12px;color:#fff;font-size:22px;line-height:34px;}
	.hello p span{font-size:22px;line-height:34px;}
	.hello .team{display:inline-block;margin-bottom:5px;padding:0 15px;background:#002a59;height:29px;border-radius:13px;font-size:13px;line-height:29px;}
	.link{margin:-77px 0 0;padding:0 22px 5px;overflow:hidden;}
	.link .btn_new{float:left;display:block;margin-right:5px;padding:23px 0;width:calc(50% - 5px);font-size:16px;color:#222;background:#fff;border-radius:7px;box-shadow:0 0 3px rgba(0,0,0,0.1);font-weight:600;}
	.link .btn_new span{display:block;margin-top:20px;height:33px;background:url(../img/mobile/ic_new.png) no-repeat center center;background-size:33px 33px;}
	.link .btn_manage{float:left;display:block;margin-left:5px;padding:23px 0;width:calc(50% - 5px);font-size:16px;color:#222;background:#fff;border-radius:7px;box-shadow:0 0 3px rgba(0,0,0,0.1);font-weight:600;}
	.link .btn_manage span{display:block;margin-top:20px;height:33px;background:url(../img/mobile/ic_manage.png) no-repeat center center;background-size:33px 33px;}
	.link .grid_sect{margin:0;}
	.m_conts{position:absolute;right:0;left:0;top:50px;bottom:0;}
.m_conts.back_g{height:auto;}
	.grid_sect{margin:22px 22px 0;background:#fff;border-radius:7px;box-shadow:0 0 3px rgba(0,0,0,0.1);}
	.grid_sect.target{margin:10px 22px 0;background:#fff;border-radius:7px;box-shadow:0 0 3px rgba(0,0,0,0.1);border:1px solid #9fd7f5;}
	.grid_sect.target .grid_btn{border-top:none;}
	.btn_work{display:block;width:100%;font-size:15px;font-weight:600;text-align:center;color:#222;/*background:#effaff;*/background:#fff;}
	.btn_work span{display:inline-block;width:20px;height:20px;background:url(../img/mobile/btn_grid_work.png) no-repeat center center;background-size:cover;vertical-align:middle;margin-right:7px;}
.grid_tit{padding:22px 22px 0;}
.grid_tit h3{display:inline-block;color:#222; font-size:19px;font-weight:600;line-height:24px;letter-spacing:-0.03em;}
.grid_tit h3.arrow i{display:inline-block;width:12px;height:26px;background:url(../img/mobile/tit_arrow.png) no-repeat right center;background-size:6px 10px;vertical-align:top;}
.grid_tit .lastdata{color:#787878;font-size:11px;}
.grid_body{padding:22px;}
.grid_body .txt13{font-size:14px;color:#555;}
	.grid_body .txt13 span{font-size:14px;color:#555;}
.grid_btn{display:table;width:100%;height:50px;line-height:50px;border-top:1px solid #e1e1e1;text-align:center;table-layout: fixed;}
	.grid_btn .btn_cell{display:table-cell;height:50px;line-height:50px;text-align:center;vertical-align:middle;}
	.grid_btn .btn_cell + .btn_cell{border-left:1px solid #e1e1e1;}
.grid_btn .btn_add{display:block;width:100%;background:#fff;font-size:15px;font-weight:600;color:#00397a;}
.grid_btn .btn_add span{display:inline-block;margin-right:5px;width:14px;height:15px;background:url(../img/mobile/grid_btn_add.png) no-repeat center center;background-size:14px 14px;}
	.grid_btn .btn_complain{display:block;width:100%;background:#fff;font-size:15px;font-weight:600;color:#00397a;}
	.grid_btn .btn_complain span{display:inline-block;margin-right:5px;width:23px;height:22px;background:url(../img/mobile/btn_complain.png) no-repeat center center;background-size:23px 22px;vertical-align:middle;}
	.grid_btn .btn_monitor{display:block;width:100%;background:#fff;font-size:15px;font-weight:600;color:#00397a;}
	.grid_btn .btn_monitor span{display:inline-block;margin-right:5px;width:25px;height:22px;background:url(../img/mobile/btn_monitor.png) no-repeat center center;background-size:25px 22px;vertical-align:middle;}
.grid_tb{display:table;width:100%;}
.grid_tb dt{display:table-cell;padding:5px 0;text-align:left;font-size:15px;color:#222;}
.grid_tb dd{display:table-cell;padding:5px 0;text-align:right;}
.grid_tb dd span{color:#00357a;font-size:15px;font-weight:600;}
	.grid_list li{margin-top:18px;padding:0 0 18px;border-bottom:1px solid #e1e1e1;}
.grid_list li:first-child{margin-top:0;}
	.grid_list li:last-child{padding-bottom:0;border-bottom:none;}
	.grid_list li .tit_list{margin-top:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:15px;color:#333;line-height:18px;font-weight:600;}
	.grid_list li .tit_list span{font-size:15px;color:#333;font-weight:600;line-height:18px;}
	.grid_list li .tit_list .bedge{font-weight:400;margin-right:3px;}
.grid_list li .bedge.ty1{display:inline-block;border:1px solid #00397a;color:#00397a;font-size:13px;width:60px;height:25px;line-height:23px;border-radius:2px;text-align:center;}
.grid_list li .bedge.ty2{display:inline-block;border:1px solid #d3d3d3;color:#333;font-size:13px;width:35px;height:25px;line-height:23px;border-radius:2px;text-align:center;}
.grid_list li .bedge.ty3{display:inline-block;border:1px solid #d3d3d3;color:#333;font-size:13px;width:60px;height:25px;line-height:23px;border-radius:2px;text-align:center;}


.grid_list li .dash{margin-top:8px;}
.grid_list li .dash span{position:relative;font-size:13px;color:#787878;line-height:18px;padding:0 7px;}
.grid_list li .dash span:before{content:'';position:absolute;left:0;top:50%;width:1px;margin-top:-6px;height:12px;background:#d3d3d3;}
.grid_list li .dash span:first-child{padding:0 7px 0 0;}
.grid_list li .dash span:first-child:before{content:none;padding:0 7px 0 0;}
.grid_list li .dash + .dash{margin-top:0;}
.grid_list li .m_date{display:block;margin-top:5px;font-size:13px;color:#787878;}
	.grid_list.customer{margin-top:-20px;}
	.grid_list.customer li{margin-top:10px;}
	.grid_list.customer li{display:table;width:100%;table-layout:fixed;}
	.grid_list.customer li .link_device{display:table-cell;}
	.grid_list.customer li .dash{margin-top:0;}
	.grid_list.customer li .fixlink{display:table-cell;width:50px;vertical-align:middle;}
	.grid_list.customer li .fixlink a{margin:0 auto;display:block;width:40px;height:40px;border-radius:20px;background:#f7f7f7 url(../img/mobile/bt_maintainlist.png) no-repeat center center;border:1px solid #f0f0f0;background-size:15px 18px;}
	.ic_bug_state{margin-top:5px;color:#787878;font-size:13px;line-height:22px;}
	.ic_bug_state span{display:inline-block;font-size:13px;color:#333;padding-left:25px;line-height:22px;}
	.ic_bug_state.nice span{background:url(../img/mobile/bug_nice.png) no-repeat left center;background-size:18px 18px;}
	.ic_bug_state.good span{background:url(../img/mobile/bug_good.png) no-repeat left center;background-size:18px 18px;}
	.ic_bug_state.bad span{background:url(../img/mobile/bug_bad.png) no-repeat left center;background-size:18px 18px;}

.txt_complain{margin-top:7px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.txt_complain span{font-size:14px;color:#333;line-height:1.4}
.dash_monitor{display:table;width:100%;}
.dash_monitor li{display:table-cell;width:33.33%;text-align:center;}
.dash_monitor li p{margin-top:7px;font-size:16px;font-weight:600;}
.dash_monitor li h4{font-size:14px;font-weight:400;line-height:17px;}
.dash_monitor li h4 span{display:inline-block;width:17px;height:17px;margin-right:5px;vertical-align:middle;}
.dash_monitor .normal h4{color:#00397a;}
.dash_monitor .normal h4 span{background:url(../img/mobile/ic_m_normal.png) no-repeat center center;background-size:17px 17px;}
.dash_monitor .normal p{color:#00397a;}
.dash_monitor .issue h4{color:#bd3434;}
.dash_monitor .issue h4 span{background:url(../img/mobile/ic_m_issue.png) no-repeat center center;background-size:17px 17px;}
.dash_monitor .issue p{color:#bd3434;}
.dash_monitor .turn_off h4{color:#333333;}
.dash_monitor .turn_off h4 span{background:url(../img/mobile/ic_m_turnoff.png) no-repeat center center;background-size:17px 17px;}
.dash_monitor .turn_off p{color:#333333;}
.dash_count{margin:0 22px;overflow:hidden;}
.dash_count li{position:relative;float:left;width:33.33%;text-align:center;padding:25px 0 0;}
.dash_count li:before{content:'';position:absolute;left:-4px;top:40px;width:8px;height:15px;background:url(../img/mobile/arrow_count.png) no-repeat center center;background-size:8px 15px;}
.dash_count li:first-child:before{content:none;position:absolute;left:-4px;top:40px;width:8px;height:15px;background:url(../img/mobile/arrow_count.png) no-repeat center center;background-size:8px 15px;}
.dash_count li div{margin:0 auto;width:45px;height:45px;text-align:center;border-radius:50%;background:#f7f7f7;border:1px solid #f0f0f0;}
.dash_count li div span{display:block;line-height:43px;font-size:22px;color:#222;font-weight:500;}
.dash_count li p{font-size:12px;color:#555;margin-top:10px;}

.ad_banner{position:relative;border-radius:7px;overflow:hidden;line-height:0;}
	.ad_banner ul li{display:block;}
	.ad_banner ul li a{display:block;}
	.ad_banner ul li a img{width:100%;}
	.ad_banner .locate{position:absolute;right:15px;left:inherit!important;top:8px;text-align:right;}
	.ad_banner .locate .swiper-pagination-bullet{margin:0 1px;display:inline-block;border-radius:50%;border:1px solid #fff;background:none;opacity:1;}
	.swiper-pagination-bullet.swiper-pagination-bullet-active{background:#fff!important;}

	.bt_call{margin-top:7px;display:block;}
	.bt_call span{display:inline-block;height:28px;line-height:26px;border:1px solid #d3d3d3;padding:0 13px;color:#555;border-radius:14px;font-size:13px;vertical-align:top;}
	.bt_call span i{display:inline-block;width:15px;height:26px;background:url(../img/mobile/bt_call.png) no-repeat center center;background-size:14px 14px;vertical-align:top;}
.cs_center{padding:30px 22px;text-align:center;}
.cs_center .call_num{display:inline-block;padding-left:25px;font-size:15px;font-weight:600;line-height:22px;color:#00397a;background:url(../img/mobile/cs_num.png) no-repeat left center;background-size:18px 18px;}
.cs_center .copy{margin-top:25px;text-align:center;font-size:11px;color:#787878;}



.device_state{display:table;background:#fff;width:100%;border-bottom:1px solid #d0d0d0;table-layout:fixed;}
.device_state li{position:relative;display:table-cell;vertical-align:middle;text-align:center;padding:12px 0;}
.device_state li:before{content:'';position:absolute;left:0;top:50%;width:1px;height:30px;margin-top:-15px;background:#dfdfdf;}
.device_state li:first-child:before{content:none;}
.device_state li p{font-size:14px;font-weight:700;}
.device_state li .ic_device{line-height:18px;font-weight:400;font-size:11px;color:#555;margin-bottom:7px;}
.device_state li .ic_device span{display:block;margin:0 auto;width:22px;height:22px;border-radius:50%;vertical-align:middle;}
.device_state li .ic_device.ok span{background: url(../img/common/ic_device_ok.png) no-repeat center center;background-size:16px 16px;}
.device_state li .ic_device.notic span{background: url(../img/common/ic_device_notic.png) no-repeat center center;background-size:16px 16px;}
.device_state li .ic_device.off span{background: url(../img/common/ic_device_power.png) no-repeat center center;background-size:16px 16px;}
.device_state li .ic_device.wifi span{background: url(../img/common/ic_wifi_ok.png) no-repeat center center;background-size:16px 16px;}
.device_state li .ic_device.wifino span{background: url(../img/common/ic_wifi_no.png) no-repeat center center;background-size:16px 16px;}
	.device_state li .ic_device.device span{background: url(../img/common/ic_device2.png) no-repeat center center;background-size:16px 16px;}

.m_web_pop{position:absolute;top:0;right:0;bottom:0;left:0;width:100%!important;z-index:101;}
	.pop_head{position:relative;text-align:center;height:50px;}
	.pop_head h3{line-height:50px;font-weight:700;font-size:15px;}
	.pop_head .popup-close-btn {position: absolute;right: 5px;top: 5px;width: 40px;height: 40px;background: url(../img/common/btn_pop_close.png) no-repeat center center;}
	.pop_body{height:100%;overflow-y:auto;padding:0 22px 22px;}
	.pop_body.pd0{padding:0 0 22px}
	.item_li.mb20{margin-bottom:20px;}
	.item_li li{float:none;margin-top:0;margin-right:0;width:100%;background:#fff;}
	.item_li li:nth-child(even){margin:0;}
	.item_li li .article{border:none;border-bottom:1px solid #d3d3d3;}
	.item_li li .arti_body{padding:15px 22px;}
	.item_li li .arti_body h3{font-size:15px;color:#00397a;font-weight:700;}
	.item_li li .arti_body .setdate{margin-top:3px;line-height:22px;color:#444;font-size:13px;}
	.item_li li .arti_body .setdate .state{margin-right:5px;}
	.state{display:inline-block;font-size:12px;color:#fff!important;padding:0 12px;line-height:22px;border-radius:2px;height:22px;}
	.state.st1{background:#3f76b5;}
	.state.st2{background:#80beaf;}
	.state.st3{background:#c8b8a0;}
	.state.st4{background:#cf9da0;}
	.state.st5{background:#9175b2;}
	.state.st6{background:#00397a;}
	.item_li li .arti_body .set_info{margin-top:7px;color:#666;line-height:1.4;}
	.item_li li .arti_body .set_info span{position:relative;padding:0 9px;font-size:12px;color:#666;}
	.item_li li .arti_body .set_info span:before{content:'';position:absolute;left:0;top:50%;margin-top:-1px;width:2px;height:2px;background:#787878;}
	.item_li li .arti_body .set_info{line-height:1.2;}
	.pop_body .tbtype th{font-size:14px;}
	.pop_body .tbtype td p, .popup-body  .tbtype td span{font-size:14px;}
	.pop_body .item_li li .arti_body .set_info span{font-size:13px;}
	.m_list{}
	.m_list li{display:block;border-bottom:1px solid #d3d3d3;}
	.m_list li:first-child{border-top:1px solid #d3d3d3;}
	.m_list li a,.m_list li .atag{display:block;padding:12px 32px 12px 15px;background:url(../img/common/mlist_arrow.png) no-repeat calc(100% - 15px) center;background-size:11px 17px;}
	.m_list li.on{background: #e5f9ff;}
	.m_list li a .m_tit,.m_list li .atag .m_tit{display:block;font-size:15px;color:#333;font-weight:600;line-height:1.4;overflow:hidden;text-overflow:ellipsis;white-space: nowrap; }
	.m_list li a .m_date,.m_list li .atag .m_date{margin-top:10px;display:block;font-size:13px;color:#8a8a8a;}
	.m_list.notice li:first-child{border-top:none;}
	.m_list.library li:first-child{border-top:none;}
	.m_list.library li a{background:none;}
	.m_list.library li a span{font-size:13px;line-height:30px;}

	.m_detail{}
	.m_detail .m_head{border-bottom:1px solid #d3d3d3;padding:12px 15px;}
	.m_detail .m_head h4{font-size:15px;color:#333;font-weight:700;line-height:1.3;}
	.m_detail .m_head span {margin-top:7px;display:block;font-size:13px;color:#8a8a8a;}
	.m_detail .m_body{padding:14px 22px;}
	.m_file{margin-bottom:10px;background:#f6f7f8;text-align:left;padding:7px 10px;}
	.m_file .ic_data{width:100%;line-height:22px;background:url(../img/common/file_file.png) no-repeat left center;padding-left:22px;color:#555;font-size:13px;}
	.m_detail .m_body p{font-size:13px;color:#555555;line-height:1.4;}
	.back_g{width:100%;height:100%;background:#f6f7f8;overflow-y:auto;-webkit-overflow-scrolling: touch;}
	.m_subtab{margin:20px 22px;overflow:hidden;}
	.m_subtab li{float:left;width:33.33%;background:#fff;height:37px;border-bottom:1px solid #d3d3d3;border-right:1px solid #d3d3d3;}
	.m_subtab li a{display:block;text-align:center;line-height:36px;color:#787878;font-size:13px;}
	.m_subtab li.on,.m_subtab li:active{background:#00397a;}
	.m_subtab li.on a,.m_subtab li:active a{color:#fff;}
	.m_subtab li:first-child{border-left:1px solid #d3d3d3;border-top:1px solid #d3d3d3;line-height:35px;}
	.m_subtab li:nth-child(2),.m_subtab li:nth-child(3){border-top:1px solid #d3d3d3;line-height:35px;}
	.m_subtab li:nth-child(3n+1){border-left:1px solid #d3d3d3;}
	.faq{}
	.faq li{background:#fff;border-bottom:1px solid #d3d3d3;}
	.faq li:first-child{border-top:1px solid #d3d3d3;}
	.faq li a{padding:6px  50px 5px 22px;display:block;background:url(../img/common/faq_base.png) no-repeat calc(100% - 20px) center;background-size:20px 20px;}
	.faq li a .quiz{line-height:33px;font-size:14px;color:#333;}
	.faq li .answer{display:none;border-top:1px solid #d3d3d3;padding:22px;transition:all 4000ms ease-in}
	.faq li .answer p{font-size:13px;color:#787878;line-height:19px;}
	.faq li.on a,.faq li:active a{background:url(../img/common/faq_on.png) no-repeat calc(100% - 20px) center;background-size:20px 20px;}
	.faq li.on .answer,.faq li:active .answer{display:block;}
	.faq li a.no-data{background:none;}
	.faq li a.no-data span{line-height:30px;font-size:13px;}


	.reguser{margin:0 auto;height:100%;overflow-y:auto;}
	.reguser .join{margin:0 auto;width:100%;padding:22px;}
	.join .ci{display:none;}
	.join.privacy .ci{display:block;width:172px;height:28px;}
	.join .tit_h3{display:none;}
	.join.privacy .tit_h3{display:block;border-bottom:none;}
	.join .tit_wrap{margin-bottom:5px;}
	.join .term{border:1px solid #d0d0d0;height:150px;padding:10px;overflow-y:scroll;}
	.join .term.h400{height:460px;margin-top:5px;}
	.join .term p{font-size:13px;color:#666;line-height:1.7;}
	.join .privacy_txt .tbtype .cper2250{width:37%!important}
	.join .privacy_txt .tbtype th p{line-height:1.5;font-size:13px;}
	.join .privacy_txt .tbtype td p{line-height:1.5;font-size:13px;}
	.join .widget input[type="checkbox"] + label .txt_lb.bold {font-size:14px}
	.reg_form dd input[type="radio"] + label{margin-right:20px;}
	.reg_form dd input[type="radio"] + label .txt_lb {font-size:15px;line-height:25px;}
	.group_search.wp150{width:100%;height:40px;padding-right:40px;}
	.group_search .btn_search{width:40px;height:38px;}
	.join .widget .reg_form dd .group_search input{border:none!important;height:38px!important;}
	.join .widget{margin-top:0;}
	.join .ci{margin:0 auto;}
	.join .widget .reg_form{display:block;width:100%;table-layout:fixed;}
	.join .widget .reg_form dt{display:block;width:100%;padding:0;height:auto;background:#f0f0f0;border:none;color:#8a8a8a;font-size:13px;font-weight:500;vertical-align:middle;background:none;}
	.join .widget .reg_form dt.web{display:none;}
	.join .widget .reg_form dd{display:block;width:100%;padding:10px 0 3px;min-height:40px;height:auto;border:none;vertical-align:middle;font-size:15px;}
	.join .widget .reg_form dd p{font-size:15px;font-weight:700;color:#333;border-bottom:1px solid #d8d8d8;line-height:40px;}
	.join .widget .reg_form dd input[type=text]{width:100%;height:40px;border:1px solid #d8d8d8;font-size:15px;}
	.reg_form + .reg_form{margin-top:15px;}
	.reg_form + .reg_form dt{border-top:none!important;}
	.reg_form + .reg_form dd{border-top:none!important;}
	.join .widget .reg_form dd .findid{position:relative;display:block;padding-right:70px;}
	.join .widget .reg_form dd .findid .btn_type3.ml7{position:absolute;right:0;top:0;margin-left:0;height:40px;line-height:38px;font-size:13px;}
	.join .widget .reg_form dd .email input,.join .widget .reg_form dd .email select{width:calc(33.33% - 9px);}
	.join .widget .reg_form dd .email select{margin-left:7px;}
	.join .widget .reg_form dd .phonenum input{float:left;width:calc(33.33% - 14px);}
	.join .widget .reg_form dd .phonenum select{float:left;width:calc(33.33% - 14px);}
	.join .widget .reg_form dd .phonenum .hyphen{float:left;}
	.join .widget .reg_form dd input[type=password]{width:100%;height:40px;}
	.join .widget .reg_form dd .txt_notic2.ml7{margin-top:10px;margin-left:0;border-bottom:none;line-height:19px;background: url(../img/common/txt_notice.png) no-repeat left top;font-size:13px;}
	.join .widget .reg_form dd select{height:40px;font-size:15px;width:100%;border-bottom:}
	.join .widget .reg_form dd .hyphen{line-height:40px!important;}
	.dv_mt15{margin-top:15px!important;}

	.button{margin:35px 0;text-align:center;width:100%;overflow:hidden;}
	.button > button,.button > a{float:left;margin-left:0;height:40px;line-height:40px;width:50%;font-size:15px;}

	.popup-content{width:100%!important;left:0;top:0;bottom:0;}
	 .popup-header{height:50px!important;border-bottom:1px solid #d3d3d3;text-align:center;}
	.popup-header .popup-title{line-height:50px!important;font-size:17px;color:#222;}
	.popup-header .popup-close-btn{height:50px!important;}
	.popup-body{height:calc(100% - 50px);}
	.popup-body .scroll-y{position:relative;padding:0;height:100%;-webkit-overflow-scrolling: touch;min-height: auto; max-height: 100%;}
	.searchbox table td{border-top:none!important;border-right:none!important;padding:15px 22px;}
	.m_web_search{padding-right:0;}
	.m_web_search .btn_type2{position:inherit;display:block;width:100%;height:40px;line-height:40px;margin-top:15px;font-size:15px;}
	.m_web_search input{display:block;height:40px;border-bottom:1px solid #d8d8d8;font-size:15px;}
	.widget .total{margin-top:-6px;font-size:13px;padding:0 22px;line-height:32px;}
	.popup-body .scroll-y .widget .tbtype.list{border-top:1px solid #d3d3d3;}
	.popup-body .scroll-y .widget .tbtype.list th{font-size:14px;color:#333;background:#f6f7f8;border-bottom:1px solid #d3d3d3;border-left:none;}
	.popup-body .scroll-y .widget .tbtype tr th:first-child{border-left:none!important}
	.popup-body .scroll-y .widget .tbtype.list td{font-size:14px;color:#787878;border-left:none;border-bottom:none;}
	.popup-body .scroll-y .widget .tbtype.list td p{font-size:14px;color:#787878;}
	.popup-body .scroll-y .widget .tbtype tr td:last-child,.popup-body .scroll-y .widget .tbtype.list thead tr th:last-child{border-right:none;}
	.popup-body .scroll-y .widget .tbtype tbody tr:last-child td{border-bottom:1px solid #d3d3d3;}
	.searchbox table td.blline{border-left:none;}

	.m_wrap{position:relative;width:100%;height:100%;overflow:hidden;}
	.m_mapview{position:relative;width:100%;height:100%;}
	.m_mapview .m_locate{width:100%;height:40px;z-index:10;background:rgba(0,0,0,0.5);}
	.m_mapview .m_locate div{position:relative;padding:7px 110px 7px 22px;}
	.m_mapview .m_locate div p{position:relative;color:#fff;line-height:26px;font-size:14px;}
	.m_mapview .m_locate div .btn_type4{position:absolute;right:15px;top:6px;border-radius:2px;line-height:26px;}
	.m_map_sect{height:calc(100% - 266px)!important;}
	.m_map_sect img{width:100%;}
	.m_monitor{position:absolute;left:0;bottom:-245px;width:100%;z-index:20;height:245px;overflow:hidden;padding-top:20px;transform:translate(0,-245px);transition:0.5s all ease-out;}
	.m_monitor .m_monitorlist{position:relative;background:#fff;box-shadow:0 0 4px rgba(0,0,0,0.3);/*padding-bottom:50px;*/}
	.m_monitor .m_monitorlist:before{content:'';position:absolute;left:50%;top:-20px;margin-left:-17px;width:34px;height:20px;background:url(../img/mobile/slide_up.png) no-repeat center center;background-size:34px 20px;}
	.m_list_head{position:relative;background:#f6f7f8;padding:7px 110px 7px 22px;}
	.m_list_head p{font-size:13px;color:#555;line-height:31px;}
	.m_list_head a{position:absolute;right:0;top:0;width:105px;height:45px;line-height:45px;font-size:14px;color:#333;border-left:1px solid #d3d3d3;text-align:center;}
	.m_list_head .btn_type4{border-radius:2px;}
	.m_list_head .btn_type4 + .btn_type4{margin-left:5px;}
	.m_list_head .all_check{position:absolute;right:10px;top:12px;}
	.monitor_list li{position:relative;padding:20px 22px;}
	.monitor_list li.no-data span{line-height:54px;}
	.d_locate.wifi{background:url(../img/common/ic_wifi.png) no-repeat right top;background-size:20px 20px;}
	.d_locate.wifino{background:url(../img/common/ic_wifi2.png) no-repeat right top;background-size:20px 20px;}
	.d_locate .dv_state{font-size:13px;}
	.d_locate .dv_power{font-size:12px;}
	.d_info{margin-top:4px;font-size:15px;}
	.d_data{margin-top:7px;}
	.d_data span{display:inline-block;padding:0 3px 0 7px;font-size:13px;color:#787878;}
	.d_date{margin-top:5px;font-size:13px;color:#787878;}
	.d_distance{position:absolute;right:15px;bottom:20px;font-size:11px;color:#00397a;}
	.device_state li{padding:9px 0;}
	.m_monitor.active{position:fixed;bottom:-100%;height:100%;padding-top:0;overflow-y:auto;-webkit-overflow-scrolling: touch;transform:translate(0,calc(-100% + 50px));background:#fff;}
	.m_monitor.active .m_monitorlist{box-shadow:none;}
	.m_monitor.active .m_monitorlist:before{content:none;background:none;}
	.m_loc_head{padding:15px 22px;border-bottom:1px solid #d3d3d3}

	.m_local{padding:0 15px;height:45px;background:#f6f7f8;overflow:hidden;}
	.m_local span{font-size:13px;color:#333;line-height:45px;}
	.m_loc_body{position:absolute;left:0;right:0;top:0px;bottom:0;/*padding-right:69.5vw;*/}
	.city{background:#00397a;height:100%;overflow-y:scroll;}
	.city li{padding:0 15px;}
	.city li a{display:block;border-bottom:1px solid #4d75a2;text-align:center;color:#fff;line-height:40px;font-size:14px;padding-right:69.5vw;}
	.city li:last-child a{border-bottom:none;}
	.city li.on,.city li:active{background:#fff;}
	.city li.on a,.city li:active a{display:block;border-bottom:none;color:#333;line-height:41px;}
	.city li .place{position:fixed;right:0;top:50px;left:30.5%;bottom:0;overflow-y:auto;padding:0 30px;z-index:1000;background:#fff;}
	.city li .place a{display:block;font-size:14px;line-height:41px;text-align:left;position:relative;padding-right:0;}
	.city li .place a:active{color:#00397a;}
	.article{border:1px solid #d3d3d3;}
	.mt10{margin-top:10px;}
	.mt20{margin-top:20px!important;}

	input[type="checkbox"] + label{height:28px;}
	input[type="checkbox"] + label .txt_lb{display:inline-block;font-size:12px;color:#444;vertical-align:middle;padding-right:4px;}
	input[type="checkbox"] + label:before{content:'';display:inline-block;width:20px;height:20px;overflow:hidden;background:#fff;margin-right:5px;border:1px solid #ddd;}
	input[type="checkbox"]:checked + label:before{background:#00397a url(../img/mobile/checkbox.png) no-repeat center center;background-size:20px 20px;}
	input[type="checkbox"]:disabled + label:before{content:'';display:inline-block;overflow:hidden;margin-right:6px;background:#00397a url(../img/mobile/checkbox.png) no-repeat center center;background-size:20px 20px;vertical-align:middle;}
	input[type="checkbox"]:disabled:checked + label:before{background:url(../img/common/checkbox_dis.png) no-repeat center bottom;}
	.monitor_list.power li{padding:20px 45px 20px 22px;}
	.monitor_list li .fixlist{position:absolute;right:10px;top:20px;z-index:11;}
	.pop_button{margin-top:0;padding:20px 22px;width:100%;}
	.pop_button a,.pop_button button{display:block;min-width:auto;width:100%;height:40px;line-height:40px;font-size:15px;}
	.m_wrap .scroll-y{height:100%;overflow-y:scroll;-webkit-overflow-scrolling: touch;}
	.m_detail_info{padding:20px 14px;border-bottom:1px solid #d3d3d3;text-align:center;background:#fff;}
	.m_detail_info .d_locate{padding-right:0;}
	.m_detail_info .d_locate .dv_state{margin:0 3px;height:25px;line-height:25px;}
	.m_detail_info .d_locate .btn_type1{margin:0 3px; padding:0 7px;height:25px;line-height:25px;font-size:13px;color:#787878;border-radius:2px;}
	.m_detail_info .d_locate span.btn_type1:active,.m_detail_info .d_locate span.btn_type1:hover{background-color:#fff;}
	.m_detail_info .d_locate .d_wifi{display:inline-block;margin:0 3px;padding:0 7px;border:1px solid #d3d3d3;color:#3f76b5;line-height:23px;vertical-align:top;border-radius:2px;font-size:13px;}
	.m_detail_info .d_locate .d_wifi.on{display:inline-block;margin:0 3px;padding:0 7px;border:1px solid #d3d3d3;color:#787878;line-height:23px;vertical-align:top;border-radius:2px;font-size:13px;}
	.m_detail_info .d_locate .d_wifi i{display:inline-block;margin-right:4px;width:13px;height:23px;vertical-align:top;background:url(../img/common/ic_wifi.png) no-repeat center center;background-size:13px 12px;}
	.m_detail_info .d_locate .d_wifi.no i{display:inline-block;margin-right:4px;width:13px;height:23px;vertical-align:top;background:url(../img/common/ic_wifi_no.png) no-repeat center center;background-size:13px 12px;}
	.m_detail_info h3{margin-top:8px;font-size:17px;font-weight:700;color:#333;line-height:1.4;}
	.m_detail_info .p_name{font-size:16px;line-height:1.4;}
	.m_detail_info .d_data{margin-top:6px;}
	.m_detail_info .d_data span{position:relative;font-size:14px;line-height:1.4;text-indent:-0.08em;}
	.m_detail_info .d_data span:first-child{padding-left:0;}
	.m_detail_info .d_data span + span:before{content:'';position:absolute;left:0;top:50%;width:1px;height:10px;background:#dfdfdf;margin-top:-5px;}
	.m_detail_info .ic_bug_state{margin-top:0;padding-right:0;font-size:14px;}
	.m_detail_info .ic_bug_state > span{padding-left:25px;color:#333;}
	.m_detail_info .d_date{font-size:14px;}
	.m_detail_info .btn{margin-top:12px;text-align:center;}
	.m_detail_info .btn .btn_type4{width:calc(50% - 14px);height:34px;line-height:32px;border-radius:3px;font-size:14px;margin:0 5px;}
	.m_detail_info .btn .btn_type4:active{background-color:#00397a;color:#fff;}
	.m_detail_info .timeinfo{margin:6px 0 0;padding:0;}
	.m_detail_info .ic_time{margin:0;color:#888;background:url(../img/mobile/ic_time.png) no-repeat left center;background-size:13px 13px;}
	.m_detail_info .time_term{color:#888;}
	.m_detail_info .light_time .lignt_on,.m_detail_info .light_time .lignt_off{font-size:14px;color:#888;line-height:19px;}
	.m_detail_info .light_time .lignt_on span,.m_detail_info .light_time .lignt_off span{font-size:14px;color:#888;margin-left:0;line-height:19px;vertical-align:top;}
	.m_detail_info .light_time .lignt_on i{height:19px;background:url(../img/mobile/light_on.png) no-repeat center center;background-size:10px 13px;vertical-align:top;}
	.m_detail_info .light_time .lignt_off i{height:19px;background:url(../img/mobile/light_off.png) no-repeat center center;background-size:10px 13px;vertical-align:top;}
	.m_detail_info .d_term{display:inline-block;padding-left:20px;font-size:14px;color:#888;line-height:28px;background:url(../img/mobile/ic_term.png) no-repeat left center;background-size:14px 14px;}
	.mt0{margin-top:0!important;}
	.section{margin-top:10px;background:#fff;}

	.sec_head{position:relative;padding:0 45px 0 22px;border-bottom:1px solid #d3d3d3;}
	.sec_head h3{font-size:15px;font-weight:700;line-height:45px;}
	.sec_head .btn_slide{position:absolute;right:12px;top:50%;margin-top:-16px;width:32px;height:32px;background:url(../img/mobile/btn_slide_up.png) no-repeat center center;background-size:32px 32px;}
	.sec_head .btn_slide.off{transform:rotate(-180deg);transition:0.1s transform ease-in;}
	.sec_body{}
	.sec_body.pb20{padding-bottom:20px;}
	input[type="checkbox"] + .power_deco:before{border:none;}
	.m_table{}
	.m_table th{text-align:left;padding:5px 11px;border-bottom:1px solid #d3d3d3;color:#8a8a8a;font-size:13px;height:40px;}
	.m_table tr th:first-child{padding:5px 0 5px 22px;}
	.m_table td{text-align:left;padding:5px 11px;border-bottom:1px solid #d3d3d3;height:40px;}
	.m_table tr td:last-child{padding:5px 22px 5px 11px;}
	.m_table td > *{font-size:13px;color:#333;line-height:1.4;}
	.m_table td > p span{font-size:13px;color:#333;line-height:1.4;}
	.m_table tr:last-child th,.m_table tr:last-child td{border-bottom:none;}
	.m_table td.colspan{padding:10px 22px!important;}
	.m_table tr.startline {}
	.m_table tr.startline th{border-top:1px solid #666;color:#00397a;}
	.m_table tr.startline td{border-top:1px solid #666;}
	.m_table tr.startline td p{font-weight:700;color:#00397a;}
	.m_table tr th.noline{padding:5px 0 0 22px;height:28px;border-bottom:none;}
	.whitebd{background:#fff;padding:6px 4px;}
	.whitebd ul{display:flex;-webkit-display:flex;flex-wrap:wrap;-webkit-flex-wrap:wrap;justify-content: flex-start;align-content:flex-start;-webkit-justify-content:flex-start;-webkit-align-content:flex-start;}
	.whitebd ul li{flex-basis:calc(50% - 16px);margin:6px 8px;border:1px solid #f0f0f0;}
	.whitebd ul li div{border-radius:2px;padding:13px 10px;min-height:85px;border:none;}
	.whitebd ul li h3{position:relative;color:#8a8a8a;height:15px;}
	.whitebd ul li .now{font-size:17px;}
	.whitebd ul li .base{margin-top:7px;font-size:13px;}
	.whitebd ul li .height h3:after{content:'';display:inline-block;margin-left:7px;width:12px;height:12px;background:url(../img/mobile/ic_height.png) no-repeat center center;background-size:12px 12px;}
	.whitebd ul li .low h3:after{content:'';display:inline-block;margin-left:7px;width:12px;height:12px;background:url(../img/mobile/ic_low.png) no-repeat center center;background-size:12px 12px;}
	.section .sec_body .detailmap{width:100%;height:250px;padding:0 22px;}
	.section .sec_body .detailmap img{width:100%;}
	.tab{height:45px;}
	.tab li{width:33.33%;height:45px;border:none;margin-left:0;}
	.tab li a{line-height:45px;background:none;text-align:center;font-size:15px;color:#222;}
	.tab li.on a{color:#00397a;}
	.tab li.on:after, .tab li:active:after, .tab li:hover:after{bottom:0;height:2px;background:#00397a;}
	.tab_conts li{padding:20px 22px;}
	.input_form{margin-top:20px;}
	.input_form dt{display:block;padding:0 22px;text-align:left;color:#8a8a8a;font-size:13px;}
	.input_form dt.required span{display:inline-block;width:4px;height:13px;background:url(../img/mobile/required.png) no-repeat center top;background-size:4px 4px;}
	.input_form dd{display:block;padding:9px 22px 0;}
	.input_form dd .month{overflow:hidden;padding-right:27px;border-bottom:1px solid #e1e1e1;background:url(../img/mobile/ic_calender.png) no-repeat right center;background-size:27px 27px;}
	.input_form dd .month input{float:left;width:calc(50% - 3px);border:none;height:39px;font-size:15px;color:#333;padding:0 3px;}
	.input_form dd .month input.cper100p{width:100%;}
	.input_form dd .month input[type=text]:read-only,.input_form dd .month  input[type=text][readonly]{background-color:#fff;}
	.input_form dd .month span{float:left;width:32px;line-height:39px;font-size:15px;color:#333;text-align:center;}
    .input_form dd .month span + input{width:calc(50% - 30px);}
	.input_form dd .input_wrap{overflow:hidden;}
	.input_form dd .input_wrap .cell{float:left;border-bottom:1px solid #e1e1e1;width:calc(50% - 16px);}
	.input_form dd .input_wrap .dash{position:relative;float:left;display:block;width:32px;height:40px;line-height:40px;text-align:center;font-size:15px;}
	.input_form dd .input_wrap .cell select{border:none;width:100%;height:39px;line-height:39px;padding: 0 28px 0 3px;font-size:15px;color:#333;}
	.input_form dd .input_wrap .cell input{border:none;height:39px;font-size:15px;color:#333;line-height:39px; width:100%;}
	.input_form dd .input_wrap .cell.withtxt{position:relative;padding-right:28px;}
	.input_form dd .input_wrap .cell.withtxt i{position:absolute;right:0;top:0;display:inline-block;width:28px;height:39px;line-height:39px;font-size:15px;color:#8a8a8a;text-align:center;}
	.input_form dd .input_wrap .openlink{position:relative;border-bottom:1px solid #e1e1e1;padding-right:30px;}
	.input_form dd .input_wrap .openlink.nolink{padding-right:0;}
	.input_form dd .input_wrap .openlink:active{border-bottom-color:#222;}
	.input_form dd .input_wrap .openlink input{border:none;height:39px;font-size:15px;color:#333;line-height:39px;width:100%;}
	.input_form dd .input_wrap .openlink .arrow{position:absolute;right:0;bottom:0;width:30px;height:39px;background:url(../img/mobile/ic_link.png) no-repeat center center;background-size:29px 29px;}
	.input_form dd .input_wrap .openlink input[type=text]:read-only,.input_form dd .openlink input[type=text][readonly]{background-color:#fff;}
	.input_form dd .postcode{position:relative;padding-right:115px;}
	.input_form dd .postcode input{width:100%;height:40px;border:none;border-bottom:1px solid #e1e1e1;}
	.input_form dd .postcode input:read-only{background-color:#fff;}
	.input_form dd .postcode .btn_type3{position:absolute;right:0;top:0;font-size:13px;height:40px;line-height:38px;}
	.input_form dd .address input{margin-top:10px;width:100%;height:40px;border:none;border-bottom:1px solid #e1e1e1;}
	.input_form dd .address input:active{border-bottom-color:#222;}
	.input_form dd p{line-height:29px;font-size:15px;color:#333;}
	.error{position:fixed;top:0;left:0;right:0;bottom:0;transform:none;padding:100px 30px;border-radius:0;}
	.error img{width:70px;height:70px;}
	.error p{margin-top:20px;font-size:16px;color:#333;line-height:1.4;}
	.error p + p{margin-top:5px;font-size:13px;}
	.error p span{font-size:13px;display:block;}
	.error .color_b{margin: 10px 0 20px;color:#00397a;font-size:16px;font-weight:600;}

	.imgbox{overflow:hidden;}
	.imgbox .imgwrap{position:relative;float:left;width:calc(50% - 5px);margin:0 5px 0 0;height:190px;overflow:hidden;border:none;}
	.imgbox .imgwrap + .imgwrap{margin:0 0 0 5px; }
	.imgbox img{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:100%;}

	.bold{font-weight:bold;}

	#daumAddress > div{width:100%!important;height:550px!important}
	.account{padding:12px 0}
	.account .total{font-size:13px;padding:0 22px;color:#555;}
	.account ul{margin-top:5px;}
	.account ul li{border-bottom:1px solid #e1e1e1;padding:15px 22px;}
	.account ul li:first-child{border-top:1px solid #e1e1e1;}
	.account ul li a{display:block;font-size:15px;color:#333;}
	.no-data{text-align:center;}
	.no-data span{display:inline-block;font-size:13px;color:#999;padding-left:25px;background:url(../img/mobile/nodata.png) no-repeat left center;background-size:20px 20px;}

	.searchbox.toD{background:#fff;padding:10px 0;}
	.searchbox.toD .input_form{margin-top:0;display:table;table-layout:fixed;width:100%;}
	.searchbox.toD .input_form dt{display:table-cell;width:120px;vertical-align:middle;}
	.searchbox.toD .input_form dd{display:table-cell;padding:0 22px;}
	.whitebd ul li .info_sate{padding:15px 10px 10px;min-height:auto;}
	.whitebd ul li .info_sate h3{letter-spacing:-0.03em;}
	.whitebd ul li .info_sate .counting{margin-top:7px;text-align:center;}
	.whitebd ul li .info_sate .counting span{font-weight:700;font-size:17px;color:#023d78;line-height:26px;vertical-align:bottom;}
	.whitebd ul li .info_sate .counting span i{font-weight:700;font-size:21px;color:#023d78;line-height:26px;vertical-align:bottom;margin-left:3px;}
	.work li{padding:15px 22px;border-bottom:1px solid #e1e1e1}
	.work li .thead{position:relative;/*border-bottom:1px solid #e1e1e1;*/}
	.work li .thead .m_date{font-size:13px;color:#555;line-height:24px;}
	.work li .thead .admin_name{padding-left:5px;font-size:13px;color:#333;line-height:24px;}
	.work li .working{padding:7px 0 0;}
	.work li .working p{font-size:13px;color:#555;line-height:1.4;}
	.work li .working p span{font-weight:600;font-size:13px;color:#023d78;padding-right:7px;}
}

@media screen and (max-width:360px){
	.appdown{padding:9% 0 0;}
	.appdown p{padding-bottom:6%;}
}

.mt50{margin-top:50px;}