<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:00
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/customer/customer/customerList.js(v=${timestamp})}' src="../../../js/customer/customer/customerList.js"></script>
</th:block>
<div data-layout-fragment="content">
		<form id="searchForm" autocomplete="off">
			<div class="searchbox">
			<table>
				<colgroup>
					<col class="cper1050">
					<col class="cper2250">
					<col class="cper1050">
					<col class="cper2250">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tbody>
				<tr>
					<th>기간</th>
					<td colspan="5">
						<select name="dateType" class="wp130">
							<option value="">선택</option>
							<option th:each="item : ${CM02}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${parameter.dateType == item.code}">
								계약시작일
							</option>
						</select>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus ml5">
							<input id="searchStartDate" name="searchStartDate" type="text" aria-label="Date" th:value="${parameter.searchStartDate}">
							<span class="tui-ico-date"></span>
							<div id="searchStartDateWrapper"></div>
						</div>
						<span class="hyphen">~</span>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="searchEndDate" name="searchEndDate" type="text" aria-label="Date" th:value="${parameter.searchEndDate}">
							<span class="tui-ico-date"></span>
							<div id="searchEndDateWrapper"></div>
						</div>
					</td>
				</tr>
				<tr>
					<th>거래처</th>
					<td>
						<select name="customerType" class="cper2800">
							<option value="">전체</option>
							<option th:each="item : ${CM01}" th:value="${item.code}" th:text="${item.codeName}">
								대리점
							</option>
						</select>
						<input type="text" name="customerName" class="cper7000" th:value="${parameter.customerName}">
					</td>
					<th>거래처담당자</th>
					<td><input type="text" name="chargeName" class="wp130" th:value="${parameter.chargeName}"></td>
					<th>영업담당자</th>
					<td><input type="text"  name="salesUserName" class="wp130" th:value="${parameter.salesUserName}"></td>
				</tr>
				<tr>
					<th>계약상태</th>
					<td colspan="5">
						<input type="checkbox" id="total_chk" value="" th:checked="${not #lists.isEmpty(parameter.contractStatusList) and #lists.size(parameter.contractStatusList) == #lists.size(CM04)}"> <label th:for="total_chk"><span class="txt_lb" th:text="전체"></span></label>
						<span th:each="item, index : ${CM04} ">
						<input type="checkbox" name="contractStatusList" th:id="${item.code}" th:value="${item.code}" th:checked="${not #lists.isEmpty(parameter.contractStatusList) and (#lists.contains(parameter.contractStatusList, item.code))}"> <label th:for="${item.code}"><span class="txt_lb" th:text="${item.codeName}"></span></label>
						</span>
					</td>
				</tr>

				</tbody>
			</table>
				<div class="search_btn">
					<button type="button" class="btn_type2" id="searchBtn">검색</button>
					<button type="button" class="btn_type1 ml5" id="resetBtn">초기화</button>
				</div>
		</div>
		<div class="widget">
			<div class="tit_wrap">
				<p class="total">총 <span id="totalCount">00</span>건</p>
				<div class="module_btn">
					<button type="button" id="addCustomerBtn" class="btn_type1 add"><span></span>등록</button>
					<button type="button" id="excelDownloadBtn" class="btn_type1 excel"><span></span>엑셀다운로드</button>
				</div>
			</div>
			<div id="customerGrid"></div>
		</div>
	</form>

	<div id="popupList">

	</div>
</div>
</html>