<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:00
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript" th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script th:src='@{/js/customer/customer/customerWrite.js(v=${timestamp})}' src="../../../js/customer/customer/customerWrite.js"></script>
	<script>
		/*<![CDATA[*/
		var customerSeq = '[[${customer.customerSeq}]]'
		/*]]>*/
	</script>
</th:block>

<!--/*@thymesVar id="customer" type="com.pharmcle.rms.domain.customer.Customer"*/-->
<div data-layout-fragment="content">
	<form id="customerForm" autocomplete="off">
		<input type="hidden" name="customerSeq" th:value="${customer.customerSeq}">
		<input type="hidden" name="queryString" th:value="${#strings.defaultString(#request.getQueryString(), '')}">
		<table class="tbtype">
			<colgroup>
				<col class="cper1050">
				<col class="cper3500">
				<col class="cper1050">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th class="required">거래처구분<span></span></th>
				<td colspan="3">
					<select name="customerType" class="wp130" th:if="${customer.customerSeq <= 0}">
						<option value="">선택</option>
						<option th:each="item : ${CM01}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${customer.customerTypeText == item.codeName}" th:if="${item.code != 'CM010001'}">
						</option>
					</select>
					<span th:if="${customer.customerSeq > 0}" th:text="${customer.customerTypeText}">

					</span>
				</td>
			</tr>
			<tr>
				<th class="required">거래처(정식명)<span></span></th>
				<td>
					<input type="text" name="customerName" th:value="${customer.customerName}" maxlength="25" class="wp200" th:if="${customer.customerSeq <= 0}">
					<span th:if="${customer.customerSeq > 0}" th:text="${customer.customerName}">
					</span>
				</td>
				<th class="required">거래처(약어)<span></span></th>
				<td>
					<input type="text" name="customerShortName" th:value="${customer.customerShortName}" maxlength="25" class="wp180">
				</td>
			</tr>
			<tr>
				<th class="required">담당부서<span></span></th>
				<td>
					<input type="text" name="representName" th:value="${customer.representName}" maxlength="10" class="wp130" th:if="${customer.customerSeq <= 0}">
					<span th:if="${customer.customerSeq > 0}" th:text="${customer.representName}">

					</span>
				</td>
				<th>사업자번호</th>
				<td>
					<div class="businesscode">
						<input type="text" name="number1" maxlength="3" class="wp40" th:value="${customer.businessNumberSplitText != null ? customer.businessNumberSplitText[0] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="number2" maxlength="2" class="wp40" th:value="${customer.businessNumberSplitText != null ? customer.businessNumberSplitText[1] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="number3" maxlength="5" class="wp60"th:value="${customer.businessNumberSplitText != null ? customer.businessNumberSplitText[2] : ''}">
					</div>
				</td>
			</tr>
			<tr>
				<th>계약기간</th>
				<td colspan="3">
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="contractStartDt" name="contractStartDt" type="text" aria-label="Date" th:value="${customer.contractStartDtText}">
						<span class="tui-ico-date"></span>
						<div id="contractStartDtWrapper"></div>
					</div><span class="hyphen">~
					</span><div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="contractEndDt" name="contractEndDt" type="text" aria-label="Date" th:value="${customer.contractEndDtText}">
						<span class="tui-ico-date"></span>
						<div id="contractEndDtWrapper"></div>
					</div>
				</td>
			</tr>
			<tr>
				<th>대표 전화번호</th>
				<td>
					<div class="phonenum">
						<input type="text" name="phone1" maxlength="3" th:value="${customer.phoneSplitText != null ? customer.phoneSplitText[0] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="phone2" maxlength="4" th:value="${customer.phoneSplitText != null ? customer.phoneSplitText[1] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="phone3" maxlength="4" th:value="${customer.phoneSplitText != null ? customer.phoneSplitText[2] : ''}">
					</div>
				</td>
				<th>이메일</th>
				<td>
					<input type="text" name="emailId" maxlength="25" th:value="${customer.emailId}" class="wp150"><span class="hyphen">
					@</span>
					<input type="text" name="emailDomain" maxlength="25" th:value="${customer.emailDomain}" class="wp150">
					<select name="selectEmailDomain" maxlength="25" th:value="${customer.emailDomain}" class="ml5 wp150">
						<option value="">직접입력</option>
						<option th:each="item : ${SC04}" th:value="${item.codeName}" th:text="${item.codeName}" th:selected="${item.codeName} == ${customer.emailDomain}">
							이메일
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>주소</th>
				<td colspan="3">
					<button type="button" id="openSearchAddressPopup" class="btn_type3">우편번호 찾기
					</button><input type="text" id="address" name="address" maxlength="100" class="ml5 wp450" readonly th:value="${customer.address}">
					<input type="text" id="addressDetail" name="addressDetail" class="dp_block mt5 wp546" maxlength="100" th:value="${customer.addressDetail}">
				</td>
			</tr>
			<tr>
				<th>자료</th>
				<td colspan="3">
					<div class="filelist">
						<label for="file" class="btn_file">파일추가</label>
						<input type="file" id="file">
						<ul class="filename" id="fileList">

							<!--/*@thymesVar id="uploadFileList" type="java.util.ArrayList<>"*/-->
							<!--/*@thymesVar id="item" type="com.pharmcle.rms.domain.uploadFile.UploadFile"*/-->
							<li th:each="item : ${uploadFileList}">
								<a th:href="@{/uploadFile/api/download/{key}(key = ${item.uploadFileKey})}"
								   th:text="${item.originalFileName}" class="icon img" target="_blank" th:attr="download=${item.originalFileName}"></a>
								<button type="button" class="btn_del"></button>
								<input type="hidden" name="uploadFileKey" th:value="${item.uploadFileKey}">
							</li>
						</ul>
					</div>
				</td>
			</tr>
			</tbody>
		</table>

	<table class="tbtype mt15">
		<colgroup>
			<col class="cper1050">
			<col class="cperauto">
		</colgroup>
		<tbody>
		<tr>
			<th class="required">영업담당자<span></span></th>
			<td >
				<div class="group_search wp150">
					<input type="text" name="salesUserName" disabled th:value="${customer.customerSeq == 0 ? '' : customer.salesUserName}">
					<!-- 임시용 -->
					<button type="button" id="openSalesUserListPopupBtn" class="btn_search"></button>
					<input type="hidden" name="salesUserId" th:value="${customer.customerSeq == 0 ? '' : customer.salesUserId}">
					<input type="hidden" name="salesCustomerSeq" th:value="${customer.customerSeq == 0 ? '' : customer.customerSeq}">
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	</form>

    <div class="widget">
		<div class="tit_wrap">
			<h3>담당자 정보</h3>
			<div class="module_btn">
				<button type="button" id="openWriteChargePopupBtn" class="btn_type1 add"><span></span>추가</button>
			</div>
		</div>
		<div id="chargeGrid"></div>
		<div class="button">
			<button type="button" id="customerSaveBtn" class="btn_type2">저장</button>
			<button type="button" id="customerListBtn" class="btn_type1">취소</button>
		</div>

        <div id="popupList">

		</div>
	</div>
</div>
</html>