<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:00
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/customer/customer/customerDetail.js(v=${timestamp})}' src="../../../js/customer/customer/customerDetail.js"></script>
</th:block>

<!--/*@thymesVar id="customer" type="com.pharmcle.rms.domain.customer.Customer"*/-->
<div data-layout-fragment="content">
	<input type="hidden" name="customerSeq" th:value="${customer.customerSeq}">
	<input type="hidden" name="queryString" th:value="${#strings.defaultString(#request.getQueryString(), '')}">
	<table class="tbtype">
		<colgroup>
			<col class="cper1050">
			<col class="cper3500">
			<col class="cper1050">
			<col class="cperauto">
		</colgroup>
		<tbody>
		<tr>
			<th>거래처구분</th>
			<td><span th:text="${customer.customerTypeText}"></span></td>
			<th>활동여부</th>
			<td><span th:text="${customer.useYn == 'Y' ? '활동' : '미활동'}"></span></td>
		</tr>
		<tr>
			<th>거래처(정식명)</th>
			<td><span th:text="${customer.customerName}"></span></td>
			<th>거래처(약어)</th>
			<td><span th:text="${customer.customerShortName}"></span></td>
		</tr>
		<tr>
			<th>담당부서</th>
			<td><span th:text="${customer.representName}"></span></td>
			<th>사업자번호</th>
			<td><span th:text="${customer.businessNumber}"></span></td>
		</tr>
		<tr>
			<th>계약기간</th>
			<td>
				<span th:text="${customer.contractStartDtText}"></span>
				<span> ~ </span>
				<span th:text="${customer.contractEndDtText}"></span>
			</td>
			<th>계약상태</th>
			<td th:text="${customer.contractStatusText}"></td>
		</tr>
		<tr>
			<th>대표 전화번호</th>
			<td><span th:text="${customer.customerPhone}"></span></td>
			<th>이메일</th>
			<td>
				<span th:text="${customer.emailId}"></span>
				<span>@</span>
				<span th:text="${customer.emailDomain}"></span>
			</td>
		</tr>
		<tr>
			<th>주소</th>
			<td colspan="3"><span th:text="${customer.addressText}"></span></td>
		</tr>
		<tr>
			<th>첨부파일</th>
			<td colspan="3">
				<div class="filelist">
					<ul class="filename view">
						<li th:each="item : ${uploadFileList}">
							<a th:href="@{/uploadFile/api/download/{key}(key = ${item.uploadFileKey})}" class="icon file"
							   target="_blank" th:attr="download=${item.originalFileName}" th:text="${item.originalFileName}">test</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		</tbody>
	</table>

	<table class="tbtype mt15">
		<colgroup>
			<col class="cper1050">
			<col class="cperauto">
		</colgroup>
		<tbody>
		<tr>
			<th>영업담당자</th>
			<td colspan="3"><span th:text="${customer.salesCustomerName}"></span> <span th:text="${customer.salesUserName}"></span></td>
		</tr>
		</tbody>
	</table>

	<table class="tbtype mt15">
		<colgroup>
			<col class="cper1050">
			<col class="cper3500">
			<col class="cper1050">
			<col class="cperauto">
		</colgroup>
		<tbody>
		<tr>
			<th>등록일</th>
			<td><span th:text="${customer.regName}"></span> <span th:text="${customer.regDtLongText}"></span></td>
			<th>수정일</th>
			<td><span th:text="${customer.uptName}"></span> <span th:text="${customer.uptDtLongText}"></span></td>
		</tr>
		</tbody>
	</table>
	<div class="widget">
		<div class="tit_wrap">
			<h3>거래처 담당자</h3>
		</div>
		<div id="chargeGrid"></div>
	</div>
	<div class="button">
		<button type="button" id="customerModifyBtn" class="btn_type2">수정</button>
		<button type="button" id="customerListBtn" class="btn_type1">목록</button>
	</div>
</div>
</html>