<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/standard/areaCharge/areaChargeList.js(v=${timestamp})}'
			src="../../../js/standard/areaCharge/areaChargeList.js"></script>
</th:block>
<div data-layout-fragment="content">
	<form id="searchForm" autocomplete="off">
		<div class="searchbox">
			<table border="1">
				<colgroup>
					<col class="cper1050">
					<col class="cper3500">
					<col class="cper1050">
					<col class="cper1800">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tbody>
				<tr>
					<th>기간</th>
					<td>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus ml5">
							<input id="searchStartDate" name="searchStartDate" type="text" aria-label="Date">
							<span class="tui-ico-date"></span>
							<div id="searchStartDateWrapper"></div>
						</div>
						<span class="hyphen">~</span>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="searchEndDate" name="searchEndDate" type="text" aria-label="Date">
							<span class="tui-ico-date"></span>
							<div id="searchEndDateWrapper"></div>
						</div>
					</td>
					<th>지역</th>
					<td>
						<select class="wp130" name="area">
							<option value="">전체</option>
							<option th:each="item : ${SC03}" th:value="${item.code}" th:text="${item.codeName}">
								서울
							</option>
						</select>
					</td>
					<th>담당자</th>
					<td><input type="text" class="wp200" name="searchUserName" maxlength="25"></td>
				</tr>
				</tbody>
			</table>
			<div class="search_btn">
				<button type="button" id="searchBtn" class="btn_type2">검색</button>
				<button type="button" id="resetBtn" class="btn_type1 ml5">초기화</button>
			</div>
		</div>
		<div class="widget">
			<div class="wrap_grid">
				<div class="tit_wrap">
					<div class="module_btn">
						<button type="button" id="openModifyAreaChargePopupBtn" class="btn_type1 add"><span></span>담당자
							일괄변경
						</button>
						<button type="button" id="saveAreaChargeBtn" class="btn_type1 add"><span></span>저장</button>
						<button type="button" id="excelDownloadBtn" class="btn_type1 excel"><span></span>엑셀다운로드</button>
					</div>
				</div>
				<div id="areaChargeGrid"></div>
			</div>
		</div>
	</form>
	<div id="popupList">

	</div>
</div>
</html>