<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<div data-layout-fragment="content">
	<form id="uploadFrom" autocomplete="off">
		<table class="tbtype">
			<colgroup>
				<col class="cper2500">
				<col class="cper7500">
			</colgroup>
			<tbody>
			<tr>
				<th>보수담당1</th>
				<td>
					<select name="asUserId1" class="wp150">
						<option value="">변경없음</option>
						<option th:each="item : ${userList}" th:value="${item.userId}" th:text="${item.name}">
							보수담당자1
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>보수담당2</th>
				<td>
					<select name="asUserId2" class="wp150">
						<option value="">변경없음</option>
						<option th:each="item : ${userList}" th:value="${item.userId}" th:text="${item.name}">
							보수담당자1
						</option>
					</select>
				</td>
			</tr>
			</tbody>
		</table>
	</form>
	<div class="pop_button">
		<button type="button" id="saveBtn" class="btn_type2">저장</button>
		<button type="button" id="cancelBtn" class="btn_type1">취소</button>
	</div>

</div>
</html>