<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<div data-layout-fragment="content">
	<form id="form" autocomplete="off">
		<input type="hidden" value="SD020002" name="deviceClassify" />
		<input type="hidden" id="popupBaseYear" name="baseYear" />
		<h3 id="titleBaseYear"> </h3>
		<table class="tbtype">
			<colgroup>
				<col class="cperauto">
				<col class="cper3000">
				<col class="cper3000">
			</colgroup>
			<thead>
			<tr>
				<th>항목</th>
				<th>시작</th>
				<th>종료</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="required">가동기간<span></span></td>
				<td>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input type="text" id="operateStartDt" name="operateStartDt" aria-label="Date-Time">
						<span class="tui-ico-date"></span>
					</div>
					<div id="operateStartDtWrapper"></div>
				</td>
				<td>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input type="text" id="operateEndDt" name="operateEndDt" aria-label="Date-Time">
						<span class="tui-ico-date"></span>
					</div>
					<div id="operateEndDtWrapper"></div>
				</td>
			</tr>
			<tr>
			<tr><td class="required">가동시간<span></span></td>
				<td>
					<select id="operateStartTime" name="operateStartTime">
						<option th:each="hour : ${startHourList}" th:value="${hour}"
								th:text="${#strings.substring(hour,0,2) + ':' + #strings.substring(hour,2,4)}">
						</option>
					</select>
				</td>
				<td>
					<select id="operateEndTime" name="operateEndTime">
						<option th:each="hour : ${endHourList}" th:value="${hour}"
								th:text="${#strings.substring(hour,0,2) + ':' + #strings.substring(hour,2,4)}">
						</option>
					</select>
				</td>
			</tr>
			</tbody>
		</table>

		<table class="tbtype">
			<colgroup>
				<col class="cperauto">
				<col class="cper3000">
				<col class="cper3000">
			</colgroup>
			<thead>
			<tr>
				<th>통신상태</th>
				<th>하한 Value</th>
				<th>상한 Value</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td><p>온도</p></td>
				<td>
					<input type="text" class="cper3500" name="temperatureLow"/> <span>℃</span>
				</td>
				<td>
					<input type="text" class="cper3500" name="temperatureHigh"/> <span>℃</span>
				</td>
			</tr>
			<tr>
				<td><p>습도</p></td>
				<td>
					<input type="text" class="cper3500" name="humidityLow"/> <span>%</span>
				</td>
				<td>
					<input type="text" class="cper3500" name="humidityHigh"/> <span>%</span>
				</td>
			</tr>

			<tr>
				<td><p>전체 전압</p></td>
				<td>
					<input type="text" class="cper3500" name="voltageLow"/> <span>V</span>
				</td>
				<td>
					<input type="text" class="cper3500" name="voltageHigh"/> <span>V</span>
				</td>
			</tr>

			<tr>
				<td><p>전체 전류</p></td>
				<td>
					<input type="text" class="cper3500" name="electricLow"/> <span>A</span>
				</td>
				<td>
					<input type="text" class="cper3500" name="electricHigh"/> <span>A</span>
				</td>
			</tr>

			<tr>
				<td><p>Battery 전압</p></td>
				<td>
					<input type="text" class="cper3500" name="property1Low"/> <span>V</span>
				</td>
				<td>
					<input type="text" class="cper3500" name="property1High"/> <span>V</span>
				</td>
			</tr>

			<tr>
				<td><p>Solar 전압</p></td>
				<td>
					<input type="text" class="cper3500" name="property2Low"/> <span>V</span>
				</td>
				<td>
					<input type="text" class="cper3500" name="property2High"/> <span>V</span>
				</td>
			</tr>

			<tr>
				<td><p>약재잔량</p></td>
				<td>
					<input type="text" class="cper3500" name="property3Low"/> <span>%</span>
				</td>
				<td>
					<input type="text" class="cper3500" name="property3High"/> <span>%</span>
				</td>
			</tr>
			<tr>
				<td><p>Pump 전류</p></td>
				<td>
					<input type="text" class="cper3500" name="property4Low"/> <span>A</span>
				</td>
				<td>
					<input type="text" class="cper3500" name="property4High"/> <span>A</span>
				</td>
			</tr>
			</tbody>
		</table>
	</form>
	<div class="pop_button">
		<button type="button" id="saveBtn" class="btn_type2">저장</button>
		<button type="button" id="cancelBtn" class="btn_type1">취소</button>
	</div>

</div>
</html>