<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/standard/protocol/protocolList.js(v=${timestamp})}'
			src="../../../js/standard/protocol/protocolList.js"></script>
</th:block>
<div data-layout-fragment="content">
	<form id="searchForm" autocomplete="off">
		<input type="hidden" id="deviceClassify" name="deviceClassify" value="SD020001"/>
		<div class="searchbox">
			<table border="1">
				<colgroup>
					<col class="cper1050">
					<col class="cper3950">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tbody>
				<tr>
					<th>기준년도</th>
					<td colspan="3">
						<select class="wp130" name="baseYear">
							<option th:each="year : ${#numbers.sequence(2020,#dates.year(#dates.createNow()) + 1)}" th:text="${year}" th:value="${year}"></option>
						</select>
					</td>
				</tr>
				</tbody>
			</table>
			<div class="search_btn">
				<button type="button" id="searchBtn" class="btn_type2">검색</button>
				<button type="button" id="resetBtn" class="btn_type1 ml5">초기화</button>
			</div>
		</div>
	</form>

	<div class="widget">
		<ul class="tab">
			<li class="on" id="deviceMst1"><a href="#">포충기</a></li>
			<li class="" id="deviceMst2"><a href="#">기피제 분사함</a></li>
		</ul>
		<ul class="tab_conts">
			<li><!-- 포충기 탭 -->
				<div class="tit_wrap">
					<p class="total">총 <span id="totalCount1">00</span>건</p>
					<div class="module_btn">
						<button type="button" name="insertBtn" class="btn_type1 add"><span></span>등록</button>
					</div>
				</div>
				<div id="protocolGrid_1"></div>
			</li >
			<li id="tab2"><!-- 포충기 탭 -->
				<div class="tit_wrap">
					<p class="total">총 <span id="totalCount2">00</span>건</p>
					<div class="module_btn">
						<button type="button" name="insertBtn" class="btn_type1 add"><span></span>등록</button>
					</div>
				</div>
				<div id="protocolGrid_2"></div>
			</li >
		</ul>
	</div>

	<div id="popupList">

	</div>

</div>
</html>