<!--
   Create By Lee DoWon on 2020-02-17 / 오후 4:15
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script type="text/javascript"
			th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script th:src='@{/js/monitor/map/monitorMapList.js(v=${timestamp})}'
			src="../../../js/monitor/map/monitorMapList.js"></script>
</th:block>
<div data-layout-fragment="content">
	<div class="main_layout">
		<ul class="infobd">
			<li>
				<div class="info_sate">
					<span class="ic_state b01"></span>
					<p class="subtit">전원ON/정상</p>
					<p class="counting"><span id="GOOD_QTY"></span></p>
				</div>
			</li>
			<li>
				<div class="info_sate">
					<span class="ic_state b02"></span>
					<span class="subtit">전원ON/알람</span>
					<p class="counting"><span id="BAD_QTY"></span></p>
				</div>
			</li>
			<li>
				<div class="info_sate">
					<span class="ic_state b03"></span>
					<span class="subtit">전원OFF</span>
					<p class="counting"><span id="STOP_QTY"></span></p>
				</div>
			</li>
			<li>
				<div class="info_sate">
					<span class="ic_state b04"></span>
					<span class="subtit">통신ON</span>
					<p class="counting"><span id="RELAYON_QTY"></span></p>
				</div>
			</li>
			<li>
				<div class="info_sate">
					<span class="ic_state b05"></span>
					<span class="subtit">통신OFF</span>
					<p class="counting"><span id="RELAYOFF_QTY"></span></p>
				</div>
			</li>
			<li>
				<div class="info_sate">
					<span class="ic_state b06"></span>
					<span class="subtit">일반</span>
					<p class="counting"><span id="NOMAL_QTY"></span></p>
				</div>
			</li>
		</ul>
		<div class="wrap_grid w2_8d mt15">
			<div class="colA">
				<div id="list-loading">
					<div class="loading"></div>
					<div class="dimmed"></div>
				</div>
				<div class="article" style="overflow-y: scroll; height:480px;" id="scrollDiv">
					<div class="g_search">

						<select id="locationSelect" class="wp220" name="locationSeq">
							<option value="0">전체</option>
							<option th:each="loc : ${locationList}" th:value="${loc.locationSeq}"
									th:text="${loc.locationName}"
									th:attr="data-lat=${loc.locationLatitude}, data-lng=${loc.locationLongitude}"></option>
						</select>

						<select id="deviceSelect" class="wp220" name="deviceMstSeq">
							<option value="0">전체</option>
							<option th:each="devMst : ${deviceMasterList}" th:value="${devMst.deviceMstSeq}"
									th:text="${devMst.deviceNameText}"></option>
						</select>
					</div>
					<p class="total ml10">총 <span id="deviceListCnt">0</span>건</p>
					<ul class="monitor_list" id="deviceList"><!-- id="deviceList"-->
					</ul>
				</div>
			</div>
			<div class="colB">
				<div class="article" style=" position:relative;height:480px;overflow:hidden;">
					<div id="allViewMap" style="height:480px;overflow:hidden;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>