<!--
   Create By Lee DoWon on 2020-05-06 / 오전 10:01
   Email : vin4195@uniwiz.co.kr
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/common/common.js"></script>
	<script src="/js/common/native.js"></script>
	<script src="/js/common/daumAddress.js"></script>


	<link rel="stylesheet" href="/css/reset.css"/>
	<link rel="stylesheet" href="/css/admin.css"/>
	<link rel="stylesheet" href="/css/mobile.css"/>
	<link rel="stylesheet" href="/css/form_layout.css"/>
	<script>
		$(function () {
			/*<![CDATA[*/
			var token = '[[ ${token} ]]';
			/*]]>*/

			var $todoList = $('#todoList');

			$todoList.on('click', 'li', function () {
				var $this = $(this);
				$this.removeClass('on');
				var domainStatus = $this.find('input[name="domainStatus"]').val();
				var domainSeq = $this.find('input[name="domainSeq"]').val();
				var moveParameter;
				switch(domainStatus){
					case "MR030001":	// 민원 신청
						moveParameter = {
							'pageName': 'getComplain',
							'complainSeq': domainSeq
						};
						moveDetailPage(domainStatus, domainSeq, moveParameter);
						break;
					case "MR030002":	// 민원 접수
						moveParameter = {
							'pageName': 'getComplain',
							'complainSeq': domainSeq
						};
						moveDetailPage(domainStatus, domainSeq, moveParameter);
						break;
					case "SC080001":	// 거래처 가입
						alert("거래처 가입 승인은 WEB에서만 가능합니다.");
						break;
					case "IM050001":	// 설치요청 - 설치요청
						moveParameter = {
							'pageName': 'getMobileInstallRequestDetail',
							'installRequestSeq': domainSeq
						};
						moveDetailPage(domainStatus, domainSeq, moveParameter);
						break;
					case "IM050002":	// 설치요청 - 요청접수
						moveParameter = {
							'pageName': 'getMobileInstallRequestDetail',
							'installRequestSeq': domainSeq
						};
						moveDetailPage(domainStatus, domainSeq, moveParameter);
						break;
					case "IM050004":	// 설치요청 - 설치완료
						moveParameter = {
							'pageName': 'getMobileInstallRequestDetail',
							'installRequestSeq': domainSeq
						};
						moveDetailPage(domainStatus, domainSeq, moveParameter);
						break;
					case "IM050005":	// 설치요청 - 확인완료
						moveParameter = {
							'pageName': 'getMobileInstallRequestDetail',
							'installRequestSeq': domainSeq
						};
						moveDetailPage(domainStatus, domainSeq, moveParameter);
						break;
				}
			});
			function moveDetailPage(status, seq, moveParameter){
				Common.callAjax("/todo/api/setTodoViewUserId?token=" + token, {domainStatus : status, domainSeq : seq}, function (result) {
					Native.movePage(moveParameter);

				});
			}
		})
	</script>
</head>
<body>
<div class="m_wrap">
	<header>
		<div class="top">
			<button type="button" class="btn_back" id="mobileBackBtn">To-Do</button>
			<div class="h_btn">
				<button type="button" class="btn_menu" id="mobileSideMenuBtn"></button>
			</div>
		</div>
	</header>
	<div class="m_conts">
		<div class="scroll-y">
			<!--/*@thymesVar id="todo" type="com.pharmcle.rms.domain.todo.Todo"*/-->
			<ul class="m_list" id="todoList">
				<li th:each="todo : ${todoList}" th:classappend="${todo.checkedYn == 'Y' ? '' : 'on'}">
					<input type="hidden" name="domainStatus" th:value="${todo.domainStatus}">
					<input type="hidden" name="domainSeq" th:value="${todo.domainSeq}">
					<div class="atag">
						<span class="m_tit" th:text="${todo.title}"></span>
						<span class="m_date" th:text="${todo.regDtText} + ' | ' + ${todo.handleYnText}"></span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>