<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/report/deviceStock/deviceStockList.js(v=${timestamp})}' src="../../../js/report/deviceStock/deviceStockList.js"></script>
</th:block>

<div data-layout-fragment="content">

	<form id="searchForm" autocomplete="off">
		<div class="searchbox">
			<table>
				<colgroup>
					<col class="cper1050">
					<col class="cper2250">
					<col class="cper1050">
					<col class="cper2250">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tbody>
				<tr>
					<th>년도</th>
					<td>
						<select class="wp130" name="baseYear">
							<option th:each="year : ${#numbers.sequence(2020,#dates.year(#dates.createNow()) + 1)}" th:text="${year}" th:value="${year}"></option>
						</select>
					</td>
					<th>장비구분</th>
					<td>
						<select name="deviceClassify" class="wp150">
							<option value="">전체</option>
							<option th:each="item : ${SD02}" th:value="${item.code}" th:text="${item.codeName}">
								장비구분
							</option>
						</select>
					</td>
					<th>장비명</th>
					<td>
						<input type="text" name="deviceName" class="wp200"/>
					</td>
				</tr>
				</tbody>
			</table>
			<div class="search_btn">
				<button type="button" id="searchBtn" class="btn_type2">검색</button>
				<button type="button" id="resetBtn" class="btn_type1 ml5">초기화</button>
			</div>
		</div>
		<div class="widget">
			<div class="tit_wrap">
				<p class="total">총 <span id="totalCount">00</span>건</p>
				<div class="module_btn">
					<button type="button" id="excelDownloadBtn" class="btn_type1 excel"><span></span>엑셀다운로드</button>
				</div>
			</div>
			<div id="reportGrid"></div>
		</div>
	</form>
</div>
</html>