<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:37
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script src="/lib/chart-js/Chart.min.js"></script>
	<script type="text/javascript" th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script th:src='@{/js/install/installDevice/installDeviceDetail.js(v=${timestamp})}' src="../../../js/install/installDevice/installDeviceDetail.js"></script>
	<script th:src='@{/js/manage/maintain/maintainDetail.js(v=${timestamp})}' src="../../../js/manage/maintain/maintainDetail.js"></script>
</th:block>
<!--/*@thymesVar id="device" type="com.pharmcle.rms.domain.device.Device"*/-->
<div data-layout-fragment="content">
	<input type="hidden" id="deviceMstSeq" th:value="${device.deviceMstSeq}"/> <!-- 장비정보 팝업 띄울때 사용 -->
	<input type="hidden" name="deviceSeq" id="deviceSeq" th:value="${device.deviceSeq}"/> <!--기본적인 시퀀스 키 -->
	<input type="hidden" name="deviceId" id="deviceId" th:value="${device.deviceId}"/> <!-- 바코드 그릴때 사용-->
	<input type="hidden" name="locationSeq" id="locationSeq" th:value="${device.locationSeq}"/> <!-- 맵 그릴때 사용 -->
	<input type="hidden" name="operateStartTime" th:value="${device.operateStartTime}"/> <!-- 시계 그릴때 사용-->
	<input type="hidden" name="operateEndTime" th:value="${device.operateEndTime}"/> <!-- 시계 그릴때 사용-->
	<input type="hidden" name="queryString" th:value="${#strings.defaultString(#request.getQueryString(), '')}">

	<div class="wid_head mh80">
		<dl>
			<dt>장비번호</dt>
			<dd><span th:text="${device.deviceId}">1910103000001</span>
			</dd>
		</dl>
		<dl>
			<dt>장비명</dt>
			<dd><span th:text="${device.deviceNameText}"></span><a href="#" class="btn_type1 ml7"
																   id="openDeviceStandardPopup">장비정보</a></dd>
		</dl>
		<dl>
			<dt>장비상태</dt>
			<dd><span th:text="${device.statusText}"></span>
			</dd>
		</dl>
		<div class="btn_side">
			<a href="#" id="moveMonitorDetail" class="btn_type1 monitor"><span></span>모니터링 상세</a>
			<a href="#" id="moveInstallDeviceDetail" class="btn_type1 set"><span></span>설치장비 상세</a>
			<button type="button" id="openMaintainReportPopup" class="btn_type1 report"><span></span>유지보수보고서</button>
		</div>
		<div class="code_img" id="barcode"></div>
	</div>
	<div class="mt20">
		<table class="tbtype">
			<colgroup>
				<col class="cper1050">
				<col class="cper3950">
				<col class="cper1050">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th>설치일</th>
				<td><p th:text="${device.installDtTimeText}"></p></td>
				<th>설치담당자</th>
				<td><p th:text="${device.installUserName}"></p></td>
			</tr>
			<tr>
				<th>지역</th>
				<td><p th:text="${device.locationAreaText}">경기</p></td>
				<th>거래처구분</th>
				<td><p th:text="${device.customerTypeText}">보건소</p></td>
			</tr>
			<tr>
				<th>거래처</th>
				<td><p th:text="${device.customerName}">화성시</p></td>
				<th>거래처담당자</th>
				<td><p th:text="${device.chargeName} + ' (' + ${device.chargePhone} + ')'"
					   th:if="${device.chargeName}"></p></td>
			</tr>
			<tr>
				<th>설치장소</th>
				<td>
					<span th:text="${device.locationName}">화성공원</span>
					<a id="openDeviceViewAllPopup" class="btn_type3 ml7">전체보기</a>
				</td>
				<th>장비위치</th>
				<td>
					<p th:text="${device.deviceAddress}">경기도 화성시 행정가1길 14</p>
				</td>
			</tr>
			<tr>
				<th>관리번호</th>
				<td><p th:text="${device.manageNo}">가람01</p></td>
				<th>가로등번호</th>
				<td><p th:text="${device.lampNo}">1234-12</p></td>
			</tr>
			<tr>
				<th>영업담당자</th>
				<td><p th:text="${device.salesCustomerName} + ' ' + ${device.salesUserName}">영업담당자</p></td>
				<th>보수담당자</th>
				<td><p th:text="${device.asCustomerName} + ' ' + ${device.asUserName}">보수담당자</p></td>
			</tr>
			<tr>
				<th>설치 전 사진</th>
				<td>
					<div class="filelist">
						<ul class="fileimg" id="INSTALL_DEVICE_BEFORE">
							<li th:each="item : ${beforeFileList}">
								<img class="upload-image"
									 th:if="${not #lists.isEmpty(item.uploadFileKey) && #lists.size(item.uploadFileKey) > 0}"
									 th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item.uploadFileKey})}"
									 src="/img/layout/ex01.png">
							</li>
						</ul>
					</div>
				</td>
				<th>설치 후 사진</th>
				<td>
					<div class="filelist">
						<ul class="fileimg" id="INSTALL_DEVICE_AFTER">
							<li th:each="item : ${afterFileList}">
								<img class="upload-image"
									 th:if="${not #lists.isEmpty(item.uploadFileKey) && #lists.size(item.uploadFileKey) > 0}"
									 th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item.uploadFileKey})}"
									 src="/img/layout/ex01.png">
							</li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<th>설치비고</th>
				<td colspan="3">
					<p th:text="${device.installEtc}">설치비고</p>
				</td>
			</tr>

			</tbody>
		</table>
		<div class="wrap_grid wp600_60 mt15">
			<div class="colA">
				<div class="article">
					<div class="arti_body">
						<div class="timeinfo mt0">
							<p><i class="ic_time">가동시간</i>
								<span class="time_term"
									  th:text="${device.operateStartDtKoreanText} + ' ~ ' + ${device.operateEndDtKoreanText}"></span>
							</p>
							<div class="light_time">
								<div class="lignt_on"><i></i>점등 <span
									th:text="${#strings.substring(device.operateStartTime, 0,2) + '시 ' + #strings.substring(device.operateStartTime, 2,4) + '분'}"></span>
								</div>
								<div class="lignt_off"><i></i>소등 <span
									th:text="${#strings.substring(device.operateEndTime, 0,2) + '시 ' + #strings.substring(device.operateEndTime, 2,4) + '분'}"></span>
								</div>
							</div>
						</div>
						<div class="hour">
							<canvas class="pie" id="chart" style="width:100%;height:100%; "></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="colB">
				<div class="article detailmap" id="detailMap">
				</div>
			</div>
		</div>
	</div>

	<div class="widget">
		<div class="tit_wrap">
			<h3>유지보수 내역</h3>
			<div class="module_btn">
				<form id="searchForm">
					<input type="hidden" name="deviceSeq" th:value="${device.deviceSeq}">
					<span th:each="item, index : ${MR09}">
						<input type="radio" th:id="${'searchType' + index.index}" name="searchType"
							   th:value="${item.code}" th:checked="${item.code == parameter.searchType}">
						<label th:for="${'searchType' + index.index}"><span class="txt_lb" th:text="${item.codeName}">최신순</span></label>
					</span>
					<select name="searchYear" class="ml5 wp85">
						<option th:each="year : ${maintainRegYearList}" th:text="${year} + '년'" th:value="${year}"
							th:selected="${year == parameter.searchYear}"></option>
					</select>

				</form>
			</div>
		</div>
		<!--유지보수 / 민원처리내역 리스트-->
		<table class="tbtype list mt10">
			<colgroup>
				<col class="wp150">
				<col class="cper2000">
				<col class="cperauto">
				<col class="cper2000">
				<col class="wp100">
			</colgroup>
			<thead>
			<tr>
				<th>보수일</th>
				<th>차수</th>
				<th>보수내역</th>
				<th>이미지</th>
				<th>보수담당자</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="maintain : ${maintainList}">
				<td class="t_center"><p th:text="${maintain.regDtLongText}">2020.01.01 19:10</p></td>
				<td><p class="bold" th:text="${maintain.maintainNoString} + ' ' + ${maintain.maintainTypeTextConcat}">1차
					유지보수</p></td>
				<td>
					<p>
						<!-- 점검 내역 -->
						<span th:if="${maintain.regType == 'M'}">점검내역 : </span>
						<span th:text="${maintain.maintainResultText}"></span>
					</p>
					<p th:if="${not #strings.isEmpty(maintain.addpartListText)}">
						<!--부품교체 -->
						<span>부품교체 : </span>
						<span th:text="${maintain.addpartListText}"></span>
					</p>
					<p th:if="${not #strings.isEmpty(maintain.lastDeviceAddress)}">
						<!-- 이전주소 -->
						<span>이전 주소 : </span>
						<span th:text="${maintain.lastDeviceAddress}"></span>
					</p>
					<p th:if="${not #strings.isEmpty(maintain.lastManageNo)}">
						<!-- 관리번호 -->
						<span>이전 관리번호 : </span>
						<span th:text="${maintain.lastManageNo}"></span>
					</p>
					<p th:if="${not #strings.isEmpty(maintain.lastLampNo)}">
						<!-- 가로등번호 -->
						<span>이전 가로등번호 : </span>
						<span th:text="${maintain.lastLampNo}"></span>
					</p>

					<p th:if="${not #strings.isEmpty(maintain.content)}">
						<!--내용-->
						<span th:text="${maintain.content}"></span>
					</p>
					<p>
						<!-- 해충 포집량 -->
						<span th:if="${maintain.regType == 'M'}">해충 포집량 : </span>
						<span th:if="${maintain.regType == 'M'}" th:text="${maintain.volume} + '%'"></span>
					</p>
				</td>
				<td>
					<div th:class="${maintain.regType == 'M' ? 'maintain' : 'complainHandle'}" th:if="${not #lists.isEmpty(maintain.uploadFileKey)}">
						<!-- 사진 -->
						<ul class="fileimg" th:id="${maintain.regType == 'M' ? 'MAINTAIN' : 'COMPLAIN_HANDLE'}">
							<li th:each="item : ${maintain.uploadFileKey}">
								<input type="hidden" name="maintainSeq" th:value="${maintain.maintainSeq}" th:if="${maintain.regType == 'M'}"/>
								<input type="hidden" name="complainSeq" th:value="${maintain.maintainSeq}" th:if="${maintain.regType == 'C'}"/>
								<input type="hidden" name="complainHandleSeq" th:value="${maintain.complainHandleSeq}" th:if="${maintain.regType == 'C'}"/>
								<img class="upload-image"
									 th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item})}"
									 src="/img/layout/ex01.png">
							</li>
						</ul>
					</div>
				</td>
				<td class="t_center"><p th:text="${maintain.regName}">홍길동</p></td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="button">
		<button type="button" id="moveListBtn" class="btn_type1">목록</button>
	</div>
	<div id="popupList"></div>
	<div id="popupList2"></div>
</div>
</html>