<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/manage/maintain/maintainList.js(v=${timestamp})}'
			src="../../../js/manage/maintain/maintainList.js"></script>
</th:block>
<div data-layout-fragment="content">
	<form method="post" id="searchForm" autocomplete="off">
		<div class="searchbox">
			<table>
				<colgroup>
					<col class="cper1050">
					<col class="cper2250">
					<col class="cper1050">
					<col class="cper2250">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tbody>
				<tr>
					<th>기간</th>
					<td colspan="5">
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="searchStartDate" name="searchStartDate" type="text" aria-label="Date" th:value="${parameter.searchStartDate}">
							<span class="tui-ico-date"></span>
							<div id="searchStartDateWrapper"></div>
						</div>
						<span class="hyphen">~</span>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="searchEndDate" name="searchEndDate" type="text" aria-label="Date" th:value="${parameter.searchEndDate}">
							<span class="tui-ico-date"></span>
							<div id="searchEndDateWrapper"></div>
						</div>
					</td>
				</tr>
				<tr>
					<th>유형</th>
					<td colspan="5">
						<div id="complainTypeList">
							<input type="checkbox" id="total_chk" th:checked="${not #lists.isEmpty(parameter.statusList) and #lists.size(parameter.statusList) == #lists.size(MR06)}"> <label th:for="total_chk">
							<span class="txt_lb" th:text="전체"></span></label>
							<span th:each="item, index : ${MR06} ">
								<!-- checkbox name maintainTypeList 에서 statusList으로 변경 (모바일 요청)  2020-04-21 김윤홍  -->
								<input type="checkbox" name="statusList" th:id="${item.code}"
									   th:value="${item.code}" th:checked="${not #lists.isEmpty(parameter.statusList) and (#lists.contains(parameter.statusList, item.code))}"> <label th:for="${item.code}"><span
								class="txt_lb" th:text="${item.codeName}"></span></label>
							</span>
						</div>
					</td>
				</tr>
				<tr>
					<th>지역</th>
					<td>
						<select name="locationArea" class="wp120">
							<option value="">전체</option>
							<option th:each="item : ${SC03}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.locationArea}">
								장비
							</option>
						</select>
					</td>
					<th>거래처</th>
					<td>
						<select name="customerType" class="wp120">
							<option value="">전체</option>
							<option th:each="item : ${CM01}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.customerType}">
								거래처구분
							</option>
						</select>
						<input type="text" name="customerName" class="ml7 wp200" th:value="${parameter.customerName}"/>
					</td>
					<th>설치장소</th>
					<td>
						<input type="text" name="locationName" class="wp150" th:value="${parameter.locationName}"/>
					</td>
				</tr>
				<tr>
					<th>장비번호</th>
					<td>
						<input type="text" name="deviceId" class="wp120" th:value="${parameter.deviceId}"/>
					</td>
					<th>장비명</th>
					<td>
						<input type="text" name="deviceNameText" class="wp120" th:value="${parameter.deviceNameText}"/>
					</td>

					<th>보수 담당자</th>
					<td>
						<div class="group_search wp150">
							<input type="text" name="asUserName" readonly th:value="${parameter.asUserName}">
							<button type="button" id="openAsUserListPopupBtn" class="btn_search"></button>
							<input type="hidden" id="asUserId" name="asUserId">
						</div>
					</td>
				</tr>
				<tr>
					<th>관리번호</th>
					<td>
						<input type="text" name="manageNo" class="wp120" th:value="${parameter.manageNo}"/>
					</td>
					<th>가로등번호</th>
					<td colspan="3">
						<input type="text" name="lampNo" class="wp120" th:value="${parameter.lampNo}"/>
					</td>
				</tr>
				</tbody>
			</table>
			<div class="search_btn">
				<button type="button" id="searchBtn" class="btn_type2">검색</button>
				<a href="#" id="resetBtn" class="btn_type1 ml5">초기화</a>
			</div>
		</div>
		<div class="widget">
			<div class="tit_wrap mt30">
				<p class="total">총 <span id="totalCount">00</span>건</p>
				<div class="module_btn">
					<button type="button" id="excelDownloadBtn" class="btn_type1 excel"><span></span>엑셀다운로드</button>
				</div>
			</div>
			<div id="maintainGrid">

			</div>
		</div>
	</form>

	<div id="popupList">

	</div>
</div>
</html>