<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

    <style>
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
    <script th:src='@{/js/index.js(v=${timestamp})}' src="../js/index.js"></script>
    <script th:src='@{/js/manage/complain/complainHandlingModify.js(v=${timestamp})}'
            src="../../../js/manage/complain/complainHandlingModify.js"></script>
</th:block>
<div data-layout-fragment="content">

    <div class="tit_wrap">
        <h3>민원처리 등록(수정)</h3>
    </div>
    <input type="hidden" name="complainSeq" th:value="${complainSeq}"/>
    <input type="hidden" name="complainSeq" th:value="${status}"/>
    <div th:each="item, index : ${deviceList}" class="handling-table">
        <form autocomplete="off">
            <input type="hidden" name="deviceSeq" th:value="${item.deviceSeq}"/>
            <input type="text" name="status" th:value="${item.status}"/>
            <table class="tbtype" th:id="table+${index.index}">
                    <colgroup>
                        <col class="cper1050">
                        <col class="cperauto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th colspan="2" class="brline">
                            <p th:text="${item.deviceId} + '(' + ${item.deviceNameText} + ')' + ' | 관리번호 : ' + ${item.manageNo} + ' | 가로등 번호 : ' + ${item.lampNo} "></p>
                        </th>

                    </tr>
                    <tr>
                        <th>처리결과</th>
                        <td>
                            <span th:each="item, index2 : ${MR04}">
                                <input type="radio" name="handlingResult" id="handlingResult01"
                                       th:id="'handlingResult' +${index.index}+${index2.index}" th:value="${item.code}">
                                <label for="handlingResult01" th:for="'handlingResult'+${index.index}+${index2.index}"><span
                                        class="txt_lb" th:text="${item.codeName}"></span></label>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>부품교체</th>
                        <td>
                            <button type="button" th:id="'addPartBtn_'+${index.index}" class="btn_type1 addPartBtn">추가</button>
                            <!-- 추가버튼을 누르면 추가부품 팝업이 열리고 팝업에서 부품 선택하면 버튼 아래에 부품항목이 추가된다 -->
                            <div class="addpart-list"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <textarea class="cper100p" th:id="content+${index.index}" name="content"
                                      maxlength="1000"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th class="required">사진<span></span></th>
                        <td class="valign_t">
                            <div class="filelist">
                                <label th:for="'complainFile' + ${index.index}" class="btn_file">사진첨부</label>
                                <input type="file" th:id="'complainFile' + ${index.index}" class="complainFile">
                                <ul class="fileimg complainFileList">
                                    <li th:each="item2 : ${fileList}">
                                        <button type="button" class="btn_img_del"></button>
                                        <img class="upload-image" th:if="${not #lists.isEmpty(item2.uploadFileKey) && #lists.size(item2.uploadFileKey) > 0}"
                                             th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item2.uploadFileKey})}"
                                             src="/img/layout/ex01.png">
                                        <input type="text" name="uploadFileKey" th:value="${item2.uploadFileKey}">
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
            </table>
        </form>
    </div>
    <div class="button">
        <button type="button" id="saveBtn" class="btn_type2">저장</button>
        <button type="button" id="cancleBtn" class="btn_type1">취소</button>
    </div>
    <div id="popupList">

    </div>

</div>
</html>