<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script>
		/*<![CDATA[*/
		var sessionUserEmail = "[[ ${_userInfo.emailText} ]]"; // 세션Email
		var chargeEmail = '';
		var salesUserEmail = '';
		/*]]>*/
	</script>
	<script type="text/javascript" th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script th:src='@{/js/manage/complain/complainWrite.js(v=${timestamp})}' src="../../../js/manage/complain/complainWrite.js"></script>
</th:block>
<div data-layout-fragment="content">
	<form id="complainForm" autocomplete="off">
		<input type="hidden" name="complainSeq" th:value="${complain.complainSeq}"/>
		<input type="hidden" name="receiptCustomerSeq"/>
		<input type="hidden" name="queryString" th:value="${#strings.defaultString(#request.getQueryString(), '')}">

		<table class="tbtype">
			<colgroup>
				<col class="cper1050">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th class="required">설치장소<span></span></th>
				<td>
					<div class="group_search wp450">
						<input type="text" name="locationName" readonly th:value="${complain.locationName}">
						<input type="hidden" name="locationSeq" readonly th:value="${complain.locationSeq}">
						<button type="button" id="openLocationListPopupBtn" class="btn_search"><span></span></button>
					</div>
				</td>

			</tr>
			<tr>
				<th class="required">민원유형<span></span></th>
				<td>
					<span th:each="item, index : ${MR01} ">
						<input  type="radio" name="complainType" id="complainType01" th:id="'complainType' + ${index.index}" th:value="${item.code}"
								th:checked="${complain.complainType == item.code || (index.index == 0 && complain.complainType == null)}">
						<label for="complainType01" class="btn_radio" th:for="'complainType' + ${index.index}" ><span class="txt_lb" th:text="${item.codeName}"></span></label>
					</span>
				</td>
			</tr>
			<tr>
				<th class="required">제목<span></span></th>
				<td>
					<input type="text" class="cper100p" name="title" th:value="${complain.title}"/>
				</td>
			</tr>
			<tr>
				<th>내용<span></span></th>
				<td>
					<textarea class="cper100p" name="content" style="resize: none; height: 150px;" th:text="${complain.content}"></textarea>
				</td>
			</tr>
			<tr>
				<th>사진</th>

				<td class="valign_t">
					<div class="filelist">
						<label for="complainFile" class="btn_file">사진첨부</label>
						<input type="file" id="complainFile">
						<ul class="fileimg" id="complainFileList">
							<li th:each="item : ${fileList}">
								<button type="button" class="btn_img_del"></button>
								<img class="upload-image" th:if="${not #lists.isEmpty(item.uploadFileKey) && #lists.size(item.uploadFileKey) > 0}"
									 th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item.uploadFileKey})}" src="/img/layout/ex01.png">
								<input type="hidden" name="uploadFileKey" th:value="${item.uploadFileKey}">
							</li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<th class="required">신청구분<span></span></th>
				<td>

					<div id="distribute" class="dp_inline">
						<span>
							<input type="radio" name="substituteYn" id="substituteYn1" value="Y"  th:checked="${complain.substituteYn == 'Y' || (complain.substituteYn == null)}">
							<label for="substituteYn1"><span class="txt_lb">본인</span></label>
							<input type="radio" name="substituteYn" id="substituteYn2" value="N" th:checked="${complain.substituteYn == 'N'}">
							<label for="substituteYn2" class="ml10"><span class="txt_lb">대리신청</span></label>
						</span>
					</div>
					<select id="substitute" name="substitute" th:disabled="${complain.substituteYn == 'Y' || (complain.substituteYn == null)}">
						<option value="">선택</option>
						<option th:each="item : ${MR02}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code} == ${complain.substitute}">
						</option>
					</select>
					<input type="text" class="ml5" name="email" th:value="${complain.complainSeq == 0 ? _userInfo.emailText : complain.email}">
					<input type="checkbox" name="emailYn" id="emailYn" th:checked="${complain.emailYn == 'Y'}" value="Y"><label for="emailYn" class="ml5"><span class="txt_lb">이메일 답변 알림</span></label>
				</td>
			</tr>
			</tbody>
		</table>
	</form>

	<div class="button">
		<button type="button" id="saveComplainBtn" class="btn_type2">저장</button>
		<button type="button" id="cancelBtn" class="btn_type1">취소</button>
	</div>

	<div id="popupList">

	</div>
</div>
</html>