<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<!--/*@thymesVar id="device" type="com.pharmcle.rms.domain.complain.Complain"*/-->
<th:block data-layout-fragment="script">
	<script>
		/*<![CDATA[*/
		var locationSeq = "[[ ${complain.locationSeq} ]]";
		/*]]>*/
	</script>
	<script src="/lib/chart-js/Chart.min.js"></script>
	<script type="text/javascript" th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script th:src='@{/js/manage/complain/complainDetail.js(v=${timestamp})}' src="../../../js/manage/complain/complainDetail.js"></script>
</th:block>
<!--/*@thymesVar id="complain" type="com.pharmcle.rms.domain.complain"*/-->
<!--/*@thymesVar id="complainHandle" type="com.pharmcle.rms.domain.complainHandle"*/-->

<div data-layout-fragment="content">
	<form id="complainForm" autocomplete="off">
	<input type="hidden" id="complainSeq" name="complainSeq" th:value="${complain.complainSeq}"/>
	<input type="hidden" name="queryString" th:value="${#strings.defaultString(#request.getQueryString(), '')}">
	<div class="wid_head mh80">
		<div><h4 class="dp_inline" th:text="${complain.locationName}"></h4><a href="#" id="locationMapBtn" class="ic_locate ml5"><i></i></a></div>
		<p class="dash"><span th:text="${complain.locationAreaText}"></span><span th:text="${complain.customerTypeText}"></span><span th:text="${complain.asUserName}"></span></p>

	</div>
	<div class="mt20">
		<table class="tbtype">
			<colgroup>
				<col class="cper1050">
				<col class="cper3950">
				<col class="cper1050">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th>민원유형</th>
				<td><p th:text="${complain.complainTypeText}"></p></td>
				<th>상태</th>
				<td><p th:text="${complain.statusText}"></p></td>
			</tr>
			<tr>
				<th>제목</th>
				<td th:colspan="3"><p th:text="${complain.title}">제목</p></td>
			</tr>
			<tr>
				<th>내용</th>
				<td th:colspan="3"><p th:text="${complain.content}">내용</p></td>
			</tr>
			<tr>
				<th>사진</th>
				<td th:colspan="3">
					<div class="filelist">
						<ul class="fileimg" id="COMPLAIN">
							<li th:each="item : ${fileList}">
								<img class="upload-image" th:if="${not #lists.isEmpty(item.uploadFileKey) && #lists.size(item.uploadFileKey) > 0}"
									 th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item.uploadFileKey})}"
									 src="/img/layout/ex01.png">
							</li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<th>신청구분</th>
				<td th:colspan="3">
					<!--<p th:text="${complain.substituteText}+ '  ' + ${complain.email}">신청인</p>-->
					<span th:text="${complain.substituteText}"></span>
					<input type="text" class="ml10 wp200"  th:value="${complain.email}" readonly><input
					type="checkbox" name="emailYn" id="emailYn" th:checked="${complain.emailYn == 'Y'}"
					th:disabled="true"><label for="emailYn" class="ml5"><span class="txt_lb">이메일 답변 알림</span></label>
				</td>
			</tr>
			<tr>
				<th>등록자</th>
				<td><p th:text="${complain.regName}">등록자</p>
				</td>
				<th>등록일</th>
				<td><p th:text="${complain.regDtText}">등록일</p></td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="widget">
		<!-- 민원 접수 내용은 처리 완료 또는 처리자는 접수일때만 보임 -->
		<div class="tit_wrap" th:if="${complain.status == 'MR030003' || (complain.status == 'MR030002' && _siteInfo.menuAuth =='SD010002')}">
			<h3>민원접수</h3>
		</div>
		<div th:if="${complain.status == 'MR030003' || (complain.status == 'MR030002' && _siteInfo.menuAuth =='SD010002')}">
			<table class="tbtype">
				<colgroup>
					<col class="cper1050">
					<col class="cper3950">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tbody>
				<tr>
					<th>접수자</th>
					<td><p th:text="${complain.receiptCustomerName + ' | ' + complain.receiptName}"></p></td>
					<th>접수일</th>
					<td><p th:text="${complain.receiptDtText}"></p></td>
				</tr>
				</tbody>
			</table>
			<div class="widget">
				<div class="tit_wrap">
					<h3>처리내역</h3>
					<div class="module_btn" th:if="${_userInfo.userId == complain.asUserId && complain.status == 'MR030002'}">
						<button type="button" id="addListBtn" class="btn_type1 add"><span></span>추가</button>
						<button type="button" id="modifyListBtn" class="btn_type1 edit"><span></span>수정</button>
					</div>
				</div>
			</div>

			<div th:if="${complain.status == 'MR030003' || (complain.status == 'MR030002' && _siteInfo.menuAuth =='SD010002')}">
				<table class="tbtype list">
					<colgroup>
						<col class="cper1050">
						<col class="cper1050">
						<col class="cperauto">
						<col class="cper1050">
						<col class="cper1050">
						<col class="cper1050">
					</colgroup>
					<thead>
					<tr>
						<th>장비번호</th>
						<th>처리내역</th>
						<th>내용</th>
						<th>사진</th>
						<th>등록자</th>
						<th>처리일</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="item, index : ${complainHandle}">
						<td>
							<p class="t_center" th:text="${item.deviceId}"></p>
							<p class="t_center" th:text="'(' + ${item.deviceNameText} + ')'"></p>
						</td>
						<td><p class="t_center" th:text="${item.handlingResultText}"></p></td>
						<td>
							<p th:text="${item.addpartListText != '' ? '부품 교체 : ' : ''} + ${item.addpartListText}"></p>
							<p th:text="${item.content}"></p>
						</td>
						<td>
							<p class="t_center">
								<input type="hidden" name="complainHandleSeq" th:value="${item.complainHandleSeq}">
								<input type="hidden" name="deviceSeq" th:value="${item.deviceSeq}">
								<img class="upload-image complain-handle-img" th:if="${not #lists.isEmpty(item.uploadFileKey) && #lists.size(item.uploadFileKey) > 0}"
									 th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item.uploadFileKey[0]})}"
									 src="/img/layout/ex01.png">
							</p>
						</td>
						<td><p class="t_center" th:text="${item.regName}"></p></td>
						<td><p class="t_center" th:text="${item.handleDtLongText}"></p></td>
					</tr>
					<tr th:if="${#lists.isEmpty(complainHandle)}">
						<td colspan="6" class="no-data">등록된 처리내역이 없습니다.</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</form>

	<div class="button">
		<!-- 본인이 작성하고, 상태가 민원신청일때만 보여진다 -->
		<button type="button" id="modifyBtn" class="btn_type2" th:if="${complain.status == 'MR030001'&& _userInfo.userId == complain.regId}">수정</button>
		<!-- sessionId가 as담당자일경우에만 보여짐 -->
		<button type="button" id="receiptBtn" class="btn_type2"	th:if="${_userInfo.userId == complain.asUserId && complain.status == 'MR030001'}">민원접수</button>
		<button type="button" id="finishBtn" class="btn_type2"	th:if="${_userInfo.userId == complain.asUserId && complain.status == 'MR030002'}">처리완료</button>
		<button type="button" id="moveListBtn" class="btn_type1">목록</button>
	</div>

	<div id="popupList"></div>


</div>
</html>