<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->

<div lang="ko" xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 data-layout-decorate="~{include/popupLayout}">
	<div data-layout-fragment="content">
		<div class="searchbox">
			<form id="searchDeviceForm" autocomplete="off">
				<input type="hidden" name="locationSeq" th:value="${location.locationSeq}">
				<table>
					<colgroup>
						<col class="cper2500">
						<col class="cperauto">
					</colgroup>
					<tbody>
						<tr>
							<th>설치장소</th>
							<td>
								<span th:text="${location.locationName} + ' (총 ' + ${location.deviceCnt} + '대)'"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>

		<div class="widget">
			<div class="tit_wrap">
				<p class="txt">등록할 장비를 선택해주세요.</p>
			</div>
			<div id="deviceGrid"></div>
		</div>
		<div class="pop_button">
			<button type="button" id="addBtn" class="btn_type2">선택</button>
		</div>
	</div>
</div>