<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

	<style>
		input[type="number"]::-webkit-outer-spin-button,
		input[type="number"]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	</style>

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/index.js(v=${timestamp})}' src="../js/index.js"></script>
	<script type="text/javascript" th:src='@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${"f13c9918f6b35c25fa02dcdd4c5b4ce6"}, libraries=${"services,clusterer,drawing"})}'></script>
	<script th:src='@{/js/manage/complain/complainHandling.js(v=${timestamp})}' src="../../../js/manage/complain/complainHandling.js"></script>
</th:block>
<div data-layout-fragment="content">
	<input type="hidden" name="locationSeq" th:value="${complain.locationSeq}"/>
	<input type="hidden" name="complainSeq" th:value="${complainSeq}"/>
	<input type="hidden" name="queryString" th:value="${#strings.defaultString(#request.getQueryString(), '')}">

	<div class="tit_wrap">
		<!--<h3>민원처리 등록</h3>-->

		<div class="wid_head mh80">
			<div>
				<h4 class="dp_inline" th:text="${complain.locationName}">장소명</h4><a href="#" id="locationMapBtn" class="ic_locate ml5"><i></i></a>
			</div>
			<p class="dash">
				<span th:text="${complain.locationAreaText}"></span><span th:text="${complain.customerTypeText}"></span><span th:text="${complain.asUserName}"></span>

			</p>
			<div class="discontent">
				<h3 th:text="${complain.title}"></h3>
				<p th:text="${complain.content}"></p>
			</div>
		</div>
	</div>
	<div th:each="device, deviceIndex : ${deviceList}" class="handling-table">
		<form autocomplete="off">
			<input type="hidden" name="complainSeq" th:value="${complainSeq}"/>
			<table class="tbtype" th:id="table+${deviceIndex.index}">
				<colgroup>
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<thead>
				<tr>
					<th colspan="2" class="brline t_left">
						<span class="txt13 bold" th:text="${device.deviceId} + '(' + ${device.deviceNameText} + ')'"></span>
						<span class="sub_dash">관리번호 <span th:text="${#strings.isEmpty(device.manageNo) ? '' : device.manageNo}"></span> 가로등 번호 <span th:text="${#strings.isEmpty(device.lampNo) ? '' : device.lampNo} "></span></span>
						<button type="button" class="btn_type1 del_device_btn">삭제</button>
						<!--<button type="button" class="btn_type1 del_device_btn" th:if="${device.complainHandleSeq == 0}" >삭제</button>-->
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th class="required">처리결과<span></span></th>
					<td>
						<span th:each="item, index : ${MR04}">
							<input type="radio" name="handlingResult" id="handlingResult01"
								th:id="'handlingResult' +${deviceIndex.index}+${index.index}"
								th:value="${item.code}" th:checked="${(device.handlingResult == item.code) || (device.handlingResult == null && index.index == 0)}">
							<label for="handlingResult01" th:for="'handlingResult'+${deviceIndex.index}+${index.index}">
								<span class="txt_lb" th:text="${item.codeName}"></span>
							</label>
						</span>
					</td>
				</tr>
				<tr>
					<th>부품교체</th>
					<td>
						<button type="button" class="btn_type3 addPartBtn">추가</button>
						<input type="hidden" name="deviceSeq" th:value="${device.deviceSeq}"/>
                        <input type="hidden" name="complainHandleSeq" th:value="${device.complainHandleSeq}"/>
						<!-- 추가버튼을 누르면 추가부품 팝업이 열리고 팝업에서 부품 선택하면 버튼 아래에 부품항목이 추가된다 -->
						<div class="addpart-list">

						<span class="addpart-item" th:each="item, index : ${device.addpartList}" th:if="${device.complainHandleSeq > 0}">
							<span th:text="${item.partTypeText} + ' ' + ${item.partQty} + '개'"></span>
							<input type="hidden" name="partType" th:value="${item.partType}" />
							<input type="hidden" name="partQty" th:value="${item.partQty}" />
							<button type="button" class="del_part_btn"></button>
						</span>

						</div>
					</td>
				</tr>
				<tr>
					<th>내용</th>
					<td>
						<textarea class="cper100p" name="content" maxlength="1000" th:text="${device.content}"></textarea>
					</td>
				</tr>
				<tr>
					<th>사진</th>
					<td class="valign_t">
						<div class="filelist">
							<label th:for="'complainFile' + ${deviceIndex.index}" class="btn_file">사진첨부</label>
							<input type="file" th:id="'complainFile' + ${deviceIndex.index}" class="complainFile">
							<ul class="fileimg complainFileList">
								<li th:each="item : ${device.uploadFileKey}">
									<button type="button" class="btn_img_del"></button>
									<img class="upload-image"
										th:src="@{/uploadFile/api/thumbnailDownload/{key}(key = ${item})}"
										src="/img/layout/ex01.png">
									<input type="text" name="uploadFileKey" th:value="${item}">
								</li>
							</ul>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</form>
	</div>
	<div class="button">
		<button type="button" id="saveBtn" class="btn_type2">저장</button>
		<button type="button" id="cancelBtn" class="btn_type1">취소</button>
	</div>
	<div id="popupList">
	</div>
</div>
</html>