<!--
   Create By Lee DoWon on 2020-04-06 / 오전 10:01
   Email : vin4195@uniwiz.co.kr
-->

<div xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<link rel="stylesheet" href="/lib/tui-datepicker/tui-date-picker.css"/>
	<form id="form" autocomplete="off">
		<input type="hidden" value="SD020001" name="deviceClassify"/>
		<input type="hidden" name="deviceSeq" th:value="${protocol.deviceSeq}"/>
		<input type="hidden" name="boardSerialList" th:value="${protocol.boardSerial}"/>

		<dl class="input_form">
			<dt class="required">가동기간<span></span></dt>
			<dd>
				<div class="month">
					<input type="text" id="operateStartDt" name="operateStartDt" aria-label="Date-Time" readonly="readonly"
						   th:value="${protocol.operateStartDtText}">
					<div id="operateStartDtWrapper"></div>
					<span class="dash">~</span>
					<input type="text" id="operateEndDt" name="operateEndDt" aria-label="Date-Time" readonly="readonly"
						   th:value="${protocol.operateEndDtText}">
					<div id="operateEndDtWrapper"></div>
				</div>
			</dd>
		</dl>
		<dl class="input_form">
			<dt class="required">점등/소등시간<span></span></dt>
			<dd>
				<div class="input_wrap">
					<div class="cell">
						<select id="operateStartTime" name="operateStartTime">
							<option th:each="hour : ${startHourList}" th:value="${hour}"
									th:text="${#strings.substring(hour,0,2) + ':' + #strings.substring(hour,2,4)}"
									th:selected="${hour == protocol.operateStartTime}">
							</option>

						</select>
					</div>
					<span class="dash">~</span>
					<div class="cell">
						<select id="operateEndTime" name="operateEndTime">
							<option th:each="hour : ${endHourList}" th:value="${hour}"
									th:text="${#strings.substring(hour,0,2) + ':' + #strings.substring(hour,2,4)}"
									th:selected="${hour == protocol.operateEndTime}">
							</option>
						</select>
					</div>
				</div>
			</dd>
		</dl>
		<dl class="input_form">
			<dt class="required">온도<span></span></dt>
			<dd>
				<div class="input_wrap">
					<div class="cell withtxt">
						<input type="text" name="temperatureLow" th:value="${protocol.temperatureLow}"/>
						<i>℃</i>
					</div>
					<span class="dash">~</span>
					<div class="cell withtxt">
						<input type="text" name="temperatureHigh"
							   th:value="${protocol.temperatureHigh}"/>
						<i>℃</i>
					</div>
				</div>
			</dd>
		</dl>
		<dl class="input_form">
			<dt class="required">습도<span></span></dt>
			<dd>
				<div class="input_wrap">
					<div class="cell withtxt">
						<input type="text" name="humidityLow" th:value="${protocol.humidityLow}"/>
						<i>%</i>
					</div>
					<span class="dash">~</span>
					<div class="cell withtxt">
						<input type="text" name="humidityHigh" th:value="${protocol.humidityHigh}"/>
						<i>%</i>
					</div>
				</div>
			</dd>
		</dl>
		<dl class="input_form">
			<dt class="required">전체 전압<span></span></dt>
			<dd>
				<div class="input_wrap">
					<div class="cell withtxt">
						<input type="text" name="voltageLow" th:value="${protocol.voltageLow}"/>
						<i>V</i>
					</div>
					<span class="dash">~</span>
					<div class="cell withtxt">
						<input type="text" name="voltageHigh" th:value="${protocol.voltageHigh}"/>
						<i>V</i>
					</div>
				</div>
			</dd>
		</dl>
		<dl class="input_form">
			<dt class="required">전체 전류<span></span></dt>
			<dd>
				<div class="input_wrap">
					<div class="cell withtxt">
						<input type="text" name="electricLow" th:value="${protocol.electricLow}"/>
						<i>A</i>
					</div>
					<span class="dash">~</span>
					<div class="cell withtxt">
						<input type="text" name="electricHigh" th:value="${protocol.electricHigh}"/>
						<i>A</i>
					</div>
				</div>
			</dd>
		</dl>
		<dl class="input_form">
			<dt class="required">상부 FAN 전류<span></span></dt>
			<dd>
				<div class="input_wrap">
					<div class="cell withtxt">
						<input type="text" name="property1Low" th:value="${protocol.property1Low}"/>
						<i>A</i>
					</div>
					<span class="dash">~</span>
					<div class="cell withtxt">
						<input type="text" name="property1High" th:value="${protocol.property1High}"/>
						<i>A</i>
					</div>
				</div>
			</dd>
		</dl>
		<dl class="input_form">
			<dt class="required">LAMP 전류<span></span></dt>
			<dd>
				<div class="input_wrap">
					<div class="cell withtxt">
						<input type="text" name="property2Low" th:value="${protocol.property2Low}"/>
						<i>A</i>
					</div>
					<span class="dash">~</span>
					<div class="cell withtxt">
						<input type="text" name="property2High" th:value="${protocol.property2High}"/>
						<i>A</i>
					</div>
				</div>
			</dd>
		</dl>
		<dl class="input_form">
			<dt class="required">하부 Motor 전류<span></span></dt>
			<dd>
				<div class="input_wrap">
					<div class="cell withtxt">
						<input type="text" name="property3Low" th:value="${protocol.property3Low}"/>
						<i>A</i>
					</div>
					<span class="dash">~</span>
					<div class="cell withtxt">
						<input type="text" name="property3High" th:value="${protocol.property3High}"/>
						<i>A</i>
					</div>
				</div>
			</dd>
		</dl>
		<div class="pop_button">
			<button type="button" class="btn_type2" id="saveBtn">저장</button>
		</div>
	</form>
</div>