<!--
   Create By Lee DoWon on 2020-04-06 / 오전 10:01
   Email : vin4195@uniwiz.co.kr
-->

<div xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<script>
		var token = '[[ ${token} ]]';
		$($('ul.city').find('a')[0]).click();
		$('ul.city li').find('a').each(function () {
			var cd = $(this).data('cd');
			if (cd == locationArea) {
				getLocationList($(this));
				return false;
			}
		});

		// 카테고리 변경 이벤트
		function getLocationList(target) {
			Native.startLoading();
			$('ul.city').find('div.place').remove();
			$('ul.city').find('li.on').removeClass('on');
			$('#locationText').text('');

			var $target = $(target);
			var locationArea = $target.data('cd');
			var locationAreaText = $target.text();
			var parameter = {locationArea: locationArea};
			Common.callAjax("/customer/location/api/getLocationList?token=" + token, parameter, function (result) {
				var html = '<div class="place">';
				for (var i = 0; i < result.length; i++) {
					html += '<a onClick="setLocation(\'' + result[i].locationLatitude + '\', \'' + result[i].locationLongitude + '\')">' + result[i].locationName + '</a>';
				}
				html += '</div>';

				var $li = $target.parent('li');

				$li.append(html);
				$li.addClass('on');
				Native.endLoading();
			});
		}

		function setLocation(lat, lng) {
			map.setCenter(new kakao.maps.LatLng(lat, lng));
			var level = map.getLevel();
			if ((Monitor.isSigunguMap(level) || Monitor.isSidoMap(level)) || level <= 3) {
				map.setLevel(5);
			}
			$('.popup-close-btn').click();
		}

	</script>
	<div class="m_web_pop">
		<div class="m_wrap">
			<div class="m_loc_body">
				<ul class="city">
					<li th:each="item, index : ${SC03}" th:classappend="${index.index == 0 ? 'on' : ''}">
						<a onClick="getLocationList(this)" class="cityname" th:attr="data-cd=${item.code}"
						   th:text="${item.codeName}"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>