<!--
   Create By Lee DoWon on 2020-04-06 / 오전 10:01
   Email : vin4195@uniwiz.co.kr
-->

<div xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<script>
		var gpsCheckFlag = false;
		var bindPowerList;
		$(function () {
			/*<![CDATA[*/
			var token = '[[ ${token} ]]';
			/*]]>*/
			var $systemPowerOnBtn = $('#systemPowerOnBtn');			// 전원 on 버튼
			var $systemPowerOffBtn = $('#systemPowerOffBtn');		// 전원 off 버튼
			var $devicePowerList = $('#devicePowerList');
			Common.showLoading();
			Native.getGps(function (result) {
				gpsCheckFlag = true;
				bindPowerList(result.latitude, result.longitude);
			});
			setTimeout(function () {
				if (!gpsCheckFlag) {
					bindPowerList();
				}
			}, 500);

			var powerListIndex = 0;
			var powerListCnt = 0;
			var $powerScrollDiv = $('#powerScrollDiv');
			initPopupScrollPaging();

			// 스크롤 이벤트
			function initPopupScrollPaging() {
				$powerScrollDiv.scroll(function () {   //스크롤이 최하단 으로 내려가면 리스트를 조회하고 page를 증가시킨다.
					if ($powerScrollDiv.scrollTop() >= ($devicePowerList.height() - ($powerScrollDiv.height())) - 100) {
						if (powerListIndex <= Number(powerListCnt)) {
							$powerScrollDiv.unbind('scroll');
							setTimeout(function () {
								initPopupScrollPaging();
							}, 1000);
							bindPowerList();
						}
					}
				});
			}

			//체크박스 전체 클릭시 이벤트 처리
			$('#all_chk').on('click', function () {
				$devicePowerList.find('input[type="checkbox"]').prop('checked', $(this).is(':checked'));
			});

			// 전원 ON 버튼 클릭
			$systemPowerOnBtn.on('click', function () {
				var checkedLength = $('input[name="powerChk"]:checked').length;
				if (checkedLength === 0) {
					alert("장비를 선택해 주세요.");
					return false;
				}

				if (confirm("선택한 장비 전원을 ON하시겠습니까?")) {
					Common.showLoading();
					setSystemPower("1");
				}
			});

			// 전원 OFF 버튼 클릭
			$systemPowerOffBtn.on('click', function () {
				var checkedLength = $('input[name="powerChk"]:checked').length;
				if (checkedLength === 0) {
					alert("장비를 선택해 주세요.");
					return false;
				}

				if (confirm("선택한 장비 전원을 OFF하시겠습니까?")) {
					Common.showLoading();
					setSystemPower("0");
				}
			});

			// 전원 컨트롤 처리
			function setSystemPower(val) {

				var check = (val == "0") ? "OFF" : "ON"
				var msg = "";

				if (check == "OFF") {
					msg = "가 진행 되지 않았습니다.";
				} else {
					msg = "이 진행 되지 않았습니다.";
				}

				var parameter = {
					relay: val
					, devEUIList: []
				};

				$('input[name="powerChk"]:checked').each(function () {
					var devEUI = $(this).data('deveui');
					parameter.devEUIList.push(devEUI);
				})

				// 전원 컨트롤 장비 최종 검사
				if (parameter.devEUIList.length <= 0) {
					alert("신택한 리스트 중 전원 " + check + "할 장비가 없습니다.");
					Common.hideLoading();
					return false;
				}

				Common.callAjax("/monitor/monitor/api/setLoraPowerStat?token=" + token, parameter, function (result) {
					if (result > 0) {
						alert(result + "의 장비 전원이 " + check + " 되었습니다.");
						$('.popup-close-btn').click();
					} else {
						alert("장비 전원 " + check + msg);
					}
					Common.hideLoading();
				});
			}

			// 장비목록 조회
			bindPowerList = function (lat, lng) {
				var bounds = map.getBounds();
				var swLatLng = bounds.getSouthWest();
				var neLatLng = bounds.getNorthEast();
				var parameter = {
					swLat: swLatLng.Ha,
					swLng: swLatLng.Ga,
					neLat: neLatLng.Ha,
					neLng: neLatLng.Ga,
					latitude: Valid.isZero(lat) ? null : Number(lat),
					longitude: Valid.isZero(lng) ? null : Number(lng),
					depth: 2,
					startIndex: powerListIndex,
					indexCount: 100,
					connectYn: 'Y'
				};
				Common.callAjax("/home/dashboard/api/getDashboardDeviceList?token=" + token, parameter, function (result) {
					var html = '';
					powerListCnt = result.length;
					for (var i = 0; i < result.length; i++) {
						if(Valid.isEmpty(result[i].modemId) || result[i].connectionYn != 'Y'){
							continue;
						}
						// 전원
						var power = result[i].powerYn.toLowerCase();
						// 상태
						var state = Monitor.getDeviceStateClass(result[i].monitorState);
						// 통신
						var connection = Monitor.getDeviceConnectionClass(result[i].connectionYn, result[i].modemId);

						html += '<li>';
						html += '<input type="checkbox" id="chk_' + i + '" name="powerChk" data-devEUI="' + result[i].boardSerial + '"><label for="chk_' + i + '" class="fixlist"></label>';
						html += '	<div class="d_locate ' + connection + '">';
						html += '		<span class="dv_state ' + state + '">' + result[i].monitorStateText + '</span>';
						html += '		<span class="dv_power ' + power + '">' + Common.nvl(result[i].powerYn, '') + '</span>';
						html += '		<span class="locate_name">' + result[i].deviceAddress + '</span>';
						html += '	</div>';
						html += '	<p class="d_info">' + result[i].deviceId + '<span>(' + result[i].deviceNameText + ')</span></p>';
						html += '	<p class="d_data"><span>관리번호 : ' + Common.nvl(result[i].manageNo, '') + '</span><span>가로등번호 : ' + Common.nvl(result[i].lampNo, '') + '</span></p>';
						html += '	<p class="d_date">설치일 ' + result[i].installDtText + '</p>';
						html += '	<span class="d_distance">' + result[i].distance + 'm</span>';
						html += '</li>';
					}
					$devicePowerList.html(html);
					Common.hideLoading();
				}, {async: true});
				powerListIndex += 100;
			}
		})
	</script>
	<div class="m_web_pop">
		<div class="m_wrap">
			<div class="m_list_head">
				<button type="button" class="btn_type4" id="systemPowerOnBtn">전원 ON</button>
				<button type="button" class="btn_type4" id="systemPowerOffBtn">전원 OFF</button>
				<input type="checkbox" id="all_chk"><label for="all_chk" class="all_check"></label>
			</div>
			<div style="height: 100%;overflow-y: auto;-webkit-overflow-scrolling: touch;" id="powerScrollDiv">
				<ul class="monitor_list power" id="devicePowerList">
				</ul>
			</div>
		</div>
	</div>
</div>