<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/standard/auth/authList.js(v=${timestamp})}' src="/js/standard/auth/authList.js"></script>
</th:block>
<div data-layout-fragment="content">
	<div class="searchbox">
		<form method="post" id="searchForm">
			<table>
				<colgroup>
					<col class="cper1050">
					<col class="cper3950">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tbody>
				<tr>
					<th>대메뉴</th>
					<td>
						<select name="menu1Seq" class="wp130">
							<option value="">전체</option>
							<option th:each="item : ${menu1List}" th:value="${item.menuSeq}" th:text="${item.menuName}">
								홈
							</option>
						</select>
					</td>
					<th>중메뉴</th>
					<td>
						<select name="menu2Seq" class="wp130">
							<option value="">전체</option>
							<!--/*@thymesVar id="item" type="com.pharmcle.rms.domain.menu.Menu"*/-->
							<option th:each="item : ${menu2List}" th:value="${item.menuSeq}" th:text="${item.menuName}" th:attr="data-parent-seq=${item.parentMenuSeq}" style="display: none;">
								대시보드
							</option>
						</select>
					</td>
				</tr>
				</tbody>
			</table>
			<div class="search_btn">
				<button type="button" id="searchBtn" class="btn_type2">검색</button>
				<a href="#" id="resetBtn" class="btn_type1 ml5">초기화</a>
			</div>
		</form>
	</div>

	<div class="widget">
		<div class="tit_wrap">
			<p class="total">총 <span id="authTotalCount">00</span>건</p>
			<div class="module_btn">
				<button type="button" id="saveAuthBtn" class="btn_type1 save"><span></span>저장</button>
			</div>
		</div>
		<div id="authGrid"></div>
	</div>
</div>
</html>