<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:00
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/standard/agency/agencyList.js(v=${timestamp})}' src="../../../js/standard/agency/agencyList.js"></script>
</th:block>
<div data-layout-fragment="content">
	<form id="searchForm" autocomplete="off">
		<input type="hidden" name="customerType" value="CM010001">
		<div class="searchbox">
			<table>
				<colgroup>
					<col class="cper1050">
					<col class="cper3500">
					<col class="cper1050">
					<col class="cper1800">
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tbody>
					<tr>
						<th>기간</th>
						<td >
							<select name="dateType" class="wp120">
								<option value="">선택</option>
								<option th:each="item : ${CM02}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == parameter.dateType}">
									계약시작일
								</option>
							</select>
							<div class="tui-datepicker-input tui-datetime-input tui-has-focus ml5">
								<input id="searchStartDate" name="searchStartDate" type="text" aria-label="Date" th:value="${parameter.searchStartDate}">
								<span class="tui-ico-date"></span>
								<div id="searchStartDateWrapper"></div>
							</div><span class="hyphen">~
							</span><div class="tui-datepicker-input tui-datetime-input tui-has-focus">
								<input id="searchEndDate" name="searchEndDate" type="text" aria-label="Date" th:value="${parameter.searchEndDate}">
								<span class="tui-ico-date"></span>
								<div id="searchEndDateWrapper"></div>
							</div>
						</td>
						<th>대리점명</th>
						<td><input type="text" name="customerName" class="cper100p" maxlength="25" th:value="${parameter.customerName}"></td>
						<th>담당부서</th>
						<td><input type="text" name="representName" class="wp100" maxlength="25" th:value="${parameter.representName}"></td>
					</tr>
				</tbody>
			</table>
			<div class="search_btn">
				<button type="button" class="btn_type2" id="searchBtn">검색</button>
				<a href="#" id="resetBtn" class="btn_type1 ml5">초기화</a>
			</div>
		</div>
		<div class="widget">
			<div class="tit_wrap">
				<p class="total">총 <span id="totalCount">00</span>건</p>
				<div class="module_btn">
					<input type="checkbox" id="viewAllCustomerFlag" name="viewAllCustomerFlag" value="Y"><label
					for="viewAllCustomerFlag"><span class="txt_lb">미활동 포함</span>
				</label>
					<button type="button" id="addCustomerBtn" class="btn_type1 add"><span></span>등록</button>
					<button type="button" id="excelDownloadBtn" class="btn_type1 excel"><span></span>엑셀다운로드</button>
				</div>
			</div>
			<div id="customerGrid"></div>
		</div>
	</form>

	<div id="popupList">

	</div>
</div>
</html>