<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/popupLayout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
</th:block>

<!--/*@thymesVar id="charge" type="com.pharmcle.rms.domain.user.User"*/-->
<div data-layout-fragment="content">
	<form id="chargeForm">
		<input type="hidden" name="isChecked" th:value="${charge.userSeq > 0 ? 'true' : 'false'}" value="false">
		<table class="tbtype">
			<colgroup>
				<col class="cper2000">
				<col class="cperauto">
			</colgroup>
			<tbody>
			<tr>
				<th class="required">활동여부<span></span></th>
				<td>
					<input type="radio" name="useYn" id="pop-useYn1" value="Y"
						   th:checked="${charge.useYn == 'Y' || charge.userSeq == 0}">
					<label for="pop-useYn1"><span class="txt_lb">활동</span></label>
					<input type="radio" name="useYn" id="pop-useYn2" value="N" th:checked="${charge.useYn == 'N'}">
					<label for="pop-useYn2"><span class="txt_lb">미활동</span></label>
				</td>
			</tr>
			<tr>
				<th class="required">대표담당<span></span></th>
				<td>
					<input type="radio" name="representYn" id="representYn1" value="Y"
						   th:checked="${charge.representYn == 'Y'}">
					<label for="representYn1"><span class="txt_lb">O</span></label>
					<input type="radio" name="representYn" id="representYn2" value="N"
						   th:checked="${charge.representYn == 'N' || charge.userSeq == 0}">
					<label for="representYn2"><span class="txt_lb">X</span></label>
				</td>
			</tr>
			<tr>
				<th>성명</th>
				<td>
					<input type="text" name="name" maxlength="25" th:value="${charge.name}" class="wp150">
				</td>
			</tr>
			<tr>
				<th>아이디</th>
				<td>
					<input type="text" name="userId" maxlength="25" th:value="${charge.userId}" th:disabled="${charge.userSeq > 0}" class="wp150">
					<button type="button" id="duplicateCheckBtn" th:if="${!(charge.userSeq > 0)}" class="btn_type3 ml5">중복체크</button>
				</td>
			</tr>
			<tr>
				<th>직책</th>
				<td>
					<select name="rank" class="wp150">
						<option value="">선택</option>
						<option th:each="item : ${SD11}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == charge.rank}">
							직급
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>휴대폰번호</th>
				<td>
					<div class="phonenum">
						<input type="text" name="phone1" maxlength="3" th:value="${charge.phoneSplitText != null ? charge.phoneSplitText[0] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="phone2" maxlength="4" th:value="${charge.phoneSplitText != null ? charge.phoneSplitText[1] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="phone3" maxlength="4" th:value="${charge.phoneSplitText != null ? charge.phoneSplitText[2] : ''}">
					</div>
				</td>
			</tr>
			<tr>
				<th>전화번호</th>
				<td>
					<div class="phonenum">
						<input type="text" name="telephone1" maxlength="3" th:value="${charge.telephoneSplitText != null ? charge.telephoneSplitText[0] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="telephone2" maxlength="4" th:value="${charge.telephoneSplitText != null ? charge.telephoneSplitText[1] : ''}">
						<span class="hyphen">-</span>
						<input type="text" name="telephone3" maxlength="4" th:value="${charge.telephoneSplitText != null ? charge.telephoneSplitText[2] : ''}">
					</div>
				</td>
			</tr>
			<tr>
				<th>이메일</th>
				<td>
					<div class="email">
						<input type="text" name="emailId" maxlength="25" th:value="${charge.emailId}">
						<span class="hyphen">@</span>
						<input type="text" name="emailDomain" maxlength="25" th:value="${charge.emailDomain}">
						<select name="emailDomain">

						</select>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
		<div class="pop_button">
			<button type="button" id="saveBtn" class="btn_type2">저장</button>
			<button type="button" id="cancelBtn" class="btn_type1">취소</button>
		</div>
	</form>
</div>
</html>