<!--
   Create By Lee DoWon on 2020-02-17 / 오후 6:26
   Email : vin4195@uniwiz.co.kr
-->

<div lang="ko" xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 data-layout-decorate="~{include/popupLayout}">

	<div data-layout-fragment="content">
		<div class="searchbox">
			<form id="searchForm">
				<table>
					<tbody>
					<tr>
						<td class="blline">
							<div class="m_web_search">
								<input type="text" name="customerName"  class="cper100p" placeholder="거래처명을 검색해주세요">
								<button type="button" id="searchCustomerBtn" class="btn_type2">검색</button>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
			</form>
		</div>
		<div class="account">
			<p class="total">총 <span id="customerTotalCount">00</span>건</p>
			<ul id="customerList">
			</ul>
		</div>
	</div>
</div>