<!--
   Create By Lee DoWon on 2020-03-24 / 오후 4:56
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/home/faq/faqDetail.js(v=${timestamp})}' src="../../../js/home/faq/faqDetail.js"></script>
</th:block>
<div data-layout-fragment="content">
	<form method="post" id="faqDetailForm">
	<input type="hidden" id="boardSeq" name="boardSeq" th:value="${board.boardSeq}" />
	<table class="tbtype">
		<colgroup>
			<col class="cper1050">
			<col class="cperauto">
			<col class="cper1050">
			<col class="cper2500">
		</colgroup>
		<tbody>
		<tr>
			<th>구분</th>
			<td colspan="3"><span th:text="${board.boardCategoryText}"></span></td>
		</tr>
		<tr>
			<th>제목</th>
			<td><span th:text="${board.title}"></span></td>
			<th>조회수</th>
			<td><span th:text="${board.count}"></span></td>
		</tr>

		<tr>
			<th>등록자</th>
			<td><span th:text="${board.regName}"></span></td>
			<th>등록일</th>
			<td><span th:text="${board.regDtText}"></span></td>
		</tr>
		<tr>
			<th>첨부파일</th>
			<td colspan="3">
				<div class="filelist">
					<ul class="filename view">
						<li th:each="item : ${uploadFileList}">
							<a th:href="@{/uploadFile/api/download/{key}(key = ${item.uploadFileKey})}" class="icon file"
							   target="_blank" th:attr="download=${item.originalFileName}" th:text="${item.originalFileName}">test</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<th>내용</th>
			<td th:colspan="3"><div class="bd_edit" th:text="${board.content}"></div></td>
		</tr>

		</tbody>
	</table>
	</form>
	<div class="button">
		<button type="button" id="faqModifyBtn" class="btn_type2">수정</button>
		<button type="button" id="faqDeleteBtn" class="btn_type3">삭제</button>
		<button type="button" id="faqListBtn" class="btn_type1">목록</button>
	</div>
</div>
</html>