<!--
   Create By Lee DoWon on 2020-02-17 / 오후 4:56
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/home/faq/faqList.js(v=${timestamp})}' src="../../../js/home/faq/faqList.js"></script>
</th:block>
<div data-layout-fragment="content">
	<form id="searchForm" autocomplete="off">
		<input type="hidden" id="boardCategory" name="boardCategory" value=""/>
		<div class="searchbox">
			<table border="1">
				<colgroup>
					<col class="cper1050">
					<col class="cperauto">
				</colgroup>
				<tbody>
				<tr>
					<th>FAQ 질문 검색</th>
					<td>
						<input type="text" name="title" maxlength="100" class="wp450">
					</td>
				</tr>
				</tbody>
			</table>
			<div class="search_btn">
				<button type="button" id="searchBtn" class="btn_type2">검색</button>
				<button type="button" id="resetBtn" class="btn_type1 ml5">초기화</button>
			</div>
		</div>
		<div class="widget">
			<ul class="tab">
				<li class="on"><a onClick="changeCategory(this)" data-cd="">전체</a></li>
				<li th:each="item, index : ${SC07}">
					<a onClick="changeCategory(this)" th:attr="data-cd=${item.code}" th:text="${item.codeName}"></a>
				</li>
			</ul>
			<div class="tit_wrap" style="padding: 15px 0 0;">
				<p class="total">총 <span id="totalCount" 00></span>건</p>
				<div class="module_btn" th:if="${_userInfo.authRole != 'SC020004'}">
					<button type="button" id="addFaqBtn" class="btn_type1 add"><span></span>등록</button>
				</div>
			</div>

			<ul class="faq" id="faqList">
			</ul>

		</div>
	</form>

</div>
</html>