<!--
   Create By Lee DoWon on 2020-03-24 / 오후 4:56
   Email : vin4195@uniwiz.co.kr
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{include/layout}">

<!-- 개별 css -->
<th:block data-layout-fragment="css">

</th:block>

<!-- 개별 js -->
<th:block data-layout-fragment="script">
	<script th:src='@{/js/home/faq/faqWrite.js(v=${timestamp})}' src="../../../js/home/faq/faqWrite.js"></script>
</th:block>

<!--/*@thymesVar id="board" type="com.pharmcle.rms.domain.board.Board"*/-->
<div data-layout-fragment="content">
	<form id="form" autocomplete="off">
	<input type="hidden" name="boardSeq" th:value="${board.boardSeq}" />
	<table class="tbtype">
		<colgroup>
			<col class="cper1050">
			<col class="cperauto">
			<col class="cper1050">
			<col class="cper2500">
		</colgroup>
		<tbody>
		<tr>
			<th class="required">구분<span></span></th>
			<td colspan="3">
				<select name="boardCategory" class="wp150">
					<option value="">선택</option>
					<option th:each="item : ${SC07}" th:value="${item.code}" th:text="${item.codeName}"th:selected="${item.code == board.boardCategory}">
						검색
					</option>
				</select>
			</td>
		</tr>
		<tr>
			<th class="required">제목<span></span></th>
			<td th:colspan="3"><input type="text" class='cper100p' name="title" th:value="${board.title}" /></td>
		</tr>
		<tr th:if="${board.boardSeq > 0}">
			<th>등록자</th>
			<td><span th:text="${board.regName}"></span></td>
			<th>등록일</th>
			<td><span th:text="${board.regDtText}"></span></td>
		</tr>
		<th>첨부파일</th>
		<td colspan="3">
			<div class="filelist">
				<label for="file" class="btn_file">파일추가</label>
				<input type="file" id="file">
				<ul class="filename" id="fileList">

					<!--/*@thymesVar id="uploadFileList" type="java.util.ArrayList<>"*/-->
					<!--/*@thymesVar id="item" type="com.pharmcle.rms.domain.uploadFile.UploadFile"*/-->
					<li th:each="item : ${uploadFileList}">
						<a th:href="@{/uploadFile/api/download/{key}(key = ${item.uploadFileKey})}"
						   th:text="${item.originalFileName}" class="icon img" target="_blank"></a>
						<button type="button" class="btn_del"></button>
						<input type="hidden" name="uploadFileKey" th:value="${item.uploadFileKey}">
					</li>

					<!--
                    <li><a href="#" class="icon ppt">파일이름.ppt</a><button type="button" class="btn_del"></button></li>
                    <li><a href="#" class="icon img">파일이름.jpg</a><button type="button" class="btn_del"></button></li>
                    <li><a href="#" class="icon excel">파일이름.exl</a><button type="button" class="btn_del"></button></li>
                    <li><a href="#" class="icon txt">파일이름.txt</a><button type="button" class="btn_del"></button></li>
                    <li><a href="#" class="icon pdf">파일이름.pdf</a><button type="button" class="btn_del"></button></li>-->
				</ul>
			</div>
		</td>
		<tr>
			<th class="required">내용<span></span></th>
			<td th:colspan="3">
				<textarea name="content" class="bd_edit cper100p" th:text="${board.content}" ></textarea>
			</td>
		</tr>
		<tr>


		</td>
		</tr>
		</tbody>
	</table>

	<div class="widget">
		<div class="button">
			<button type="button" id="faqSaveBtn" class="btn_type2">저장</button>
			<button type="button" id="faqListBtn" class="btn_type1">취소</button>
		</div>
	</div>
	</form>

</div>
</html>