<!--
   Create By Lee DoWon on 2020-04-06 / 오전 10:01
   Email : vin4195@uniwiz.co.kr
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/common/common.js"></script>
	<script src="/js/common/native.js"></script>


	<link rel="stylesheet" href="/css/reset.css"/>
	<link rel="stylesheet" href="/css/nanumsquareround.min.css"/>
	<link rel="stylesheet" href="/css/admin.css"/>
	<link rel="stylesheet" href="/css/mobile.css"/>
	<link rel="stylesheet" href="/css/form_layout.css"/>
	<script>
		$(function () {
			/*<![CDATA[*/
			var token = '[[ ${token} ]]';
			/*]]>*/
		})
	</script>
</head>
<body>
<div class="m_wrap">
	<header>
		<div class="top">
			<a href="#" class="btn_back" id="mobileBackBtn">공지사항</a>
			<div class="h_btn">
				<a href="#" class="btn_menu" id="mobileSideMenuBtn"></a>
			</div>
		</div>
	</header>
	<div class="m_conts">
		<div class="scroll-y">
			<div class="m_detail">
				<div class="m_head">
					<h4 th:text="${board.title}"></h4>
					<span th:text="${board.regDtText}"></span>
				</div>
				<div class="m_body">
					<div class="m_file" th:each="item : ${uploadFileList}">
						<a th:href="@{/uploadFile/api/download/{key}(key = ${item.uploadFileKey})}" class="ic_data file"
						   target="_blank" th:attr="download=${item.originalFileName}"
						   th:text="${item.originalFileName}"></a>
					</div>
					<p class="bd_edit" th:text="${board.content}"></p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>