<!--
   Create By Lee DoWon on 2020-04-06 / 오전 10:01
   Email : vin4195@uniwiz.co.kr
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/common/common.js"></script>
	<script src="/js/common/native.js"></script>
	<script src="/js/common/daumAddress.js"></script>


	<link rel="stylesheet" href="/css/reset.css"/>
	<link rel="stylesheet" href="/css/nanumsquareround.min.css"/>
	<link rel="stylesheet" href="/css/admin.css"/>
	<link rel="stylesheet" href="/css/mobile.css"/>
	<link rel="stylesheet" href="/css/form_layout.css"/>
	<script>
		$(function () {
			/*<![CDATA[*/
			var token = '[[ ${token} ]]';
			/*]]>*/
		})
	</script>
</head>
<body>
<div class="m_wrap">
	<header>
		<div class="top">
			<button type="button" class="btn_back" id="mobileBackBtn">공지사항</button>
			<div class="h_btn">
				<a href="#" class="btn_menu" id="mobileSideMenuBtn"></a>
			</div>
		</div>
	</header>
	<div class="m_conts">
		<div class="scroll-y">
			<ul class="m_list notice">
				<li th:each="notice : ${boardList}" th:if="${boardList.size() > 0}">
					<a th:href="@{/mobile/notice/noticeDetail(boardSeq=${notice.boardSeq}, token=${_userInfo.token})}">
						<span class="m_tit" th:text="${notice.title}"></span>
						<span class="m_date" th:text="${notice.regDtText}"></span>
					</a>
				</li>
				<li th:if="${boardList.size() == 0}">
					<a href="#" class="no-data"><span>등록된 데이터가 없습니다.</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>