<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header th:fragment="headerFragment">
	<div class="logo">
		<a href="/"><img src="/img/common/logo.png"></a>
	</div>
	<nav class="gnb">
		<!--/*@thymesVar id="menu" type="com.pharmcle.rms.domain.menu.Menu"*/-->
		<ul>
			<!-- 글자 굵기 설정하는 부분 빼시려면 th:styleappend 부분 빼면 됩니다.-->
			<li th:classappend="${menu.currentMenu} ? 'on' : ''" th:each="menu : ${_menuList}"
				th:if="${menu.displayYn == 'Y'}">
				<a th:href="${menu.menuUri}" th:text="${menu.menuName}" href="#">Menu Name</a>
			</li>
		</ul>
		<div class="sect_right">
			<a href="/todo/todo/todoList" th:if="${_userInfo.authRole != 'SC020004'}" class="todo">TO-DO<span th:text="${todoCount}"></span></a>
			<a href="/myPage/changePassword/changePassword" class="userName"><span th:text="${_userInfo == null ? '' : _userInfo.name}"></span>님</a>
			<a href="/logout" class="btn_logout"></a>
		</div>
	</nav>
</header>
</html>