<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="page_info" th:fragment="pageInfoFragment">
	<a href="#" class="btn_aside"></a>
	<h3 th:text="${_siteInfo.sideMenuName}">PAGE NAME</h3>
	<span class="time">서버 기준 시간 : [[${latestMonitorDate}]]</span>
	<div id="page-info-loading" style="display: none;">
		<div class="loading"></div>
		<div class="dimmed"></div>
	</div>
</div>

</html>