<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<aside th:fragment="sideFragment">
	<div class="sidebase">
	<ul th:each="headerMenu : ${_menuList}" th:if="${headerMenu.menuName == _siteInfo.headerMenuName}">
		<li th:each="sideMenu : ${headerMenu.childMenuList}"
			th:if="${(headerMenu.menuName == _siteInfo.headerMenuName) && !(sideMenu.menuSeq == 35 && _userInfo.customerSeq == 1) && (sideMenu.menuSeq != 95 || (sideMenu.menuSeq == 95 && (_userInfo.userId == 'cmc' || _userInfo.userId == 'admin')))}"
			th:class="${sideMenu.menuName == _siteInfo.sideMenuName ? 'on' : ''}">
			<a href="#" th:href="${sideMenu.menuUri}" th:text="${sideMenu.menuName}">SideMenu Name</a>
		</li>
	</ul>
	<div class="banner">
		<a href="http://www.g2b.go.kr:8092/sm/pp/goods/SMPPIntgrMainSrchGoodsList.do?kwd=%C6%CA%C5%AC" target="_blank"><img src="/img/common/banner02.png"></a>
		<a href="https://www.zaps.co.kr/" target="_blank" class="mt5"><img src="/img/common/banner04.png"></a>
	</div>
	</div>
</aside>
</html>