<!--
   Create By Lee DoWon on 2020-04-06 / 오전 10:01
   Email : vin4195@uniwiz.co.kr
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/common/common.js"></script>
	<script src="/js/common/native.js"></script>
	<script src="/js/common/daumAddress.js"></script>

	<link rel="stylesheet" href="/css/reset.css"/>
	<link rel="stylesheet" href="/css/nanumsquareround.min.css"/>
	<link rel="stylesheet" href="/css/admin.css"/>
	<link rel="stylesheet" href="/css/mobile.css"/>
	<link rel="stylesheet" href="/css/form_layout.css"/>
	<script>
		$(function () {
			/*<![CDATA[*/
			var token = '[[ ${token} ]]';
			/*]]>*/
		})

		// 카테고리 변경 이벤트
		function changeCategory(target) {

			var $target = $(target);
			var cls = $target.prop('class');
			var $faq = $('.faq');
			$faq.find('li').hide();
			if (cls == '') {
				$faq.find('li').show();
				if($faq.find('li').length > 1){
					$('#noData').hide();
				}
			} else {
				var $cls = $('.' + cls);
				$cls.show();
				if($cls.length > 1){
					$('#noData').hide();
				}else{
					$('#noData').show();
				}
			}

			// tab 처리
			$('.m_subtab>li').each(function () {
				$(this).removeClass('on');
			});
			$(target).parent().addClass('on');
		}

		// 상세내용 펼치기 이벤트
		function openContent(target) {
			var $li = $(target).parent();
			if ($li.hasClass('on')) {
				$li.removeClass('on');
			} else {
				$li.addClass('on');
			}
		}
	</script>
</head>
<body>
<div class="m_wrap">
	<header>
		<div class="top">
			<a href="#" class="btn_back" id="mobileBackBtn">FAQ</a>
			<div class="h_btn">
				<a href="#" class="btn_menu" id="mobileSideMenuBtn"></a>
			</div>
		</div>
	</header>
	<div class="m_conts">
		<div class="scroll-y">
			<div class="back_g">
				<ul class="m_subtab">
					<li class="on"><a onClick="changeCategory(this)" data-cd="">전체</a></li>
					<li th:each="item, index : ${SC07}">
						<a onClick="changeCategory(this)" th:attr="data-cd=${item.code}" th:text="${item.codeName}"
						   th:class="${item.code}"></a>
					</li>
				</ul>
				<ul class="faq">
					<li th:each="faq : ${boardList}" th:attr="data-category=${faq.boardCategory}"
						th:class="${faq.boardCategory}" th:if="${boardList.size() > 0}">
						<a onClick="openContent(this)">
							<span class="quiz" th:text="${'['+faq.boardCategoryText+'] '+faq.title}"></span>
						</a>
						<div class="answer">
							<p th:text="${faq.content}"></p>
						</div>
					</li>
					<li style="display:none;" id="noData">
						<a href="#" class="no-data"><span class="quiz">등록된 데이터가 없습니다.</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>